// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@sb1/ffe-accordion/less/ffe-accordion.less';
@import '@sb1/ffe-account-selector-react/less/ffe-account-selector.less';
@import '@sb1/ffe-badge/less/badge.less';
@import '@sb1/ffe-buttons/less/buttons.less';
@import '@sb1/ffe-cards/less/cards.less';
@import '@sb1/ffe-chart-donut-react/less/ffe-chart-donut.less';
@import '@sb1/ffe-chips/less/chip.less';
@import '@sb1/ffe-collapse-react/less/collapse.less';
@import '@sb1/ffe-core/less/ffe.less';
@import '@sb1/ffe-datepicker/less/datepicker.less';
@import '@sb1/ffe-header/less/ffe-header.less';
@import '@sb1/ffe-feedback/less/feedback.less';
@import '@sb1/ffe-file-upload/less/file-upload.less';
@import '@sb1/ffe-form/less/form.less';
@import '@sb1/ffe-grid/less/ffe-grid.less';
@import '@sb1/ffe-icons/less/ffe-icons.less';
@import '@sb1/ffe-lists/less/lists.less';
@import '@sb1/ffe-messages/less/messages.less';
@import '@sb1/ffe-modals/less/modal.less';
@import '@sb1/ffe-pagination/less/pagination.less';
@import '@sb1/ffe-searchable-dropdown-react/less/searchable-dropdown.less';
@import '@sb1/ffe-shapes/less/shapes.less';
@import '@sb1/ffe-spinner/less/spinner.less';
@import '@sb1/ffe-tables/less/tables.less';
@import '@sb1/ffe-tabs/less/tabs.less';
@import '@sb1/ffe-tags/less/tag.less';

// FFE styles will be automatically injected here by the ffe-vite-less plugin
// Custom styles
:root {
  --ffe-transition-duration: 0.2s;
  --ffe-ease: ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ffe-font-family);
  color: var(--ffe-farge-svart);
  background-color: var(--ffe-farge-hvit);
}
