.ffe-table {
    &__row-expandable {
        cursor: pointer;
        position: relative;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: var(--ffe-v-table-expandable-row-hover);
            }
        }

        &:focus {
            outline: 2px solid var(--ffe-v-table-expandable-focus-outline);
        }

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &--expanded {
            background-color: var(--ffe-v-table-expanded-row-bg);
        }

        &--expanded:not(:last-child) {
            border-color: var(--ffe-v-table-expanded-row-bg);
        }

        .ffe-table__content {
            @media (max-width: @breakpoint-sm) {
                margin-bottom: 0;
            }
        }
    }

    &__row-expandable-content {
        opacity: 0;

        .ffe-table__cell-expandable-content {
            padding: 0;
        }

        &:not(.ffe-table__row-expandable-content--expanded) {
            border: 0;
        }

        &--expanded {
            transition: background-color @ffe-transition-duration 0.1s;
            animation: slide-row 0.2s cubic-bezier(0.5, 0.015, 0.485, 1.445);
            background-color: var(--ffe-v-table-expanded-content-bg);
            opacity: 1;

            .ffe-table__cell-expandable-content {
                padding: @ffe-spacing-xs;
            }
        }
    }

    &__expand-icon {
        color: var(--ffe-v-table-expand-icon-fill);
        transition: transform @ffe-transition-duration @ffe-ease-in-out-back;
        position: absolute;
        top: 10px;
        right: 5px;

        &.ffe-icons {
            color: var(--ffe-v-table-expand-icon-fill);
        }

        @media (min-width: @breakpoint-md) {
            position: static;
            vertical-align: middle;
        }

        &--expanded {
            transform: rotate(180deg);
        }
    }
}

@keyframes slide-row {
    0% {
        transform: translateY(-2em);
        opacity: 0;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
