.ffe-table {
    &__row-expandable {
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: @ffe-blue-pale;
            .native & {
                @media (prefers-color-scheme: dark) {
                    background-color: @ffe-grey-darkmode;
                }
            }
        }

        &--expanded {
            background-color: @ffe-blue-pale;
            .native & {
                @media (prefers-color-scheme: dark) {
                    background-color: @ffe-grey-darkmode;
                }
            }
        }

        &--expanded:not(:last-child) {
            border-color: @ffe-blue-pale;
            .native & {
                @media (prefers-color-scheme: dark) {
                    background-color: @ffe-grey-darkmode;
                }
            }
        }

        .ffe-table__content {
            @media (max-width: @breakpoint-sm) {
                margin-bottom: 0;
            }
        }
    }

    &__row-expandable-content {
        opacity: 0;

        .ffe-table__cell-expandable-content {
            padding: 0;
        }

        &:not(.ffe-table__row-expandable-content--expanded) {
            border: 0;
        }

        &--expanded {
            transition: background-color @ffe-transition-duration 0.1s;
            animation: slide-row 0.2s cubic-bezier(0.5, 0.015, 0.485, 1.445);
            background-color: @ffe-blue-ice;
            opacity: 1;
            .native & {
                @media (prefers-color-scheme: dark) {
                    background-color: @ffe-grey-charcoal-darkmode;
                }
            }

            .ffe-table__cell-expandable-content {
                padding: 10px;
            }
        }
    }

    &__expand-icon {
        width: 17px;
        height: 17px;
        fill: @ffe-blue-azure;
        transition: transform @ffe-transition-duration @ffe-ease-in-out-back;
        position: absolute;
        top: 10px;
        right: 5px;
        .native & {
            @media (prefers-color-scheme: dark) {
                fill: @ffe-blue-azure-darkmode;
            }
        }

        @media (min-width: @breakpoint-md) {
            position: static;
            vertical-align: middle;
        }

        &--expanded {
            transform: rotate(180deg);
        }
    }
}

@keyframes slide-row {
    0% {
        transform: translateY(-2em);
        opacity: 0;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
