.ffe-sortable-table {
    &__header {
        color: @ffe-farge-fjell;
        white-space: nowrap;
        display: inline-block;
        border-bottom: solid 2px transparent;
        border-radius: 4px 4px 0 0;
        padding-top: 2px;

        .native & {
            @media (prefers-color-scheme: dark) {
                color: @ffe-farge-vann-70;
            }
        }

        &:hover {
            cursor: pointer;
            color: @ffe-farge-natt;
            border-color: inherit;
            user-select: none;
            .native & {
                @media (prefers-color-scheme: dark) {
                    color: @ffe-farge-vann-30;
                    border-color: @ffe-farge-vann-30;
                }
            }

            .ffe-sortable-table__sort-arrow {
                fill: @ffe-farge-fjell;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        fill: @ffe-farge-vann-70;
                    }
                }
            }
        }

        &--active {
            border-bottom: solid 2px @ffe-farge-fjell;
            .native & {
                @media (prefers-color-scheme: dark) {
                    border-color: @ffe-farge-vann-70;
                }
            }

            .ffe-sortable-table__sort-arrow {
                fill: @ffe-farge-fjell;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        fill: @ffe-farge-vann-70;
                    }
                }
            }
        }

        &:focus {
            outline: none;
            border-radius: 4px;
            box-shadow: 0 0 0 2px @ffe-farge-vann;

            .native & {
                @media (prefers-color-scheme: dark) {
                    box-shadow: 0 0 0 2px @ffe-farge-hvit;
                }
            }
        }

        &:focus:not(:focus-visible) {
            box-shadow: none;
            border-radius: 4px 4px 0 0;
        }
    }

    &__sort-arrow {
        height: 12px;
        width: 12px;
        vertical-align: middle;
        fill: @ffe-farge-fjell;
        margin-left: @ffe-spacing-xs;
        transition: transform @ffe-transition-duration @ffe-ease-in-out-back;
        .native & {
            @media (prefers-color-scheme: dark) {
                fill: @ffe-farge-vann-70;
            }
        }

        &--descending {
            transform: rotate(180deg);
        }
    }
}
