@import 'theme';

.ffe-table {
    --outline-width: 2px;
    --outline-offset: 2px;
    --expand-button-size: var(--ffe-v-icons-size-md);

    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;

    tr,
    td,
    th {
        padding: 0;
    }

    &__caption {
        margin-bottom: var(--ffe-spacing-md);
        color: var(--ffe-g-heading-color);
        font-size: var(--ffe-fontsize-h4);
    }

    &__head {
        .ffe-table__cell-content {
            color: inherit;
            padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm);
        }
    }

    &__th,
    &__td {
        text-align: left;
    }

    :is(.ffe-table__body, .ffe-table__foot) &__cell-content {
        padding: var(--ffe-spacing-sm);
    }

    &__body {
        .ffe-table__tr {
            border-bottom: 1px solid var(--ffe-v-table-row-bordercolor);

            &:first-of-type {
                border-top: 1px solid var(--ffe-v-table-row-bordercolor);
            }
        }

        .ffe-table__cell-content {
            color: var(--ffe-v-table-content-color);
        }
    }

    &__sort-button,
    &__expand-button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: flex;
        align-items: center;

        .ffe-icons {
            display: block;
        }
    }

    &__sort-button {
        .ffe-icons {
            color: inherit;
        }
    }

    &__expand-button {
        width: var(--expand-button-size);

        .ffe-icons {
            transition: all var(--ffe-transition-duration) var(--ffe-ease);
            color: var(--ffe-v-table-expand-icon-color);
        }

        &--open {
            .ffe-icons {
                transform: rotate(180deg);
            }
        }
    }

    &__expand-content {
        background: var(--ffe-v-table-expanded-content-bg);
    }

    &__th,
    &__foot .ffe-table__td {
        font-family: var(--ffe-g-font-strong);
        font-variant-numeric: tabular-nums;
        font-weight: normal;
    }

    &__th {
        color: var(--ffe-v-table-heading-color);
    }

    &__th--sortable {
        --border-color: transparent;

        color: var(--ffe-v-table-heading-color-sortable);
        cursor: pointer;

        &-ascending,
        &-descending {
            background: var(--ffe-v-table-sortable-header-active-color);
        }

        .ffe-table__sort-button {
            border-bottom: 2px solid var(--border-color);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                --border-color: var(--ffe-v-table-sortable-header-hover-color);
            }
        }
    }

    &__th--sortable-descending {
        .ffe-icons {
            transform: rotate(180deg);
        }
    }

    &__tr--expand {
        cursor: pointer;

        &-button-td {
            width: 40px;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background: var(--ffe-v-table-expanded-row-bg);
            }
        }
    }

    &__tr--expand-open {
        background: var(--ffe-v-table-expanded-row-bg);
    }

    &__column-header {
        display: none;
    }

    &__tr--animating {
        overflow: hidden;
    }
}

:is(.ffe-table__expand-button, .ffe-table__sort-button):focus-visible {
    outline: var(--outline-width) solid var(--ffe-v-table-button-focus-outline);
    outline-offset: var(--outline-offset);
}

.ffe-table--responsive {
    .ffe-table__head,
    .ffe-table__body,
    .ffe-table__foot,
    .ffe-table__tr {
        display: grid;
    }

    .ffe-table__th:not(.ffe-table__th--sortable) {
        .ffe-screenreader-only();
    }

    .ffe-table__column-header {
        display: inline;
        flex-shrink: 0;
    }

    .ffe-table__head .ffe-table__cell-content {
        padding: var(--ffe-spacing-xs) var(--ffe-spacing-2xs);
    }

    :is(.ffe-table__body, .ffe-table__foot) {
        .ffe-table__cell-content {
            padding: var(--ffe-spacing-2xs) var(--ffe-spacing-2xs);
        }

        .ffe-table__tr {
            padding: var(--ffe-spacing-sm) 0;
        }
    }

    .ffe-table__sort-button {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .ffe-table__cell-content {
        display: flex;
        gap: var(--ffe-spacing-2xs);
        flex-wrap: wrap;
        align-items: center;
    }

    .ffe-table__tr--expand {
        --outline-offset: 0;

        grid-template-columns: 1fr var(--expand-button-size);

        .ffe-table__td {
            grid-column: 1 / 2;
        }
    }

    .ffe-table__expand-button-td {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: var(--expand-button-size);

        .ffe-table__cell-content {
            padding: 0;
        }
    }
}

@media (max-width: @breakpoint-md) {
    .ffe-table--break-md {
        .ffe-table--responsive();
    }
}

@media (max-width: @breakpoint-sm) {
    .ffe-table--break-sm {
        .ffe-table--responsive();
    }
}
