:root,
:host {
    --ffe-v-table-heading-color: var(--ffe-farge-svart);
    --ffe-v-table-heading-color-sortable: var(--ffe-farge-fjell);
    --ffe-v-table-row-bordercolor: var(--ffe-farge-varmgraa);
    --ffe-v-table-expand-icon-color: var(--ffe-farge-vann);
    --ffe-v-table-expanded-content-bg: var(--ffe-farge-syrin-30);
    --ffe-v-table-expanded-row-bg: var(--ffe-farge-syrin-70);
    --ffe-v-table-sortable-header-hover-color: var(--ffe-farge-fjell);
    --ffe-v-table-button-focus-outline: var(--ffe-farge-vann);
    --ffe-v-table-content-color: var(--ffe-farge-svart);
    --ffe-v-table-sortable-header-active-color: var(--ffe-farge-syrin-70);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            --ffe-v-table-heading-color: var(--ffe-farge-hvit);
            --ffe-v-table-heading-color-sortable: var(--ffe-farge-vann-30);
            --ffe-v-table-row-bordercolor: var(--ffe-farge-graa);
            --ffe-v-table-expand-icon-color: var(--ffe-farge-vann-30);
            --ffe-v-table-expanded-content-bg: var(--ffe-farge-svart);
            --ffe-v-table-sortable-header-hover-color: var(--ffe-farge-vann-30);
            --ffe-v-table-button-focus-outline: var(--ffe-farge-hvit);
            --ffe-v-table-expanded-row-bg: var(--ffe-farge-natt);
            --ffe-v-table-content-color: var(--ffe-farge-lysgraa);
            --ffe-v-table-sortable-header-active-color: var(--ffe-farge-natt);
        }
    }
}
