/* The HTML progress bar consist of 2 parts:

Value: The part of the bar that's decided by the value-attribute
Bar: What's left of the bar, when you take the max-attribute value minus the value-attribute value.

*/
.ffe-progressbar {
    --progress-value-color-green: var(--ffe-color-fill-feedback-success);
    --progress-bar-color-green: var(--ffe-color-surface-feedback-success);

    /* Default is blue */
    --value-color: var(--ffe-color-border-primary-emphasis);
    --bar-color: var(--ffe-color-fill-primary-default);
    --border-radius: var(--ffe-g-border-radius);

    /* Reset browser defaults */
    border: none;

    /* Valid for all browsers */
    width: 100%;
    height: 0.5rem; /* Set in rem so it scales along with font-size */

    /* For styling the "bar" part in Mozilla */
    background-color: var(--bar-color);
    border-radius: var(--border-radius);

    /* For Chrome, Opera and Safari */
    &::-webkit-progress-bar {
        background-color: var(--bar-color);
        border-radius: var(--border-radius);
    }
    &::-webkit-progress-value {
        background-color: var(--value-color);
        border-radius: var(--border-radius);
    }

    /* Mozilla Firefox - Only styles the value part of the progress bar */
    &::-moz-progress-bar {
        background-color: var(--value-color);
        border-radius: var(--border-radius);
    }

    &--theme-green {
        --value-color: var(--progress-value-color-green);
        --bar-color: var(--progress-bar-color-green);
    }
}
