/* vi har ikke laget denne klassen  derav slå av lint */
/* stylelint-disable */
.ffe-modal + .backdrop {
    /* stylelint-enable */
    position: fixed;
    background-color: var(--ffe-v-modal-backdrop-color);
    inset: 0;
}
