@import 'theme';
@import 'modal-polyfill';

/* Remove me */
:root:has(.ffe-modal[open]) {
    overflow-y: hidden;
}

.ffe-modal {
    border: none;
    border-radius: var(--ffe-v-modal-border-radius);
    padding: 0;
    background: var(--ffe-v-modal-bg-color);
}

.ffe-modal[open] {
    pointer-events: auto;
}

.ffe-modal::backdrop {
    background-color: var(--ffe-v-modal-backdrop-color);
    backdrop-filter: blur(4px);
}

.ffe-modal__body {
    max-width: 600px;
}

.ffe-modal__block {
    margin: var(--ffe-spacing-md);

    &:first-of-type {
        margin-top: 0;
        padding-top: var(--ffe-spacing-md);
    }

    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: var(--ffe-spacing-md);
    }
}

.ffe-modal__close {
    --background-color: var(--ffe-v-modal-bg-color);
    --border-color: var(--ffe-v-modal-close-button-border-color);
    --text-color: var(--ffe-v-modal-close-button-cross-color);
    --outline-color: transparent;

    aspect-ratio: 1;
    background: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    font: inherit;
    cursor: pointer;
    outline: 2px solid var(--outline-color);
    padding: var(--ffe-spacing-2xs);
    border-radius: 50%;
    float: right;
    margin: var(--ffe-spacing-md);
    outline-offset: 4px;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    .ffe-icons {
        display: block;
        color: inherit;
    }

    &:focus-visible {
        --outline-color: var(--ffe-v-modal-close-button-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            --background-color: var(--ffe-v-modal-close-button-cross-color);
            --text-color: var(--ffe-v-modal-bg-color);
        }
    }
}
