:root,
:host {
    --ffe-v-modal-backdrop-color: var(--ffe-farge-svart);
    --ffe-v-modal-bg-color: var(--ffe-farge-hvit);
    --ffe-v-modal-close-button-color: var(--ffe-farge-vann);
    --ffe-v-modal-border-radius: 24px;

    @media (prefers-color-scheme: dark) {
        .native {
            --ffe-v-modal-bg-color: var(--ffe-farge-svart);
            --ffe-v-modal-backdrop-color: var(--ffe-farge-hvit);
            --ffe-v-modal-close-button-color: var(--ffe-farge-vann-70);
        }
    }
}
