:root,
:host {
    --ffe-v-modal-backdrop-color: rgba(2, 10, 10, 0.5);
    --ffe-v-modal-bg-color: var(--ffe-farge-hvit);
    --ffe-v-modal-close-button-cross-color: var(--ffe-farge-vann);
    --ffe-v-modal-close-button-border-color: var(--ffe-farge-vann);
    --ffe-v-modal-border-radius: 24px;

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            --ffe-v-modal-backdrop-color: rgba(103, 103, 103, 0.5);
            --ffe-v-modal-bg-color: var(--ffe-farge-svart);
            --ffe-v-modal-close-button-cross-color: var(--ffe-farge-vann-30);
            --ffe-v-modal-close-button-border-color: var(--ffe-farge-vann-70);
        }
    }
}
