@keyframes ffe-spinner-animation {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.ffe-sb1-spinner(@color: @ffe-blue-deep-sky, @size: 20px) {
    animation: ffe-spinner-animation 1s linear infinite;
    border: 3px solid @color;
    border-radius: @size;
    border-top-color: transparent;
    content: ' ';
    display: inline-block;
    height: @size;
    width: @size;
}
