/*
    Spinner: Commonly found on buttons and loading pages
*/
.ffe-sb1-spinner(@color: @ffe-farge-vann, @size: 20px) {
    content: ' ';
    display: inline-block;
    width: @size;
    height: @size;
    border: 3px solid @color;
    border-top-color: transparent;
    border-radius: 50%;
    visibility: visible;
    animation: spindindust 1s linear infinite;
    .native & {
        @media (prefers-color-scheme: dark) {
            border-color: @ffe-farge-vann-70;
            border-top-color: transparent;
        }
    }

    @keyframes spindindust {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
