// Spinner
//
// Markup:
// <div>
//     <span class="ffe-loading-spinner ffe-loading-spinner{{modifier_class}}"></span>
//     Vennligst vent litt
// </div>
//
// --large  - Large spinner
//
// Styleguide ffe-spinner

.ffe-loading-spinner {
    --color: var(--ffe-g-primary-color);

    display: inline-block;
    vertical-align: middle;

    &::before {
        content: ' ';
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 3px solid var(--color);
        border-top-color: transparent;
        border-radius: 50%;
        animation: spin 1s linear infinite;

        /*
            Avoid 'flashing' spinners - don't display spinner until some time has passed
        */
        visibility: hidden;
        animation-delay: 500ms;

        @keyframes spin {
            0% {
                visibility: visible;
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    &--stop-animation::before {
        animation: none;
    }

    &--large::before {
        border-width: 3px;
        height: 40px;
        width: 40px;
    }

    &--immediate::before {
        visibility: visible;
        animation-delay: 0ms;
    }

    &--on-colored-bg {
        --color: var(--ffe-farge-hvit);
    }
}
