.ffe-loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--ffe-color-foreground-default);
}

.ffe-loading-spinner {
    display: inline-block;
    vertical-align: middle;

    &::before {
        content: ' ';
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 3px solid var(--ffe-color-fill-primary-selected-default);
        border-top-color: var(--ffe-color-fill-primary-subtle);
        border-radius: 50%;
        animation: spin 1s linear infinite;

        /*
            Avoid 'flashing' spinners - don't display spinner until some time has passed
        */
        visibility: hidden;
        animation-delay: 500ms;

        @keyframes spin {
            0% {
                visibility: visible;
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    &--stop-animation::before {
        animation: none;
    }

    &--large::before {
        border-width: 5px;
        height: 60px;
        width: 60px;
    }

    &--immediate::before {
        visibility: visible;
        animation-delay: 0ms;
    }
}
