@import "../node_modules/ffe-core/less/ffe";
@import "../styles/datepicker";

@base-url: ".";

body {
  margin: 5%;
}

.calendar-states {
  position: absolute;
  top: 370px;
  left: 0;
  width: 480px;

  .ffe-calendar__day {
    display: inline-block;
    margin-right: 10px;
  }
}
