.ffe-action-button {
    &:extend(.ffe-primary-button all);

    background-color: @ffe-green-shamrock;

    &:focus,
    &:hover {
        background-color: darken(@ffe-green-shamrock, 5%);
    }

    &:active,
    &--loading {
        background-color: darken(@ffe-green-shamrock, 10%);
    }

    &--ghost,
    &--ghost:focus {
        background-color: transparent;
        border: 2px solid @ffe-green-shamrock;
        color: @ffe-green-shamrock;
    }

    &--ghost:hover {
        background-color: darken(@ffe-green-shamrock, 5%);
        border-color: darken(@ffe-green-shamrock, 5%);
        color: @ffe-white;
    }

    &--ghost:active {
        background-color: darken(@ffe-green-shamrock, 10%);
    }
}
