.ffe-button-group {
    padding: 40px 0;

    .ffe-action-button,
    .ffe-primary-button,
    .ffe-secondary-button,
    .ffe-shortcut-button,
    .ffe-tertiary-button,
    .ffe-tab-button {
        margin: 0 auto 10px;
    }

    &--thin {
        padding: 0;
    }

    @media screen and (min-width: @breakpoint-sm) {
        .ffe-action-button,
        .ffe-primary-button,
        .ffe-secondary-button,
        .ffe-shortcut-button,
        .ffe-tertiary-button,
        .ffe-tab-button {
            display: inline-block;
            margin: 0 0 10px 10px;
            width: auto;

            &:first-child {
                margin: 0 0 10px;
            }
        }
    }
}
