@ffe-blue-royal: #002776; // Titles, lead, overlays
@ffe-blue-flat: #005AA4; // Primary buttons, emphasis on blue areas and product cards
@ffe-blue-royal-light-wcag: #0075D2; // Secondary buttons
@ffe-blue-royal-light: #008ED2; // Anchor, text on ffe-white buttons, active radio buttons
@ffe-blue-royal-light-50: #7FC6E8;
@ffe-blue-royal-light-20: #DFF1F9; // 20% opacity of ffe-blue-royal-light. (Info-boxes, etc.)
@ffe-blue-focus: fade(#44C0FF,50%); // Focus on buttons and controls

@ffe-green-wcag: #008A00; // Action buttons, slider tool, (should indicate affordance)
@ffe-green-dark-10: #007B00;
@ffe-green: #37B441; // E.g. slider tool
@ffe-green-wcag-20: #E1F4E3; // 20% opacity of ffe-green-WCAG. (Info-boxes, etc.)

@ffe-orange: #FF9100; // Campaigns
@ffe-orange-wcag: #DA3D00; // Form validation, Error messages
@ffe-orange-wcag-20: #F3BBAA; // 20% opacity of ffe-orange-WCAG. (Info-boxes, etc.)

@ffe-red: #E60000;

@ffe-purple-wcag: #A20076;
@ffe-purple: #C94096;

@ffe-sand: #F8F5EB;
@ffe-sand-50: #FBFAF5;
@ffe-sand-25: @ffe-sand;

@ffe-white: #FFFFFF;

@ffe-grey-light-bg: #F9F9F9; // Background panels
@ffe-grey-light: #D8D8D8; // Lines, borders, inactive tool elements (slider, etc.)
@ffe-grey: #ADADAD;
@ffe-grey-dark: #676767;

@ffe-black: #323232; // Body text, and some other texts
