@blue-royal: #002776; // Titles, lead, overlays
@blue-flat: #005AA4; // Primary buttons, emphasis on blue areas and product cards
@blue-royal-light-wcag: #0075D2; // Secondary buttons
@blue-royal-light: #008ED2; // Anchor, text on white buttons, active radio buttons
@blue-royal-light-50: #7FC6E8;
@blue-focus: fade(#44C0FF,50%); // Focus on buttons and controls

@green-wcag: #008A00; // Action buttons, slider tool, (should indicate affordance)
@green-dark-10: #007B00;
@green: #37B441; // E.g. slider tool

@orange: #FF9100; // Campaigns
@orange-wcag: #DA3D00; // Form validation, Error messages

@red: #E60000;

@purple-wcag: #A20076;
@purple: #C94096;

@sand: #E1D5AF;
@sand-50: fade(@sand,50%);
@sand-25: fade(@sand,25%);

@white: #FFFFFF;

@grey-light-bg: #F1F1EF; // Background panels
@grey-light: #D8D8D8; // Lines, borders, inactive tool elements (slider, etc.)
@grey: #ADADAD;
@grey-dark: #676767;

@black: #323232; // Body text, and some other texts