.ffe-accordion {
    text-align: left;
    margin: 0 auto;
    padding: 0;

    &--white {
        border-bottom: solid @ffe-grey-light 1px;
    }
}

.ffe-accordion-item {
    margin-bottom: 10px;
    position: relative;
    list-style: none;

    &--white {
        border-top: solid @ffe-grey-light 1px;

        &:last-of-type {
            border-bottom: solid @ffe-grey-light 1px;
        }
    }

    &--open {
        margin-bottom: 20px;
    }

    &__icon {
        width: 17px;
        height: 17px;
        position: absolute;
        right: 20px;
        top: 25px;
        transition: transform .3s, fill .3s;

        &--white {
            fill: @ffe-blue-royal-light-wcag;
        }

        &--blue {
            fill: @ffe-blue-royal;
        }

        &--open {
            transform: rotateX(180deg);
            fill: @ffe-blue-royal;
        }
        &--open&--blue {
            fill: @ffe-white;
        }
    }

    &__content {
        padding: 10px 25px 0px;

        &--white {
            padding-top: 0;
        }
    }

    &__toggler {
        cursor: pointer;
        display: inline-block;
        padding: 20px 40px 20px 20px;
        text-decoration: none;
        transition: background-color .3s,color .3s;
        width: 100%;

        &--white {
            color: @ffe-blue-royal-light-wcag;

            &:hover, &:focus {
                color: @ffe-blue-royal;
            }
        }

        &--open&--white {
            color: @ffe-blue-royal;
        }

        &--blue {
            color: @ffe-blue-royal;
            background-color: @ffe-blue-royal-light-20;
            border-radius: 3px;

            &:hover, &:focus {
                color: white;
                background-color: @ffe-blue-royal;
            }
        }

        &--open&--blue {
            color: @ffe-white;
            background-color: @ffe-blue-royal;
        }

        &:hover, &:focus {
            .ffe-accordion-item__icon--white {
                fill: @ffe-blue-royal;
            }
            .ffe-accordion-item__icon--blue {
                fill: @ffe-white;
            }
        }
    }
}
