.ffe-context-message-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2.3em 2em 2.3em 2.3em;
    text-align: left;

    &__header {
        &:extend(.ffe-h5);

        margin-bottom: 0.28em;
    }

    &__icon {
        align-items: center;
        align-self: flex-start;
        display: flex;
        flex-shrink: 0;
        margin-right: 2.2em;
        justify-content: center;
        background-color: @ffe-white;
        border-radius: 50%;
        height: 4em;
        width: 4em;

        &-svg {
            height: 3em;
            width: 3em;
            padding: 0.2em;
            fill: @ffe-blue-royal;
        }
    }

    &__close-button {
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
        color: @ffe-grey-charcoal;
        fill: @ffe-grey-charcoal;
        border: none;
        padding: 0;
        outline: none;
        background-color: transparent;
        height: 1em;
        width: 1em;

        &:focus {
            outline: auto;
        }

        &-svg {
            height: 100%;
            width: 100%;
        }
    }
}

.ffe-context-message {
    transition: height 0.3s;
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    &--compact {
        .ffe-context-message-content {
            padding: 0.5em 1.2em;
        }

        .ffe-context-message-content__icon {
            margin-right: 1.2em;
            border-radius: 50%;
            height: 2.2em;
            width: 2.2em;
        }

        .ffe-context-message-content__icon-svg {
            height: 1.5em;
            width: 1.5em;
            padding: 0.2em;
            fill: @ffe-blue-royal;
        }
    }

    &--info {
        background-color: @ffe-blue-pale;
    }

    &--tip {
        background-color: @ffe-sand;
    }

    &--success {
        background-color: @ffe-green-mint;
    }

    &--error {
        background-color: @ffe-orange-salmon;

        .ffe-context-message-content__header {
            color: @ffe-black;
        }

        .ffe-context-message-content__icon-svg {
            fill: @ffe-red;
        }
    }
}
