.ffe-context-message {

  transition: height 0.3s;
  overflow: hidden;
  position: relative;
  border-radius: 5px;

  &--info {
    background-color: @ffe-blue-royal-light-20;
  }

  &--tip {
    background-color: @ffe-sand;
  }
}

.ffe-context-message-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2.3em 2em 2.3em 2.3em;
  text-align: left;

  &__header {
    &:extend(.ffe-h5);
    margin-bottom: 0.28em;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    margin-right: 2.2em;
    align-items: center;
    justify-content: center;
    background-color: @ffe-white;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    &-svg {
      height: 3em;
      width: 3em;
      padding: 0.2em;
      fill: @ffe-blue-royal;
    }
  }

  &__close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    color: @ffe-grey-dark;
    fill: @ffe-grey-dark;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    height: 1em;
    width: 1em;
    &:focus {
      outline: auto;
    }

    &-svg {
      height: 100%;
      width: 100%;
    }
  }
}

