.ffe-message-box {
    text-align: center;

    &__box {
        padding: @app-margin*2 @app-margin*2;

        &--tips {
            background-color: @ffe-sand-25;
        }

        &--info {
            background-color: @ffe-blue-royal-light-20;
        }

        &--success {
            background-color: @ffe-green-wcag-20;
        }

        &--error {
            background-color: @ffe-orange-wcag-20;
        }

        &--action {
            background-color: @ffe-grey-light-bg;
        }
    }

    &__title {
        &--success {
            color: @ffe-black;
        }

        &--error {
            color: @ffe-black;
        }
    }

    &__icon {
        background-color: #FFF;
        border-radius: 50%;
        display: inline-block;
        fill: #002776;
        height: 80px;
        margin-bottom: -30px;
        padding: 10px;
        padding-top: 20px;
        position: relative;
        top: 12px;
        width: 80px;

        &--error svg {
            fill: @ffe-orange-wcag;
        }

        &--info svg {
            fill: @ffe-blue-royal;
        }

        &--success svg {
            fill: @ffe-green-wcag;
        }

        &--tips svg {
            fill: @ffe-blue-royal;
        }
    }

    @media print {
        &__box {
            border: 2px dashed @ffe-black;
        }

        &__icon {
            border-bottom: 2px dashed @ffe-black;
            margin-bottom: -33.5px;
        }

    }

    &__link {
        color: inherit;
        text-decoration: underline;
        &:hover, &:focus {
            font-family: "MuseoSansRounded-700", arial, sans-serif;
        }
    }
}
