.ffe-context-message-wrapper {

  transition: height 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &--info {
    background-color: @ffe-blue-royal-light-20;
  }

  &--tip {
    background-color: @ffe-sand;
  }
}

.ffe-context-message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &__icon-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2.5em;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @ffe-white;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    &-svg {
      height: 3em;
      width: 3em;
      fill: @ffe-blue-royal;
    }
  }

  &__content {
    text-align: left;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 2.5em;
  }
}

.ffe-context-message__close {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  fill: @ffe-grey-dark;
  margin: 1.1em 1.1em 0 0;
  cursor: pointer;
  &-svg {
    height: 0.8em;
    width: 0.8em;
  }
}
