.ffe-message-box {
    text-align: center;

    &__box {
        padding: @app-margin*2 @app-margin*2;

        &--tips {
            background-color: @ffe-sand-25;
        }

        &--info {
            background-color: @ffe-blue-royal-light-20;
        }

        &--success {
            background-color: @ffe-green-wcag-20;
        }

        &--error {
            background-color: @ffe-orange-wcag-20;
        }

        &--action {
            background-color: @ffe-grey-light-bg;
        }
    }

    &__title {
        &--success {
            color: @ffe-black;
        }

        &--error {
            color: @ffe-black;
        }
    }

    &__icon {
        margin-bottom: -30px;
        background-color: #FFF;
        display: inline-block;
        fill: #002776;
        border-radius: 50%;
        padding: 10px;
        padding-top: 20px;
        height: 80px;
        width: 80px;

        &--error svg {
            fill: @ffe-orange-wcag;
        }

        &--info svg {
            fill: @ffe-blue-royal;
        }

        &--success svg {
            fill: @ffe-green-wcag;
        }

        &--tips svg {
            fill: @ffe-blue-royal;
        }
    }

    @media print {
        &__box {
            border: 2px dashed @ffe-black;
        }

        &__icon {
            border-bottom: 2px dashed @ffe-black;
            margin-bottom: -30px;
        }

    }

}
