.ffe-field-error-message:extend(.ffe-field-info-message) {
  color: @ffe-orange-wcag;

  &:before:extend(.ffe-field-info-message:before) {
    content: '!';
    background-color: @ffe-orange-wcag;
  }
}
