.ffe-field-info-message {
    color: @ffe-blue-royal;
    margin: 5px 0 10px;
    display: block;
    .ffe-fontsize-body-text;

    &[aria-hidden="true"] {
        display: none;
    }

    &::before {
        content: 'i';
        color: @ffe-white;
        background-color: @ffe-blue-royal;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: inline-block;
        line-height: 19px;
        margin-right: 5px;
        text-align: center;
        font-family: arial, sans-serif;
    }
}
