/* Museo Sans */
@font-face {
  font-family: "MuseoSans-500";
  src: url("@{font-url}/museoSans_500.otf");
}

@font-face {
  font-family: "MuseoSans-300";
  src: url("@{font-url}/museoSans-300.otf");
}

/* Museo Sans Rounded */
@font-face {
  font-family: "MuseoSansRounded-700";
  src: url("@{font-url}/museoSansRounded-700.otf");
}

@font-face {
  font-family: "MuseoSansRounded-500";
  src: url("@{font-url}/museoSansRounded-500.otf");
}

@font-face {
  font-family: "MuseoSansRounded-300";
  src: url("@{font-url}/museoSansRounded-300.otf");
}