/* Museo Sans */
@font-face {
    font-family: 'MuseoSans-300';
    src: url('@{font-url}/2DBA3C_0_0.eot');
    src: url('@{font-url}/2DBA3C_0_0.eot?#iefix') format('embedded-opentype'),
         url('@{font-url}/2DBA3C_0_0.woff2') format('woff2'),
         url('@{font-url}/2DBA3C_0_0.woff') format('woff'),
         url('@{font-url}/2DBA3C_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('@{font-url}/2DBA3C_1_0.eot');
    src: url('@{font-url}/2DBA3C_1_0.eot?#iefix') format('embedded-opentype'),
         url('@{font-url}/2DBA3C_1_0.woff2') format('woff2'),
         url('@{font-url}/2DBA3C_1_0.woff') format('woff'),
         url('@{font-url}/2DBA3C_1_0.ttf') format('truetype');
}

/* Museo Sans Rounded */
@font-face {
    font-family: 'MuseoSansRounded-300';
    src: url('@{font-url}/2DBA3C_2_0.eot');
    src: url('@{font-url}/2DBA3C_2_0.eot?#iefix') format('embedded-opentype'),
         url('@{font-url}/2DBA3C_2_0.woff2') format('woff2'),
         url('@{font-url}/2DBA3C_2_0.woff') format('woff'),
         url('@{font-url}/2DBA3C_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-500';
    src: url('@{font-url}/2DBA3C_3_0.eot');
    src: url('@{font-url}/2DBA3C_3_0.eot?#iefix') format('embedded-opentype'),
         url('@{font-url}/2DBA3C_3_0.woff2') format('woff2'),
         url('@{font-url}/2DBA3C_3_0.woff') format('woff'),
         url('@{font-url}/2DBA3C_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-700';
    src: url('@{font-url}/2DBA3C_4_0.eot');
    src: url('@{font-url}/2DBA3C_4_0.eot?#iefix') format('embedded-opentype'),
         url('@{font-url}/2DBA3C_4_0.woff2') format('woff2'),
         url('@{font-url}/2DBA3C_4_0.woff') format('woff'),
         url('@{font-url}/2DBA3C_4_0.ttf') format('truetype');
}