.ffe-form-label {
    margin: 0;
    padding: 8px 0;
    display: inline-block;
    position: relative;
    font-family: MuseoSans-500, arial, sans-serif;
    .ffe-fontsize-h6;

    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: @ffe-blue-royal;

    &--block {
        display: block;
    }
}
