/* Mixins */
@import "radioblob-mixin";

/* Inputs*/
@import 'input-field';
@import 'dropdown';
@import 'checkbox';
@import 'radio-input';
@import 'radio-button';
@import 'radio-switch';
@import 'radio-block';

/* Form Layout */
@import "input-group";
@import "form-label";
@import "fieldset";
@import "tooltip";

/* Validation */
@import "field-info-message";
@import "field-error-message";
@import "field-success-message";
@import "error-summary";

select,
textarea,
input:not([type="radio"]):not([type="checkbox"]) {
  appearance: none;
  /*
      Yes, we have a plugins for vendor prefixes.
      No, it doesn't work for appearance.

      https://github.com/postcss/autoprefixer/commit/ee40885a5dc50932d34d5e9a579fe27ef32d78bb
  */
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
