.icon-base {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;

  @media screen and (min-width: @breakpoint-sm) {
    height: 75px;
    width: 75px;
  }
  @media screen and (min-width: @breakpoint-md) {
    height: 90px;
    width: 90px;
  }
}

.icon-chevron {
  &:extend(.icon-base all);
  background: url("@{icon-url}/chevron-royal.svg");

  &--light-blue {
    background: url("@{icon-url}/chevron-royal-light.svg");
  }
  &--white {
    background: url("@{icon-url}/chevron-white.svg");
  }

  &--up {
    transform: rotate(180deg);
  }
  &--left {
    transform: rotate(90deg);
  }
  &--right {
    transform: rotate(-90deg);
  }
}

.icon-info-error {
  &:extend(.icon-base all);
  background-image: url("@{icon-url}/info-red.svg");
}