.ffe-input-group {
    border: 0;
    position: relative;

    [aria-invalid="true"] {
        border-color: @ffe-orange-fire;
        border-style: solid;
    }

    .ffe-input-field--text-like {
        &[aria-invalid="true"] {
            border-bottom: 2px solid;
            border-color: @ffe-orange-fire;
            border-left-style: none;
            border-right-style: none;
            border-top-style: none;
        }
    }
}
