// Thresholds
// Always user min-width with these breakpoints to avoid max min conflicts.
@breakpoint-sm: 480px;
@breakpoint-md: 768px;
@breakpoint-lg: 1024px;

/******* Layouts ********/
@app-width: 1280px;
@app-width-min: 320px;
