// Thresholds
// Always user min-width with these breakpoints to avoid max min conflicts.
@breakpoint-sm: 480px;
@breakpoint-md: 768px;
@breakpoint-lg: 1024px;
@breakpoint-xl: 1280px;

/******* Layouts ********/
@app-width: 1280px;
@app-width-min: 320px;
@app-margin: 20px;

.ffe-section-wrapper {
    margin: 0;
    padding: 0 @app-margin;
    width: 100%;

    &--bg-sand {
        background-color: @ffe-sand;
        max-width: none;
    }

    &--bg-grey {
        background-color: @ffe-grey-light-bg;
        max-width: none;
    }

    &--bg-blue {
        background-color: @ffe-blue-royal-light-20;
    }

    &--bg-blue-flat {
        background-color: @ffe-blue-flat;
    }

    &--bg-blue-flat {
        .ffe-h1,
        .ffe-h2,
        .ffe-h3,
        .ffe-h4,
        .ffe-h5,
        .ffe-h6,
        .ffe-lead-paragraph,
        .ffe-sub-lead-paragraph,
        .ffe-body-text,
        .ffe-body-paragraph,
        .ffe-small-text,
        .ffe-micro-text,
        .ffe-link-text,
        .ffe-link-text:hover {
            color: @ffe-white;
        }
    }
}

.ffe-content-container {
    margin: @app-margin auto @app-margin auto;
    max-width: @app-width * 0.6;
    padding: 0;
    text-align: center;
    width: 100%;

    &--sm {
        max-width: @app-width * 0.375;
    }

    &--lg {
        max-width: @app-width;
    }

    &--text-left {
        text-align: left;
    }

    &--no-space {
        margin: 0 auto;
    }

    &--bg-sand {
        background-color: @ffe-sand;
        padding: @app-margin 0 @app-margin 0;
    }

    &--bg-grey {
        background-color: @ffe-grey-light-bg;
        padding: @app-margin 0 @app-margin 0;
    }

    @media screen and (min-width: @breakpoint-md) {
        margin: @app-margin*1.5 auto @app-margin*1.5 auto;

        &--no-space {
            margin: 0 auto;
        }
    }
}

.ffe-content-container[aria-hidden="true"] {
    display: none;
}

.ffe-icon-base {
    background-size: cover;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;

    @media screen and (min-width: @breakpoint-sm) {
        height: 75px;
        width: 75px;
    }

    @media screen and (min-width: @breakpoint-md) {
        height: 90px;
        width: 90px;
    }
}
