// Thresholds
// Always user min-width with these breakpoints to avoid max min conflicts.
@breakpoint-sm: 480px;
@breakpoint-md: 768px;
@breakpoint-lg: 1024px;
@breakpoint-xl: 1280px;

/******* Layouts ********/
@app-width: 1280px;
@app-width-min: 320px;
@app-margin: 20px;


.ffe-section-wrapper {
    width: 100%;
    padding: 0 @app-margin;
    margin: 0;
    .ffe-clearfix;

    &--bg-sand {
        background-color: @ffe-sand-25;
        max-width: none;
    }

    &--bg-grey {
        background-color: @ffe-grey-light-bg;
        max-width: none;
    }
}

.ffe-content-container {
    width: 100%;
    padding: 0;
    margin: @app-margin auto @app-margin auto;
    max-width: @app-width * 0.6;
    text-align: center;

    &--sm {
        max-width: @app-width * 0.375;
    }

    &--lg {
        max-width: @app-width;
    }

    &--text-left {
        text-align: left;
    }

    @media screen and (min-width: @breakpoint-md) {
        margin: @app-margin*1.5 auto @app-margin*1.5 auto;
    }

    &--no-space {
        margin: 0 auto;
    }
}

.ffe-content-container[aria-hidden="true"] {
    display: none;
}
