.ffe-primary-button {
    background-color: @ffe-blue-royal-light-wcag;
    border: 2px solid transparent;
    border-radius: 4px;
    color: @ffe-white;
    cursor: pointer;
    display: block;
    .ffe-buttons-shadow();

    font-family: "MuseoSansRounded-500", arial, sans-serif;
    font-size: 18px;
    line-height: 41px;
    outline: none;
    overflow: hidden;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
    vertical-align: middle;
    width: 100%;

    &:focus {
        background-color: darken(@ffe-blue-royal-light-wcag, 5%);
        box-shadow: 0 0 0 2px @ffe-blue-focus;
        outline: 0;
    }

    &:hover {
        background-color: darken(@ffe-blue-royal-light-wcag, 5%);
        .ffe-buttons-shadow-hover();
    }

    &:active {
        background-color: darken(@ffe-blue-royal-light-wcag, 10%);
        .ffe-buttons-shadow-active();
    }

    &__label {
        overflow: hidden;
        position: relative;
    }

    &__label-text {
        bottom: 0;
        display: inline-block;
        position: relative;
        transition: bottom 0.2s;
    }

    &__label-spinner {
        bottom: -40px;
        color: transparent;
        .ffe-buttons-spinner(@ffe-white, 22px);

        left: ~"calc(50% - 11px)";
        opacity: 0;
        position: absolute;
        transition: all 0.2s;
        user-select: none;

        &[aria-hidden="false"] {
            bottom: 0;
            opacity: 1;
        }
    }

    &--loading {
        background-color: darken(@ffe-blue-royal-light-wcag, 10%);
        pointer-events: none;
    }

    &--condensed {
        font-size: 14px;
        line-height: 36px;
        padding: 0 20px;

        [class*="-button__label-spinner"][aria-hidden="false"] {
            bottom: -3px;
        }
    }

    &__label-text--loading {
        bottom: 50px;
    }
}

@media screen and (min-width: @breakpoint-sm) {
    .ffe-primary-button {
        display: inline-block;
        width: auto;
    }
}
