/*
    Radioblob: Small design element on "radio button"-like elements
*/
.ffe-sb1-radioblob() {
    content: '';
    background-color: @ffe-white;
    border: 2px solid @ffe-grey;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

/*
    Radioblob: Active state of the blob
*/
.ffe-sb1-radioblob-active() {
    background-color: @ffe-white;
    border: 7px solid @ffe-blue-royal-light-wcag;
}
