.ffe-radio-switch {
    padding: 6px 20px 6px 50px;
    position: relative;
    background-color: @ffe-white;
    border: 2px solid @ffe-grey-light;
    border-radius: 22px;
    display: inline-block;
    min-width: 100px;
    text-align: left;
    color: @ffe-blue-royal-light-wcag;
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.05);

    &:before {
      .ffe-sb1-radioblob();
      left: 12px;
      top: 8px;
    }
}

.ffe-radio-input {

    &:checked + .ffe-radio-switch {
        border-color: @ffe-blue-royal;
        background-color: @ffe-blue-royal;
        color: @ffe-white;
    }

    &:hover + .ffe-radio-switch {
        border-color: @ffe-blue-royal-light-wcag;
    }

    &:focus + .ffe-radio-switch {
        border-color: @ffe-blue-focus;
    }

    &:checked + .ffe-radio-switch:before {
        .ffe-sb1-radioblob-active();
    }
}
