.ffe-responsive-table {
    margin: 20px 0;
    min-width: 100%;
    text-align: left;
    border-collapse: collapse;

    caption {
        &:extend(.ffe-h4);
    }

    thead {
        display: none;

        @media (min-width: @breakpoint-md) {
            display: table-header-group;
        }
    }

    tfoot {
        border-top: 2px solid @ffe-blue-royal;
    }

    tr {
        border-bottom: 1px solid @ffe-grey-light;
        display: block;
        padding: 10px 0;

        @media (min-width: @breakpoint-md) {
            display: table-row;
        }
    }

    th {
        &:extend(.ffe-strong-text);
        text-align: left;
    }

    td {
        display: block;
    }

    th, td {
        @media (min-width: @breakpoint-md) {
            display: table-cell;
            padding: 10px;
        }
    }

    [data-th]:before {
        content: attr(data-th);
        width: 100px;
        display: inline-block;
        &:extend(.ffe-strong-text);

        @media (min-width: @breakpoint-md) {
            display: none;
        }
    }

    &--small-header [data-th]:before {
        width: 65px;
    }
}

.ffe-responsive-table__content {
    display: inline-block;
    vertical-align: top;
    max-width: ~"calc(100% - 105px)";

    @media (min-width: @breakpoint-md) {
        display: block;
        max-width: none;
    }
}
