.ffe-secondary-button {
    &:extend(.ffe-primary-button all);
    background-color: @ffe-white;
    border: solid 2px @ffe-grey-light;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
    color: @ffe-blue-royal-light-wcag;

    &:active,
    &:focus,
    &:hover {
        background-color: @ffe-white;
        border-color: @ffe-blue-royal-light-wcag;
    }

    &--loading {
        background-color: @ffe-white;
    }

    &__label-spinner {
        .ffe-buttons-spinner(@ffe-blue-royal-light-wcag, 22px);
    }
}
