.ffe-shortcut-button {
    &:extend(.ffe-secondary-button all);

    padding-right: 35px;

    &:active,
    &:focus,
    &:hover {
        .ffe-shortcut-button__icon-chevron {
            left: 20px;
        }
    }

    &__icon-chevron {
        bottom: -2px;
        fill: @ffe-blue-azure;
        height: 16px;
        left: 15px;
        position: relative;
        transform: rotate(-90deg);
        transition: left 0.1s ease-in-out;
        width: 16px;
    }

    &--condensed {
        padding-right: 25px;

        .ffe-shortcut-button__icon-chevron {
            height: 14px;
            width: 14px;
            left: 10px;
        }

        &:active,
        &:focus,
        &:hover {
            .ffe-shortcut-button__icon-chevron {
                left: 13px;
            }
        }
    }
}
