.ffe-shortcut-button {
    &:extend(.ffe-secondary-button all);
    padding-right: 35px;

    &:active,
    &:focus,
    &:hover {
        .shortcut-button__icon-chevron {
            left: 20px;
        }
    }

    &__icon-chevron {
        bottom: 2px;
        height: 16px;
        left: 15px;
        position: relative;
        transition: left 0.1s;
        width: 16px;
    }
}
