.ffe-tertiary-button {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    color: @ffe-blue-royal-light-wcag;
    cursor: pointer;
    font-family: "MuseoSansRounded-500", arial, sans-serif;
    font-size: 16px;
    height: 26px;
    line-height: 20px;
    margin: 0 -4px; // Hack to allow box-shadow to float outside content on focus
    padding: 0 4px;

    &:after {
        border-bottom: solid 1px @ffe-blue-royal-light-wcag;
        content: " ";
        display: block;
    }

    &:active,
    &:focus {
        box-shadow: 0 0 0 2px @ffe-blue-focus;
        color: @ffe-blue-flat;
        outline: none;
    }

    &:hover {
        color: @ffe-blue-flat;
    }

    &:active:after,
    &:focus:after,
    &:hover:after {
        border-color: @ffe-blue-flat;
    }

    &--condensed {
        font-size: 14px;
    }
}
