.ffe-textarea {
    display: block;;
    width: 100%;
    padding: 0 13px;
    font-family: MuseoSans-300, arial, sans-serif;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid @ffe-grey-light;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 1px 2px 0 @ffe-grey-light-bg inset;

    &:hover {
        border-color: @ffe-blue-royal-light-wcag;
    }

    &:focus, &:active {
        border-color: @ffe-blue-royal-light-wcag;
        box-shadow: 0 0 0 2px @ffe-blue-focus;
        outline: none;
    }

    @media screen and (min-width: @breakpoint-sm) {
        width: 350px;
    }

    @media screen and (min-width: @breakpoint-md) {
        width: 350px;
    }

    @media screen and (min-width: @breakpoint-lg) {
        width: 500px;
    }

}
