/* Mobile typography */
.ffe-h1 {
  color: @ffe-blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 28px;
  line-height: 36px;
}

.ffe-h2 {
  color: @ffe-blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.ffe-h3 {
  color: @ffe-blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.ffe-h4 {
  color: @ffe-blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.ffe-h5 {
  color: @ffe-blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.ffe-small-text {
  color: @ffe-grey-dark;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.ffe-micro-text {
  color: @ffe-grey-dark;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.ffe-h1,.ffe-h2,.ffe-h3,.ffe-h4,.ffe-h5 {
  margin-bottom: 10px;

  &--error{
    color: @ffe-orange-wcag;
  }

  &--with-border {
    border-bottom: 1px solid @ffe-grey-light;
    padding-bottom: 10px;
  }
}

.ffe-body-text {
  color: @ffe-black;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.ffe-body-paragraph {
  margin-bottom: 1em;

  &--text-left {
    text-align: left;
  }

  &--text-center {
    text-align: center;
  }
}

.ffe-lead-paragraph {
  color: @ffe-blue-royal;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.ffe-link-text {
  color: @ffe-blue-royal-light-wcag;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    text-decoration: none;
    color: @ffe-blue-flat;
  }
}

.ffe-divider-line {
  border: none;
  border-bottom: solid 1px @ffe-grey-light;
}

.ffe-strong-text {
  font-weight: normal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
}

.ffe-em-text {
  font-style: italic;
}

.ffe-pre-text {
  font-family: consolas, menlo, monaco, monospace;
  text-align: left;
  background-color: @ffe-sand-50;
}

.ffe-inline-separator {
  margin: 0 4px 0 4px;
}

.ffe-number-list,
.ffe-bullet-list {
    text-align: left;
    margin: 0 0 20px 0;

    > li {
        margin-top: 10px;
        margin-left: 15px;
    }
}
.ffe-number-list {
    list-style-type: decimal;
}
.ffe-bullet-list {
    list-style-type: disc;
}

/* tablet/medium typography */
@media screen and (min-width: @breakpoint-sm) {

    .ffe-h1 {
        font-size: 48px;
        line-height: 58px;
    }

    .ffe-h2 {
        font-size: 32px;
        line-height: 44px;
    }

    .ffe-h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .ffe-h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .ffe-h5 {
        font-size: 16px;
        line-height: 24px;
    }

    .ffe-h1,.ffe-h2,.ffe-h3,.ffe-h4,.ffe-h5 {
        margin-bottom: 15px;
    }

    .ffe-lead-paragraph {
        font-size: 22px;
        line-height: 32px;
    }

    .ffe-body-text {
        font-size: 16px;
        line-height: 26px;
    }

    .ffe-small-text {
        font-size: 14px;
        line-height: 22px;
    }

    .ffe-micro-text {
        font-size: 12px;
        line-height: 20px;
    }

    .ffe-number-list,
    .ffe-bullet-list {
        margin-left: 20px;
    }
}

/* Desktop */
@media screen and (min-width: @breakpoint-md) {

  .ffe-h1,.ffe-h2,.ffe-h3,.ffe-h4,.ffe-h5 {
    margin-bottom: 20px;
  }

  .ffe-body-text {
    font-size: 18px;
    line-height: 28px;
  }

  .ffe-h1 {
    font-size: 54px;
    line-height: 64px;
  }

  .ffe-h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .ffe-h3 {
    font-size: 28px;
    line-height: 38px;
  }

  .ffe-h4 {
    font-size: 22px;
    line-height: 28px;
  }

  .ffe-h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .ffe-lead-paragraph {
    font-size: 22px;
    line-height: 32px;
  }

  .ffe-small-text {
    font-size: 14px;
    line-height: 22px;
  }

  .ffe-micro-text {
    font-size: 12px;
    line-height: 20px;
  }

  .ffe-number-list > li,
  .ffe-bullet-list > li {
    margin-left: 30px;
  }
}

.ffe-h1, .ffe-h2, .ffe-h3, .ffe-h4, .ffe-h5 {
  &--no-margin {
    margin: 0;
  }
}
