/* Mobile typography */
.h1 {
  color: @blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 28px;
  line-height: 36px;
}

.h2 {
  color: @blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.h3 {
  color: @blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.h4 {
  color: @blue-royal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.h5 {
  color: @blue-royal;
  font-family: "MuseoSans-700", arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.small-text {
  color: @grey-dark;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.micro-text {
  color: @grey-dark;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.h1,.h2,.h3,.h4,.h5 {
  margin-bottom: 10px;

  &--error{
    color: @orange-wcag;
  }

  &--with-border {
    border-bottom: 1px solid @grey-light;
    padding-bottom: 10px;
  }

  &--no-margin {
    margin: 0;
  }
}

.body-text {
  color: @black;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.body-paragraph {
  margin-bottom: 1em;

  &--text-left {
    text-align: left;
  }

  &--text-center {
    text-align: center;
  }
}

.lead-paragraph {
  color: @blue-royal;
  font-family: "MuseoSansRounded-500", arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.link-text {
  font-family: "MuseoSansRounded-500", arial, sans-serif;
  color: @blue-royal-light-wcag;
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    text-decoration: none;
    color: @blue-flat;
  }
}

.divider-line {
  border: none;
  border-bottom: solid 1px @grey-light;
}

.strong-text {
  font-weight: normal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
}

.em-text {
  font-style: italic;
}

.pre-text {
  font-family: consolas, menlo, monaco, monospace;
  text-align: left;
  background-color: @sand-50;
}

.inline-separator {
  margin: 0 4px 0 4px;
}

/* tablet/medium typography */
@media screen and (min-width: @breakpoint-sm) {

    .h1 {
        font-size: 48px;
        line-height: 58px;
    }
    .h2 {
        font-size: 32px;
        line-height: 44px;
    }

    .h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .h5 {
        font-size: 16px;
        line-height: 24px;
    }

    .h1,.h2,.h3,.h4,.h5 {
        margin-bottom: 15px;
    }

    .lead-paragraph {
        font-size: 22px;
        line-height: 32px;
    }

    .body-text {
        font-size: 16px;
        line-height: 26px;
    }

    .small-text {
        font-size: 14px;
        line-height: 22px;
    }

    .micro-text {
        font-size: 12px;
        line-height: 20px;
    }
}

/* Desktop */
@media screen and (min-width: @breakpoint-md) {

  .h1,.h2,.h3,.h4,.h5 {
    margin-bottom: 20px;
  }

  .body-text {
    font-size: 18px;
    line-height: 28px;
    font-family: "MuseoSans-300", arial, sans-serif;
  }

  .h1 {
    font-size: 54px;
    line-height: 64px;
  }

  .h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .h4 {
    font-size: 22px;
    line-height: 28px;
  }

  .h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .lead-paragraph {
    font-size: 22px;
    line-height: 32px;
  }

  .small-text {
    font-size: 14px;
    line-height: 22px;
  }

  .micro-text {
    font-size: 12px;
    line-height: 20px;
  }
}