/* Mobile typography */
.ffe-h1 {
    color: @ffe-blue-royal;
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    font-weight: normal;
    line-height: 36px;
    .ffe-fontsize-h1;
}

.ffe-h2 {
    color: @ffe-blue-royal;
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    font-weight: normal;
    line-height: 32px;
    .ffe-fontsize-h2;
}

.ffe-h3 {
    color: @ffe-blue-royal;
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    font-weight: normal;
    line-height: 28px;
    .ffe-fontsize-h3;
}

.ffe-h4 {
    color: @ffe-blue-royal;
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    font-weight: normal;
    line-height: 26px;
    .ffe-fontsize-h4;
}

.ffe-h5 {
    color: @ffe-blue-royal;
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    font-weight: normal;
    line-height: 24px;
    .ffe-fontsize-h5;
}

.ffe-h6 {
    color: @ffe-blue-royal;
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    font-weight: normal;
    line-height: 24px;
    .ffe-fontsize-h6;
}

.ffe-small-text {
    color: @ffe-grey-dark;
    font-family: "MuseoSans-500", arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}

.ffe-micro-text {
    color: @ffe-grey-dark;
    font-family: "MuseoSans-500", arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.ffe-h1,
.ffe-h2,
.ffe-h3,
.ffe-h4,
.ffe-h5,
.ffe-h6 {
    margin-bottom: 10px;
    margin-top: 0;

    &--error {
        color: @ffe-orange-wcag;
    }

    &--no-margin {
        margin: 0;
    }

    &--with-border {
        border-bottom: 1px solid @ffe-grey-light;
        padding-bottom: 10px;
    }
}

.ffe-body-text {
    color: @ffe-black;
    font-family: "MuseoSans-500", arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.ffe-body-paragraph {
    margin-bottom: 1em;
    margin-top: 0;

    &--text-center {
        text-align: center;
    }

    &--text-left {
        text-align: left;
    }
}

.ffe-lead-paragraph,
.ffe-sub-lead-paragraph {
    font-family: "MuseoSans-500", arial, sans-serif;
    margin-top: 0;
}

.ffe-lead-paragraph {
    color: @ffe-blue-royal;
    font-size: 18px;
    line-height: 28px;
}

.ffe-sub-lead-paragraph {
    color: @ffe-black;
    font-size: 16px;
    line-height: 26px;
}

.ffe-link-text {
    color: @ffe-blue-royal-light-wcag;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
        color: @ffe-blue-flat;
        text-decoration: none;
    }
}

.ffe-divider-line {
    border: none;
    border-bottom: solid 1px @ffe-grey-light;
}

.ffe-strong-text {
    font-family: "MuseoSansRounded-700", arial, sans-serif;
    font-weight: normal;
}

.ffe-em-text {
    font-style: italic;
}

.ffe-pre-text {
    background-color: @ffe-sand-50;
    font-family: consolas, menlo, monaco, monospace;
    margin: 0;
    text-align: left;
}

.ffe-inline-separator {
    margin: 0 4px;
}

.ffe-number-list,
.ffe-bullet-list {
    margin: 0 0 20px;
    padding: 0;
    text-align: left;

    > li {
        margin-left: 15px;
        margin-top: 10px;
    }
}

.ffe-number-list {
    list-style-type: decimal;
}

.ffe-bullet-list {
    list-style-type: disc;
}

@media screen and (min-width: @breakpoint-sm) {
    .ffe-h1 {
        line-height: 60px;
    }

    .ffe-h2 {
        line-height: 44px;
    }

    .ffe-h3 {
        line-height: 38px;
    }

    .ffe-h4 {
        line-height: 28px;
    }

    .ffe-h5 {
        line-height: 24px;
    }

    .ffe-h6 {
        line-height: 24px;
    }

    .ffe-h1,
    .ffe-h2,
    .ffe-h3,
    .ffe-h4,
    .ffe-h5,
    .ffe-h6 {
        margin-bottom: 15px;
    }

    .ffe-lead-paragraph {
        font-size: 22px;
        line-height: 34px;
    }

    .ffe-sub-lead-paragraph {
        font-size: 18px;
        line-height: 28px;
    }

    .ffe-small-text {
        font-size: 14px;
        line-height: 22px;
    }

    .ffe-micro-text {
        font-size: 12px;
        line-height: 20px;
    }

    .ffe-number-list,
    .ffe-bullet-list {
        margin-left: 20px;
    }
}

@media screen and (min-width: @breakpoint-md) {
    .ffe-h1,
    .ffe-h2,
    .ffe-h3,
    .ffe-h4,
    .ffe-h5,
    .ffe-h6 {
        margin-bottom: 20px;
    }

    .ffe-body-text {
        line-height: 24px;
    }

    .ffe-h1 {
        line-height: 67px;
    }

    .ffe-h2 {
        line-height: 44px;
    }

    .ffe-h3 {
        line-height: 38px;
    }

    .ffe-h4 {
        line-height: 24px;
    }

    .ffe-h5 {
        line-height: 24px;
    }

    .ffe-h6 {
        line-height: 22px;
    }

    .ffe-lead-paragraph {
        font-size: 22px;
        line-height: 34px;
    }

    .ffe-small-text {
        font-size: 14px;
        line-height: 22px;
    }

    .ffe-micro-text {
        font-size: 12px;
        line-height: 20px;
    }

    .ffe-number-list > li,
    .ffe-bullet-list > li {
        margin-left: 30px;
    }
}
