@blue-royal: #002776; // Titles, lead, overlays
@blue-flat: #005AA4; // Primary buttons, emphasis on blue areas and product cards
@blue-royal-light: #008ED2; // Anchor, text on white buttons, active radio buttons
@blue-royal-light-wcag: #0075D2; // Navigation buttons
@blue-royal-light-50: #7FC6E8; // Action buttons, slider tool, (should indicate affordance)

@green-wcag: #008A00;
@green-dark-10: #007B00;
@green: #37B441; // E.g. slider tool

@orange: #E19100; // Campaigns
@orange-wcag: #DA3D00; // Form validation

@red: #E60000;
@brown-and-dirty-red: #E41E26;

@sand: #F0EAD7;
@sand-50: #F7F4EB;

@purple-wcag: #A20076;
@purple: #C94096;

@black: #262626; // Body text, and some other texts

@grey: #ADADAD;
@grey-dark: #676767;
@grey-light: #D8D8D8; // Lines, borders, inactive tool elements (slider, etc.)
@grey-light-bg: #f3f3f3; // Background panels

@white: #FFFFFF;

// Thresholds
// Always use min-width with these breakpoints to avoid max min conflicts.
@breakpoint-sm: 480px;
@breakpoint-md: 768px;
@breakpoint-lg: 1024px;


/******* Layouts ********/
@app-width: 1280px;
@app-width-min: 320px;
@app-margin: 20px;
@app-vertical-margin: 60px;