{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 3 versions", "ie >= 9"]
            }
        }],
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread"
    ],
    "ignore": [
        "src/**/*.test.js"
    ]
}
