{
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        sourceType: "module",
        "ecmaFeatures": {
            "jsx": true,
            "arrowFunctions" : true,
            "modules": true
        }
    },
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "globals": {
        "describe": true,
        "it": true
    },
    "rules": {
        "arrow-spacing": 2,
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "block-scoped-var": 2,
        "camelcase": 2,
        "comma-style": [2, "last"],
        "curly": [2, "multi-line"],
        "jsx-quotes": 1,
        "linebreak-style": [2,"unix"],
        "no-caller": 2,
        "no-debugger": 2,
        "no-empty": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-irregular-whitespace": 2,
        "no-iterator": 2,
        "no-loop-func": 2,
        "no-multi-str": 2,
        "no-new": 2,
        "no-proto": 2,
        "no-script-url": 2,
        "no-sequences": 2,
        "no-undef": 2,
        "no-unused-vars": [2, { "vars": "all", "args": "none" }],
        "no-with": 2,
        "object-curly-spacing": [2, "always"], 
        "semi": [2, "always"],
        "keyword-spacing": [2],
        "space-before-function-paren": [2, "never"],
        "space-before-blocks": [2, "always"],
        "strict": 2,
        "valid-typeof": 2,
        "dot-notation": [2, { "allowKeywords": true }],
        "eqeqeq": [2, "allow-null"],
        "new-cap": 2,
        "quotes": [2, "single"],

        "react/jsx-curly-spacing": [0, "always"],
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-danger": 2,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 2,
        "react/no-unknown-property": 2,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2,

        "jsx-a11y/aria-props": 2,
        "jsx-a11y/aria-proptypes": 2,
        "jsx-a11y/aria-role": 2,
        "jsx-a11y/aria-unsupported-elements": 2,
        "jsx-a11y/href-no-hash": 2,
        "jsx-a11y/img-has-alt": 2,
        "jsx-a11y/img-redundant-alt": 2,
        "jsx-a11y/label-has-for": 2,
        "jsx-a11y/mouse-events-have-key-events": 2,
        "jsx-a11y/no-access-key": 2,
        "jsx-a11y/no-onchange": 0,
        "jsx-a11y/onclick-has-focus": 2,
        "jsx-a11y/onclick-has-role": 2,
        "jsx-a11y/role-has-required-aria-props": 2,
        "jsx-a11y/role-supports-aria-props": 2,
        "jsx-a11y/tabindex-no-positive": 2,
    }
}