{
    "extends": "ffe",
    "parser": "babel-eslint",
    "plugins": [
        "jsx-a11y"
    ],
    "globals": {
        "describe": true,
        "it": true,
        "document": true,
        "window": true,
        "beforeEach": true
    }
}
