# Logs
*.log

# Dependencies
node_modules

# Built files
coverage/
dist/
packages/*/lib/
tmp/
es/
types/

# Editors
.idea/
.vscode/
*.iml
*.code-workspace

# OS
.DS_Store

# playwright
/test/playwright/
