# Logs
*.log

# Dependencies
node_modules

# Built files
coverage/
dist/
packages/*/lib/
tmp/
es/
types/

# Editors
.idea/
*.iml
*.code-workspace

# OS
.DS_Store

# playwright
/test/playwright/

storybook-static
*storybook.log

#Figma API Variable files
.env
