.ffe-button {
    align-items: center;
    appearance: none;
    border: 2px solid transparent;
    border-radius: var(--ffe-v-buttons-border-radius);
    color: var(--ffe-farge-hvit);
    cursor: pointer;
    display: flex;
    font-family: var(--ffe-g-font);
    justify-content: center;
    line-height: 1.2;
    overflow: hidden;
    padding: calc(var(--ffe-spacing-xs) + 2px) var(--ffe-spacing-md); // The + 2px is ensure button is 44px after we made a change to line-height.
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    user-select: none;
    hyphens: auto;
    width: 100%;
    font-size: var(--ffe-fontsize-button);

    &::after {
        content: '';
        opacity: 0;
        display: block;
        position: absolute;
        background: transparent;
        border-radius: 1.5rem;
        inset: -5px;
        box-shadow: 0 0 0 2px var(--ffe-v-button-shadow-color);
        transition: opacity var(--ffe-transition-duration) var(--ffe-ease);
    }

    &:focus::after {
        opacity: 1;
    }

    &:focus:not(:focus-visible)::after {
        opacity: 0;
    }

    &:focus {
        outline: none;
        position: relative;
        overflow: unset;
    }

    &:active {
        transform: scale(0.97);
    }

    &:visited {
        color: var(--ffe-v-button-text-color);
    }

    @media (min-width: @breakpoint-sm) {
        display: inline-flex;
        width: auto;
    }
}

.ffe-button--action {
    background-color: var(--ffe-v-button-action-color);
    color: var(--ffe-v-button-action-color-text);

    .ffe-button__icon {
        color: var(--ffe-v-button-action-color-text);
    }

    &:focus {
        background-color: var(--ffe-v-button-action-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--ffe-v-button-action-color-hover);
        }
    }
}

.ffe-button--primary {
    background-color: var(--ffe-v-button-primary-color);
    color: var(--ffe-v-button-primary-color-text);

    .ffe-button__icon {
        color: var(--ffe-v-button-primary-color-text);
    }

    &:focus {
        background-color: var(--ffe-v-button-primary-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--ffe-v-button-primary-color-hover);
        }
    }
}

.ffe-button--secondary,
.ffe-button--shortcut,
.ffe-button--expand {
    background-color: var(--ffe-v-button-secondary-color);
    border: solid 2px var(--ffe-v-button-secondary-border-color);
    color: var(--ffe-v-button-secondary-color-text);

    &:active,
    &:focus,
    &:visited {
        color: var(--ffe-v-button-secondary-color-text);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: var(--ffe-v-button-secondary-color-bg-hover);
            border-color: var(--ffe-v-button-secondary-color-bg-hover);
            color: var(--ffe-v-button-secondary-color-text-hover);

            .ffe-button__icon,
            .ffe-button__label {
                color: var(--ffe-v-button-secondary-color-text-hover);
            }
        }
    }
}

.ffe-button--expand {
    border-radius: 34px;
}

.ffe-button--expanded {
    padding: var(--ffe-spacing-xs);
    width: 45px;
}

.ffe-button--task {
    background: transparent;
    border-radius: 1.75rem;
    border: 2px solid transparent;
    box-shadow: none;
    color: var(--ffe-v-button-task-color-text);
    display: inline-block;
    padding: var(--ffe-spacing-2xs) var(--ffe-spacing-sm) var(--ffe-spacing-2xs)
        var(--ffe-spacing-2xs);
    text-align: left;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    width: auto;

    .ffe-button__icon > .ffe-icons {
        display: block;
        color: var(--ffe-v-button-task-color-icon);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: var(--ffe-v-button-task-color-text-hover);
            box-shadow: none;

            .ffe-button__icon > .ffe-icons {
                color: var(--ffe-v-button-task-color-icon-hover);
            }
        }
    }

    &:focus {
        border-color: var(--ffe-v-button-task-border-focus);

        &::after {
            display: none;
        }
    }

    &:focus:not(:focus-visible) {
        border-color: transparent;
    }
}

.ffe-button--loading {
    pointer-events: none;
}

.ffe-button__label {
    align-items: center;
    display: flex;
    transition: transform var(--ffe-transition-duration) var(--ffe-ease);
    gap: var(--ffe-spacing-xs);
    .ffe-button--loading & {
        transform: translateY(-32px);
        opacity: 0;
    }
}

.ffe-button__icon {
    .ffe-button--shortcut & {
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
        will-change: transform;
    }

    .ffe-button--shortcut:focus & {
        transform: translateX(12px);
    }

    @media (hover: hover) and (pointer: fine) {
        .ffe-button--shortcut:hover & {
            transform: translateX(12px);
        }
    }

    .ffe-button--task & {
        border: 2px solid var(--ffe-v-button-task-color-border);
        border-radius: 50%;
        background-color: var(--ffe-v-button-task-color);
        color: var(--ffe-v-button-task-color-icon);
        height: 45px;
        width: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 var(--ffe-spacing-xs) 0 0;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
    }

    .ffe-button--expand & {
        color: var(--ffe-v-button-task-primary-color);
    }

    @media (hover: hover) and (pointer: fine) {
        .ffe-button--expand:hover & {
            color: var(--ffe-v-button-secondary-color-text-hover);
        }

        .ffe-button--task:hover & {
            border-color: var(--ffe-v-button-primary-color);
            background-color: var(--ffe-v-button-primary-color);
            color: var(--ffe-v-button-primary-color-text);
        }
    }
}

.ffe-button__spinner {
    inset: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(24px);
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    visibility: hidden;
    display: grid;
    place-items: center;

    .ffe-button--loading & {
        opacity: 1;
        transform: none;
        visibility: visible;
    }

    &::after {
        animation: 1s linear infinite button-loading-spin;
        border: 3px solid currentcolor;
        border-radius: 50%;
        border-top-color: transparent;
        content: '';
        display: block;
        height: 1.375rem;
        aspect-ratio: 1;

        @keyframes button-loading-spin {
            from {
                transform: none;
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}
