.ffe-button {
    align-items: center;
    appearance: none;
    border: 2px solid transparent;
    border-radius: var(--ffe-v-buttons-border-radius);
    color: @ffe-farge-hvit;
    cursor: pointer;
    display: flex;
    font-family: var(--ffe-g-font);
    justify-content: center;
    line-height: 24px;
    overflow: hidden;
    padding: @ffe-spacing-xs @ffe-spacing-md;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all @ffe-transition-duration @ffe-ease;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    font-size: var(--ffe-fontsize-button);

    &::after {
        content: '';
        opacity: 0;
        display: block;
        position: absolute;
        background: transparent;
        border-radius: 1.5rem;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        box-shadow: 0 0 0 2px @ffe-farge-vann;
        transition: opacity @ffe-transition-duration @ffe-ease;

        .native & {
            box-shadow: 0 0 0 2px @ffe-farge-hvit;
        }
    }

    &:focus::after {
        opacity: 1;
    }

    &:focus:not(:focus-visible)::after {
        opacity: 0;
    }

    &:focus {
        outline: none;
        position: relative;
        overflow: unset;
    }

    &:active {
        transform: scale(0.97);
    }

    &:visited {
        color: @ffe-farge-hvit;
    }

    @media (min-width: @breakpoint-sm) {
        display: inline-flex;
        width: auto;
    }
}

.ffe-button--action {
    background-color: var(--ffe-v-button-action-color);
    color: var(--ffe-v-button-text-color);

    .native & {
        @media (prefers-color-scheme: dark) {
            border: 2px solid transparent;
        }
    }
    &:focus {
        background-color: var(--ffe-v-button-action-color);
    }

    &:hover {
        background-color: var(--ffe-v-button-action-color-hover);
    }
}

.ffe-button--primary {
    background-color: var(--ffe-v-button-primary-color);
    color: var(--ffe-v-button-text-color);

    &:focus {
        background-color: var(--ffe-v-button-primary-color);
    }

    &:hover {
        background-color: var(--ffe-v-button-primary-color-hover);
    }
}

.ffe-button--secondary,
.ffe-button--shortcut,
.ffe-button--expand {
    background-color: var(--ffe-v-button-secondary-color-bg);
    border: solid 2px var(--ffe-v-button-secondary-border-color);
    color: var(--ffe-v-button-secondary-color);

    &:active,
    &:focus,
    &:visited {
        color: var(--ffe-v-button-secondary-color);
        .native & {
            @media (prefers-color-scheme: dark) {
                color: var(--ffe-v-button-secondary-color);
            }
        }
    }

    &:hover {
        background-color: var(--ffe-v-button-secondary-color);
        border-color: var(--ffe-v-button-secondary-color);
        color: var(--ffe-v-button-secondary-color-bg);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-v-button-secondary-border-color);
                border-color: var(--ffe-v-button-secondary-border-color);
                color: var(--ffe-v-button-secondary-color-bg);
            }
        }
    }
}

.ffe-button--expand {
    border-radius: 34px;
    height: 45px;
}

.ffe-button--expanded {
    padding: @ffe-spacing-xs;
    width: 45px;
}

.ffe-button--task {
    background: transparent;
    border-radius: 1.75rem;
    border: 2px solid transparent;
    box-shadow: none;
    color: var(--ffe-v-button-task-primary-color);
    display: inline-block;
    padding: @ffe-spacing-2xs @ffe-spacing-sm @ffe-spacing-2xs @ffe-spacing-2xs;
    text-align: left;
    transition: all @ffe-transition-duration @ffe-ease;
    width: auto;

    &:hover {
        color: var(--ffe-v-button-task-text-color-hover);
        box-shadow: none;
    }

    &:focus {
        border-color: var(--ffe-v-button-task-border-focus);

        &::after {
            display: none;
        }
    }

    &:focus:not(:focus-visible) {
        border-color: transparent;
    }
}

.ffe-button--loading {
    pointer-events: none;
}

.ffe-button__label {
    align-items: center;
    display: flex;
    transition: transform @ffe-transition-duration @ffe-ease;
    gap: @ffe-spacing-xs;
    .ffe-button--loading & {
        transform: translateY(-32px);
        opacity: 0;
    }
}

.ffe-button__icon {
    .ffe-button--shortcut & {
        transition: all @ffe-transition-duration @ffe-ease;
        will-change: transform;
    }

    .ffe-button--shortcut:focus &,
    .ffe-button--shortcut:hover & {
        transform: translateX(12px);
    }

    .ffe-button--task & {
        border: 2px solid var(--ffe-v-button-primary-color);
        border-radius: 50%;
        background-color: @ffe-farge-hvit;
        color: var(--ffe-v-button-task-primary-color);
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 @ffe-spacing-xs 0 0;
        width: 45px;
        transition: all @ffe-transition-duration @ffe-ease;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: transparent;
            }
        }
    }

    .ffe-button--expand & {
        fill: var(--ffe-v-button-task-primary-color);
    }
    .ffe-button--expand:hover & {
        fill: @ffe-farge-hvit;
        .native & {
            @media (prefers-color-scheme: dark) {
                fill: @ffe-farge-svart;
            }
        }
    }

    .ffe-button--task:hover & {
        border-color: var(--ffe-v-button-primary-color);
        background-color: var(--ffe-v-button-primary-color);
        color: var(--ffe-v-button-primary-color-text);
    }
}

.ffe-button__spinner {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 8px;
    transform: translateY(24px);
    transition: all @ffe-transition-duration @ffe-ease;
    visibility: hidden;

    .ffe-button--loading & {
        opacity: 1;
        transform: none;
        visibility: visible;
    }

    &::after {
        animation: 1s linear infinite button-loading-spin;
        border: 3px solid currentColor;
        border-radius: 50%;
        border-top-color: transparent;
        content: '';
        display: block;
        height: 22px;
        margin: 0 auto;
        width: 22px;

        @keyframes button-loading-spin {
            from {
                transform: none;
            }
            to {
                transform: rotate(360deg);
            }
        }
    }
}
