// Button group
//
// Markup:
// <div class="ffe-button-group ffe-button-group{{modifier_class}}">
//   <button class="ffe-button ffe-button--primary">
//     <span class="ffe-button__label">Click bait</span>
//   </button>
//   <button class="ffe-button ffe-button--secondary">
//     <span class="ffe-button__label">Click bait</span>
//   </button>
// </div>
//
// --thin - Less vertical spacing
//
// Styleguide ffe-buttons.button-group
.ffe-button-group {
    display: flex;
    flex-direction: column;
    padding: @ffe-spacing-xl 0;
    width: 100%;

    .ffe-button,
    .ffe-inline-button {
        justify-content: center;
        margin: 0 0 @ffe-spacing-xs;
    }

    &--thin {
        padding: 0;
    }

    &--inline {
        align-items: center;
        .ffe-button,
        .ffe-inline-button {
            display: inline;
            width: fit-content;
        }
    }

    @media (min-width: @breakpoint-sm) {
        display: inline-flex;
        flex-direction: row;
        width: auto;
        flex-wrap: wrap;
        gap: @ffe-spacing-xs @ffe-spacing-sm;

        .ffe-button,
        .ffe-inline-button {
            width: auto;
        }
    }
}
