.ffe-inline-button {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 1.375rem;
    cursor: pointer;
    display: inline-flex;
    font-family: var(--ffe-g-font);
    margin: 0 -4px; // Hack to allow box-shadow to float outside content on focus
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    overflow: hidden;
    padding: 0 var(--ffe-spacing-2xs);
    text-decoration: none;
    font-size: var(--ffe-fontsize-body-text);
    align-items: center;

    &:active {
        transform: scale(0.97);
    }

    &:focus {
        box-shadow: 0 0 0 2px var(--ffe-farge-vann);
        outline: none;

        .native & {
            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 0 2px var(--ffe-farge-hvit);
            }
        }
    }

    &:focus:not(:focus-visible) {
        box-shadow: none;
    }
}

.ffe-inline-button--back {
    color: var(--ffe-v-button-primary-color);
    line-height: 1;
    padding: var(--ffe-spacing-xs) var(--ffe-spacing-md) var(--ffe-spacing-xs)
        var(--ffe-spacing-2xl);
    outline: none;

    .ffe-inline-button__label {
        transition: all transform var(--ffe-transition-duration) var(--ffe-ease);
        border-bottom: 1px solid transparent;
    }

    .ffe-inline-button__icon {
        color: var(--ffe-v-button-primary-color);
        display: block;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover .ffe-inline-button__icon {
            color: var(--ffe-v-button-primary-color-hover);
        }

        &:hover .ffe-inline-button__label {
            color: var(--ffe-v-button-secondary-color-hover);
            border-bottom-color: var(--ffe-v-button-secondary-color-hover);
        }
    }
}

.ffe-inline-button--expand {
    color: var(--ffe-v-button-primary-color);
    padding: 0 var(--ffe-spacing-xs);
    margin: 0;
    align-items: center;

    .ffe-inline-button__icon {
        color: var(--ffe-v-button-primary-color);
        transition: transform var(--ffe-transition-duration)
            var(--ffe-ease-in-out-back);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover .ffe-inline-button__icon,
        &:hover .ffe-inline-button__label {
            color: var(--ffe-v-button-primary-color-hover);
        }
    }
}

.ffe-inline-button--tertiary {
    align-content: center;
    color: var(--ffe-v-button-tertiary-color);
    flex-wrap: wrap;
    padding: var(--ffe-spacing-xs) calc(var(--ffe-spacing-sm) + 1px);
    border: 2px solid transparent;

    .ffe-inline-button__icon {
        color: var(--ffe-v-button-tertiary-color);
    }

    .ffe-inline-button__label {
        &::after {
            border-bottom: solid 1px currentcolor;
            content: ' ';
            display: block;
            width: 100%;
        }
    }

    &:focus {
        box-shadow: none;
        border-color: var(--ffe-v-button-tertiary-color);
        color: var(--ffe-v-button-tertiary-color);

        .native & {
            @media (prefers-color-scheme: dark) {
                border-color: var(--ffe-farge-hvit);
                box-shadow: none;
            }
        }
    }

    &:focus:not(:focus-visible) {
        border-color: transparent;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: var(--ffe-v-button-tertiary-color-hover);

            .ffe-inline-button__icon {
                color: var(--ffe-v-button-tertiary-color-hover);
            }
            .native & {
                @media (prefers-color-scheme: dark) {
                    color: var(--ffe-farge-hvit);
                }
            }
        }
    }
}

.ffe-inline-button__icon {
    margin-bottom: -2px;
    will-change: transform, opacity;

    .ffe-inline-button--expanded & {
        transform: rotateZ(180deg);
    }
}

.ffe-inline-button__icon--left {
    margin-right: 6px;
}

.ffe-inline-button__icon--right {
    margin-left: 6px;
}
