<!doctype html>
<html>
<head>
  <meta charset="utf8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/ffe.css">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  {{> header }}

  <div class="sb1ds ffe-grid ffe-grid--no-top-padding">
    <div class="ffe-grid__row">
      <div class="ffe-grid__col ffe-grid__col--sm12 ffe-grid__col--md-offset-2 ffe-grid__col--md-8 ffe-grid__col--center">
        <main class="sb1ds-main">
          <div class="sb1ds-intro sb1ds-intro--frontpage">
            <h1 class="ffe-h1 sb1ds-intro__heading">SpareBank 1 Designsystem</h1>
            <p class="ffe-lead-paragraph sb1ds-intro__paragraph">
              SpareBank 1s felles språk på tvers av disipliner, for å sikre konsistent design i løsningene våre.
            </p>
            <a class="ffe-action-button" href="kom-i-gang.html"><span class="ffe-action-button__label"><span class="ffe-action-button__label-text">Kom i gang</span></span></a>
          </div>
        </main>
      </div>
    </div>
    <div class="ffe-grid__row">
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--md-offset-1 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="merkevare.html" class="ffe-product-card">
          <h2 class="ffe-h5">Merkevare</h2>
          <p class="ffe-body-paragraph">Våre verdier, profil, stil og tone</p>
        </a>
      </div>
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="visuell-stil.html" class="ffe-product-card">
          <h2 class="ffe-h5">Visuell identitet</h2>
          <p class="ffe-body-paragraph">Vår visuelle identitet</p>
        </a>
      </div>
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--md-offset-1 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="universell-utforming.html" class="ffe-product-card">
          <h2 class="ffe-h5">Universell utforming</h2>
          <p class="ffe-body-paragraph">Retningslinjer for design og utvikling av tilgjengelige løsninger</p>
        </a>
      </div>
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="styleguidist/index.html" class="ffe-product-card">
          <h2 class="ffe-h5">Komponenter</h2>
          <p class="ffe-body-paragraph">Vårt komponentbibliotek, implementert i Less og React</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
