<!doctype html>
<html lang="no">
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/ffe.css">
  <link rel="stylesheet" href="/styleguidist/styles.css">
  <link rel="shortcut icon" href="/assets/favicon.ico">
</head>

<body>
  {{> header }}

  <div class="sb1ds ffe-grid ffe-grid--no-top-padding">
    <div class="ffe-grid__row">
      <div class="ffe-grid__col ffe-grid__col--sm12 ffe-grid__col--md-offset-2 ffe-grid__col--md-8 ffe-grid__col--center">
        <main class="sb1ds-main">
          <div class="sb1ds-intro sb1ds-intro--frontpage">
            <h1 class="ffe-h1 sb1ds-intro__heading">SpareBank 1 Designsystem</h1>
            <div class="sb1ds-intro__illustration sb1ds-intro__illustration--frontpage" role="presentation">
              <svg id="luftballong"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 455.269 374.333">
                  <path fill="#bfe3f4" d="M452.428,107.132H309.507a2.841,2.841,0,0,1-2.3-4.492c48.028-67.466,74.412,3.221,104.518-9.508,28.619-12.1,43.135-1.674,43.547,11.118A2.825,2.825,0,0,1,452.428,107.132Z"/>
                  <path fill="none" d="M234.669,328.5h-3.117a8.5,8.5,0,0,1-8.443-7.522H209.714a.462.462,0,0,1-.016.123c.051,1.332,2.836,16.063,4.724,25.781a.477.477,0,0,1,0,.1H251.8a.477.477,0,0,1,0-.1c1.888-9.719,4.673-24.449,4.724-25.781a.462.462,0,0,1-.016-.123H243.112A8.5,8.5,0,0,1,234.669,328.5Z"/>
                  <path fill="#ffc87f" d="M231.551,328.5h3.117a8.5,8.5,0,0,0,8.443-7.522h-20A8.5,8.5,0,0,0,231.551,328.5Z"/>
                  <path fill="#ffc87f" d="M255.117,350.019a2.829,2.829,0,0,0-2.328-2.989c4.067-20.945,4.7-25.1,4.686-26.053h-.969a.462.462,0,0,0,.016.123c-.051,1.332-2.836,16.063-4.724,25.781a.477.477,0,0,0,0,.1H214.421a.477.477,0,0,0,0-.1c-1.888-9.719-4.673-24.449-4.724-25.781a.462.462,0,0,0,.016-.123h-.969c-.011.949.619,5.107,4.686,26.053a2.829,2.829,0,0,0-2.328,2.989l1.2,16.43a8.5,8.5,0,0,0,8.481,7.884h24.648a8.5,8.5,0,0,0,8.481-7.884Z"/>
                  <path fill="#008ed2" d="M332.732,237H133.488a457.009,457.009,0,0,0,60.9,72.667h77.455A457,457,0,0,0,332.732,237Z"/>
                  <path fill="#008ed2" d="M233.11,0c-42.283,0-76.74,11.025-101.286,30H334.4C309.85,11.025,275.393,0,233.11,0Z"/>
                  <path fill="#008ed2" d="M376.61,118.167a118.7,118.7,0,0,0-4.952-34.5H94.562a118.7,118.7,0,0,0-4.952,34.5c0,17.657,3.9,36.288,10.759,55.167H365.851C372.712,154.455,376.61,135.823,376.61,118.167Z"/>
                  <path fill="#ffc87f" d="M334.4,30H131.824A105.976,105.976,0,0,0,94.562,83.667h277.1A105.976,105.976,0,0,0,334.4,30Z"/>
                  <path fill="#91d49e" d="M365.851,173.333H100.369c7.724,21.255,19.206,42.823,33.118,63.667H332.732C346.645,216.156,358.126,194.588,365.851,173.333Z"/>
                  <path fill="#ffc87f" d="M223.109,320.978H259.79q6.067-5.493,12.047-11.311H194.383q5.974,5.81,12.047,11.311h16.678Z"/>
                  <path fill="#fff" d="M241.894,268H2.834a2.839,2.839,0,0,1-2.2-4.628C35.054,220.527,49.7,271.671,97.11,232c49-41,80,28,106,18,24.618-9.469,43.858,1.683,41.588,15.629A2.839,2.839,0,0,1,241.894,268Z"/>
              </svg>
            </div>
            <p class="ffe-lead-paragraph sb1ds-intro__paragraph">
              SpareBank 1 sitt felles språk på tvers av disipliner, for å sikre konsistent design i løsningene våre.
            </p>
            <a class="ffe-button ffe-button--action" href="kom-i-gang.html"><span class="ffe-action-button__label">Kom i gang</span></a>
          </div>
        </main>
      </div>
    </div>
    <div class="ffe-grid__row">
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--md-offset-1 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="stil-og-tone.html" class="ffe-product-card">
          <h2 class="ffe-h5">Stil og tone</h2>
          <p class="ffe-body-paragraph">Våre verdier, profil, merkevare</p>
        </a>
      </div>
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="visuell-identitet.html" class="ffe-product-card">
          <h2 class="ffe-h5">Visuell identitet</h2>
          <p class="ffe-body-paragraph">Vår visuelle identitet</p>
        </a>
      </div>
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--md-offset-1 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="universell-utforming.html" class="ffe-product-card">
          <h2 class="ffe-h5">Universell utforming</h2>
          <p class="ffe-body-paragraph">Retningslinjer for design og utvikling av tilgjengelige løsninger</p>
        </a>
      </div>
      <div class="ffe-grid__col ffe-grid__col--md-5 ffe-grid__col--sm-12 ffe-grid__col--center ffe-grid__col--no-bottom-padding">
        <a href="styleguidist/index.html" class="ffe-product-card">
          <h2 class="ffe-h5">Komponenter</h2>
          <p class="ffe-body-paragraph">Vårt komponentbibliotek, implementert i Less og React</p>
        </a>
      </div>
    </div>
  </div>

  <script src="/assets/sds.js"></script>
</body>
</html>
