<div class="sb1ds-top-menu">
	<div class="sb1ds-header-grid ffe-grid">
		<div class="sb1ds-header-grid__row ffe-grid__row">
			<div class="
				ffe-grid__col
				ffe-grid__col--md-4
				ffe-grid__col--sm-12
				ffe-grid__col--start
				ffe-grid__col--middle
				ffe-grid__col--no-bottom-padding
				"
			>
				<a href="./">
					<Logo />
				</a>
			</div>
			<div class="
				sb1ds-top-menu__wrapper
				ffe-grid__col
				ffe-grid__col--md-8
				ffe-grid__col--sm-12
				ffe-grid__col--middle
				ffe-grid__col--end
				ffe-grid__col--no-bottom-padding
				"
			>
				<nav class="sb1ds-top-menu__site-nav">
					<ul
						class="sb1ds-top-menu__list"
					>
						<li class="sb1ds-top-menu__item">
							<a
								class="
									ffe-link-text
									ffe-link-text--no-underline
									sb1ds-top-menu__link
									ffe-strong-text
								"
								href="#section-kom-i-gang"
							>
								Kom i gang
							</a>
						</li>
						<li class="sb1ds-top-menu__item">
							<a
								class="
									ffe-link-text
									ffe-link-text--no-underline
									sb1ds-top-menu__link
									ffe-strong-text
								"
								href="#section-merkevare"
							>
								Merkevare
							</a>
						</li>
						<li class="sb1ds-top-menu__item">
							<a
								class="
									ffe-link-text
									ffe-link-text--no-underline
									sb1ds-top-menu__link
									ffe-strong-text
								"
								href="#section-visuell-stil"
							>
								Visuell stil
							</a>
						</li>
						<li class="sb1ds-top-menu__item">
							<a
								class="
									ffe-link-text
									ffe-link-text--no-underline
									sb1ds-top-menu__link
									ffe-strong-text
								"
								href="#section-universell-utforming"
							>
								Universell utforming
							</a>
						</li>
						<li class="sb1ds-top-menu__item">
							<a
								class="
									ffe-link-text
									ffe-link-text--no-underline
									sb1ds-top-menu__link
									ffe-strong-text
								"
								href="#section-komponenter"
							>
								Komponenter
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>