<!doctype html>
<html lang="no">
	<head>
		<meta charset="utf-8">
		<title><%=htmlWebpackPlugin.options.title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/assets/favicon.ico">
	</head>
	<body>
    	{{> header currentTarget="styleguidist" }}
		{{!
			The content of <div id="app"/> will be overwritten by the React implementation.
			The idea is to make the jump to and loading of the page less jarring by setting
			up a basic skeleton while loading.
		}}
		<div id="app">
			<div class="sb1ds ffe-grid ffe-grid--no-top-padding">
				<div class="ffe-grid__row">
					<div class="ffe-grid__col--lg-3 ffe-grid__col--md-4 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
					</div>
					<div class="ffe-grid__col--lg-9 ffe-grid__col--md-8 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
						<main class="sb1ds-main">
							<h1 class="ffe-h1 sb1ds-intro__heading">
								Komponenter
							</h1>
							<div class="sb1ds-intro sb1ds-intro--section">
								<p class="ffe-lead-paragraph sb1ds-intro__paragraph">
									Vårt bibliotek av felles komponenter, implementert i Less og React.
								</p>
							</div>
						</main>
					</div>
				</div>
				<div class="ffe-grid__row ffe-grid-row--top-padding">
					<div class="ffe-grid__col--sm-12 ffe-grid__col--center">
						<div class="ffe-spinner ffe-spinner--large"></div>
						<span class="ffe-small-text">Henter komponentbiblioteket...</span>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script src="/assets/sds.js"></script>
</html>
