<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%=htmlWebpackPlugin.options.title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
    <nav>
      <ul>
        {{#each sections}}
          <li>
            <a href="{{this.target}}.html">{{this.name}}</a>
          </li>
        {{/each}}
      </ul>
    </nav>

		<div id="app"></div>
	</body>
</html>
