.highlighted() {
    background: var(--ffe-g-primary-color);
    color: var(--ffe-v-accountselector-option-primary-color);

    .ffe-account-suggestion-multi__details,
    .ffe-account-suggestion-multi__name {
        color: var(--ffe-v-accountselector-option-primary-color);
    }
}

[aria-selected='true'] {
    .ffe-account-suggestion-multi {
        .highlighted();
    }
}

.ffe-account-suggestion-multi {
    margin: 0;
    background: var(--ffe-v-accountselector-option-primary-color);
    cursor: pointer;
    padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm) var(--ffe-spacing-xs)
        var(--ffe-spacing-xs);
    overflow: hidden;
    display: flex;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            .highlighted();
        }
    }

    &--highlighted {
        .highlighted();
    }

    &__nomatches {
        background: var(--ffe-v-accountselector-option-primary-color);
        color: var(--ffe-g-lead-color);
        padding: var(--ffe-spacing-sm);
        cursor: default;
    }

    &__name {
        line-height: 1;
        font-size: 1rem;
        display: block;
        padding-bottom: var(--ffe-spacing-2xs);
        color: var(--ffe-g-lead-color);
    }

    &__details {
        color: var(--ffe-g-text-color);
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
    }

    &__content-wrapper {
        width: 100%;
    }

    .ffe-checkbox {
        top: 5px;
        margin: 0 0 0 5px;
    }

    &__select-all {
        .ffe-account-suggestion-multi__name {
            padding-top: 3px;
            padding-bottom: 1px;
        }

        .ffe-checkbox {
            top: 0;
        }
    }

    &:first-child {
        border-top: none;
    }
}

.native & {
    @media (prefers-color-scheme: dark) {
        .ffe-account-suggestion-multi {
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--ffe-g-primary-color);
                }
            }

            &--highlighted {
                background: var(--ffe-g-primary-color);
            }
        }
    }
}
