.ffe-account-suggestion-single {
    margin: 0;
    background: var(--ffe-v-accountselector-option-primary-color);
    cursor: pointer;
    padding: @ffe-spacing-xs @ffe-spacing-sm @ffe-spacing-xs @ffe-spacing-md;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background: var(--ffe-g-primary-color);
            color: var(--ffe-v-accountselector-option-primary-color);

            & .ffe-account-suggestion-single__details,
            & .ffe-account-suggestion-single__name {
                color: var(--ffe-v-accountselector-option-primary-color);
            }
        }
    }

    &--highlighted {
        background: var(--ffe-g-primary-color);
        color: var(--ffe-v-accountselector-option-primary-color);

        & .ffe-account-suggestion-single__details,
        & .ffe-account-suggestion-single__name {
            color: var(--ffe-v-accountselector-option-primary-color);
        }
    }

    &__name {
        line-height: 1;
        font-size: 1rem;
        display: block;
        padding-bottom: @ffe-spacing-2xs;
        color: var(--ffe-g-lead-color);
    }

    &__details {
        color: var(--ffe-g-text-color);
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
    }

    &:first-child {
        border-top: none;
    }
}
