.ffe-base-selector {
    .ffe-input-field {
        margin-bottom: 0;
    }

    &__input-field {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-right: @ffe-spacing-3xl;
        &::-ms-clear {
            display: none;
        }
    }

    &__expand-button {
        position: absolute;
        padding: 0 @ffe-spacing-2xs;
        background: transparent;
        border: none;
        cursor: pointer;
        top: 0;
        bottom: 0;
        right: 0;
        width: 2.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .ffe-base-selector &-icon {
            color: var(--ffe-g-primary-color);
            .native & {
                @media (prefers-color-scheme: dark) {
                    color: var(--ffe-g-primary-color);
                }
            }
        }

        .ffe-base-selector &-icon--invalid {
            color: var(--ffe-g-error-color);
            .native & {
                @media (prefers-color-scheme: dark) {
                    color: var(--ffe-g-error-color);
                }
            }
        }
    }

    &__reset-button {
        position: absolute;
        z-index: 1;
        padding: 0 @ffe-spacing-2xs;
        background: transparent;
        border: none;
        cursor: pointer;
        top: 0;
        bottom: 0;
        right: 2.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .ffe-base-selector &-icon {
            color: var(--ffe-g-primary-color);
            .native & {
                @media (prefers-color-scheme: dark) {
                    color: var(--ffe-g-primary-color);
                }
            }
        }
    }

    &__suggestion-container {
        z-index: 100;
        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid var(--ffe-g-border-color);
        border-radius: 2px;
        background: var(--ffe-v-accountselector-option-primary-color);
        font-family: var(--ffe-g-font);
        &-list {
            left: 0;
            width: 100%;
            top: 45px;
            box-sizing: border-box;
            z-index: 100;
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}
