.ffe-base-selector {
    &__input-field {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 63px;
        &::-ms-clear {
            display: none;
        }
    }

    &__expand-button {
        position: absolute;
        padding: 6px;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background: transparent;
        border: none;
        cursor: pointer;

        &-icon {
            fill: @ffe-blue-azure;
            display: block;
            width: 17px;
            height: 17px;
        }

        &-icon--invalid {
            fill: @ffe-orange-fire;
        }
    }

    &__reset-button {
        padding: 9px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 35px;
        background: transparent;
        border: none;
        fill: @ffe-grey-charcoal;
        cursor: pointer;

        &-icon {
            display: block;
            width: 11px;
            height: 11px;
        }
    }

    &__suggestion-container {
        @border: 1px solid @ffe-grey-silver;
        z-index: 100;
        position: absolute;
        left: 0;
        right: 0;
        border: @border;
        border-radius: 2px;
        background: @ffe-white;
    }
}
