.ffe-description-list,
.ffe-description-list-multicol {
    --vertical-seperation: 1rem;

    .ffe-description-list__term {
        color: var(--ffe-v-lists-title-color);
        font-size: var(--ffe-fontsize-h6);
        &:extend(.ffe-strong-text);
    }

    /* Use padding rather than margin in bottom to avoid extra spacing overflowing to the top of the next column */

    .ffe-description-list__description {
        padding-bottom: var(--vertical-seperation);
        margin-left: 0;
        &:extend(.ffe-body-text);
        .native & {
            @media (prefers-color-scheme: dark) {
                color: var(--ffe-v-lists-description-description-color);
            }
        }
    }

    .ffe-description-list__description + .ffe-description-list__description {
        margin-top: calc(var(--vertical-seperation) * -1);
    }
}

.ffe-description-list--horizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;

    .ffe-description-list__term {
        flex: 0 0 35%;
        overflow: hidden;
        overflow-wrap: break-word;
    }

    .ffe-description-list__description {
        flex: 65% 0 0;
        padding-left: var(--ffe-spacing-sm);
        max-width: 65%; /* Fix for IE issue in which box-sizing is not taken into account when using flex */
    }

    .ffe-description-list__description + .ffe-description-list__description {
        margin-left: 35%; /* Keep left margin when using multiple dd's */
    }

    @media (min-width: @breakpoint-sm) {
        .ffe-description-list__term {
            flex: 0 0 20%;
        }

        .ffe-description-list__description {
            flex: 80% 0 0;
            max-width: 80%;
            & + .ffe-description-list__description {
                margin-left: 20%;
            }
        }
    }
}

.ffe-description-list--horizontal.ffe-description-list--md {
    .ffe-description-list__term {
        flex: 0 0 40%;
    }

    .ffe-description-list__description {
        flex: 60% 0 0;
        max-width: 60%;
    }

    .ffe-description-list__description + .ffe-description-list__description {
        margin-left: 40%;
    }
}

.ffe-description-list--horizontal.ffe-description-list--lg {
    .ffe-description-list__term {
        flex: 0 0 50%;
    }

    .ffe-description-list__description {
        flex: 50% 0 0;
        max-width: 50%;
    }

    .ffe-description-list__description + .ffe-description-list__description {
        margin-left: 50%;
    }
}

.ffe-description-list-multicol {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &__avoid-break {
        flex-basis: 100%;
        margin: 0;
        text-align: center;
    }

    &--sm-2-cols {
        .ffe-description-list-multicol__avoid-break {
            flex-basis: 50%;
        }
    }

    &__avoid-break:last-child:not(:nth-child(even)) {
        flex-basis: 100%;
    }

    @media (min-width: @breakpoint-sm) {
        &__avoid-break {
            flex-basis: 50%;
        }
    }
}
