// Bullet list
//
// Markup:
// <ul class="ffe-bullet-list ffe-bullet-list{{modifier_class}}">
//     <li class="ffe-bullet-list__item">Bilforsikring</li>
//     <li class="ffe-bullet-list__item">Reiseforsikring</li>
//     <li class="ffe-bullet-list__item">Innboforsikring</li>
// </ul>
//
// --condensed  - Condensed
//
// Styleguide ffe-lists.regular-lists.1

// Check list
//
// Markup:
// <ul class="ffe-check-list ffe-check-list{{modifier_class}}">
//     <li class="ffe-check-list__item">Massevis av ferdige, testede komponenter</li>
//     <li class="ffe-check-list__item">Likt design som resten av SpareBank 1</li>
//     <li class="ffe-check-list__item">Høyere utviklingshastighet</li>
//     <li class="ffe-check-list__item ffe-check-list__item--cross">Null bugs</li>
// </ul>
//
// --bg-sand        - Sand background
// --two-columns    - Two columns
//
// Styleguide ffe-lists.regular-lists.2

// Numbered list
//
// Markup:
// <ol class="ffe-numbered-list ffe-numbered-list{{modifier_class}}">
//     <li class="ffe-numbered-list__item">Installer pakken du vil bruke via NPM</li>
//     <li class="ffe-numbered-list__item">Importer pakken i koden din</li>
//     <li class="ffe-numbered-list__item">Profit!</li>
// </ol>
//
// --condensed  - Condensed
//
// Styleguide ffe-lists.regular-lists.3

// Stylized numbered list
//
// Markup:
// <ol class="ffe-stylized-numbered-list">
//     <li class="ffe-stylized-numbered-list__item">Installer pakken du vil bruke via NPM</li>
//     <li class="ffe-stylized-numbered-list__item">Importer pakken i koden din</li>
//     <li class="ffe-stylized-numbered-list__item">Profit!</li>
// </ol>
//
// Styleguide ffe-lists.regular-lists.4

.ffe-numbered-list,
.ffe-bullet-list {
    font-family: var(--ffe-g-font);
    padding: 0;
    text-align: left;
    margin: 0 0 @ffe-spacing-sm;

    > .ffe-numbered-list__item,
    > .ffe-bullet-list__item {
        margin-top: @ffe-spacing-xs;
        margin-left: @ffe-spacing-sm;
        overflow-wrap: anywhere;
    }
}

.ffe-numbered-list {
    list-style-type: decimal;
}

.ffe-bullet-list {
    list-style-type: disc;

    &--condensed {
        margin-left: 0;

        > .ffe-bullet-list__item {
            margin-top: 0;
        }
    }
}

/* tablet/medium typography */
@media (min-width: @breakpoint-sm) {
    .ffe-numbered-list,
    .ffe-bullet-list {
        margin-left: @ffe-spacing-sm;

        &--condensed {
            margin-left: 0;
        }
    }
}

/* Desktop */
@media (min-width: @breakpoint-md) {
    .ffe-numbered-list > .ffe-numbered-list__item,
    .ffe-bullet-list > .ffe-bullet-list__item {
        margin-left: @ffe-spacing-lg;

        &--condensed {
            margin-left: 0;
        }
    }
}

.ffe-check-list,
.ffe-stylized-numbered-list {
    font-family: var(--ffe-g-font);
    padding: 0;
    text-align: left;
    margin: 0 0 @ffe-spacing-sm;
    list-style: none;
}

.ffe-check-list__item {
    --line-height: 1.5em;

    margin-top: @ffe-spacing-sm;
    position: relative;
    line-height: var(--line-height);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--line-height) 1fr;
    grid-column-gap: 1.5em;

    .regard-color-scheme-preference & {
        @media (prefers-color-scheme: dark) {
            color: var(--ffe-farge-hvit);
        }
    }
}

.ffe-check-list {
    &__icon {
        grid-column: 1/2;
        grid-row: 1/2;
        place-self: center;
        &--check.ffe-icons {
            color: var(--ffe-v-lists-check-list-check-icon-color);
        }

        &--cross.ffe-icons {
            color: var(--ffe-v-lists-check-list-cross-icon-color);
        }
    }

    &--two-columns {
        @media all and (min-width: @breakpoint-md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: @ffe-spacing-xs;

            .ffe-check-list__item {
                flex: 1 0 auto;
                width: 40%;
            }
        }
    }
}

.ffe-stylized-numbered-list__item {
    --line-height: 1.5em;

    counter-increment: list-elements;
    margin-top: @ffe-spacing-sm;
    position: relative;
    line-height: var(--line-height);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--line-height) 1fr;
    grid-column-gap: @ffe-spacing-md;

    &::before {
        content: counter(list-elements);
        grid-column: 1/2;
        grid-row: 1/2;
        color: var(--ffe-v-lists-title-color);
        &:extend(.ffe-strong-text);
    }
}

.ffe-check-list__item-content,
.ffe-stylized-numbered-list__item-content {
    grid-column: 2/3;
    grid-row: 1/-1;
    overflow-wrap: anywhere;
}
