@import (reference) '@sb1/ffe-core/less/breakpoints';
@import (reference) '@sb1/ffe-core/less/typography';

.ffe-numbered-list,
.ffe-bullet-list {
    font-family: var(--ffe-g-font);
    color: var(--ffe-color-foreground-default);
    padding: 0;
    text-align: left;
    margin: 0 0 var(--ffe-spacing-sm);

    > .ffe-numbered-list__item,
    > .ffe-bullet-list__item {
        margin-top: var(--ffe-spacing-xs);
        margin-left: var(--ffe-spacing-sm);
        overflow-wrap: anywhere;
    }
}

.ffe-numbered-list {
    list-style-type: decimal;
}

.ffe-bullet-list {
    list-style-type: disc;

    &--condensed {
        margin-left: 0;

        > .ffe-bullet-list__item {
            margin-top: 0;
        }
    }
}

/* tablet/medium typography */
@media (min-width: @breakpoint-sm) {
    .ffe-numbered-list,
    .ffe-bullet-list {
        margin-left: var(--ffe-spacing-sm);

        &--condensed {
            margin-left: 0;
        }
    }
}

/* Desktop */
@media (min-width: @breakpoint-md) {
    .ffe-numbered-list > .ffe-numbered-list__item,
    .ffe-bullet-list > .ffe-bullet-list__item {
        margin-left: var(--ffe-spacing-lg);

        &--condensed {
            margin-left: 0;
        }
    }
}

.ffe-check-list,
.ffe-stylized-numbered-list {
    font-family: var(--ffe-g-font);
    color: var(--ffe-color-foreground-default);
    padding: 0;
    text-align: left;
    margin: 0 0 var(--ffe-spacing-sm);
    list-style: none;
}

.ffe-check-list__item {
    --line-height: 1.5em;

    margin-top: var(--ffe-spacing-sm);
    position: relative;
    line-height: var(--line-height);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--line-height) 1fr;
    grid-column-gap: 1.5em;
}

.ffe-check-list {
    &__icon {
        grid-column: 1 e('/') 2;
        grid-row: 1 e('/') 2;
        place-self: center;
        &--check.ffe-icons {
            color: var(--ffe-color-fill-feedback-success);
        }

        &--cross.ffe-icons {
            color: var(--ffe-color-fill-feedback-critical);
        }
    }

    &--two-columns {
        @media all and (min-width: @breakpoint-md) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: var(--ffe-spacing-xs);

            .ffe-check-list__item {
                flex: 1 0 auto;
                width: 40%;
            }
        }
    }
}

.ffe-stylized-numbered-list__item {
    --line-height: 1.5em;

    counter-increment: list-elements;
    margin-top: var(--ffe-spacing-sm);
    position: relative;
    line-height: var(--line-height);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--line-height) 1fr;
    grid-column-gap: var(--ffe-spacing-md);

    &::before {
        content: counter(list-elements);
        grid-column: 1 e('/') 2;
        grid-row: 1 e('/') 2;
        color: var(--ffe-color-foreground-emphasis);
        &:extend(.ffe-strong-text);
    }
}

.ffe-check-list__item-content,
.ffe-stylized-numbered-list__item-content {
    grid-column: 2 e('/') 3;
    grid-row: 1 e('/') -1;
    overflow-wrap: anywhere;
}
