@import (reference) '@sb1/ffe-core/less/breakpoints';

.ffe-tab-group {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--ffe-color-surface-primary-default);
    border: 2px solid var(--ffe-color-border-primary-subtle);

    align-items: center;

    &--no-break {
        flex-direction: row;
        border-radius: 40px;
        align-items: center;

        .ffe-tab {
            flex-shrink: 1;
        }
    }

    @media (min-width: @breakpoint-sm) {
        display: flex;
        flex-direction: row;
        border-radius: 40px;
        align-items: center;
        width: max-content;
    }
}
