@import (reference) '@sb1/ffe-core/less/breakpoints';

.ffe-tab {
    display: flex;

    background-color: var(--ffe-color-surface-primary-default);
    color: var(--ffe-color-foreground-on-fill-inverse);
    padding: var(--ffe-spacing-xs) var(--ffe-spacing-md);
    border-radius: 40px;
    border: 2px solid transparent;
    margin: var(--ffe-spacing-2xs);
    font-family: var(--ffe-g-font);
    align-self: stretch;
    justify-content: center;
    align-items: center;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    cursor: pointer;
    width: auto;
    position: relative;
    flex: none;
    order: 0;
    flex-grow: 1;
    overflow-wrap: anywhere;

    &:focus {
        outline: none;
        position: relative;
        overflow: unset;
        border-color: var(--ffe-color-border-interactive-focus);
        background-color: var(--ffe-color-fill-primary-subtle-hover);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-color: transparent;
            background-color: var(--ffe-color-fill-primary-subtle-hover);
            color: var(--ffe-color-foreground-on-fill-inverse);
        }
    }

    &:active {
        background-color: var(--ffe-color-fill-primary-subtle-pressed);
    }

    &--selected {
        background-color: var(--ffe-color-fill-primary-selected);
        color: var(--ffe-color-foreground-on-fill-default);
        z-index: 2;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border-color: transparent;
                background-color: var(--ffe-color-fill-primary-selected-hover);
                color: var(--ffe-color-foreground-on-fill-default);
            }
        }

        &:focus {
            outline: none;
            position: relative;
            overflow: unset;
            border-color: var(--ffe-color-border-interactive-focus);
            background-color: var(--ffe-color-fill-primary-selected-hover);
        }

        &:active {
            background-color: var(--ffe-color-fill-primary-selected-pressed);
        }
    }

    @media (min-width: @breakpoint-sm) {
        display: inline-block;
        width: auto;
        margin-right: var(--ffe-spacing-xs);

        &:not(:first-child) {
            margin-left: -2px;
        }

        &:last-child {
            margin-right: var(--ffe-spacing-2xs);
        }
    }
}
