.ffe-tab {
    display: flex;
    background-color: var(--ffe-v-tabs-secondary-color);
    color: var(--ffe-v-tabs-primary-color);
    padding: var(--ffe-spacing-xs) var(--ffe-spacing-ms);
    border-radius: 40px;
    border: 2px solid transparent;
    margin: var(--ffe-spacing-2xs);
    font-family: var(--ffe-g-font);
    align-self: stretch;
    justify-content: center;
    align-items: center;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    cursor: pointer;
    width: auto;
    position: relative;
    flex: none;
    order: 0;
    flex-grow: 1;
    overflow-wrap: anywhere;

    &::after {
        content: '';
        opacity: 0;
        display: block;
        position: absolute;
        background: transparent;
        border-radius: 1.5rem;
        inset: -5px;
        box-shadow: 0 0 0 2px var(--ffe-v-tabs-tab-focus-color);
        transition: opacity var(--ffe-transition-duration) var(--ffe-ease);
    }

    &:focus::after {
        opacity: 1;
    }

    &:focus:not(:focus-visible)::after {
        opacity: 0;
    }

    &:focus {
        outline: none;
        position: relative;
        overflow: unset;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: var(--ffe-v-tabs-secondary-color);
            background-color: var(--ffe-v-tabs-tab-hover-color);
        }
    }

    &--selected,
    &:active {
        background-color: var(--ffe-v-tabs-primary-color);
        color: var(--ffe-v-tabs-secondary-color);
        z-index: 2;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: var(--ffe-v-tabs-tab-active-hover-color);
            }
        }
    }

    @media (min-width: @breakpoint-sm) {
        display: inline-block;
        width: auto;
        margin-right: var(--ffe-spacing-xs);

        &:not(:first-child) {
            margin-left: -2px;
        }

        &:last-child {
            margin-right: var(--ffe-spacing-2xs);
        }
    }
}
