:root,
:host {
    --ffe-v-tabs-primary-color: var(--ffe-farge-fjell);
    --ffe-v-tabs-secondary-color: var(--ffe-farge-hvit);
    --ffe-v-tabs-tab-focus-color: var(--ffe-farge-vann);
    --ffe-v-tabs-tab-hover-color: var(--ffe-farge-vann);
    --ffe-v-tabs-tab-active-hover-color: var(--ffe-farge-natt);

    @media (prefers-color-scheme: dark) {
        .native {
            --ffe-v-tabs-primary-color: var(--ffe-farge-vann-30);
            --ffe-v-tabs-secondary-color: var(--ffe-farge-svart);
            --ffe-v-tabs-tab-focus-color: var(--ffe-farge-hvit);
            --ffe-v-tabs-tab-hover-color: var(--ffe-farge-vann-70);
            --ffe-v-tabs-tab-active-hover-color: var(--ffe-farge-hvit);
        }
    }
}
