.ffe-accordion {
    width: 100%;
    border: 1px solid transparent;
    font-family: var(--ffe-g-font);

    .ffe-accordion-item__heading {
        margin: 0;
    }
}

.ffe-accordion-item {
    --icon-color: var(--ffe-v-accordion-primary-color);
    --icon-border-color: var(--ffe-v-accordion-primary-color);
    --icon-background-color: var(--ffe-v-accordion-secondary-color);

    margin-bottom: var(--ffe-spacing-xs);
    transition: margin-bottom var(--ffe-transition-duration)
        var(--ffe-ease-in-out-back);
    box-shadow: 0 1px 4px rgb(38 38 38 / 30%);
    border-radius: 16px;
    border: 2px solid transparent;
    background-color: var(--ffe-color-fill-success-default) !important;

    &__heading,
    &__body {
        overflow-wrap: anywhere;
        margin: 0;
    }

    &__heading-button {
        width: 100%;
        background: none;
        border: none;
        padding: var(--ffe-spacing-sm);
        font-family: var(--ffe-g-font-heading-small);
        cursor: pointer;
        outline: none;
        color: var(--ffe-v-accordion-primary-color);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                --icon-color: var(--ffe-v-accordion-secondary-color);
                --icon-background-color: var(--ffe-v-accordion-primary-color);
            }
        }

        &:focus-visible {
            outline: none;
        }
    }

    &__heading-button-content {
        text-align: left;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--ffe-spacing-xs);
    }

    &__heading-icon-wrapper {
        line-height: 0;
        border: 1px solid var(--icon-border-color);
        border-radius: 50%;
        padding: var(--ffe-spacing-xs);
        background: var(--icon-background-color);
        transition: background-color var(--ffe-transition-duration)
            var(--ffe-ease);
    }

    &__heading-icon.ffe-icons {
        display: block;
        flex: 0 0 auto;
        color: var(--icon-color);
        transition:
            transform var(--ffe-transition-duration) var(--ffe-ease-in-out-back),
            color var(--ffe-transition-duration) var(--ffe-ease);
    }

    &__body {
        padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm)
            var(--ffe-spacing-md);
        color: var(--ffe-v-accordion-body-text-color);
    }

    &--open {
        &:not(:last-of-type) {
            margin-bottom: var(--ffe-spacing-md);
        }

        .ffe-accordion-item__heading-icon {
            transform: rotateZ(180deg);
        }
    }

    &--focus {
        border-color: var(--ffe-v-accordion-focus-border-color);
    }
}
