@import (reference) '@sb1/ffe-core/less/breakpoints';

.ffe-pagination {
    --circular-button-size: 2.5rem;
    --buttons-distance: var(--ffe-spacing-xs);

    display: flex;
    flex-direction: column;
    gap: var(--ffe-spacing-md);

    &__rows {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--ffe-spacing-sm);
        color: var(--ffe-color-foreground-default);

        @media (min-width: @breakpoint-sm) {
            flex-direction: row;
        }

        &:empty {
            display: none;
        }
    }

    &__rows-item {
        flex-grow: 1;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: var(--buttons-distance);
    }

    &__page-buttons {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: var(--buttons-distance);
    }

    &__buttons-nav {
        flex-shrink: 0;
    }
}

.ffe-pagination-info {
    margin: 0;
    width: 100%;
    text-align: center;

    @media (min-width: @breakpoint-sm) {
        text-align: left;
    }
}

.ffe-pagination-rows-per-page {
    display: flex;
    align-items: center;
    gap: var(--ffe-spacing-xs);
    width: 100%;
    justify-content: center;

    @media (min-width: @breakpoint-sm) {
        justify-content: end;
    }

    .ffe-dropdown {
        max-width: 90px;
    }
}

.ffe-pagination-navigation-block {
    display: flex;
    align-items: center;
    gap: var(--ffe-spacing-xs);

    &--hidden {
        visibility: hidden;
    }

    &--next {
        .ffe-icons {
            transform: rotate(180deg);
        }
    }

    &__button-text {
        display: none;
    }

    @media (min-width: @breakpoint-sm) {
        &__button-text {
            display: block;
        }
    }

    &--prev,
    &--next,
    &--no-text {
        .ffe-button {
            width: var(--circular-button-size);
            aspect-ratio: 1;
        }
    }

    &--prev:not(&--no-text),
    &--next:not(&--no-text) {
        @media (min-width: @breakpoint-sm) {
            .ffe-button {
                width: auto;
                aspect-ratio: auto;
            }
        }
    }
}

.ffe-pagination-dots {
    fill: var(--ffe-color-component-button-primary-fill-default);
}

.ffe-pagination-page-button {
    width: var(--circular-button-size);
    aspect-ratio: 1;
    white-space: nowrap;
    &--active,
    &--active:focus {
        background-color: var(
            --ffe-color-component-button-primary-fill-default
        );
        border-color: var(--ffe-color-component-button-primary-fill-default);
        .ffe-button__label {
            color: var(--ffe-color-component-button-primary-foreground-default);
        }
    }
}
