// Sets default body color, font styles and background color for light and dark themes
.ffe-body {
    background-color: var(--ffe-color-background-default);
    color: var(--ffe-color-foreground-default);
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;

    strong {
        font-family: var(--ffe-g-font-strong);
        font-weight: normal;
    }

    small {
        font-size: var(--ffe-fontsize-small-text);
    }

    em {
        font-family: var(--ffe-g-font-italic);
        font-weight: normal;
        font-style: normal;
    }

    pre {
        font-family: consolas, menlo, monaco, monospace;
    }
}
