// Sets default body color, font styles and background color for light and dark themes
.ffe-body {
    --color: var(--ffe-g-text-color);
    --background-color: var(--ffe-farge-hvit);

    background-color: var(--background-color);
    color: var(--color);

    &.regard-color-scheme-preference {
        @media (prefers-color-scheme: dark) {
            --color: var(--ffe-farge-lysgraa);
            --background-color: var(--ffe-farge-svart);
        }
    }

    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;

    strong {
        font-family: var(--ffe-g-font-strong);
        font-weight: normal;
    }

    small {
        font-size: var(--ffe-fontsize-small-text);
    }

    em {
        font-family: var(--ffe-g-font-italic);
        font-weight: normal;
        font-style: normal;
    }

    pre {
        font-family: consolas, menlo, monaco, monospace;
    }
}
