// ************************************** Deprecated *******************************************************'

// Blue (Deprecated)
@ffe-blue-royal: #002776; // Titles, lead, overlays
@ffe-blue-cobalt: #005aa4; // Primary buttons, emphasis on blue areas and product cards
@ffe-blue-azure: #0071cd; // Secondary buttons
@ffe-blue-sky: #7fc6e8;
@ffe-blue-pale: #dff1f9; // Info-boxes, etc.
@ffe-blue-ice: #eff8fc; // Expandable table rows
@ffe-blue-focus: #a1dfff; // Focus on buttons and controls

// Green (Deprecated)
@ffe-green: #37b441; // E.g. slider tool
@ffe-green-shamrock: #008a00; // Action buttons, slider tool, (should indicate affordance)
@ffe-green-emerald: #007b00;
@ffe-green-mint: #e1f4e3; // ~20% opacity of ffe-green-shamrock. (Info-boxes, etc.)

// Orange (Deprecated)
@ffe-orange: #ff9100; // Campaigns
@ffe-orange-fire: #da3d00; // Form validation, Error messages
@ffe-orange-salmon: #f3bbaa; // ~20% opacity of ffe-orange-fire. (Info-boxes, etc.)

// Red (Deprecated)
@ffe-red: #e60000;

// Purple (Deprecated)
@ffe-purple: #c94096;
@ffe-purple-magenta: #a20076;
@ffe-purple-violet: #551a8b; // Visited links

// Beige (Deprecated)
@ffe-sand: #f8f5eb; // @ffe-sand + @ffe-sand-25

// White (Deprecated)
@ffe-white: #fff;

// Grey (Deprecated)
@ffe-grey: #adadad;
@ffe-grey-cloud: #f4f4f4; // Background panels
@ffe-grey-silver: #ccc; // Lines, borders, inactive tool elements (slider, etc.)
@ffe-grey-charcoal: #676767;
@ffe-grey-warm: #f6f6f3;

// Black (Deprecated)
@ffe-black: #262626; // Body text, and some other texts

// Deprecated
@ffe-blue-deep-sky: #008ed2; // Deprecated 05.2018 - Use @ffe-blue-azure in stead
@ffe-sand-ivory: #fbfaf5; // Deprecated 05.2018 - Use @ffe-sand or @ffe-grey-warm in stead

// Dark mode. Only for use in a native app context. (Deprecated)
@ffe-black-darkmode: #000000; // Default background color
@ffe-white-darkmode: #ffffff; // Emphasized text
@ffe-grey-charcoal-darkmode: #1c1c1c; // Emphasized surfaces
@ffe-grey-darkmode: #292929; // Interactive surfaces
@ffe-grey-silver-darkmode: #858585; // Borders and accents
@ffe-grey-cloud-darkmode: #cccccc; // Default font color on default background and form labels
@ffe-blue-azure-darkmode: #0a91ff; // Primary interaction and icon color
@ffe-red-darkmode: #ff2424; // Tweaked ffe-red for better contrast
