//
// ======== Ny visuell identitet ========
//

/* DEPRECATED. Skal ikke brukes lenger. Fargene fra colors-semantic skal brukes. */
// Primærpalett
@ffe-farge-fjell: #002776;
@ffe-farge-fjell-70: tint(@ffe-farge-fjell, 30%);
@ffe-farge-fjell-30: tint(@ffe-farge-fjell, 70%);
@ffe-farge-vann: #005aa4;
@ffe-farge-vann-70: tint(@ffe-farge-vann, 30%);
@ffe-farge-vann-30: tint(@ffe-farge-vann, 70%);
@ffe-farge-sand: #f8e9dd;
@ffe-farge-sand-70: tint(@ffe-farge-sand, 30%);
@ffe-farge-sand-30: tint(@ffe-farge-sand, 70%);
@ffe-farge-frost: #7eb5d2;
@ffe-farge-frost-70: tint(@ffe-farge-frost, 30%);
@ffe-farge-frost-30: tint(@ffe-farge-frost, 70%);
@ffe-farge-syrin: #d3d3ea;
@ffe-farge-syrin-70: tint(@ffe-farge-syrin, 30%);
@ffe-farge-syrin-30: tint(@ffe-farge-syrin, 70%);

// Støttefarger
@ffe-farge-myrull: #fae4e0;
@ffe-farge-myrull-70: tint(@ffe-farge-myrull, 30%);
@ffe-farge-myrull-30: tint(@ffe-farge-myrull, 70%);
@ffe-farge-villblomst: #ee8d9c;
@ffe-farge-villblomst-70: tint(@ffe-farge-villblomst, 30%);
@ffe-farge-villblomst-30: tint(@ffe-farge-villblomst, 70%);
@ffe-farge-nordlys: #33af85;
@ffe-farge-nordlys-70: tint(@ffe-farge-nordlys, 30%);
@ffe-farge-nordlys-30: tint(@ffe-farge-nordlys, 70%);
@ffe-farge-lyng: #873953;
@ffe-farge-lyng-70: tint(@ffe-farge-lyng, 30%);
@ffe-farge-lyng-30: tint(@ffe-farge-lyng, 70%);
@ffe-farge-baer: #db3335;
@ffe-farge-baer-70: tint(@ffe-farge-baer, 30%);
@ffe-farge-baer-30: tint(@ffe-farge-baer, 70%);
@ffe-farge-skog: #00754e;
@ffe-farge-skog-70: tint(@ffe-farge-skog, 30%);
@ffe-farge-skog-30: tint(@ffe-farge-skog, 70%);
@ffe-farge-multe: #f8b181;
@ffe-farge-multe-70: tint(@ffe-farge-multe, 30%);
@ffe-farge-multe-30: tint(@ffe-farge-multe, 70%);
@ffe-farge-sol: #dc8000;
@ffe-farge-sol-70: tint(@ffe-farge-sol, 30%);
@ffe-farge-sol-30: tint(@ffe-farge-sol, 70%);

// Nøytrale farger
@ffe-farge-natt: #001032;
@ffe-farge-svart: #020a0a;
@ffe-farge-koksgraa: #323232;
@ffe-farge-moerkgraa: #676767;
@ffe-farge-graa: #adadad;
@ffe-farge-lysgraa: #d8d8d8;
@ffe-farge-moerkvarmgraa: #848383;
@ffe-farge-varmgraa: #9b9797;
@ffe-farge-lysvarmgraa: #d7d2cb;
@ffe-farge-hvit: #fff;
