// Dark mode color scheme
@ffe-black-darkmode: #000000;
@ffe-white-darkmode: #ffffff;
@ffe-grey-charcoal-darkmode: #1c1c1c;
@ffe-grey-darkmode: #292929;
@ffe-grey-silver-darkmode: #858585;
@ffe-grey-cloud-darkmode: #adadad;
@ffe-blue-azure-darkmode: #0a91ff;
@ffe-red-darkmode: #ff2424;

// stylelint-disable stylelint-selector-max-depth
// stylelint-disable selector-max-specificity
// stylelint-disable max-nesting-depth
body.native {
    @media (prefers-color-scheme: dark) {
        // Base styles
        background-color: @ffe-black-darkmode !important;
        color: @ffe-grey-cloud-darkmode !important;
        // Typography
        .ffe-h1,
        .ffe-h2,
        .ffe-h3,
        .ffe-h4,
        .ffe-h5,
        .ffe-h6 {
            color: @ffe-white-darkmode;
        }

        .ffe-lead-paragraph {
            color: @ffe-white-darkmode;
        }

        .ffe-sub-lead-paragraph {
            color: @ffe-grey-cloud-darkmode;
        }

        .ffe-body-paragraph,
        .ffe-em-text {
            color: @ffe-grey-cloud-darkmode;
        }

        .ffe-body-text {
            color: @ffe-grey-cloud-darkmode;

            a {
                color: @ffe-blue-azure-darkmode;
            }
        }

        .ffe-pre-text {
            color: @ffe-grey-cloud-darkmode;
            background-color: @ffe-grey-charcoal-darkmode;
        }

        .ffe-small-text {
            color: @ffe-grey-cloud-darkmode;
        }

        .ffe-micro-text {
            color: @ffe-grey-silver-darkmode;
        }

        .ffe-link-text {
            color: @ffe-blue-azure-darkmode;
            border-color: @ffe-blue-azure-darkmode;

            &:visited,
            &:hover,
            &:active,
            &:focus {
                color: @ffe-blue-azure-darkmode;
                border-color: @ffe-blue-azure-darkmode;
            }
        }

        .ffe-bullet-list li,
        .ffe-bullet-list__item {
            color: @ffe-grey-cloud-darkmode;
        }

        .ffe-description-list .ffe-description-list__term,
        .ffe-description-list-multicol .ffe-description-list__term {
            color: @ffe-grey-cloud-darkmode;
        }

        // Tables
        .ffe-table__row {
            border-color: @ffe-grey-darkmode;
            background-color: @ffe-black-darkmode;
        }

        .ffe-table__row-expandable {
            color: @ffe-white-darkmode;
        }

        .ffe-table__row-expandable--expanded,
        .ffe-table__row-expandable:hover,
        .ffe-table__row-expandable:focus {
            background-color: @ffe-black-darkmode;
            border-color: @ffe-grey-darkmode;
            color: @ffe-white-darkmode;
        }

        .ffe-sortable-table__header {
            color: @ffe-blue-azure-darkmode;
            border-color: @ffe-blue-azure-darkmode;
        }

        .ffe-sortable-table__sort-arrow,
        .ffe-table__expand-icon {
            fill: @ffe-blue-azure-darkmode;
        }

        // Forms
        .ffe-form-label,
        label.ffe-checkbox {
            color: @ffe-grey-silver-darkmode;
        }

        label.ffe-checkbox {
            font-family: MuseoSans-500, arial, sans-serif;
            line-height: 24px;
            color: @ffe-white-darkmode;

            &::before {
                background-color: @ffe-grey-darkmode;
                border-color: @ffe-grey-cloud-darkmode;

                &:hover,
                &:focus {
                    background-color: @ffe-grey-darkmode;
                    border-color: @ffe-white-darkmode;
                    outline: none;
                }
            }
        }

        .ffe-hidden-checkbox:hover + .ffe-checkbox::before {
            border-color: @ffe-grey-cloud-darkmode;
            box-shadow: none;
        }

        label.ffe-radio-button {
            color: @ffe-white-darkmode;
            font-family: MuseoSansRounded-500, Arial, sans-serif;
        }

        .ffe-radio-button::before {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-grey-darkmode;
        }

        .ffe-radio-input:active + .ffe-radio-button::after,
        .ffe-radio-input:focus + .ffe-radio-button::after {
            box-shadow: none;
        }

        .ffe-radio-input:checked + .ffe-radio-button::before {
            background-color: @ffe-blue-azure-darkmode;
            border-color: @ffe-grey-darkmode;
        }

        .ffe-radio-input:checked + .ffe-radio-button::after {
            border-color: @ffe-blue-azure-darkmode;
        }

        .ffe-hidden-checkbox:checked + .ffe-checkbox::before {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-blue-azure-darkmode;
        }

        .ffe-hidden-checkbox:checked + .ffe-checkbox::after {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-blue-azure-darkmode;
        }

        .ffe-form-static {
            color: @ffe-grey-cloud-darkmode;
        }

        .ffe-input-field,
        .ffe-phone-number__plus,
        .ffe-dropdown,
        .ffe-textarea {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-grey-darkmode;
            color: @ffe-white;
            box-shadow: none;
            transition: none;
            /* stylelint-disable */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* stylelint-enable */
        }

        .ffe-input-field:focus,
        .ffe-input-field:active,
        .ffe-dropdown:focus,
        .ffe-dropdown:active,
        .ffe-textarea:focus,
        .ffe-textarea:active {
            box-shadow: none;
            border-color: @ffe-blue-azure-darkmode;
            /* stylelint-disable */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* stylelint-enable */
        }

        .ffe-input-field:hover,
        .ffe-dropdown:hover,
        .ffe-textarea.hover {
            border-color: @ffe-blue-azure-darkmode;
            box-shadow: none;
        }

        .ffe-field-error-message {
            color: @ffe-grey-silver-darkmode;

            &::before {
                background-color: @ffe-red-darkmode;
            }
        }

        .ffe-dropdown {
            svg {
                fill: @ffe-blue-azure-darkmode;
            }
        }

        .ffe-phone-number__plus {
            color: @ffe-grey-silver-darkmode;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: -2px;
                width: 2px;
                /* stylelint-disable */
                height: calc(100% + 4px);
                /* stylelint-enable */
                background-color: @ffe-black-darkmode;
            }
        }

        .ffe-toggle-switch__label {
            color: @ffe-white-darkmode;
        }

        .ffe-tooltip__icon {
            background: @ffe-grey-darkmode;
            color: @ffe-blue-azure-darkmode;
            border-color: @ffe-grey-darkmode;

            &:focus,
            &:hover,
            &:active {
                background: @ffe-grey-darkmode;
                color: @ffe-blue-azure-darkmode;
                border-color: @ffe-grey-darkmode;
                box-shadow: none;
            }
        }

        .ffe-calendar {
            background-color: @ffe-grey-charcoal-darkmode;
            border-color: @ffe-grey-darkmode;

            svg {
                fill: @ffe-blue-azure-darkmode;
            }

            &__date {
                background-color: @ffe-grey-darkmode;
                color: @ffe-white-darkmode;

                &--focus {
                    border-color: @ffe-blue-azure-darkmode;
                }
            }

            &__weekday {
                border-color: @ffe-grey-silver-darkmode;
            }
        }

        .ffe-radio-switch {
            background-color: @ffe-grey-charcoal-darkmode;
            color: @ffe-white-darkmode;
            border-color: @ffe-grey-charcoal-darkmode;

            &::before {
                border-color: @ffe-grey-cloud-darkmode;
                background-color: @ffe-grey-darkmode;
            }
        }

        .ffe-radio-input:checked + .ffe-radio-switch {
            background-color: @ffe-grey-darkmode;
            color: @ffe-blue-azure-darkmode;
            border-color: @ffe-grey-darkmode;
        }

        .ffe-radio-input:checked + .ffe-radio-switch::before {
            background-color: @ffe-blue-azure-darkmode;
            border-color: @ffe-white-darkmode;
        }

        .ffe-radio-input:hover + .ffe-radio-switch {
            border-color: transparent;
        }

        .ffe-radio-input:checked
            + .ffe-radio-switch:not(.ffe-radio-button--invalid) {
            border-color: transparent;
        }

        .ffe-check-list--bg-sand > .ffe-check-list__item {
            background-color: @ffe-grey-charcoal-darkmode;
            color: @ffe-white-darkmode;

            &::before {
                /* stylelint-disable */
                filter: invert(46%) sepia(81%) saturate(3349%)
                    hue-rotate(188deg) brightness(101%) contrast(103%);
                /* stylelint-enable */
            }
        }

        .ffe-searchable-dropdown {
            &__scroll-container {
                border-color: @ffe-grey-cloud-darkmode;
            }

            &__item {
                background-color: @ffe-grey-darkmode;
                border-color: @ffe-grey-silver-darkmode;

                &--header {
                    color: @ffe-white-darkmode;
                }
            }
        }

        .ffe-base-selector__suggestion-container {
            .ffe-account-suggestion {
                background-color: @ffe-grey-darkmode;
                border-color: @ffe-grey-silver-darkmode;

                &__details {
                    color: @ffe-grey-cloud-darkmode;
                }
            }

            .ffe-link-text {
                color: @ffe-white-darkmode;
            }
        }

        .ffe-account-selector__details {
            color: @ffe-grey-silver-darkmode;
        }

        .ffe-field-info-message {
            color: @ffe-grey-cloud-darkmode;

            &::before {
                background-color: @ffe-blue-azure-darkmode;
                color: @ffe-white-darkmode;
            }
        }

        // Message boxes
        .ffe-context-message,
        .ffe-system-message-wrapper {
            background-color: @ffe-grey-charcoal-darkmode;
            color: @ffe-grey-cloud-darkmode;

            &-content {
                a {
                    color: @ffe-blue-azure-darkmode;
                }

                &__icon {
                    background-color: @ffe-grey-darkmode;

                    &-svg {
                        fill: @ffe-white-darkmode !important;
                    }
                }

                &__header {
                    color: @ffe-white-darkmode;
                }
            }
        }

        .ffe-message-box__box--success,
        .ffe-message-box__box--info,
        .ffe-message-box__box--error,
        .ffe-message-box__box--tips {
            background-color: @ffe-grey-charcoal-darkmode;
        }

        .ffe-message-box__icon {
            background-color: @ffe-black-darkmode;

            &--info svg,
            &--tips svg,
            &--success svg {
                fill: @ffe-blue-azure-darkmode;
            }

            &--error svg {
                fill: @ffe-red-darkmode;
            }
        }

        // Buttons
        .ffe-button--action {
            background-color: @ffe-grey-darkmode;
            border: 2px solid @ffe-blue-azure-darkmode;
            color: @ffe-blue-azure-darkmode;

            &:hover,
            &:focus {
                background-color: @ffe-grey-darkmode;
                border: 2px solid @ffe-blue-azure-darkmode;
                color: @ffe-blue-azure-darkmode;
            }
        }

        .ffe-button--action.ffe-button--ghost,
        .ffe-button--action.ffe-button--ghost:hover,
        .ffe-button--action.ffe-button--ghost:focus {
            background-color: @ffe-grey-darkmode;
            border: 2px solid @ffe-blue-azure-darkmode;
            color: @ffe-blue-azure-darkmode;

            &:hover {
                background-color: @ffe-grey-darkmode;
            }
        }

        .ffe-button--primary,
        .ffe-button--primary:hover,
        .ffe-button--primary:focus,
        .ffe-button--primary:active,
        .ffe-button:visited {
            background-color: @ffe-grey-darkmode;
            border: 2px solid @ffe-grey-darkmode;
            color: @ffe-blue-azure-darkmode;
            box-shadow: none;
        }

        .ffe-button--secondary,
        .ffe-button--secondary:hover,
        .ffe-button--secondary:focus,
        .ffe-button--secondary:active {
            background-color: @ffe-grey-charcoal-darkmode;
            border-color: @ffe-grey-charcoal-darkmode;
            color: @ffe-blue-azure-darkmode;
            box-shadow: none;
        }

        .ffe-inline-button,
        .ffe-inline-button:hover,
        .ffe-inline-button:focus {
            color: @ffe-blue-azure-darkmode;
            border: none;

            svg {
                fill: @ffe-blue-azure-darkmode;
            }
        }

        .ffe-tab-button {
            background-color: @ffe-grey-charcoal-darkmode;
            border-color: @ffe-grey-charcoal-darkmode;
            color: @ffe-grey-silver-darkmode;

            &:active,
            &:hover {
                box-shadow: none;
                border-color: @ffe-grey-charcoal-darkmode;
                color: @ffe-grey-silver-darkmode;
            }
        }

        .ffe-tab-button--selected {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-grey-darkmode;
            color: @ffe-blue-azure-darkmode;

            &:active,
            &:hover {
                box-shadow: none;
                border-color: @ffe-grey-darkmode;
                color: @ffe-blue-azure-darkmode;
            }
        }

        .ffe-button--task,
        .ffe-button--task:active,
        .ffe-button--task:hover,
        .ffe-button--task:focus {
            color: @ffe-blue-azure-darkmode;

            .ffe-button__icon {
                background-color: @ffe-grey-darkmode;
                fill: @ffe-blue-azure-darkmode;
                border-color: @ffe-blue-azure-darkmode;
                box-shadow: none;
            }
        }

        .ffe-button--expand {
            background-color: @ffe-grey-darkmode;
            color: @ffe-blue-azure-darkmode;
            border-color: @ffe-blue-azure-darkmode;
        }

        .ffe-button--secondary:active,
        .ffe-button--shortcut:active,
        .ffe-button--expand:active,
        .ffe-button--secondary:focus,
        .ffe-button--shortcut:focus,
        .ffe-button--expand:focus,
        .ffe-button--secondary:hover,
        .ffe-button--shortcut:hover,
        .ffe-button--expand:hover,
        .ffe-button--secondary:visited,
        .ffe-button--shortcut:visited,
        .ffe-button--expand:visited {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-blue-azure-darkmode;
            color: @ffe-blue-azure-darkmode;
            box-shadow: none;
        }

        .ffe-button--shortcut,
        .ffe-button.ffe-button--shortcut.ffe-button--condensed {
            background-color: @ffe-grey-charcoal-darkmode;
            border-color: @ffe-grey-charcoal-darkmode;
        }

        // Accordion
        .ffe-accordion-item,
        .ffe-accordion-item--open,
        .ffe-accordion-item:last-of-type {
            border-color: @ffe-grey-silver-darkmode;
            outline: none;

            & > div {
                outline: none;
            }
        }

        .ffe-accordion-item__title {
            color: @ffe-blue-azure-darkmode;
            outline: none;
        }

        .ffe-accordion-item__icon,
        .ffe-accordion-item__icon--open,
        .ffe-accordion-item__toggler:hover .ffe-accordion-item__icon,
        .ffe-accordion-item__toggler:focus .ffe-accordion-item__icon {
            fill: @ffe-blue-azure-darkmode;
        }

        .ffe-accordion--blue .ffe-accordion-item__toggler,
        .ffe-accordion--blue
            .ffe-accordion-item--open
            .ffe-accordion-item__toggler {
            background-color: @ffe-grey-darkmode;
        }

        .ffe-accordion--blue .ffe-accordion-item__toggler:hover,
        .ffe-accordion--blue .ffe-accordion-item__toggler:focus {
            background-color: @ffe-grey-darkmode;
        }

        .ffe-accordion--blue .ffe-accordion-item__icon {
            fill: @ffe-blue-azure-darkmode;
        }

        .ffe-accordion--blue
            .ffe-accordion-item__toggler:hover
            .ffe-accordion-item__icon,
        .ffe-accordion--blue
            .ffe-accordion-item__toggler:focus
            .ffe-accordion-item__icon {
            fill: @ffe-blue-azure-darkmode;
        }

        .ffe-accordion-item--open .ffe-accordion-item__icon {
            fill: @ffe-blue-azure-darkmode;
        }

        // Cards
        .ffe-card-base,
        .ffe-card-base:hover,
        .ffe-card-base:active,
        .ffe-card-base:focus {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-grey-darkmode;
            box-shadow: none;
        }

        .ffe-product-card,
        .ffe-link-card {
            background-color: @ffe-grey-darkmode;
            border-color: @ffe-grey-darkmode;
        }

        .ffe-icon-card__icon {
            fill: @ffe-blue-azure-darkmode;
        }

        // Grid
        .ffe-grid__row--bg {
            &-blue-ice,
            &-blue-pale,
            &-green-mint,
            &-grey-cloud,
            &-sand,
            &-grey-warm,
            &-orange-salmon,
            &-blue-sky {
                background-color: @ffe-black-darkmode;
            }
        }

        // Decorators
        .ffe-divider-line {
            border-color: @ffe-grey-darkmode;
        }

        .ffe-wizard__step-index {
            border-color: @ffe-white-darkmode;
        }

        .ffe-content-container--bg-sand {
            background-color: @ffe-grey-charcoal-darkmode;
        }
    }
}
