/* GAB: Use border-box: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html,
:host {
    box-sizing: border-box;
    font-size: 100%; /* 16 px base in most browsers */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* stylelint-disable */
@supports (font: -apple-system-body) {
    :root:has(.native),
    :host:has(.native) {
        /* must be DIRECTLY applied to the html element */
        font: -apple-system-body;
    }
}
