/* GAB: Use border-box: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html,
:host {
    box-sizing: border-box;
    font-size: 100%; /* 16 px base in most browsers */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* stylelint-disable */
@supports (font: -apple-system-body) {
    :root,
    :host {
        font: -apple-system-body;
        font-size: 100%;
    }
}
