/*
 *   These fonts should work fine for the following browser versions:
 *
 *   Chrome	   Safari	Firefox	   Opera	IE	 Android	iOS
 *   3.5+	   3+	    3.5+	   10.1+	9+	 2.2+	    4.3+
 */
@base-url: ".";
@font-url: "@{base-url}/fonts";

@font-face {
    font-family: 'MuseoSans-300';
    src:
        url('@{font-url}/2FDE32_0_0.woff2') format('woff2'),
        url('@{font-url}/2FDE32_0_0.woff') format('woff'),
        url('@{font-url}/2FDE32_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSans-500';
    src:
        url('@{font-url}/2FDE32_1_0.woff2') format('woff2'),
        url('@{font-url}/2FDE32_1_0.woff') format('woff'),
        url('@{font-url}/2FDE32_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-300';
    src:
        url('@{font-url}/2FDE32_2_0.woff2') format('woff2'),
        url('@{font-url}/2FDE32_2_0.woff') format('woff'),
        url('@{font-url}/2FDE32_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-500';
    src:
        url('@{font-url}/2FDE32_3_0.woff2') format('woff2'),
        url('@{font-url}/2FDE32_3_0.woff') format('woff'),
        url('@{font-url}/2FDE32_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansRounded-700';
    src:
        url('@{font-url}/2FDE32_4_0.woff2') format('woff2'),
        url('@{font-url}/2FDE32_4_0.woff') format('woff'),
        url('@{font-url}/2FDE32_4_0.ttf') format('truetype');
}
