.ffe-native,
.ffe-native * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
}

.ffe-native input,
.ffe-native textarea,
.ffe-native [contenteditable] {
    user-select: text;
}

.ffe-selectable,
.ffe-selectable * {
    user-select: text;
    -webkit-touch-callout: default;
}

.ffe-selectable-all,
.ffe-selectable-all * {
    user-select: text;
    user-select: all;
    -webkit-touch-callout: default;
}
