.ffe-native.ffe-native-ready,
.ffe-native.ffe-native-ready *,
.ffe-native .ffe-native-ready,
.ffe-native .ffe-native-ready * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    touch-action: manipulation;
}

.ffe-native.ffe-native-ready input,
.ffe-native.ffe-native-ready textarea,
.ffe-native.ffe-native-ready [contenteditable],
.ffe-native .ffe-native-ready input,
.ffe-native .ffe-native-ready textarea,
.ffe-native .ffe-native-ready [contenteditable] {
    user-select: text;
}

.ffe-selectable,
.ffe-selectable * {
    user-select: text;
    -webkit-touch-callout: default;
}

.ffe-selectable-all,
.ffe-selectable-all * {
    user-select: text;
    user-select: all;
    -webkit-touch-callout: default;
}
