// Base value
@ffe-spacing: 8px;

@ffe-spacing-2xs: (@ffe-spacing * 0.5); // 4px
@ffe-spacing-xs: @ffe-spacing; // 8px
@ffe-spacing-sm: (@ffe-spacing * 2); // 16px
@ffe-spacing-md: (@ffe-spacing * 3); // 24px
@ffe-spacing-lg: (@ffe-spacing * 4); // 32px
@ffe-spacing-xl: (@ffe-spacing * 5); // 40px
@ffe-spacing-2xl: (@ffe-spacing * 6); // 48px
@ffe-spacing-3xl: (@ffe-spacing * 8); // 64px
@ffe-spacing-4xl: (@ffe-spacing * 10); // 80px
@ffe-spacing-5xl: (@ffe-spacing * 20); // 160px
