@import (reference) 'breakpoints';

/**
 * These variables are intended to support theming of components. Override any value to create your own look and feel.
 */
:root,
:host {
    /* DEPRICATED, bruk colors-semantic i stedet for */

    /** Primærpalett */
    --ffe-farge-fjell: @ffe-farge-fjell;
    --ffe-farge-fjell-70: @ffe-farge-fjell-70;
    --ffe-farge-fjell-30: @ffe-farge-fjell-30;
    --ffe-farge-vann: @ffe-farge-vann;
    --ffe-farge-vann-70: @ffe-farge-vann-70;
    --ffe-farge-vann-30: @ffe-farge-vann-30;
    --ffe-farge-sand: @ffe-farge-sand;
    --ffe-farge-sand-70: @ffe-farge-sand-70;
    --ffe-farge-sand-30: @ffe-farge-sand-30;
    --ffe-farge-frost: @ffe-farge-frost;
    --ffe-farge-frost-70: @ffe-farge-frost-70;
    --ffe-farge-frost-30: @ffe-farge-frost-30;
    --ffe-farge-syrin: @ffe-farge-syrin;
    --ffe-farge-syrin-70: @ffe-farge-syrin-70;
    --ffe-farge-syrin-30: @ffe-farge-syrin-30;

    /** Støttefarger */
    --ffe-farge-myrull: @ffe-farge-myrull;
    --ffe-farge-myrull-70: @ffe-farge-myrull-70;
    --ffe-farge-myrull-30: @ffe-farge-myrull-30;
    --ffe-farge-villblomst: @ffe-farge-villblomst;
    --ffe-farge-villblomst-70: @ffe-farge-villblomst-70;
    --ffe-farge-villblomst-30: @ffe-farge-villblomst-30;
    --ffe-farge-nordlys: @ffe-farge-nordlys;
    --ffe-farge-nordlys-70: @ffe-farge-nordlys-70;
    --ffe-farge-nordlys-30: @ffe-farge-nordlys-30;
    --ffe-farge-lyng: @ffe-farge-lyng;
    --ffe-farge-lyng-70: @ffe-farge-lyng-70;
    --ffe-farge-lyng-30: @ffe-farge-lyng-30;
    --ffe-farge-baer: @ffe-farge-baer;
    --ffe-farge-baer-70: @ffe-farge-baer-70;
    --ffe-farge-baer-30: @ffe-farge-baer-30;
    --ffe-farge-skog: @ffe-farge-skog;
    --ffe-farge-skog-70: @ffe-farge-skog-70;
    --ffe-farge-skog-30: @ffe-farge-skog-30;
    --ffe-farge-multe: @ffe-farge-multe;
    --ffe-farge-multe-70: @ffe-farge-multe-70;
    --ffe-farge-multe-30: @ffe-farge-multe-30;
    --ffe-farge-sol: @ffe-farge-sol;
    --ffe-farge-sol-70: @ffe-farge-sol-70;
    --ffe-farge-sol-30: @ffe-farge-sol-30;

    /** Nøytrale farger */
    --ffe-farge-natt: @ffe-farge-natt;
    --ffe-farge-svart: @ffe-farge-svart;
    --ffe-farge-koksgraa: @ffe-farge-koksgraa;
    --ffe-farge-moerkgraa: @ffe-farge-moerkgraa;
    --ffe-farge-graa: @ffe-farge-graa;
    --ffe-farge-lysgraa: @ffe-farge-lysgraa;
    --ffe-farge-moerkvarmgraa: @ffe-farge-moerkvarmgraa;
    --ffe-farge-varmgraa: @ffe-farge-varmgraa;
    --ffe-farge-lysvarmgraa: @ffe-farge-lysvarmgraa;
    --ffe-farge-hvit: @ffe-farge-hvit;

    /* END depricated */

    /** Font sizes */
    --ffe-fontsize-body-text: 1rem;
    --ffe-fontsize-small-text: 0.875rem;
    --ffe-fontsize-micro-text: 0.75rem;
    --ffe-fontsize-lead-paragraph: 1.125rem;
    --ffe-fontsize-sub-lead-paragraph: 1.063rem;
    --ffe-fontsize-h1: 1.75rem;
    --ffe-fontsize-h2: 1.5rem;
    --ffe-fontsize-h3: 1.25rem;
    --ffe-fontsize-h4: 1.125rem;
    --ffe-fontsize-h5: 1.0625rem;
    --ffe-fontsize-h6: 1rem;
    --ffe-fontsize-form-input: 1rem;
    --ffe-fontsize-form-dropdown: 1rem;
    --ffe-fontsize-button: 1rem;

    /** Breakpoints */
    --breakpoint-sm: @breakpoint-sm;
    --breakpoint-md: @breakpoint-md;
    --breakpoint-lg: @breakpoint-lg;
    --breakpoint-xl: @breakpoint-xl;

    /** Dimensions */
    --app-width: @app-width;
    --app-width-min: @app-width-min;
    --app-margin: @app-margin;

    /** Motion */
    --ffe-ease-in-out-back: @ffe-ease-in-out-back;
    --ffe-ease: @ffe-ease;
    --ffe-transition-duration: @ffe-transition-duration;

    /** Spacing */
    --ffe-spacing: @ffe-spacing;
    --ffe-spacing-2xs: @ffe-spacing-2xs;
    --ffe-spacing-xs: @ffe-spacing-xs;
    --ffe-spacing-sm: @ffe-spacing-sm;
    --ffe-spacing-md: @ffe-spacing-md;
    --ffe-spacing-lg: @ffe-spacing-lg;
    --ffe-spacing-xl: @ffe-spacing-xl;
    --ffe-spacing-2xl: @ffe-spacing-2xl;
    --ffe-spacing-3xl: @ffe-spacing-3xl;
    --ffe-spacing-4xl: @ffe-spacing-4xl;
    --ffe-spacing-5xl: @ffe-spacing-5xl;

    @media (min-width: @breakpoint-sm) {
        --ffe-fontsize-lead-paragraph: 1.5rem;
        --ffe-fontsize-sub-lead-paragraph: 1.125rem;
        --ffe-fontsize-h1: 2.5rem;
        --ffe-fontsize-h2: 2rem;
        --ffe-fontsize-h3: 1.688rem;
        --ffe-fontsize-h4: 1.375rem;
        --ffe-fontsize-h5: 1.125rem;
    }

    @media (min-width: @breakpoint-lg) {
        --ffe-fontsize-h1: 2.875rem;
        --ffe-fontsize-h2: 2.25rem;
        --ffe-fontsize-h3: 1.75rem;
    }

    /** Theme base colors */

    /* Links, buttons and similar */
    --ffe-g-primary-color: var(--ffe-color-fill-primary-default); //Depricated

    /* Headings, labels, hover, etc */
    --ffe-g-secondary-color: var(--ffe-color-foreground-emphasis); //Depricated

    /* Error messages, invalid inputs, etc  */
    --ffe-g-error-color: var(--ffe-color-fill-feedback-critical); //Depricated

    /* Form element borders */
    --ffe-g-border-color: var(--ffe-color-border-primary-default); //Depricated

    /* Default font */
    --ffe-g-font: 'SpareBank1-regular', arial, sans-serif;

    /* h1 - h2 */
    --ffe-g-font-heading: 'SpareBank1-title-medium', arial, sans-serif;

    /* h3 - h6 */
    --ffe-g-font-heading-small: 'SpareBank1-medium', arial, sans-serif;

    /* Bold text */
    --ffe-g-font-strong: 'SpareBank1-medium', arial, sans-serif;

    /* Emphasized text */
    --ffe-g-font-italic: 'SpareBank1-italic', arial, sans-serif;

    /** Typography */

    /* Default body text color */
    --ffe-g-text-color: var(--ffe-color-foreground-default);

    /* Lead paragraph */
    --ffe-g-lead-color: var(--ffe-color-border-primary-subtle);

    /* Headings */
    --ffe-g-heading-color: var(--ffe-color-border-primary-emphasis);

    /* Links */
    --ffe-g-link-color: var(--ffe-color-foreground-interactive-link);
    --ffe-g-link-color-hover: var(
        --ffe-color-foreground-interactive-link-hover
    );
    --ffe-g-link-color-visited: var(
        --ffe-color-foreground-interactive-link-pressed
    );
    --ffe-g-link-icon-color-hover: var(
        --ffe-color-foreground-interactive-link-hover
    );
    --ffe-g-link-icon-color-focus: var(
        --ffe-color-foreground-interactive-link-pressed
    );
}
