@import 'breakpoints';

.ffe-h1 {
    line-height: 2.25rem;
    font-size: var(--ffe-fontsize-h1);
}

.ffe-h2 {
    line-height: 1.75rem;
    font-size: var(--ffe-fontsize-h2);
}

.ffe-h3 {
    line-height: 1.5rem;
    font-size: var(--ffe-fontsize-h3);
}

.ffe-h4 {
    line-height: 1.5rem;
    font-size: var(--ffe-fontsize-h4);
}

.ffe-h5 {
    line-height: 1.25rem;
    font-size: var(--ffe-fontsize-h5);
}

.ffe-h6 {
    line-height: 1.25rem;
    font-size: var(--ffe-fontsize-h6);
}

.ffe-small-text,
.ffe-micro-text {
    color: var(--ffe-color-foreground-default);
    font-family: var(--ffe-g-font);
    font-weight: normal;
    font-variant-numeric: tabular-nums;
    line-height: 1.25rem;
    margin: 0;
}

.ffe-small-text {
    font-size: var(--ffe-fontsize-small-text);
}

.ffe-micro-text {
    font-size: var(--ffe-fontsize-micro-text);

    &--strong {
        font-family: var(--ffe-g-font-strong);
    }
}

.ffe-h1,
.ffe-h2,
.ffe-h3,
.ffe-h4,
.ffe-h5,
.ffe-h6 {
    color: var(--ffe-color-foreground-emphasis);
    font-weight: normal;
    margin-bottom: var(--ffe-spacing-xs);
    margin-top: 0;
    text-wrap: balance;
    overflow-wrap: anywhere;

    &--error {
        color: var(--ffe-color-foreground-feedback-critical);
    }

    &--inline {
        display: inline-block;
    }

    &--no-margin {
        margin: 0;
    }

    &--with-border {
        border-bottom: var(--ffe-g-border-width) solid
            var(--ffe-color-foreground-emphasis);
        padding-bottom: var(--ffe-spacing-xs);
    }

    &--no-underline {
        text-decoration: none;
    }

    &--text-center {
        text-align: center;
    }
}

.ffe-h1,
.ffe-h2 {
    font-family: var(--ffe-g-font-heading);
}

.ffe-h3,
.ffe-h4,
.ffe-h5,
.ffe-h6 {
    font-family: var(--ffe-g-font-heading-small);
    font-variant-numeric: tabular-nums;
}

.ffe-body-text {
    color: var(--ffe-color-foreground-default);
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    line-height: 1.5rem;
    font-size: var(--ffe-fontsize-body-text);
}

.ffe-body-paragraph {
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    margin-bottom: 1em;
    margin-top: 0;
    line-height: 1.5rem;
    color: var(--ffe-color-foreground-default);
    text-wrap: pretty;

    &--text-center {
        text-align: center;
    }

    &--text-left {
        text-align: left;
    }
}

.ffe-lead-paragraph,
.ffe-sub-lead-paragraph {
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    margin-top: 0;
    margin-bottom: 1em;
    text-wrap: pretty;
}

.ffe-lead-paragraph {
    color: var(--ffe-color-foreground-emphasis);
    line-height: 1.5rem;
    font-size: var(--ffe-fontsize-lead-paragraph);
}

.ffe-sub-lead-paragraph {
    color: var(--ffe-color-foreground-default);
    line-height: 1.5rem;
    font-size: var(--ffe-fontsize-sub-lead-paragraph);
}

.ffe-body-paragraph--no-margin {
    margin: 0;
}

.ffe-link-text {
    border-bottom: var(--ffe-g-border-width) solid
        var(--ffe-color-foreground-interactive-link);
    color: var(--ffe-color-foreground-interactive-link);
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-all;
    line-height: 1em;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-bottom-color: var(
                --ffe-color-foreground-interactive-link-hover
            );
            color: var(--ffe-color-foreground-interactive-link-hover);
            text-decoration: none;
        }
    }

    &--no-underline {
        border-bottom: none;
    }

    &:focus {
        color: var(--ffe-color-foreground-interactive-link-pressed);
        border-radius: 1px;
        box-shadow: 0 0 0 2px var(--ffe-color-border-interactive-focus);
        outline: none;
        border-bottom-color: transparent;
    }
}

.ffe-link-icon {
    fill: var(--ffe-color-foreground-interactive-link);
    display: inline-flex;
    border-radius: 1.5rem;
    border: 2px solid transparent;
    outline: 0;
    padding: var(--ffe-spacing-2xs);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            fill: var(--ffe-color-foreground-interactive-link-hover);
        }
    }

    &:focus {
        box-shadow: 0 0 0 2px
            var(--ffe-color-foreground-interactive-link-pressed);
    }
}

.ffe-divider-line {
    border: none;
    border-bottom: var(--ffe-g-border-width) solid
        var(--ffe-color-border-primary-default);
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
}

.ffe-strong-text {
    font-family: var(--ffe-g-font-strong);
    color: var(--ffe-color-foreground-default);
    font-variant-numeric: tabular-nums;
    font-weight: normal;
}

.ffe-em-text {
    font-family: var(--ffe-g-font-italic);
    font-variant-numeric: tabular-nums;
    font-weight: normal;
    font-style: normal;
    color: var(--ffe-color-foreground-default);
}

.ffe-pre-text {
    background-color: var(--ffe-color-background-subtle);
    color: var(--ffe-color-foreground-default);
    font-family: consolas, menlo, monaco, monospace;
    margin: 0;
    text-align: left;
}

.ffe-inline-separator {
    margin: 0 4px;
}

@media (min-width: @breakpoint-sm) {
    .ffe-h1 {
        line-height: 3.5rem;
    }

    .ffe-h2 {
        line-height: 2.75rem;
    }

    .ffe-h3 {
        line-height: 2.25rem;
    }

    .ffe-h4 {
        line-height: 1.75rem;
    }

    .ffe-h5 {
        line-height: 1.5rem;
    }

    .ffe-h6 {
        line-height: 1.25rem;
    }

    .ffe-h1,
    .ffe-h2,
    .ffe-h3,
    .ffe-h4,
    .ffe-h5,
    .ffe-h6 {
        margin-bottom: var(--ffe-spacing-sm);

        &--no-margin {
            margin: 0;
        }
    }

    .ffe-lead-paragraph {
        line-height: 2rem;
    }

    .ffe-sub-lead-paragraph {
        line-height: 1.75rem;
    }

    .ffe-body-text,
    .ffe-body-paragraph {
        line-height: 1.5rem;
    }

    .ffe-small-text {
        line-height: 1.25rem;
    }

    .ffe-micro-text {
        line-height: 1.25rem;
    }
}

@media (min-width: @breakpoint-lg) {
    .ffe-h1,
    .ffe-h2,
    .ffe-h3,
    .ffe-h4,
    .ffe-h5,
    .ffe-h6 {
        margin-bottom: var(--ffe-spacing-md);

        &--no-margin {
            margin: 0;
        }
    }
}

.ffe-body-text,
.ffe-body-paragraph,
.ffe-lead-paragraph,
.ffe-sub-lead-paragraph,
.ffe-link-text,
.ffe-strong-text,
.ffe-em-text,
.ffe-pre-text,
.ffe-small-text,
.ffe-micro-text {
    overflow-wrap: anywhere;
}
