@import 'breakpoints';
@import 'colors';
@import 'font-sizes';

// Heading
//
// Markup:
// <h1 class="ffe-h1">Overskrift nivå 1</h1>
// <h2 class="ffe-h2">Overskrift nivå 2</h2>
// <h3 class="ffe-h3">Overskrift nivå 3</h3>
// <h4 class="ffe-h4">Overskrift nivå 4</h4>
// <h5 class="ffe-h5">Overskrift nivå 5</h5>
// <h6 class="ffe-h6">Overskrift nivå 6</h6>
//
// Styleguide ffe-core.typography.headings

// Heading classes
//
// Markup:
// <div class="{{modifier_class}}">Overskrift</div>
//
// .ffe-h1 - nivå 1
// .ffe-h2 - nivå 2
// .ffe-h3 - nivå 3
// .ffe-h4 - nivå 4
// .ffe-h5 - nivå 5
// .ffe-h6 - nivå 6
//
// Styleguide ffe-core.typography.headings-classes

// Heading modifiers
//
// Markup:
// <div class="ffe-h3 ffe-h3{{modifier_class}}">Overskrift</div>
//
// --error         - Error
// --inline        - Inline
// --no-margin     - No margin
// --with-border   - With border
// --no-underline  - No underline
//
// Styleguide ffe-core.typography.headings-modifiers

// Body paragraph
//
// Markup:
// <p class="ffe-body-paragraph {{modifier_class}}">
//    Velg en av bankene våre, og bruk BankID for å bli kunde. Nettbank og
//    mobilbank får du med en gang, og bankkortet kommer i posten om en ukes
//    tid.
// </p>
//
// .ffe-body-paragraph--text-center - Centered
// .ffe-body-paragraph--text-left   - Aligned left
//
// Styleguide ffe-core.typography.body-paragraph

// Lead paragraph
//
// Markup:
// <p class="ffe-lead-paragraph">
//    Velg en av bankene våre, og bruk BankID for å bli kunde. Nettbank og
//    mobilbank får du med en gang, og bankkortet kommer i posten om en ukes
//    tid.
// </p>
// <p class="ffe-sub-lead-paragraph">
//    Velg en av bankene våre, og bruk BankID for å bli kunde. Nettbank og
//    mobilbank får du med en gang, og bankkortet kommer i posten om en ukes
//    tid.
// </p>
// <p class="ffe-body-paragraph">
//    Velg en av bankene våre, og bruk BankID for å bli kunde. Nettbank og
//    mobilbank får du med en gang, og bankkortet kommer i posten om en ukes
//    tid.
// </p>
//
// Styleguide ffe-core.typography.lead-paragraph

// Small text
//
// Markup:
// <div class="ffe-small-text">Dette er en liten type</div>
//
// Styleguide ffe-core.typography.small-text

// Micro text
//
// Markup:
// <div class="ffe-micro-text">Dette er den minste typen vi har</div>
//
// Styleguide ffe-core.typography.micro-text

// Strong text
//
// Markup:
// <div class="ffe-strong-text">Dette er en sterk type</div>
//
// Styleguide ffe-core.typography.strong-text

// Emphasized text
//
// Markup:
// <div class="ffe-em-text">Dette bør utheves</div>
//
// Styleguide ffe-core.typography.em-text

// Preformatted text
//
// Markup:
// <pre class="ffe-pre-text">
//    Gammal dam
//    Ein frosk hoppar
//    Lyden av vatnet
// </pre>
//
// Styleguide ffe-core.typography.pre-text

// Divider line
//
// Markup:
// <hr class="ffe-divider-line"/>
//
// Styleguide ffe-core.typography.divider-line

// Inline separator
//
// Markup:
// <hr class="ffe-inline-seperator"/>
//
// Styleguide ffe-core.typography.inline-seperator

// Link
//
// Markup:
// <a class="ffe-link-text {{modifier_class}}" href="#na">Link text</a>
//
// :hover - Hover state
// .ffe-link-text--no-underline - not underlined
//
// Styleguide ffe-core.typography.link-text

.ffe-h1 {
    line-height: 2.25rem;
    .ffe-fontsize-h1();
}

.ffe-h2 {
    line-height: 1.75rem;
    .ffe-fontsize-h2();
}

.ffe-h3 {
    line-height: 1.5rem;
    .ffe-fontsize-h3();
}

.ffe-h4 {
    line-height: 1.5rem;
    .ffe-fontsize-h4();
}

.ffe-h5 {
    line-height: 1.25rem;
    .ffe-fontsize-h5();
}

.ffe-h6 {
    line-height: 1.25rem;
    .ffe-fontsize-h6();
}

.ffe-small-text {
    color: @ffe-farge-svart;
    font-family: 'SpareBank1-regular', 'MuseoSans-500', arial, sans-serif;
    font-weight: normal;
    font-variant-numeric: tabular-nums;
    line-height: 1.25rem;
    .ffe-fontsize-small-text();
    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-lysgraa;
        }
    }
}

.ffe-micro-text {
    color: @ffe-farge-svart;
    font-family: 'SpareBank1-regular', 'MuseoSans-500', arial, sans-serif;
    font-weight: normal;
    font-variant-numeric: tabular-nums;
    line-height: 1.25rem;
    .ffe-fontsize-micro-text();
    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-lysgraa;
        }
    }
}

.ffe-h1,
.ffe-h2,
.ffe-h3,
.ffe-h4,
.ffe-h5,
.ffe-h6 {
    color: @ffe-farge-fjell;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-vann-70;
        }
    }

    &--error {
        color: @ffe-farge-baer-wcag;
        .native & {
            @media (prefers-color-scheme: dark) {
                color: @ffe-farge-baer;
            }
        }
    }

    &--inline {
        display: inline-block;
    }

    &--no-margin {
        margin: 0;
    }

    &--with-border {
        border-bottom: 1px solid @ffe-farge-lysgraa;
        padding-bottom: 10px;
        .native & {
            @media (prefers-color-scheme: dark) {
                border-color: @ffe-farge-graa;
            }
        }
    }

    &--no-underline {
        text-decoration: none;
    }

    &--text-center {
        text-align: center;
    }
}

.ffe-h1,
.ffe-h2 {
    font-family: 'SpareBank1-title-medium', 'MuseoSansRounded-700', arial,
        sans-serif;
}

.ffe-h3,
.ffe-h4,
.ffe-h5,
.ffe-h6 {
    font-family: 'SpareBank1-medium', 'MuseoSansRounded-700', arial, sans-serif;
    font-variant-numeric: tabular-nums;
}

.ffe-body-text {
    color: @ffe-farge-svart;
    font-family: 'SpareBank1-regular', 'MuseoSans-500', arial, sans-serif;
    font-variant-numeric: tabular-nums;
    line-height: 1.5rem;
    .ffe-fontsize-body-text();
    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-lysgraa;
        }
    }
}

.ffe-body-paragraph {
    font-family: 'SpareBank1-regular', 'MuseoSans-500', arial, sans-serif;
    font-variant-numeric: tabular-nums;
    margin-bottom: 1em;
    margin-top: 0;
    line-height: 1.5rem;
    color: @ffe-farge-svart;
    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-lysgraa;
        }
    }

    &--text-center {
        text-align: center;
    }

    &--text-left {
        text-align: left;
    }
}

.ffe-lead-paragraph,
.ffe-sub-lead-paragraph {
    font-family: 'SpareBank1-regular', 'MuseoSans-500', arial, sans-serif;
    font-variant-numeric: tabular-nums;
    margin-top: 0;
}

.ffe-lead-paragraph {
    color: @ffe-farge-fjell;
    line-height: 1.5rem;
    .ffe-fontsize-lead-paragraph();
    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-hvit;
        }
    }
}

.ffe-sub-lead-paragraph {
    color: @ffe-farge-svart;
    line-height: 1.5rem;
    .ffe-fontsize-sub-lead-paragraph();
    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-lysgraa;
        }
    }
}

.ffe-link-text {
    border-bottom: 1px solid @ffe-farge-vann;
    color: @ffe-farge-vann;
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-word;
    line-height: 1em;
    transition: all @ffe-transition-duration @ffe-ease;

    .native & {
        @media (prefers-color-scheme: dark) {
            color: @ffe-farge-vann-70;
            border-color: @ffe-farge-vann-70;
        }
    }

    &:hover {
        border-bottom-color: @ffe-farge-fjell;
        color: @ffe-farge-fjell;
        text-decoration: none;
        .native & {
            @media (prefers-color-scheme: dark) {
                color: @ffe-farge-vann-30;
                border-color: @ffe-farge-vann-30;
            }
        }
    }

    &:visited {
        border-bottom-color: @ffe-farge-lyng;
        color: @ffe-farge-lyng;
        text-decoration: none;
        .native & {
            @media (prefers-color-scheme: dark) {
                color: @ffe-farge-lyng-70;
                border-color: @ffe-farge-lyng-70;
            }
        }
    }

    &--no-underline {
        border-bottom: none;
    }

    &:focus {
        border-color: @ffe-farge-hvit;
        border-radius: 1px;
        background-color: @ffe-farge-vann;
        box-shadow: 0 0 0 2px @ffe-farge-vann;
        color: @ffe-farge-hvit;
        outline: none;

        .native & {
            @media (prefers-color-scheme: dark) {
                border-color: @ffe-farge-svart !important;
                background-color: @ffe-farge-vann-70;
                box-shadow: 0 0 0 2px @ffe-farge-vann-70;
                color: @ffe-farge-svart !important;
            }
        }
    }
}

.ffe-divider-line {
    border: none;
    border-bottom: solid 1px @ffe-farge-lysgraa;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    .native & {
        @media (prefers-color-scheme: dark) {
            border-color: @ffe-farge-graa;
        }
    }
}

.ffe-strong-text {
    font-family: 'SpareBank1-medium', 'MuseoSansRounded-700', arial, sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: normal;
}

.ffe-em-text {
    font-family: 'SpareBank1-italic', 'MuseoSans-500', arial, sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: normal;
    font-style: normal;
}

.ffe-pre-text {
    background-color: @ffe-farge-sand-70;
    font-family: consolas, menlo, monaco, monospace;
    margin: 0;
    text-align: left;
    .native & {
        @media (prefers-color-scheme: dark) {
            background-color: @ffe-farge-koksgraa;
        }
    }
}

.ffe-inline-separator {
    margin: 0 4px;
}

@media (min-width: @breakpoint-sm) {
    .ffe-h1 {
        line-height: 3.5rem;
    }

    .ffe-h2 {
        line-height: 2.75rem;
    }

    .ffe-h3 {
        line-height: 2.25rem;
    }

    .ffe-h4 {
        line-height: 1.75rem;
    }

    .ffe-h5 {
        line-height: 1.5rem;
    }

    .ffe-h6 {
        line-height: 1.25rem;
    }

    .ffe-h1,
    .ffe-h2,
    .ffe-h3,
    .ffe-h4,
    .ffe-h5,
    .ffe-h6 {
        margin-bottom: 15px;

        &--no-margin {
            margin: 0;
        }
    }

    .ffe-lead-paragraph {
        line-height: 2rem;
    }

    .ffe-sub-lead-paragraph {
        line-height: 1.75rem;
    }

    .ffe-body-text,
    .ffe-body-paragraph {
        line-height: 1.5rem;
    }

    .ffe-small-text {
        line-height: 1.25rem;
    }

    .ffe-micro-text {
        line-height: 1.25rem;
    }
}

@media (min-width: @breakpoint-md) {
    .ffe-h1,
    .ffe-h2,
    .ffe-h3,
    .ffe-h4,
    .ffe-h5,
    .ffe-h6 {
        margin-bottom: 20px;

        &--no-margin {
            margin: 0;
        }
    }
}
