:root,
:host {
    /* Form element borders */
    --ffe-g-border-radius-sm: 4px;
    --ffe-g-border-radius: 8px;
    --ffe-g-border-radius-lg: 16px;
    --ffe-g-border-width: 1px;
    --ffe-g-border-focus-box-shadow: 0 0 0 1px;
    --ffe-g-outline-width: 2px;
    --ffe-g-outline-offset: 3px;
    --ffe-g-outline-border-radius: 4px;
}
