.ffe-file-upload {
    margin-top: @ffe-spacing-2xl;
    display: grid;
    max-width: 400px;
    grid-template-columns: 1fr;
    font-family: var(--ffe-g-font);

    @media (min-width: @breakpoint-md) {
        max-width: 100%;
    }

    &__title {
        font-family: var(--ffe-g-font-heading-small);
        font-size: var(--ffe-fontsize-h5);
        color: var(--ffe-g-heading-color);
        margin-bottom: 0;
    }

    input[type='file'] {
        display: none;
    }

    &__info-section {
        .ffe-body-text();

        margin-bottom: @ffe-spacing-md;
        grid-row: 2;

        @media (min-width: @breakpoint-md) {
            margin-right: @ffe-spacing-md;
            margin-bottom: 0;
            grid-column: 1;
        }
    }

    &__info-section-text {
        margin-bottom: @ffe-spacing-sm;
    }

    &__file-items-section {
        margin-top: @ffe-spacing-sm;
        line-height: 2.1875rem;
        grid-row: 4;

        @media (min-width: @breakpoint-md) {
            margin-top: 0;
            grid-row: 2;
        }

        li {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    &__upload-section {
        height: 150px;
        background-color: var(--ffe-v-fileupload-bgcolor);
        border-radius: 10px;
        text-align: center;
        padding: @ffe-spacing-2xs;
        grid-row: 3;

        @media (min-width: @breakpoint-md) {
            margin-top: 0;
            height: 220px;
            width: 280px;
            padding: 0;
            grid-row: 2;
            grid-column: 2;
        }
    }

    &__upload-section-border {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 140px;
        margin: @ffe-spacing-2xs;
        padding: 0 @ffe-spacing-lg;
        border: 2px dashed var(--ffe-v-fileupload-bordercolor);
        border-radius: 10px;
        position: relative;
        width: 100%;
        right: 5px;
        bottom: 5px;

        @media (min-width: @breakpoint-md) {
            width: 270px;
            height: 210px;
            right: 0;
            bottom: 0;
        }

        &--hover {
            opacity: 0.5;
            border-style: solid;
        }
    }

    &__upload-section-title {
        font-family: var(--ffe-g-font-heading-small);
        font-size: var(--ffe-fontsize-h5);
        color: var(--ffe-g-heading-color);
        margin-bottom: @ffe-spacing-xs;
        display: none;

        @media (min-width: @breakpoint-md) {
            display: block;
        }
    }

    &__upload-section-microtext {
        .ffe-micro-text();

        display: none;

        @media (min-width: @breakpoint-md) {
            display: block;
        }
    }

    &__upload-section-subtext {
        .ffe-small-text();

        margin-top: @ffe-spacing-xs;
    }

    &__file-item-delete-icon {
        display: inline-block;
    }

    &__file-item-delete-button {
        padding-top: @ffe-spacing-2xs;
        margin-left: auto;
        background-color: transparent;
        border: none;
        line-height: 1.125rem;
        position: relative;
        color: var(--ffe-v-fileupload-btn-delete-color);
        cursor: pointer;
        font-size: 0.875rem;
        grid-column: 3;
        grid-row: 1;
        display: flex;
        align-items: center;

        @media (min-width: @breakpoint-md) {
            margin-right: @ffe-spacing-sm;
        }

        &:active,
        &:focus,
        &:hover {
            color: var(--ffe-v-fileupload-btn-delete-color-hover);

            ~ .ffe-file-upload__file-item-filename {
                text-decoration: underline;
            }

            ~ .ffe-file-upload__file-item-error-info
                > .ffe-file-upload__file-item-error-filename {
                text-decoration: underline;
            }

            ~ .ffe-file-upload__file-item-stencil-info
                > .ffe-file-upload__file-item-stencil-info-filename {
                text-decoration: underline;
            }

            .ffe-file-upload__file-item-delete-button-text {
                text-decoration: underline;
            }
        }
    }

    &__file-item-stencil {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__file-item-stencil-info {
        display: grid;
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    &__file-item-stencil-info-background {
        height: 10px;
        border-radius: 5px;
        background-color: var(--ffe-v-fileupload-stencil-bg);
    }

    &__file-item-stencil-info-filename {
        .ffe-micro-text();

        margin-top: @ffe-spacing-2xs;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__file-item-loaded {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__file-item-filename {
        grid-row: 1;
        grid-column: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 2px;
        color: var(--ffe-v-fileupload-filename-color);
    }

    &__file-item-error {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 25px 1fr;
    }

    &__file-item-error-icon {
        background-color: var(--ffe-v-error-message-icon-color);
        border-radius: 50%;
        width: 18px;
        height: 18px;
        margin-right: @ffe-spacing-2xs;
        padding: 3px;
        font-family: arial, sans-serif;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        grid-column: 1;
        grid-row: 1;

        .ffe-icons {
            color: var(--ffe-v-fileupload-error-icon-color);
        }
    }

    &__file-item-error-info {
        display: grid;
        grid-row: 1;
        grid-column: 2;
        grid-template-columns: 1fr;
        align-content: center;
    }

    &__file-item-error-filename {
        .ffe-micro-text();

        grid-row: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__file-item-error-message {
        .ffe-micro-text();

        grid-row: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
