@import 'common-card-styling';

.ffe-card-base {
    .common-card-styling();

    &--clickable {
        .clickable-card-styling();
    }

    padding: var(--ffe-spacing-sm);
    box-shadow: none; // Overwrite common-card-styling

    &--no-padding {
        padding: 0;
    }

    .card-background-styling();

    &--shadow {
        box-shadow: var(--ffe-v-cards-common-card-box-shadow);
    }

    &--no-margin {
        margin: 0;
    }

    &--text-center {
        text-align: center;
    }

    .regard-color-scheme-preference & {
        @media (prefers-color-scheme: dark) {
            .card-background-dm-styling();
        }
    }
}
