@import 'common-card-styling';

.ffe-card-base {
    color: var(--ffe-color-foreground-default);
    .common-card-styling();

    &--clickable {
        .clickable-card-styling();
    }

    padding: var(--ffe-spacing-md);

    &--no-padding {
        padding: 0;
    }

    .card-background-styling();

    &--no-margin {
        margin: 0;
    }

    &--text-center {
        text-align: center;
    }
}
