.common-card-styling() {
    &:extend(.ffe-body-text);

    background: var(--ffe-v-cards-common-card-background-color);
    box-shadow: 0 1px 4px 0 var(--ffe-v-cards-common-card-box-shadow-color);
    margin: 0 0 @ffe-spacing-xs;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.2s;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    .native & {
        @media (prefers-color-scheme: dark) {
            box-shadow: 0 0 0 1px
                var(--ffe-v-cards-common-card-box-shadow-color);
            color: var(--ffe-farge-hvit);
        }
    }

    &:visited {
        .native & {
            @media (prefers-color-scheme: dark) {
                color: var(--ffe-farge-hvit);
            }
        }
    }

    &:focus {
        box-shadow: 0 0 0 2px var(--ffe-g-primary-color);
    }

    &:focus,
    &:active,
    &:hover {
        border-color: var(--ffe-g-primary-color);
    }

    @media (min-width: @breakpoint-md) {
        margin-bottom: @ffe-spacing-md;
    }
}
