@import (reference) '@sb1/ffe-core/less/breakpoints';

.common-card-styling() {
    background: var(--ffe-color-surface-primary-default);
    margin: 0 0 var(--ffe-spacing-xs);
    border: 1px solid var(--ffe-color-border-primary-default);
    border-radius: var(--ffe-v-cards-common-card-border-radius);
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    outline: none;
    width: 100%;
    text-decoration: none;

    @media (min-width: @breakpoint-md) {
        margin-bottom: var(--ffe-spacing-md);
    }
}

.card-background-styling() {
    &--bg-primary {
        background: var(--ffe-color-surface-primary-default);
    }

    &--bg-secondary {
        background: var(--ffe-color-surface-secondary-default);
    }

    &--bg-tertiary {
        background: var(--ffe-color-surface-tertiary-default);
    }
}

.clickable-card-styling() {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            border-color: transparent;
            box-shadow: var(--ffe-g-border-focus-box-shadow)
                var(--ffe-color-border-primary-default-hover);
            background: var(--ffe-color-surface-primary-default-hover);
            &
                :where(
                    .ffe-card-body__card-name,
                    .ffe-card-body__title,
                    .ffe-card-body__subtext,
                    .ffe-card-body__text
                ):has(.ffe-card__action) {
                text-decoration: underline;
            }
        }
    }
    &:focus,
    &:active,
    &:focus-within {
        border-color: var(--ffe-color-border-interactive-focus);
        box-shadow: var(--ffe-g-border-focus-box-shadow)
            var(--ffe-color-border-interactive-focus);

        &
            :where(
                .ffe-card-body__card-name,
                .ffe-card-body__title,
                .ffe-card-body__subtext,
                .ffe-card-body__text
            ):has(.ffe-card__action) {
            text-decoration: underline;
        }
    }

    button.ffe-card__action--raw {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        text-align: left;
    }

    a.ffe-card__action--raw {
        color: inherit;
        text-decoration: inherit;
        outline: inherit;
    }

    .ffe-card__action--raw:visited {
        color: inherit;
    }
}
