@import (reference) '@sb1/ffe-core/less/typography';

.ffe-card-body {
    &__card-name {
        margin: 0 0 var(--ffe-spacing-2xs) 0;
    }

    &__text {
        margin: var(--ffe-spacing-2xs) 0 0 0;
    }

    &__subtext {
        font-family: var(--ffe-g-font);
        font-weight: normal;
        font-variant-numeric: tabular-nums;
        line-height: 1.25rem;
        font-size: var(--ffe-fontsize-small-text);
        color: var(--ffe-v-cards-subtext-color);
        margin: var(--ffe-spacing-2xs) 0 0 0;
    }

    &__title {
        font-family: var(--ffe-g-font-heading-small);
        font-variant-numeric: tabular-nums;
        color: var(--ffe-g-heading-color);
        font-weight: normal;
        text-wrap: balance;
        overflow-wrap: anywhere;
        line-height: 1.25rem;
        font-size: var(--ffe-fontsize-h5);
        margin: 0;

        &--overflow-ellipsis {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

:where(
        .ffe-card-body__card-name,
        .ffe-card-body__text,
        .ffe-card-body__subtext,
        .ffe-card-body__title
    ) {
    overflow-wrap: anywhere;
}
