@import 'common-card-styling';
@import 'components';

.ffe-icon-card {
    .common-card-styling();

    &--clickable {
        .clickable-card-styling();
    }

    &--no-margin {
        margin: 0;
    }

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: var(--ffe-spacing-md);
    gap: var(--ffe-spacing-xs);

    &--right {
        grid-template-columns: 1fr auto;
        justify-content: space-between;
    }

    @media (min-width: @breakpoint-md) {
        gap: var(--ffe-spacing-md);
        &--condensed {
            gap: var(--ffe-spacing-xs);
        }
    }

    .ffe-icon-card__icon {
        color: var(--ffe-v-cards-icon-color);
    }
}
