@import 'common-card-styling';
@import 'components';

.ffe-illustration-card {
    .common-card-styling();

    &--clickable {
        .clickable-card-styling();
    }

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--ffe-spacing-md);
    padding: var(--ffe-spacing-md);
    align-items: center;

    &--condensed {
        column-gap: var(--ffe-spacing-sm);
        padding: var(--ffe-spacing-sm);
    }

    &--right {
        grid-template-columns: 1fr auto;
        justify-content: space-between;
    }
}
