@import 'common-card-styling';
@import 'components';

.ffe-image-card {
    .common-card-styling();

    &--clickable {
        .clickable-card-styling();
    }

    --border-color: transparent;

    display: flex;
    padding: 0;
    max-width: 290px;
    border: 0;
    flex-flow: column nowrap;

    .ffe-image-card__image-overlay,
    .ffe-image-card__body {
        border-color: var(--border-color);
    }

    &:has(.ffe-card__action:active, .ffe-card__action:focus) {
        --border-color: var(--ffe-v-cards-border-hover-color);
    }

    &:has(.ffe-card__action) {
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                --border-color: var(--ffe-v-cards-border-hover-color);
            }
        }
    }

    &__image-container {
        max-height: 160px;
        position: relative;
        overflow: hidden;
        border-top-left-radius: var(--ffe-v-cards-common-card-border-radius);
        border-top-right-radius: var(--ffe-v-cards-common-card-border-radius);
    }

    &__image {
        max-width: 100%;
    }

    &__image-overlay,
    &__body {
        width: 100%;
        overflow: hidden;
        border: 2px solid transparent;
        transition: border-color var(--ffe-transition-duration);
    }

    &__image-overlay {
        z-index: 10;
        height: 100%;
        border-bottom: 0;
        border-top-left-radius: var(--ffe-v-cards-common-card-border-radius);
        border-top-right-radius: var(--ffe-v-cards-common-card-border-radius);
        position: absolute;
    }

    &__body {
        text-align: center;
        padding: var(--ffe-spacing-sm) var(--ffe-spacing-sm)
            var(--ffe-spacing-xs) var(--ffe-spacing-sm);
        border-top: 0;
        border-bottom-left-radius: var(--ffe-v-cards-common-card-border-radius);
        border-bottom-right-radius: var(
            --ffe-v-cards-common-card-border-radius
        );
        min-height: 200px;
    }

    @media (min-width: @breakpoint-md) {
        .ffe-image-card__icon {
            margin: 0 var(--ffe-spacing-md) 0;
        }
    }

    @media (min-width: @breakpoint-lg) {
        .ffe-image-card__icon {
            margin: 0 var(--ffe-spacing-lg) 0 var(--ffe-spacing-xs);
        }
    }
}
