@import 'common-card-styling';
@import 'components';

.ffe-stippled-card {
    .common-card-styling();

    background: transparent;
    border: 2px dashed var(--ffe-v-cards-stippled-border-color);
    box-shadow: none;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: @ffe-spacing-md;
    gap: @ffe-spacing-sm;

    &:hover,
    &:focus,
    &:active {
        border-style: solid;
        box-shadow: none;
    }

    .native & {
        @media (prefers-color-scheme: dark) {
            box-shadow: none;
        }
    }
}

.ffe-stippled-card__img--icon {
    margin: 0 @ffe-spacing-md 0 @ffe-spacing-xs;
}

.ffe-stippled-card--condensed {
    padding: @ffe-spacing-sm;
}

.ffe-stippled-card--condensed .ffe-stippled-card__img--icon {
    margin: 0 @ffe-spacing-2xs 0 0;
}

.ffe-stippled-card .ffe-icons {
    color: var(--ffe-v-cards-icon-color);
}
