@import 'common-card-styling';
@import 'components';

.ffe-stippled-card {
    .common-card-styling();

    &--clickable {
        .clickable-card-styling();

        &:focus-within {
            border-style: solid;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border-style: solid;
            }
        }
    }

    &--no-margin {
        margin: 0;
    }

    background: transparent;
    border: 2px dashed var(--ffe-v-cards-stippled-border-color);
    box-shadow: none;
    display: flex;
    align-items: center;
    padding: var(--ffe-spacing-md);
    gap: var(--ffe-spacing-md);
}

.ffe-stippled-card__content {
    flex-grow: 1;
}
.ffe-stippled-card__img {
    flex-shrink: 0;
    flex-grow: 0;
}

.ffe-stippled-card__img--icon {
    margin: 0 var(--ffe-spacing-md);
    display: flex;
}

.ffe-stippled-card--condensed {
    padding: var(--ffe-spacing-sm);
    gap: var(--ffe-spacing-sm);
}

.ffe-stippled-card--condensed .ffe-stippled-card__img--icon {
    margin: 0;
}

.ffe-stippled-card .ffe-icons {
    color: var(--ffe-v-cards-icon-color);
}
