@import 'common-card-styling';
@import 'components';

.ffe-text-card {
    .common-card-styling();

    &--clickable {
        .clickable-card-styling();
    }

    display: flex;
    padding: var(--ffe-spacing-sm) var(--ffe-spacing-lg);
    flex-flow: column nowrap;
    text-align: center;
    overflow: hidden;
    min-height: auto;

    @media (min-width: @breakpoint-md) {
        min-height: 100px;
    }

    &--left-align {
        text-align: left;
    }
}
