:root,
:host {
    --ffe-v-cards-common-text-color: var(--ffe-color-foreground-default);
    --ffe-v-cards-common-card-background-color: var(
        --ffe-color-surface-primary-default
    );
    --ffe-v-cards-common-card-border-radius: 16px;
    --ffe-v-cards-clickabe-card-link-visited-color: inherit;
    --ffe-v-cards-subtext-color: var(--ffe-color-foreground-subtle);
    --ffe-v-cards-image-card-border: none;
    --ffe-v-cards-common-group-card-border: var(
            --ffe-v-cards-common-card-border-radius
        )
        var(--ffe-color-border-primary-default);
    --ffe-v-cards-common-group-card-separation-border-color: var(
        --ffe-color-border-primary-default
    );
    --ffe-v-cards-icon-color:var(--ffe-color-foreground-emphasis) ;
}
