:root,
:host {
    --ffe-v-cards-common-card-background-color: var(--ffe-farge-hvit);
    --ffe-v-cards-common-card-box-shadow-color: var(--ffe-farge-graa);
    --ffe-v-cards-common-card-border-radius: 16px;
    --ffe-v-cards-text-color: var(--ffe-farge-moerkgraa);
    --ffe-v-cards-image-card-border-hover-color: var(--ffe-farge-vann);
    --ffe-v-cards-stippled-border-color: var(--ffe-farge-vann);
    --ffe-v-cards-icon-color: var(--ffe-farge-fjell);

    @media (prefers-color-scheme: dark) {
        .native {
            --ffe-v-cards-common-card-background-color: var(--ffe-farge-svart);
            --ffe-v-cards-common-card-box-shadow-color: var(
                --ffe-farge-moerkgraa
            );
            --ffe-v-cards-text-color: var(--ffe-farge-graa);
            --ffe-v-cards-stippled-border-color: var(--ffe-farge-vann-70);
            --ffe-v-cards-icon-color: var(--ffe-farge-vann-70);
        }
    }
}
