@import "../node_modules/ffe-core/less/ffe.less";
@import "../node_modules/ffe-lists/less/lists.less";
@font-url: "../node_modules/ffe-core/fonts";

body {
  font-family: "MuseoSansRounded-500", arial, sans-serif;
}

section .ffe-body-text {
	max-width: 800px;
	margin: 0 auto;
}

ul,
ol,
dl,
h2 {
	margin: 30px 0!important;
}