// Details list
//
// Markup:
// <div class="ffe-grid">
//     <div class="ffe-grid__row">
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-2 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <div class="ffe-h6 ffe-h6--no-margin">Egenandel</div>
//         </div>
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-7 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">4&amp;nbsp;000,-</div>
//     </div>
//     <div class="ffe-grid__row">
//         <div class="ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <hr class="ffe-divider-line">
//         </div>
//     </div>
//     <div class="ffe-grid__row">
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-2 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <div class="ffe-h6 ffe-h6--no-margin">Egenandel</div>
//         </div>
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">4&amp;nbsp;000,-</div>
//         <div class="ffe-details-list-react__content ffe-details-list-react__content--action ffe-grid__col--lg-4 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <button class="ffe-inline-button ffe-inline-button--tertiary">
//                 <span class="ffe-inline-button__label">ENDRE</span>
//             </button>
//         </div>
//     </div>
//     <div class="ffe-grid__row">
//         <div class="ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <hr class="ffe-divider-line">
//         </div>
//     </div>
//     <div class="ffe-grid__row">
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-2 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <div class="ffe-h6 ffe-h6--no-margin">Kjørelengde per år</div>
//         </div>
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">30&amp;nbsp;000 km</div>
//         <div class="ffe-small-text ffe-details-list-react__content ffe-grid__col--lg-4 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">Kilometerstanden kan ikke overstige 80&amp;nbsp;100 km før 17.02.2017</div>
//     </div>
//     <div class="ffe-grid__row">
//         <div class="ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <hr class="ffe-divider-line">
//         </div>
//     </div>
//     <div class="ffe-grid__row">
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-2 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <div class="ffe-h6 ffe-h6--no-margin">Kjørelengde per år</div>
//         </div>
//         <div class="ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">30&amp;nbsp;000 km</div>
//         <div class="ffe-small-text ffe-details-list-react__content ffe-grid__col--lg-2 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">Kilometerstanden kan ikke overstige 80&amp;nbsp;100 km før 17.02.2017</div>
//         <div class="ffe-details-list-react__content ffe-details-list-react__content--action ffe-grid__col--lg-2 ffe-grid__col--lg-offset-0 ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <button class="ffe-inline-button ffe-inline-button--tertiary">
//                 <span class="ffe-inline-button__label">ENDRE</span>
//             </button>
//         </div>
//     </div>
//     <div class="ffe-grid__row">
//         <div class="ffe-grid__col--md-8 ffe-grid__col--md-offset-2 ffe-grid__col--sm-12 ffe-grid__col--no-bottom-padding">
//             <hr class="ffe-divider-line">
//         </div>
//     </div>
// </div>
//
// Styleguide ffe-details-list.details-list

.ffe-details-list {
    &__details-row,
    &__section-title {
        text-align: left;
        border-bottom: 1px solid @ffe-grey-silver;
        padding: 10px 0;
        margin: 0;
        position: relative;

        &--no-border {
            border-bottom: none;
        }

        &--no-top-padding {
            padding-top: 0;
        }
    }

    &__section-title {
        margin-top: 60px;
    }

    @media screen and (min-width: @breakpoint-md) {
        &__details-row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            box-sizing: border-box;
            padding: 15px 0;

            &--no-top-padding {
                padding-top: 0;
            }
        }

        &__section-title {
            padding: 15px 0;
        }

        &__details-col {
            padding-right: 20px;

            &:nth-child(1) {
                // This approach was used, rather than just width: 33.33%;, because of weird behavior
                // with four columns where the first column would only wrap its children, not take up
                // its designated width.
                max-width: 33.33%;
                min-width: 33.33%;
            }

            &:nth-child(2) {
                min-width: 25%;
            }

            &:nth-child(3) {
                min-width: 25%;
            }

            &:nth-child(4) {
                min-width: 16.66%;
            }

            &&--last {
                flex-grow: 2;
                text-align: right;
            }

            &&--last,
            &&--no-padding {
                padding-right: 0;
            }
        }
    }

    @media screen and (min-width: @breakpoint-lg) {
        &__details-row,
        &__section-title {
            padding: 20px 0;

            &--no-top-padding {
                padding-top: 0;
            }
        }
    }
}

.no-flexbox .ffe-details-list {
    @media screen and (min-width: @breakpoint-md) {
        &__details-row {
            display: block;
        }

        &__details-col {
            display: inline-block;
        }
    }
}
