@import (reference) '../../packages/ffe-core/less/ffe.less';

@import 'components/components-list';
@import 'components/sidebar';
@import 'components/top-menu';

.sb1ds {
    font-family: 'MuseoSans-500', arial, sans-serif;
    line-height: 1.5;

    @media screen and (min-width: @breakpoint-lg) {
        position: relative;
        z-index: 0;
    }

    b,
    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
     {
        .ffe-strong-text;
    }
}

.sb1ds-intro {
    &::after {
        @media screen and (min-width: @breakpoint-lg) {
            content: "";
            display: block;
            height: 320px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            background-color: @ffe-blue-cobalt;
            background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20948%2044%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M948.833324%2044c-156.014091%200-196.629091-28.783777-275.10464-28.783777-78.475549%200-87.754399%2010.982687-177.750909%2010.982687S386.900513%200%20292.210156%200C197.5198%200%20179.35287%2044-.67114%2044h949.504464z%22/%3E%3C/svg%3E');
            background-repeat: no-repeat;
            background-position: 80% 100.2%;
            background-size: 948px 44px;
        }
    }

    &--frontpage {
        margin: 10px 0 20px 0;

        &::after {
            @media screen and (min-width: @breakpoint-lg) {
                height: 380px;
            }
        }

        @media screen and (min-width: @breakpoint-lg) {
            height: 290px;
        }
    }

    &--section {
        margin: 0 0 30px 0;

        @media screen and (min-width: @breakpoint-lg) {
            height: 160px;
        }
    }

    &__heading,
    &__paragraph {
        @media screen and (min-width: @breakpoint-lg) {
            color: @ffe-white;
        }
    }
}

.sb1ds-main {
    margin-top: 20px;

    @media screen and (min-width: @breakpoint-lg) {
        margin-top: 90px;
    }
}

.sb1ds-section {
    margin: 30px 0;

}

.sb1ds-section-static {
    margin-bottom: 50px;

    a {
        .ffe-link-text;
    }

    &__h1 {
        @media screen and (min-width: @breakpoint-lg) {
            color: @ffe-white;
        }
    }
}

.sb1ds-search {
    margin: 10px 0 20px;
}

.sb1ds-header-offset {
    @media screen and (min-width: @breakpoint-md) {
        padding-top: 70px;
        margin-top: -70px;
        background-clip: content-box;
    }
}

.sb1ds-toolbar-button {
    z-index: 1;
}

.sb1ds-color-palette {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
    text-align: right;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        color: @ffe-white;

        &--ffe-blue-royal {
            background: @ffe-blue-royal;
        }

        &--ffe-blue-cobalt {
            background: @ffe-blue-cobalt;
        }

        &--ffe-blue-azure {
            background: @ffe-blue-azure;
        }

        &--ffe-blue-deep-sky {
            background: @ffe-blue-deep-sky;
        }

        &--ffe-blue-sky {
            background: @ffe-blue-sky;
            color: @ffe-black;
        }

        &--ffe-blue-focus {
            background: @ffe-blue-focus;
            color: @ffe-black;
        }

        &--ffe-blue-pale {
            background: @ffe-blue-pale;
            color: @ffe-black;
        }

        &--ffe-blue-ice {
            background: @ffe-blue-ice;
            color: @ffe-black;
        }

        &--ffe-green-shamrock {
            background: @ffe-green-shamrock;
        }

        &--ffe-sand {
            background: @ffe-sand;
            color: @ffe-black;
        }

        &--ffe-sand-ivory {
            background: @ffe-sand-ivory;
            color: @ffe-black;
        }

        &--ffe-orange-fire {
            background: @ffe-orange-fire;
        }

        &--ffe-orange {
            background: @ffe-orange;
        }

        &--ffe-orange-salmon {
            background: @ffe-orange-salmon;
            color: @ffe-black;
        }

        &--ffe-black {
            background: @ffe-black;
        }

        &--ffe-grey-charcoal {
            background: @ffe-grey-charcoal;
        }

        &--ffe-grey {
            background: @ffe-grey;
        }

        &--ffe-grey-silver {
            background: @ffe-grey-silver;
            color: @ffe-black;
        }

        &--ffe-grey-cloud {
            background: @ffe-grey-cloud;
            color: @ffe-black;
        }

        &--ffe-white {
            background: @ffe-white;
            color: @ffe-black;
            border: 1px solid @ffe-grey-silver;
        }

        &--ffe-green {
            background: @ffe-green;
        }

        &--ffe-green-emerald {
            background: @ffe-green-emerald;
        }

        &--ffe-green-mint {
            background: @ffe-green-mint;
            color: @ffe-black;
        }

        &--ffe-purple {
            background: @ffe-purple;
        }

        &--ffe-purple-magenta {
            background: @ffe-purple-magenta;
        }

        &--ffe-red {
            background: @ffe-red;
        }
    }
}
