:root .accent,
:host .accent {
    @color-background-default: #005aa4;
    @color-background-subtle: #005aa4;
    @color-surface-tertiary-default: #eaeaf6;
    @color-surface-tertiary-hover: #e6e6f4;
    @color-surface-tertiary-pressed: #dcdcef;
    @color-surface-info-default: #d7e7f4;
    @color-surface-info-hover: #cfe2f2;
    @color-surface-success-default: #cbf0df;
    @color-surface-warning-default: #ffe0b2;
    @color-surface-critical-default: #ffd7d1;
    @color-surface-secondary-default: #dceaef;
    @color-surface-secondary-hover: #c3dfea;
    @color-surface-secondary-pressed: #a6cee2;
    @color-surface-primary-hover: #e7f1f9;
    @color-surface-primary-pressed: #d7e7f4;
    @color-surface-primary-default: #ffffff;
    @color-fill-info-default: #2975c2;
    @color-fill-info-default-hover: #005aa4;
    @color-fill-info-default-pressed: #084281;
    @color-fill-info-subtle: #2975c2;
    @color-fill-info-subtle-hover: #2975c2;
    @color-fill-info-subtle-pressed: #2975c2;
    @color-fill-success-default: #00754e;
    @color-fill-success-hover: #2e8b64;
    @color-fill-success-pressed: #48a781;
    @color-fill-success-subtle: #00754e;
    @color-fill-success-subtle-hover: #2e8b64;
    @color-fill-success-subtle-pressed: #48a781;
    @color-fill-warning-default: #853f00;
    @color-fill-warning-hover: #a95704;
    @color-fill-warning-pressed: #cc7205;
    @color-fill-warning-subtle: #853f00;
    @color-fill-warning-subtle-hover: #a95704;
    @color-fill-warning-subtle-pressed: #cc7205;
    @color-fill-critical-default: #a01c1f;
    @color-fill-critical-hover: #c62a2f;
    @color-fill-critical-pressed: #e44244;
    @color-fill-critical-subtle: #a01c1f;
    @color-fill-critical-subtle-hover: #c62a2f;
    @color-fill-critical-subtle-pressed: #e44244;
    @color-fill-primary-subtle: #1a66b2;
    @color-fill-primary-subtle-pressed: #084281;
    @color-fill-primary-subtle-hover: #084f91;
    @color-fill-primary-default: #9ec2e5;
    @color-fill-primary-default-hover: #7dabd9;
    @color-fill-primary-default-pressed: #5494d4;
    @color-fill-secondary-subtle: #78a1e3;
    @color-fill-secondary-subtle-hover: #5c87d1;
    @color-fill-secondary-subtle-pressed: #3c68b4;
    @color-fill-secondary-default: #0e3582;
    @color-fill-secondary-default-hover: #08235e;
    @color-fill-secondary-default-pressed: #091235;
    @color-fill-tertiary-subtle: #79748b;
    @color-fill-tertiary-subtle-hover: #79748b;
    @color-fill-tertiary-subtle-pressed: #79748b;
    @color-fill-tertiary-default: #514e5f;
    @color-fill-tertiary-default-hover: #3d394c;
    @color-fill-tertiary-default-pressed: #292636;
    @color-border-primary-default: #cccccc;
    @color-border-primary-subtle: #748db4;
    @color-border-primary-hover: #666666;
    @color-border-primary-pressed: #0a2552;
    @color-border-primary-emphasis: #ffffff;
    @color-border-primary-selected: #084f91;
    @color-border-info-default: #5494d4;
    @color-border-success-default: #48a781;
    @color-border-warning-default: #cc7205;
    @color-border-critical-default: #c62a2f;
    @color-border-focus: #ffffff;
    @color-border-secondary-default: #b6d7e7;
    @color-border-secondary-hover: #7eb5d2;
    @color-border-secondary-pressed: #a6cee2;
    @color-border-tertiary-default: #d3d3ea;
    @color-border-tertiary-hover: #5d5a6d;
    @color-border-tertiary-pressed: #474457;
    @color-icon-secondary-subtle: undefined;
    @color-icon-secondary-inverse: #ffffff;
    @color-icon-primary-subtle: undefined;
    @color-text-primary-subtle: #ffffff;
    @color-text-secondary-subtle: #7a7a7a;
    @color-text-secondary-inverse: #7a7a7a;
    @color-text-label-inverse: #ffffff;
    @color-foreground-on-background-link: #ffffff;
    @color-foreground-on-background-link-hover: #d7e7f4;
    @color-foreground-on-background-link-pressed: #c3d9ef;
    @color-foreground-on-background-default: #ffffff;
    @color-foreground-on-background-subtle: #d7e7f4;
    @color-foreground-on-background-emphasis: #f7fafd;
    @color-foreground-on-background-inverse: #ffffff;
    @color-foreground-on-background-info-default: #c3d9ef;
    @color-foreground-on-background-success-default: #b2e6cd;
    @color-foreground-on-background-warning-default: #ffc675;
    @color-foreground-on-background-critical-default: #ffc2b8;
    @color-foreground-on-surface-info-default: #005aa4;
    @color-foreground-on-surface-success-default: #00754e;
    @color-foreground-on-surface-warning-default: #944a00;
    @color-foreground-on-surface-critical-default: #b21f22;
    @color-foreground-on-surface-default: #020a0a;
    @color-foreground-on-surface-subtle: #525252;
    @color-foreground-on-surface-emphasis: #002776;
    @color-foreground-on-surface-link: #005aa4;
    @color-foreground-on-surface-link-hover: #9ec2e5;
    @color-foreground-on-surface-link-pressed: #7dabd9;
    @color-foreground-on-surface-inverse: #ffffff;
    @color-foreground-on-fill-default: #ffffff;
    @color-foreground-on-fill-info-default: #f7fafd;
    @color-foreground-on-fill-success-default: #f6fdfa;
    @color-foreground-on-fill-warning-default: #fffdf5;
    @color-foreground-on-fill-critical-default: #fff8f5;
    @color-foreground-on-fill-inverse: #ffffff;
    @color-component-button-secondary-fill-default: undefined;
    @color-component-button-secondary-fill-hover: #084281;
    @color-component-button-secondary-fill-pressed: #0a2b61;
    @color-component-button-secondary-text-default: #ffffff;
    @color-component-button-secondary-text-hover: #ffffff;
    @color-component-button-secondary-border-default: #ffffff;
    @color-component-button-secondary-border-hover: #9ec2e5;
    @color-component-button-secondary-border-pressed: #7dabd9;
    @color-component-button-action-fill-default: #00754e;
    @color-component-button-action-fill-hover: #2a7e5b;
    @color-component-button-action-fill-pressed: #48a781;
    @color-component-button-action-text-default: #ffffff;
    @color-component-button-action-text-hover: #ffffff;
    @color-component-button-action-border-default: #00754e;
    @color-component-button-action-border-hover: #2e8b64;
    @color-component-button-action-border-pressed: #48a781;
    @color-component-button-primary-text-default: #020a0a;
    @color-component-button-primary-text-hover: #292929;
    @color-component-button-primary-fill-default: #d7e7f4;
    @color-component-button-primary-fill-hover: #c3d9ef;
    @color-component-button-primary-fill-pressed: #9ec2e5;
    @color-component-button-primary-border-default: #005aa4;
    @color-component-button-primary-border-hover: #2975c2;
    @color-component-button-primary-border-pressed: #5494d4;
    @color-component-button-tertiary-text-default: #f7fafd;
    @color-component-button-tertiary-text-hover: #f7fafd;
    @color-component-button-tertiary-fill-hover: #084281;
    @color-component-button-tertiary-fill-pressed: #0a2b61;
    @color-component-button-tertiary-fill-default: undefined;
    @color-component-button-tertiary-border-default: #141414;
    @color-component-button-tertiary-border-hover: #2975c2;
    @color-component-button-tertiary-border-pressed: #005aa4;
    @color-component-button-critical-border-default: #a01c1f;
    @color-component-button-critical-border-hover: #c62a2f;
    @color-component-button-critical-border-pressed: #e44244;
    @color-component-button-critical-fill-default: #a01c1f;
    @color-component-button-critical-fill-hover: #c62a2f;
    @color-component-button-critical-fill-pressed: #e44244;
    @color-component-button-critical-text-default: #ffffff;
    @color-component-button-critical-text-hover: #ffffff;
    @color-component-logo-name: #ffffff;
    @color-component-logo-number1: #ffffff;
    @color-component-logo-circle-dark-red: undefined;
    @color-component-logo-circle-light-red: undefined;
    @color-component-form-fill-default: #ffffff;
    @color-component-form-fill-default-hover: #e7f1f9;
    @color-component-form-fill-default-pressed: #b6d1ec;
    @color-component-form-fill-selected: #1c3459;
    @color-component-form-fill-selected-hover: #0d213f;
    @color-component-form-fill-selected-pressed: #001032;
    @color-component-form-fill-subtle: #ffffff;
    @color-component-form-fill-subtle-hover: #ffffff;
    @color-component-form-fill-subtle-pressed: #ffffff;
    @color-component-chips-primary-border-default: #005aa4;
    @color-component-chips-primary-border-hover: #2975c2;
    @color-component-chips-primary-border-pressed: #5494d4;
    @color-component-chips-primary-fill-default: #ffffff;
    @color-component-chips-primary-fill-hover: #d7e7f4;
    @color-component-chips-primary-fill-pressed: #c3d9ef;
    @color-component-chips-primary-text-default: #020a0a;
    @color-component-chips-primary-text-hover: #292929;
    @color-component-chips-secondary-border-default: #ffffff;
    @color-component-chips-secondary-border-hover: #9ec2e5;
    @color-component-chips-secondary-border-pressed: #7dabd9;
    @color-component-chips-secondary-fill-default: undefined;
    @color-component-chips-secondary-fill-hover: #084281;
    @color-component-chips-secondary-fill-pressed: #0a2b61;
    @color-component-chips-secondary-text-default: #ffffff;
    @color-component-chips-secondary-text-hover: #ffffff;
    @color-component-chips-tertiary-border-default: #141414;
    @color-component-chips-tertiary-border-hover: #2975c2;
    @color-component-chips-tertiary-border-pressed: #005aa4;
    @color-component-chips-tertiary-fill-default: undefined;
    @color-component-chips-tertiary-fill-hover: #084281;
    @color-component-chips-tertiary-fill-pressed: #0a2b61;
    @color-component-chips-tertiary-text-default: #f7fafd;
    @color-component-chips-tertiary-text-hover: #f7fafd;
    @color-component-toggleswitch-handle-default: #ffffff;
    @color-component-toggleswitch-fill-default: #b6d1ec;
    @color-component-toggleswitch-fill-default-hover: #8eb8e1;
    @color-component-toggleswitch-fill-default-pressed: #6ba1d6;
    @color-component-toggleswitch-fill-selected: #5494d4;
    @color-component-toggleswitch-fill-selected-hover: #2975c2;
    @color-component-toggleswitch-fill-selected-pressed: #7dabd9;
}
