@media (prefers-color-scheme: dark) {
    :root .regard-color-scheme-preference,
    :host .regard-color-scheme-preference {
        @color-background-default: #141414;
        @color-background-subtle: #1f1f1f;
        @color-surface-tertiary-default: #1f1c2c;
        @color-surface-tertiary-hover: #332f41;
        @color-surface-tertiary-pressed: #3d394c;
        @color-surface-info-default: #0a2552;
        @color-surface-info-hover: #093771;
        @color-surface-success-default: #083a29;
        @color-surface-warning-default: #3d1700;
        @color-surface-critical-default: #560b0c;
        @color-surface-secondary-default: #0f232e;
        @color-surface-secondary-hover: #132f39;
        @color-surface-secondary-pressed: #173845;
        @color-surface-primary-hover: #474747;
        @color-surface-primary-pressed: #5c5c5c;
        @color-surface-primary-default: #333333;
        @color-fill-info-default: #2975c2;
        @color-fill-info-default-hover: #5494d4;
        @color-fill-info-default-pressed: #7dabd9;
        @color-fill-info-subtle: #2975c2;
        @color-fill-info-subtle-hover: #2975c2;
        @color-fill-info-subtle-pressed: #2975c2;
        @color-fill-success-default: #2a7e5b;
        @color-fill-success-hover: #409674;
        @color-fill-success-pressed: #55b489;
        @color-fill-success-subtle: #2a7e5b;
        @color-fill-success-subtle-hover: #409674;
        @color-fill-success-subtle-pressed: #55b489;
        @color-fill-warning-default: #a95704;
        @color-fill-warning-hover: #cc7205;
        @color-fill-warning-pressed: #ea910b;
        @color-fill-warning-subtle: #a95704;
        @color-fill-warning-subtle-hover: #cc7205;
        @color-fill-warning-subtle-pressed: #ea910b;
        @color-fill-critical-default: #c62a2f;
        @color-fill-critical-hover: #e44244;
        @color-fill-critical-pressed: #ff5e5c;
        @color-fill-critical-subtle: #c62a2f;
        @color-fill-critical-subtle-hover: #e44244;
        @color-fill-critical-subtle-pressed: #ff5e5c;
        @color-fill-primary-subtle: #333333;
        @color-fill-primary-subtle-pressed: #666666;
        @color-fill-primary-subtle-hover: #525252;
        @color-fill-primary-default: #55709b;
        @color-fill-primary-default-hover: #748db4;
        @color-fill-primary-default-pressed: #90a9d0;
        @color-fill-secondary-subtle: #525252;
        @color-fill-secondary-subtle-hover: #666666;
        @color-fill-secondary-subtle-pressed: #858585;
        @color-fill-secondary-default: #858585;
        @color-fill-secondary-default-hover: #858585;
        @color-fill-secondary-default-pressed: #858585;
        @color-fill-tertiary-subtle: #474457;
        @color-fill-tertiary-subtle-hover: #5d5a6d;
        @color-fill-tertiary-subtle-pressed: #79748b;
        @color-fill-tertiary-default: #474457;
        @color-fill-tertiary-default-hover: #5d5a6d;
        @color-fill-tertiary-default-pressed: #79748b;
        @color-border-primary-default: #8f8f8f;
        @color-border-primary-subtle: #525252;
        @color-border-primary-hover: #b8b8b8;
        @color-border-primary-pressed: #90a9d0;
        @color-border-primary-emphasis: #47618a;
        @color-border-primary-selected: #55709b;
        @color-border-info-default: #5494d4;
        @color-border-success-default: #48a781;
        @color-border-warning-default: #cc7205;
        @color-border-critical-default: #c62a2f;
        @color-border-focus: #ffffff;
        @color-border-secondary-default: #748db4;
        @color-border-secondary-hover: #55709b;
        @color-border-secondary-pressed: #3b547c;
        @color-border-tertiary-default: #79748b;
        @color-border-tertiary-hover: #5d5a6d;
        @color-border-tertiary-pressed: #474457;
        @color-icon-secondary-subtle: undefined;
        @color-icon-secondary-inverse: #ffffff;
        @color-icon-primary-subtle: undefined;
        @color-text-primary-subtle: #ffffff;
        @color-text-secondary-subtle: #b8b8b8;
        @color-text-secondary-inverse: #b8b8b8;
        @color-text-label-inverse: #ffffff;
        @color-foreground-on-background-link: #c3d9ef;
        @color-foreground-on-background-link-hover: #9ec2e5;
        @color-foreground-on-background-link-pressed: #7dabd9;
        @color-foreground-on-background-default: #ffffff;
        @color-foreground-on-background-subtle: #cccccc;
        @color-foreground-on-background-emphasis: #aac4ee;
        @color-foreground-on-background-inverse: #ffffff;
        @color-foreground-on-background-info-default: #5494d4;
        @color-foreground-on-background-success-default: #48a781;
        @color-foreground-on-background-warning-default: #cc7205;
        @color-foreground-on-background-critical-default: #f55451;
        @color-foreground-on-surface-info-default: #c3d9ef;
        @color-foreground-on-surface-success-default: #b2e6cd;
        @color-foreground-on-surface-warning-default: #ffc675;
        @color-foreground-on-surface-critical-default: #ffaea8;
        @color-foreground-on-surface-default: #ffffff;
        @color-foreground-on-surface-subtle: #e5e5e5;
        @color-foreground-on-surface-emphasis: #9ec2e5;
        @color-foreground-on-surface-link: #c3d9ef;
        @color-foreground-on-surface-link-hover: #9ec2e5;
        @color-foreground-on-surface-link-pressed: #7dabd9;
        @color-foreground-on-surface-inverse: #ffffff;
        @color-foreground-on-fill-default: #ffffff;
        @color-foreground-on-fill-info-default: #f7fafd;
        @color-foreground-on-fill-success-default: #f6fdfa;
        @color-foreground-on-fill-warning-default: #fffdf5;
        @color-foreground-on-fill-critical-default: #fff8f5;
        @color-foreground-on-fill-inverse: #ffffff;
        @color-component-button-secondary-fill-default: undefined;
        @color-component-button-secondary-fill-hover: #084281;
        @color-component-button-secondary-fill-pressed: #005aa4;
        @color-component-button-secondary-text-default: #c3d9ef;
        @color-component-button-secondary-text-hover: #ffffff;
        @color-component-button-secondary-border-default: #7dabd9;
        @color-component-button-secondary-border-hover: #5494d4;
        @color-component-button-secondary-border-pressed: #005aa4;
        @color-component-button-action-fill-default: #00754e;
        @color-component-button-action-fill-hover: #2a7e5b;
        @color-component-button-action-fill-pressed: #48a781;
        @color-component-button-action-text-default: #ffffff;
        @color-component-button-action-text-hover: #ffffff;
        @color-component-button-action-border-default: #00754e;
        @color-component-button-action-border-hover: #2e8b64;
        @color-component-button-action-border-pressed: #48a781;
        @color-component-button-primary-text-default: #ffffff;
        @color-component-button-primary-text-hover: #ffffff;
        @color-component-button-primary-fill-default: #1a66b2;
        @color-component-button-primary-fill-hover: #2975c2;
        @color-component-button-primary-fill-pressed: #5494d4;
        @color-component-button-primary-border-default: #005aa4;
        @color-component-button-primary-border-hover: #2975c2;
        @color-component-button-primary-border-pressed: #5494d4;
        @color-component-button-tertiary-text-default: #c3d9ef;
        @color-component-button-tertiary-text-hover: #c3d9ef;
        @color-component-button-tertiary-fill-hover: #0a2b61;
        @color-component-button-tertiary-fill-pressed: #084281;
        @color-component-button-tertiary-fill-default: undefined;
        @color-component-button-tertiary-border-default: #141414;
        @color-component-button-tertiary-border-hover: #2975c2;
        @color-component-button-tertiary-border-pressed: #005aa4;
        @color-component-button-critical-border-default: #a01c1f;
        @color-component-button-critical-border-hover: #c62a2f;
        @color-component-button-critical-border-pressed: #e44244;
        @color-component-button-critical-fill-default: #a01c1f;
        @color-component-button-critical-fill-hover: #c62a2f;
        @color-component-button-critical-fill-pressed: #e44244;
        @color-component-button-critical-text-default: #ffffff;
        @color-component-button-critical-text-hover: #ffffff;
        @color-component-logo-name: #ffffff;
        @color-component-logo-number1: #ffffff;
        @color-component-logo-circle-dark-red: undefined;
        @color-component-logo-circle-light-red: undefined;
        @color-component-form-fill-default: #333333;
        @color-component-form-fill-default-hover: #525252;
        @color-component-form-fill-default-pressed: #666666;
        @color-component-form-fill-selected: #55709b;
        @color-component-form-fill-selected-hover: #748db4;
        @color-component-form-fill-selected-pressed: #90a9d0;
        @color-component-form-fill-subtle: #333333;
        @color-component-form-fill-subtle-hover: #333333;
        @color-component-form-fill-subtle-pressed: #333333;
        @color-component-chips-primary-border-default: #005aa4;
        @color-component-chips-primary-border-hover: #2975c2;
        @color-component-chips-primary-border-pressed: #5494d4;
        @color-component-chips-primary-fill-default: #1a66b2;
        @color-component-chips-primary-fill-hover: #2975c2;
        @color-component-chips-primary-fill-pressed: #5494d4;
        @color-component-chips-primary-text-default: #ffffff;
        @color-component-chips-primary-text-hover: #ffffff;
        @color-component-chips-secondary-border-default: #7dabd9;
        @color-component-chips-secondary-border-hover: #5494d4;
        @color-component-chips-secondary-border-pressed: #005aa4;
        @color-component-chips-secondary-fill-default: undefined;
        @color-component-chips-secondary-fill-hover: #084281;
        @color-component-chips-secondary-fill-pressed: #005aa4;
        @color-component-chips-secondary-text-default: #c3d9ef;
        @color-component-chips-secondary-text-hover: #ffffff;
        @color-component-chips-tertiary-border-default: #141414;
        @color-component-chips-tertiary-border-hover: #2975c2;
        @color-component-chips-tertiary-border-pressed: #005aa4;
        @color-component-chips-tertiary-fill-default: undefined;
        @color-component-chips-tertiary-fill-hover: #0a2b61;
        @color-component-chips-tertiary-fill-pressed: #084281;
        @color-component-chips-tertiary-text-default: #c3d9ef;
        @color-component-chips-tertiary-text-hover: #c3d9ef;
        @color-component-toggleswitch-handle-default: #ffffff;
        @color-component-toggleswitch-fill-default: #3d3d3d;
        @color-component-toggleswitch-fill-default-hover: #525252;
        @color-component-toggleswitch-fill-default-pressed: #666666;
        @color-component-toggleswitch-fill-selected: #55709b;
        @color-component-toggleswitch-fill-selected-hover: #748db4;
        @color-component-toggleswitch-fill-selected-pressed: #90a9d0;
    }
}
