:root,
:host {
    @color-background-default: #ffffff;
    @color-background-subtle: #faefe6;
    @color-surface-tertiary-default: #eaeaf6;
    @color-surface-tertiary-hover: #e6e6f4;
    @color-surface-tertiary-pressed: #dcdcef;
    @color-surface-info-default: #e7f1f9;
    @color-surface-info-hover: #cfe2f2;
    @color-surface-success-default: #dff6eb;
    @color-surface-warning-default: #fdeed3;
    @color-surface-critical-default: #ffe5e0;
    @color-surface-secondary-default: #dceaef;
    @color-surface-secondary-hover: #c3dfea;
    @color-surface-secondary-pressed: #a6cee2;
    @color-surface-primary-hover: #e7f1f9;
    @color-surface-primary-pressed: #d7e7f4;
    @color-surface-primary-default: #ffffff;
    @color-fill-info-default: #2975c2;
    @color-fill-info-default-hover: #005aa4;
    @color-fill-info-default-pressed: #084281;
    @color-fill-info-subtle: #c3d9ef;
    @color-fill-info-subtle-hover: #9ec2e5;
    @color-fill-info-subtle-pressed: #7dabd9;
    @color-fill-success-default: #2e8b64;
    @color-fill-success-hover: #00754e;
    @color-fill-success-pressed: #09583b;
    @color-fill-success-subtle: #b2e6cd;
    @color-fill-success-subtle-hover: #8fd1b1;
    @color-fill-success-subtle-pressed: #6abe97;
    @color-fill-warning-default: #a95704;
    @color-fill-warning-hover: #853f00;
    @color-fill-warning-pressed: #682c00;
    @color-fill-warning-subtle: #ffc675;
    @color-fill-warning-subtle-hover: #f6ac3c;
    @color-fill-warning-subtle-pressed: #ea910b;
    @color-fill-critical-default: #c62a2f;
    @color-fill-critical-hover: #a01c1f;
    @color-fill-critical-pressed: #7c1214;
    @color-fill-critical-subtle: #ffaea8;
    @color-fill-critical-subtle-hover: #ff7f7a;
    @color-fill-critical-subtle-pressed: #ff5e5c;
    @color-fill-primary-subtle: #e7f1f9;
    @color-fill-primary-subtle-pressed: #b6d1ec;
    @color-fill-primary-subtle-hover: #cfe2f2;
    @color-fill-primary-default: #005aa4;
    @color-fill-primary-default-hover: #084281;
    @color-fill-primary-default-pressed: #0a2b61;
    @color-fill-secondary-subtle: #e9eef6;
    @color-fill-secondary-subtle-hover: #d4deed;
    @color-fill-secondary-subtle-pressed: #bbcae2;
    @color-fill-secondary-default: #3b547c;
    @color-fill-secondary-default-hover: #263e64;
    @color-fill-secondary-default-pressed: #263e64;
    @color-fill-tertiary-subtle: #eaeaf6;
    @color-fill-tertiary-subtle-hover: #dcdcef;
    @color-fill-tertiary-subtle-pressed: #cacae3;
    @color-fill-tertiary-default: #5d5a6d;
    @color-fill-tertiary-default-hover: #474457;
    @color-fill-tertiary-default-pressed: #332f41;
    @color-border-primary-default: #8f8f8f;
    @color-border-primary-subtle: #e5e5e5;
    @color-border-primary-hover: #666666;
    @color-border-primary-pressed: #084281;
    @color-border-primary-emphasis: #005aa4;
    @color-border-primary-selected: #005aa4;
    @color-border-info-default: #7dabd9;
    @color-border-success-default: #6abe97;
    @color-border-warning-default: #ea910b;
    @color-border-critical-default: #c62a2f;
    @color-border-focus: #002776;
    @color-border-secondary-default: #95c3db;
    @color-border-secondary-hover: #6ea6c4;
    @color-border-secondary-pressed: #5890ad;
    @color-border-tertiary-default: #8c88a0;
    @color-border-tertiary-hover: #686477;
    @color-border-tertiary-pressed: #514e5f;
    @color-icon-secondary-subtle: undefined;
    @color-icon-secondary-inverse: #ffffff;
    @color-icon-primary-subtle: undefined;
    @color-text-primary-subtle: #020a0a;
    @color-text-secondary-subtle: #707070;
    @color-text-secondary-inverse: #ffffff;
    @color-text-label-inverse: #ffffff;
    @color-foreground-on-background-link: #005aa4;
    @color-foreground-on-background-link-hover: #084281;
    @color-foreground-on-background-link-pressed: #0a2b61;
    @color-foreground-on-background-default: #020a0a;
    @color-foreground-on-background-subtle: #525252;
    @color-foreground-on-background-emphasis: #002776;
    @color-foreground-on-background-inverse: #ffffff;
    @color-foreground-on-background-info-default: #005aa4;
    @color-foreground-on-background-success-default: #00754e;
    @color-foreground-on-background-warning-default: #944a00;
    @color-foreground-on-background-critical-default: #c62a2f;
    @color-foreground-on-surface-info-default: #005aa4;
    @color-foreground-on-surface-success-default: #00754e;
    @color-foreground-on-surface-warning-default: #944a00;
    @color-foreground-on-surface-critical-default: #c62a2f;
    @color-foreground-on-surface-default: #020a0a;
    @color-foreground-on-surface-subtle: #525252;
    @color-foreground-on-surface-emphasis: #002776;
    @color-foreground-on-surface-link: #005aa4;
    @color-foreground-on-surface-link-hover: #084281;
    @color-foreground-on-surface-link-pressed: #0a2b61;
    @color-foreground-on-surface-inverse: #ffffff;
    @color-foreground-on-fill-default: #ffffff;
    @color-foreground-on-fill-info-default: #f7fafd;
    @color-foreground-on-fill-success-default: #f6fdfa;
    @color-foreground-on-fill-warning-default: #fffdf5;
    @color-foreground-on-fill-critical-default: #fff8f5;
    @color-foreground-on-fill-inverse: #020a0a;
    @color-component-button-secondary-fill-default: undefined;
    @color-component-button-secondary-fill-hover: #d7e7f4;
    @color-component-button-secondary-fill-pressed: #cfe2f2;
    @color-component-button-secondary-text-default: #084281;
    @color-component-button-secondary-text-hover: #084281;
    @color-component-button-secondary-border-default: #005aa4;
    @color-component-button-secondary-border-hover: #084281;
    @color-component-button-secondary-border-pressed: #084281;
    @color-component-button-action-fill-default: #00754e;
    @color-component-button-action-fill-hover: #09583b;
    @color-component-button-action-fill-pressed: #0a4330;
    @color-component-button-action-text-default: #ffffff;
    @color-component-button-action-text-hover: #ffffff;
    @color-component-button-action-border-default: #00754e;
    @color-component-button-action-border-hover: #09583b;
    @color-component-button-action-border-pressed: #0a4330;
    @color-component-button-primary-text-default: #ffffff;
    @color-component-button-primary-text-hover: #ffffff;
    @color-component-button-primary-fill-default: #005aa4;
    @color-component-button-primary-fill-hover: #084281;
    @color-component-button-primary-fill-pressed: #0a2b61;
    @color-component-button-primary-border-default: #005aa4;
    @color-component-button-primary-border-hover: #084281;
    @color-component-button-primary-border-pressed: #0a2b61;
    @color-component-button-tertiary-text-default: #0a2b61;
    @color-component-button-tertiary-text-hover: #0a2b61;
    @color-component-button-tertiary-fill-hover: #d7e7f4;
    @color-component-button-tertiary-fill-pressed: #c3d9ef;
    @color-component-button-tertiary-fill-default: undefined;
    @color-component-button-tertiary-border-default: #005aa4;
    @color-component-button-tertiary-border-hover: #c3d9ef;
    @color-component-button-tertiary-border-pressed: #084281;
    @color-component-button-critical-border-default: #c62a2f;
    @color-component-button-critical-border-hover: #a01c1f;
    @color-component-button-critical-border-pressed: #7c1214;
    @color-component-button-critical-fill-default: #a01c1f;
    @color-component-button-critical-fill-hover: #7c1214;
    @color-component-button-critical-fill-pressed: #640e10;
    @color-component-button-critical-text-default: #ffffff;
    @color-component-button-critical-text-hover: #ffffff;
    @color-component-logo-name: #002776;
    @color-component-logo-number1: #ffffff;
    @color-component-logo-circle-dark-red: undefined;
    @color-component-logo-circle-light-red: undefined;
    @color-component-form-fill-default: #ffffff;
    @color-component-form-fill-default-hover: #e7f1f9;
    @color-component-form-fill-default-pressed: #cfe2f2;
    @color-component-form-fill-selected: #005aa4;
    @color-component-form-fill-selected-hover: #084281;
    @color-component-form-fill-selected-pressed: #0a2b61;
    @color-component-form-fill-subtle: #dfe6f1;
    @color-component-form-fill-subtle-hover: #c9d5e8;
    @color-component-form-fill-subtle-pressed: #bbcae2;
    @color-component-chips-primary-border-default: #005aa4;
    @color-component-chips-primary-border-hover: #084281;
    @color-component-chips-primary-border-pressed: #0a2b61;
    @color-component-chips-primary-fill-default: #005aa4;
    @color-component-chips-primary-fill-hover: #084281;
    @color-component-chips-primary-fill-pressed: #0a2b61;
    @color-component-chips-primary-text-default: #ffffff;
    @color-component-chips-primary-text-hover: #ffffff;
    @color-component-chips-secondary-border-default: #005aa4;
    @color-component-chips-secondary-border-hover: #084281;
    @color-component-chips-secondary-border-pressed: #084281;
    @color-component-chips-secondary-fill-default: undefined;
    @color-component-chips-secondary-fill-hover: #d7e7f4;
    @color-component-chips-secondary-fill-pressed: #cfe2f2;
    @color-component-chips-secondary-text-default: #084281;
    @color-component-chips-secondary-text-hover: #084281;
    @color-component-chips-tertiary-border-default: #005aa4;
    @color-component-chips-tertiary-border-hover: #c3d9ef;
    @color-component-chips-tertiary-border-pressed: #084281;
    @color-component-chips-tertiary-fill-default: undefined;
    @color-component-chips-tertiary-fill-hover: #d7e7f4;
    @color-component-chips-tertiary-fill-pressed: #c3d9ef;
    @color-component-chips-tertiary-text-default: #0a2b61;
    @color-component-chips-tertiary-text-hover: #0a2b61;
    @color-component-toggleswitch-handle-default: #ffffff;
    @color-component-toggleswitch-fill-default: #cccccc;
    @color-component-toggleswitch-fill-default-hover: #b8b8b8;
    @color-component-toggleswitch-fill-default-pressed: #a4a4a4;
    @color-component-toggleswitch-fill-selected: #005aa4;
    @color-component-toggleswitch-fill-selected-hover: #084281;
    @color-component-toggleswitch-fill-selected-pressed: #0a2b61;
}
