@color-vann-0: #f7fafd;
@color-vann-25: #e7f1f9;
@color-vann-50: #d7e7f4;
@color-vann-75: #cfe2f2;
@color-vann-100: #c3d9ef;
@color-vann-150: #b6d1ec;
@color-vann-200: #9ec2e5;
@color-vann-250: #8eb8e1;
@color-vann-300: #7dabd9;
@color-vann-350: #6ba1d6;
@color-vann-400: #5494d4;
@color-vann-450: #3b85ce;
@color-vann-500: #2975c2;
@color-vann-550: #1a66b2;
@color-vann-600: #005aa4;
@color-vann-650: #084f91;
@color-vann-700: #084281;
@color-vann-750: #093771;
@color-vann-800: #0a2b61;
@color-vann-850: #0a2552;
@color-vann-900: #101a41;
@color-vann-950: #0e162f;
@color-vann-1000: #090e20;
@color-gray-0: #fbfbfb;
@color-gray-25: #f0f0f0;
@color-gray-50: #e5e5e5;
@color-gray-75: #dbdbdb;
@color-gray-100: #cccccc;
@color-gray-150: #c2c2c2;
@color-gray-200: #b8b8b8;
@color-gray-250: #adadad;
@color-gray-300: #a4a4a4;
@color-gray-350: #999999;
@color-gray-400: #8f8f8f;
@color-gray-450: #858585;
@color-gray-500: #7a7a7a;
@color-gray-550: #707070;
@color-gray-600: #666666;
@color-gray-650: #5c5c5c;
@color-gray-700: #525252;
@color-gray-750: #474747;
@color-gray-800: #3d3d3d;
@color-gray-850: #333333;
@color-gray-900: #292929;
@color-gray-950: #1f1f1f;
@color-gray-1000: #141414;
@color-fjell-0: #f5f7ff;
@color-fjell-25: #e8eef7;
@color-fjell-50: #e1e8f5;
@color-fjell-75: #d9e1f2;
@color-fjell-100: #cbd8f0;
@color-fjell-150: #bed0ef;
@color-fjell-200: #aac4ee;
@color-fjell-250: #9cbae8;
@color-fjell-300: #88ade7;
@color-fjell-350: #78a1e3;
@color-fjell-400: #6c93d5;
@color-fjell-450: #5c87d1;
@color-fjell-500: #4c74bd;
@color-fjell-550: #3c68b4;
@color-fjell-600: #315aa6;
@color-fjell-650: #2d4f9a;
@color-fjell-700: #1d428a;
@color-fjell-750: #0e3582;
@color-fjell-800: #002776;
@color-fjell-850: #08235e;
@color-fjell-900: #0e1b4e;
@color-fjell-950: #091235;
@color-fjell-1000: #070d27;
@color-natt-0: #f4f7fa;
@color-natt-25: #e9eef6;
@color-natt-50: #dfe6f1;
@color-natt-75: #d4deed;
@color-natt-100: #c9d5e8;
@color-natt-150: #bbcae2;
@color-natt-200: #acbfdc;
@color-natt-250: #9eb4d6;
@color-natt-300: #90a9d0;
@color-natt-350: #809cc6;
@color-natt-400: #748db4;
@color-natt-450: #6782ac;
@color-natt-500: #55709b;
@color-natt-550: #47618a;
@color-natt-600: #3b547c;
@color-natt-650: #334a71;
@color-natt-700: #263e64;
@color-natt-750: #1c3459;
@color-natt-800: #12294d;
@color-natt-850: #0d213f;
@color-natt-900: #031536;
@color-natt-950: #001032;
@color-natt-1000: #020e27;
@color-frost-0: #f8fbfc;
@color-frost-25: #e5f0f5;
@color-frost-50: #dceaef;
@color-frost-75: #cbe2eb;
@color-frost-100: #c3dfea;
@color-frost-150: #b6d7e7;
@color-frost-200: #a6cee2;
@color-frost-250: #95c3db;
@color-frost-300: #7eb5d2;
@color-frost-350: #6ea6c4;
@color-frost-400: #629ab6;
@color-frost-450: #5890ad;
@color-frost-500: #4b809b;
@color-frost-550: #45748c;
@color-frost-600: #3e697e;
@color-frost-650: #385e71;
@color-frost-700: #2d5162;
@color-frost-750: #234452;
@color-frost-800: #173845;
@color-frost-850: #132f39;
@color-frost-900: #0f232e;
@color-frost-950: #0d1e26;
@color-frost-1000: #0a171f;
@color-villblomst-0: #fffafb;
@color-villblomst-25: #ffe0e9;
@color-villblomst-50: #ffd7e1;
@color-villblomst-75: #fccfd8;
@color-villblomst-100: #fdc3d0;
@color-villblomst-150: #feb3c2;
@color-villblomst-200: #ffa6b5;
@color-villblomst-250: #fc9aa8;
@color-villblomst-300: #ee8d9c;
@color-villblomst-350: #e98696;
@color-villblomst-400: #d37484;
@color-villblomst-450: #ca6879;
@color-villblomst-500: #b85c6c;
@color-villblomst-550: #ad5265;
@color-villblomst-600: #9d4556;
@color-villblomst-650: #913b4c;
@color-villblomst-700: #832d40;
@color-villblomst-750: #762136;
@color-villblomst-800: #6a142b;
@color-villblomst-850: #5f0c24;
@color-villblomst-900: #510018;
@color-villblomst-950: #390614;
@color-villblomst-1000: #28050d;
@color-skog-0: #f6fdfa;
@color-skog-25: #dff6eb;
@color-skog-50: #cbf0df;
@color-skog-75: #bbedd5;
@color-skog-100: #b2e6cd;
@color-skog-150: #9edbbe;
@color-skog-200: #8fd1b1;
@color-skog-250: #7cc5a2;
@color-skog-300: #6abe97;
@color-skog-350: #55b489;
@color-skog-400: #48a781;
@color-skog-450: #409674;
@color-skog-500: #2e8b64;
@color-skog-550: #2a7e5b;
@color-skog-600: #00754e;
@color-skog-650: #0d6346;
@color-skog-700: #09583b;
@color-skog-750: #0a4d37;
@color-skog-800: #0a4330;
@color-skog-850: #083a29;
@color-skog-900: #083023;
@color-skog-950: #052419;
@color-skog-1000: #031610;
@color-syrin-0: #f8f8fc;
@color-syrin-25: #eaeaf6;
@color-syrin-50: #e6e6f4;
@color-syrin-75: #dcdcef;
@color-syrin-100: #d3d3ea;
@color-syrin-150: #cacae3;
@color-syrin-200: #c3c3da;
@color-syrin-250: #b6b6cd;
@color-syrin-300: #aaaac0;
@color-syrin-350: #a2a2b9;
@color-syrin-400: #9996ab;
@color-syrin-450: #8c88a0;
@color-syrin-500: #79748b;
@color-syrin-550: #686477;
@color-syrin-600: #5d5a6d;
@color-syrin-650: #514e5f;
@color-syrin-700: #474457;
@color-syrin-750: #3d394c;
@color-syrin-800: #332f41;
@color-syrin-850: #292636;
@color-syrin-900: #1f1c2c;
@color-syrin-950: #14121c;
@color-syrin-1000: #0c0b12;
@color-nordlys-0: #f6fefb;
@color-nordlys-25: #d8f8ec;
@color-nordlys-50: #c2f5e2;
@color-nordlys-75: #acf1d8;
@color-nordlys-100: #96edcb;
@color-nordlys-150: #8de2c0;
@color-nordlys-200: #78d9b3;
@color-nordlys-250: #6bcca8;
@color-nordlys-300: #58c39b;
@color-nordlys-350: #44bb8f;
@color-nordlys-400: #33af85;
@color-nordlys-450: #22a075;
@color-nordlys-500: #008f68;
@color-nordlys-550: #008560;
@color-nordlys-600: #047756;
@color-nordlys-650: #03684c;
@color-nordlys-700: #035e44;
@color-nordlys-750: #04523e;
@color-nordlys-800: #044431;
@color-nordlys-850: #033a2b;
@color-nordlys-900: #033024;
@color-nordlys-950: #022219;
@color-nordlys-1000: #021d16;
@color-myrull-0: #fff8f7;
@color-myrull-25: #fee9e7;
@color-myrull-50: #fae4e0;
@color-myrull-75: #f2d9d4;
@color-myrull-100: #e6cbc6;
@color-myrull-150: #dabeb9;
@color-myrull-200: #ccb2ad;
@color-myrull-250: #bfa5a0;
@color-myrull-300: #af9b97;
@color-myrull-350: #a9938f;
@color-myrull-400: #96837f;
@color-myrull-450: #8c7773;
@color-myrull-500: #7e6b68;
@color-myrull-550: #73615f;
@color-myrull-600: #675551;
@color-myrull-650: #5b4b48;
@color-myrull-700: #503f3c;
@color-myrull-750: #453532;
@color-myrull-800: #3b2b28;
@color-myrull-850: #312321;
@color-myrull-900: #261815;
@color-myrull-950: #1a100e;
@color-myrull-1000: #0f0807;
@color-lyng-0: #fff5f9;
@color-lyng-25: #ffe0ee;
@color-lyng-50: #ffd6e7;
@color-lyng-75: #ffc7dc;
@color-lyng-100: #ffb1cb;
@color-lyng-150: #faa3c0;
@color-lyng-200: #f297b2;
@color-lyng-250: #e58ba5;
@color-lyng-300: #d77f99;
@color-lyng-350: #ce7892;
@color-lyng-400: #bc6781;
@color-lyng-450: #b35b76;
@color-lyng-500: #a24f69;
@color-lyng-550: #98435e;
@color-lyng-600: #873953;
@color-lyng-650: #7b2d48;
@color-lyng-700: #6f213e;
@color-lyng-750: #621433;
@color-lyng-800: #560629;
@color-lyng-850: #4c0524;
@color-lyng-900: #3d0016;
@color-lyng-950: #28000f;
@color-lyng-1000: #190007;
@color-baer-0: #fff8f5;
@color-baer-25: #ffe5e0;
@color-baer-50: #ffd7d1;
@color-baer-75: #ffc2b8;
@color-baer-100: #ffaea8;
@color-baer-150: #ff978f;
@color-baer-200: #ff7f7a;
@color-baer-250: #ff6c68;
@color-baer-300: #ff5e5c;
@color-baer-350: #f55451;
@color-baer-400: #e44244;
@color-baer-450: #d93638;
@color-baer-500: #c62a2f;
@color-baer-550: #b21f22;
@color-baer-600: #a01c1f;
@color-baer-650: #8f1418;
@color-baer-700: #7c1214;
@color-baer-750: #701012;
@color-baer-800: #640e10;
@color-baer-850: #560b0c;
@color-baer-900: #49090a;
@color-baer-950: #330608;
@color-baer-1000: #230607;
@color-neutral-white: #ffffff;
@color-neutral-black: #020a0a;
@color-sol-0: #fffdf5;
@color-sol-25: #fdeed3;
@color-sol-50: #ffe0b2;
@color-sol-75: #ffd394;
@color-sol-100: #ffc675;
@color-sol-150: #ffb64d;
@color-sol-200: #f6ac3c;
@color-sol-250: #f49f1f;
@color-sol-300: #ea910b;
@color-sol-350: #dc8000;
@color-sol-400: #cc7205;
@color-sol-450: #bd6a05;
@color-sol-500: #a95704;
@color-sol-550: #944a00;
@color-sol-600: #853f00;
@color-sol-650: #753500;
@color-sol-700: #682c00;
@color-sol-750: #582400;
@color-sol-800: #491c00;
@color-sol-850: #3d1700;
@color-sol-900: #2e0b00;
@color-sol-950: #220400;
@color-sol-1000: #180000;
@color-sand-0: #fdfaf7;
@color-sand-25: #faefe6;
@color-sand-50: #f8e9dd;
@color-sand-75: #eedac9;
@color-sand-100: #e8ceba;
@color-sand-150: #e2c4ac;
@color-sand-200: #deba9c;
@color-sand-250: #d6b08f;
@color-sand-300: #cea788;
@color-sand-350: #c69e7c;
@color-sand-400: #ba926d;
@color-sand-450: #b4875f;
@color-sand-500: #a6784e;
@color-sand-550: #996e48;
@color-sand-600: #8e633e;
@color-sand-650: #7d5836;
@color-sand-700: #6c4b2d;
@color-sand-750: #583f28;
@color-sand-800: #483423;
@color-sand-850: #3e2d1e;
@color-sand-900: #32251b;
@color-sand-950: #221911;
@color-sand-1000: #110c09;
@color-multe-0: #fff9f5;
@color-multe-25: #ffeadb;
@color-multe-50: #ffe0cc;
@color-multe-75: #ffd4b8;
@color-multe-100: #ffc59e;
@color-multe-150: #faba8e;
@color-multe-200: #f8b181;
@color-multe-250: #f1a674;
@color-multe-300: #ec9e6a;
@color-multe-350: #e99863;
@color-multe-400: #e39059;
@color-multe-450: #d2814b;
@color-multe-500: #b66e3a;
@color-multe-550: #9d5d2f;
@color-multe-600: #8f501f;
@color-multe-650: #874817;
@color-multe-700: #763900;
@color-multe-750: #6a2e00;
@color-multe-800: #5e2300;
@color-multe-850: #4d1700;
@color-multe-900: #461400;
@color-multe-950: #310e00;
@color-multe-1000: #210900;
