:root, :host {
@ffe-color-background-default: var(--ffe-color-neutral-white);
@ffe-color-background-subtle: var(--ffe-color-sand-25);
@ffe-color-surface-tertiary-default: var(--ffe-color-syrin-25);
@ffe-color-surface-tertiary-hover: var(--ffe-color-syrin-50);
@ffe-color-surface-tertiary-pressed: var(--ffe-color-syrin-75);
@ffe-color-surface-info-default: var(--ffe-color-vann-25);
@ffe-color-surface-info-hover: var(--ffe-color-vann-75);
@ffe-color-surface-success-default: var(--ffe-color-skog-25);
@ffe-color-surface-warning-default: var(--ffe-color-sol-25);
@ffe-color-surface-critical-default: var(--ffe-color-baer-25);
@ffe-color-surface-secondary-default: var(--ffe-color-frost-50);
@ffe-color-surface-secondary-hover: var(--ffe-color-frost-100);
@ffe-color-surface-secondary-pressed: var(--ffe-color-frost-200);
@ffe-color-surface-primary-hover: var(--ffe-color-vann-25);
@ffe-color-surface-primary-pressed: var(--ffe-color-vann-50);
@ffe-color-surface-primary-default: var(--ffe-color-neutral-white);
@ffe-color-fill-info-default: var(--ffe-color-vann-500);
@ffe-color-fill-info-default-hover: var(--ffe-color-vann-600);
@ffe-color-fill-info-default-pressed: var(--ffe-color-vann-700);
@ffe-color-fill-info-subtle: var(--ffe-color-vann-100);
@ffe-color-fill-info-subtle-hover: var(--ffe-color-vann-200);
@ffe-color-fill-info-subtle-pressed: var(--ffe-color-vann-300);
@ffe-color-fill-success-default: var(--ffe-color-skog-500);
@ffe-color-fill-success-hover: var(--ffe-color-skog-600);
@ffe-color-fill-success-pressed: var(--ffe-color-skog-700);
@ffe-color-fill-success-subtle: var(--ffe-color-skog-100);
@ffe-color-fill-success-subtle-hover: var(--ffe-color-skog-200);
@ffe-color-fill-success-subtle-pressed: var(--ffe-color-skog-300);
@ffe-color-fill-warning-default: var(--ffe-color-sol-500);
@ffe-color-fill-warning-hover: var(--ffe-color-sol-600);
@ffe-color-fill-warning-pressed: var(--ffe-color-sol-700);
@ffe-color-fill-warning-subtle: var(--ffe-color-sol-100);
@ffe-color-fill-warning-subtle-hover: var(--ffe-color-sol-200);
@ffe-color-fill-warning-subtle-pressed: var(--ffe-color-sol-300);
@ffe-color-fill-critical-default: var(--ffe-color-baer-500);
@ffe-color-fill-critical-hover: var(--ffe-color-baer-600);
@ffe-color-fill-critical-pressed: var(--ffe-color-baer-700);
@ffe-color-fill-critical-subtle: var(--ffe-color-baer-100);
@ffe-color-fill-critical-subtle-hover: var(--ffe-color-baer-200);
@ffe-color-fill-critical-subtle-pressed: var(--ffe-color-baer-300);
@ffe-color-fill-primary-subtle: var(--ffe-color-vann-25);
@ffe-color-fill-primary-subtle-pressed: var(--ffe-color-vann-150);
@ffe-color-fill-primary-subtle-hover: var(--ffe-color-vann-75);
@ffe-color-fill-primary-default: var(--ffe-color-vann-600);
@ffe-color-fill-primary-default-hover: var(--ffe-color-vann-700);
@ffe-color-fill-primary-default-pressed: var(--ffe-color-vann-800);
@ffe-color-fill-secondary-subtle: var(--ffe-color-natt-25);
@ffe-color-fill-secondary-subtle-hover: var(--ffe-color-natt-75);
@ffe-color-fill-secondary-subtle-pressed: var(--ffe-color-natt-150);
@ffe-color-fill-secondary-default: var(--ffe-color-natt-600);
@ffe-color-fill-secondary-default-hover: var(--ffe-color-natt-700);
@ffe-color-fill-secondary-default-pressed: var(--ffe-color-natt-700);
@ffe-color-fill-tertiary-subtle: var(--ffe-color-syrin-25);
@ffe-color-fill-tertiary-subtle-hover: var(--ffe-color-syrin-75);
@ffe-color-fill-tertiary-subtle-pressed: var(--ffe-color-syrin-150);
@ffe-color-fill-tertiary-default: var(--ffe-color-syrin-600);
@ffe-color-fill-tertiary-default-hover: var(--ffe-color-syrin-700);
@ffe-color-fill-tertiary-default-pressed: var(--ffe-color-syrin-800);
@ffe-color-border-primary-default: var(--ffe-color-gray-400);
@ffe-color-border-primary-subtle: var(--ffe-color-gray-50);
@ffe-color-border-primary-hover: var(--ffe-color-gray-600);
@ffe-color-border-primary-pressed: var(--ffe-color-vann-700);
@ffe-color-border-primary-emphasis: var(--ffe-color-vann-600);
@ffe-color-border-primary-selected: var(--ffe-color-vann-600);
@ffe-color-border-info-default: var(--ffe-color-vann-300);
@ffe-color-border-success-default: var(--ffe-color-skog-300);
@ffe-color-border-warning-default: var(--ffe-color-sol-300);
@ffe-color-border-critical-default: var(--ffe-color-baer-500);
@ffe-color-border-focus: var(--ffe-color-fjell-800);
@ffe-color-border-secondary-default: var(--ffe-color-frost-250);
@ffe-color-border-secondary-hover: var(--ffe-color-frost-350);
@ffe-color-border-secondary-pressed: var(--ffe-color-frost-450);
@ffe-color-border-tertiary-default: var(--ffe-color-syrin-450);
@ffe-color-border-tertiary-hover: var(--ffe-color-syrin-550);
@ffe-color-border-tertiary-pressed: var(--ffe-color-syrin-650);
@ffe-color-icon-secondary-subtle: var(--ffe-color-text-secondary-subtle);
@ffe-color-icon-secondary-inverse: var(--ffe-color-neutral-white);
@ffe-color-icon-primary-subtle: var(--ffe-color-text-secondary-subtle);
@ffe-color-text-primary-subtle: var(--ffe-color-neutral-black);
@ffe-color-text-secondary-subtle: var(--ffe-color-gray-550);
@ffe-color-text-secondary-inverse: var(--ffe-color-neutral-white);
@ffe-color-text-label-inverse: var(--ffe-color-neutral-white);
@ffe-color-foreground-on-background-link: var(--ffe-color-vann-600);
@ffe-color-foreground-on-background-link-hover: var(--ffe-color-vann-700);
@ffe-color-foreground-on-background-link-pressed: var(--ffe-color-vann-800);
@ffe-color-foreground-on-background-default: var(--ffe-color-neutral-black);
@ffe-color-foreground-on-background-subtle: var(--ffe-color-gray-700);
@ffe-color-foreground-on-background-emphasis: var(--ffe-color-fjell-800);
@ffe-color-foreground-on-background-inverse: var(--ffe-color-neutral-white);
@ffe-color-foreground-on-background-info-default: var(--ffe-color-vann-600);
@ffe-color-foreground-on-background-success-default: var(--ffe-color-skog-600);
@ffe-color-foreground-on-background-warning-default: var(--ffe-color-sol-550);
@ffe-color-foreground-on-background-critical-default: var(--ffe-color-baer-500);
@ffe-color-foreground-on-surface-info-default: var(--ffe-color-vann-600);
@ffe-color-foreground-on-surface-success-default: var(--ffe-color-skog-600);
@ffe-color-foreground-on-surface-warning-default: var(--ffe-color-sol-550);
@ffe-color-foreground-on-surface-critical-default: var(--ffe-color-baer-500);
@ffe-color-foreground-on-surface-default: var(--ffe-color-neutral-black);
@ffe-color-foreground-on-surface-subtle: var(--ffe-color-gray-700);
@ffe-color-foreground-on-surface-emphasis: var(--ffe-color-fjell-800);
@ffe-color-foreground-on-surface-link: var(--ffe-color-vann-600);
@ffe-color-foreground-on-surface-link-hover: var(--ffe-color-vann-700);
@ffe-color-foreground-on-surface-link-pressed: var(--ffe-color-vann-800);
@ffe-color-foreground-on-surface-inverse: var(--ffe-color-neutral-white);
@ffe-color-foreground-on-fill-default: var(--ffe-color-neutral-white);
@ffe-color-foreground-on-fill-info-default: var(--ffe-color-vann-0);
@ffe-color-foreground-on-fill-success-default: var(--ffe-color-skog-0);
@ffe-color-foreground-on-fill-warning-default: var(--ffe-color-sol-0);
@ffe-color-foreground-on-fill-critical-default: var(--ffe-color-baer-0);
@ffe-color-foreground-on-fill-inverse: var(--ffe-color-neutral-black);
@ffe-color-component-button-secondary-fill-default: var(--ffe-color-background-default);
@ffe-color-component-button-secondary-fill-hover: var(--ffe-color-vann-50);
@ffe-color-component-button-secondary-fill-pressed: var(--ffe-color-vann-75);
@ffe-color-component-button-secondary-text-default: var(--ffe-color-vann-700);
@ffe-color-component-button-secondary-text-hover: var(--ffe-color-vann-700);
@ffe-color-component-button-secondary-border-default: var(--ffe-color-vann-600);
@ffe-color-component-button-secondary-border-hover: var(--ffe-color-vann-700);
@ffe-color-component-button-secondary-border-pressed: var(--ffe-color-vann-700);
@ffe-color-component-button-action-fill-default: var(--ffe-color-skog-600);
@ffe-color-component-button-action-fill-hover: var(--ffe-color-skog-700);
@ffe-color-component-button-action-fill-pressed: var(--ffe-color-skog-800);
@ffe-color-component-button-action-text-default: var(--ffe-color-neutral-white);
@ffe-color-component-button-action-text-hover: var(--ffe-color-neutral-white);
@ffe-color-component-button-action-border-default: var(--ffe-color-skog-600);
@ffe-color-component-button-action-border-hover: var(--ffe-color-skog-700);
@ffe-color-component-button-action-border-pressed: var(--ffe-color-skog-800);
@ffe-color-component-button-primary-text-default: var(--ffe-color-neutral-white);
@ffe-color-component-button-primary-text-hover: var(--ffe-color-neutral-white);
@ffe-color-component-button-primary-fill-default: var(--ffe-color-vann-600);
@ffe-color-component-button-primary-fill-hover: var(--ffe-color-vann-700);
@ffe-color-component-button-primary-fill-pressed: var(--ffe-color-vann-800);
@ffe-color-component-button-primary-border-default: var(--ffe-color-vann-600);
@ffe-color-component-button-primary-border-hover: var(--ffe-color-vann-700);
@ffe-color-component-button-primary-border-pressed: var(--ffe-color-vann-800);
@ffe-color-component-button-tertiary-text-default: var(--ffe-color-vann-800);
@ffe-color-component-button-tertiary-text-hover: var(--ffe-color-vann-800);
@ffe-color-component-button-tertiary-fill-hover: var(--ffe-color-vann-50);
@ffe-color-component-button-tertiary-fill-pressed: var(--ffe-color-vann-100);
@ffe-color-component-button-tertiary-fill-default: var(--ffe-color-background-default);
@ffe-color-component-button-tertiary-border-default: var(--ffe-color-vann-600);
@ffe-color-component-button-tertiary-border-hover: var(--ffe-color-vann-100);
@ffe-color-component-button-tertiary-border-pressed: var(--ffe-color-vann-700);
@ffe-color-component-button-critical-border-default: var(--ffe-color-baer-500);
@ffe-color-component-button-critical-border-hover: var(--ffe-color-baer-600);
@ffe-color-component-button-critical-border-pressed: var(--ffe-color-baer-700);
@ffe-color-component-button-critical-fill-default: var(--ffe-color-baer-600);
@ffe-color-component-button-critical-fill-hover: var(--ffe-color-baer-700);
@ffe-color-component-button-critical-fill-pressed: var(--ffe-color-baer-800);
@ffe-color-component-button-critical-text-default: var(--ffe-color-neutral-white);
@ffe-color-component-button-critical-text-hover: var(--ffe-color-neutral-white);
@ffe-color-component-logo-name: var(--ffe-color-fjell-800);
@ffe-color-component-logo-number1: var(--ffe-color-neutral-white);
@ffe-color-component-logo-circle-dark-red: #af0000;
@ffe-color-component-logo-circle-light-red: #e60000;
@ffe-color-component-form-fill-default: var(--ffe-color-neutral-white);
@ffe-color-component-form-fill-default-hover: var(--ffe-color-vann-25);
@ffe-color-component-form-fill-default-pressed: var(--ffe-color-vann-75);
@ffe-color-component-form-fill-selected: var(--ffe-color-vann-600);
@ffe-color-component-form-fill-selected-hover: var(--ffe-color-vann-700);
@ffe-color-component-form-fill-selected-pressed: var(--ffe-color-vann-800);
@ffe-color-component-form-fill-subtle: var(--ffe-color-natt-50);
@ffe-color-component-form-fill-subtle-hover: var(--ffe-color-natt-100);
@ffe-color-component-form-fill-subtle-pressed: var(--ffe-color-natt-150);
@ffe-color-component-chips-primary-border-default: var(--ffe-color-vann-600);
@ffe-color-component-chips-primary-border-hover: var(--ffe-color-vann-700);
@ffe-color-component-chips-primary-border-pressed: var(--ffe-color-vann-800);
@ffe-color-component-chips-primary-fill-default: var(--ffe-color-vann-600);
@ffe-color-component-chips-primary-fill-hover: var(--ffe-color-vann-700);
@ffe-color-component-chips-primary-fill-pressed: var(--ffe-color-vann-800);
@ffe-color-component-chips-primary-text-default: var(--ffe-color-neutral-white);
@ffe-color-component-chips-primary-text-hover: var(--ffe-color-neutral-white);
@ffe-color-component-chips-secondary-border-default: var(--ffe-color-vann-600);
@ffe-color-component-chips-secondary-border-hover: var(--ffe-color-vann-700);
@ffe-color-component-chips-secondary-border-pressed: var(--ffe-color-vann-700);
@ffe-color-component-chips-secondary-fill-default: var(--ffe-color-background-default);
@ffe-color-component-chips-secondary-fill-hover: var(--ffe-color-vann-50);
@ffe-color-component-chips-secondary-fill-pressed: var(--ffe-color-vann-75);
@ffe-color-component-chips-secondary-text-default: var(--ffe-color-vann-700);
@ffe-color-component-chips-secondary-text-hover: var(--ffe-color-vann-700);
@ffe-color-component-chips-tertiary-border-default: var(--ffe-color-vann-600);
@ffe-color-component-chips-tertiary-border-hover: var(--ffe-color-vann-100);
@ffe-color-component-chips-tertiary-border-pressed: var(--ffe-color-vann-700);
@ffe-color-component-chips-tertiary-fill-default: var(--ffe-color-background-default);
@ffe-color-component-chips-tertiary-fill-hover: var(--ffe-color-vann-50);
@ffe-color-component-chips-tertiary-fill-pressed: var(--ffe-color-vann-100);
@ffe-color-component-chips-tertiary-text-default: var(--ffe-color-vann-800);
@ffe-color-component-chips-tertiary-text-hover: var(--ffe-color-vann-800);
@ffe-color-component-toggleswitch-handle-default: var(--ffe-color-neutral-white);
@ffe-color-component-toggleswitch-fill-default: var(--ffe-color-gray-100);
@ffe-color-component-toggleswitch-fill-default-hover: var(--ffe-color-gray-200);
@ffe-color-component-toggleswitch-fill-default-pressed: var(--ffe-color-gray-300);
@ffe-color-component-toggleswitch-fill-selected: var(--ffe-color-vann-600);
@ffe-color-component-toggleswitch-fill-selected-hover: var(--ffe-color-vann-700);
@ffe-color-component-toggleswitch-fill-selected-pressed: var(--ffe-color-vann-800);
}