.ffe-amount-input {
    position: relative;
    display: inline-grid;
    width: 100%;
}

.ffe-amount-input__visible-amount {
    position: absolute;
    pointer-events: none;
    padding: 11px var(--ffe-spacing-sm);
}

.ffe-amount-input__editable-amount {
    color: transparent;
    caret-color: var(--ffe-color-foreground-default);
}
