@import (reference) '@sb1/ffe-core/less/colors';

.ffe-checkbox {
    --line-height: 1.5rem;
    --square-color: var(--ffe-v-checkbox-color);
    --square-background-color: var(--ffe-v-input-bg-color);
    --checkmark-color: transparent;

    line-height: var(--line-height);
    display: grid;
    grid-column-gap: var(--ffe-spacing-xs);
    align-items: center;
    cursor: pointer;
    transition: width var(--ffe-transition-duration) var(--ffe-ease);
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    text-align: left;
    padding-left: 0;
    -webkit-tap-highlight-color: fade(@ffe-farge-vann, 15%);
    color: var(--ffe-v-input-color);
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--line-height) 1fr;
    overflow-wrap: anywhere;
    hyphens: auto;

    &--no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    &--inline {
        display: inline-grid;
        margin-right: var(--ffe-spacing-sm);
    }

    &::before,
    &::after {
        place-self: center;
        content: '';
        grid-column: 1 e('/') 2;
        grid-row: 1 e('/') 2;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
    }

    &::before {
        background: var(--square-background-color);
        border: solid 2px var(--square-color);
        border-radius: var(--ffe-g-border-radius);
        height: 20px;
        width: 20px;
    }

    &--hidden-label {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;

        &::before {
            margin-right: 0;
        }
    }

    &::after {
        transform: scaleX(-1) rotate(180deg + -45deg);
        border-right: 3px solid var(--checkmark-color);
        border-top: 3px solid var(--checkmark-color);
        width: 6px;
        height: 11px;
        margin-bottom: 2px;
    }
}

.ffe-hidden-checkbox + .ffe-checkbox {
    padding: var(--ffe-spacing-xs) 0;
    margin-bottom: 0;
}

.ffe-checkbox__content {
    grid-column: 2 e('/') 3;
    grid-row: 1 e('/') -1;
}

.ffe-hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;

    &:where(:checked, :focus, :active, :hover) + .ffe-checkbox::before {
        outline: none;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover + .ffe-checkbox {
            --square-color: var(--ffe-v-checkbox-selected-color);
        }
    }

    &:focus-visible + .ffe-checkbox::before {
        box-shadow:
            0 0 0 3px var(--ffe-v-input-bg-color),
            0 0 0 5px var(--ffe-v-checkbox-focus-outline-color);
    }

    &:checked + .ffe-checkbox {
        --square-color: var(--ffe-v-checkbox-selected-color);
        --checkmark-color: var(--ffe-v-checkbox-marker-color);
    }

    &[aria-invalid='true'] + .ffe-checkbox {
        --square-color: var(--ffe-g-error-color);
    }
}

.ffe-form-label--on-colored-bg {
    color: var(--ffe-v-text-on-colored-bg-color);
}

.ffe-checkbox--on-colored-bg .ffe-checkbox__content {
    color: var(--ffe-v-text-on-colored-bg-color);
}
