.ffe-checkbox {
    --line-height: 1.15rem;

    line-height: var(--line-height);
    display: grid;
    grid-column-gap: @ffe-spacing-xs;
    align-items: center;
    margin: @ffe-spacing-xs 0;
    cursor: pointer;
    transition: width @ffe-transition-duration @ffe-ease;
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    text-align: left;
    padding-left: 0;
    -webkit-tap-highlight-color: fade(@ffe-farge-vann, 15%);
    color: var(--ffe-v-input-color);
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--line-height) 1fr;
    overflow-wrap: anywhere;
    hyphens: auto;

    &--no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    &--inline {
        display: inline-grid;
        margin-right: @ffe-spacing-sm;
    }

    &::before,
    &::after {
        place-self: center;
        content: '';
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &::before {
        border: solid 2px var(--ffe-v-checkbox-color);
        border-radius: var(--ffe-g-border-radius);
        height: 20px;
        width: 20px;
        transition: all @ffe-transition-duration @ffe-ease;
        background-color: var(--ffe-v-input-bg-color);
    }

    &--hidden-label {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;

        &::before {
            margin-right: 0;
        }
    }

    &::after {
        transform: scaleX(-1) rotate(180deg + -45deg);
        border-right: 3px solid transparent;
        border-top: 3px solid transparent;
        width: 6px;
        transition: height @ffe-transition-duration @ffe-ease;
    }
}

.ffe-checkbox__content {
    grid-column: 2/3;
    grid-row: 1/-1;
}

.ffe-hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;

    &:checked + .ffe-checkbox::before,
    &:focus + .ffe-checkbox::before,
    &:active + .ffe-checkbox::before {
        outline: none;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover + .ffe-checkbox::before {
            outline: none;
            border-color: var(--ffe-v-checkbox-color);
        }
    }

    &:focus + .ffe-checkbox::before {
        box-shadow: 0 0 0 3px var(--ffe-v-input-bg-color),
            0 0 0 5px var(--ffe-v-checkbox-focus-outline-color);
    }

    &:focus:not(:focus-visible) + .ffe-checkbox::before {
        box-shadow: none;
    }

    &:checked + .ffe-checkbox::before {
        border-color: var(--ffe-v-checkbox-selected-color);
        background-color: var(--ffe-v-input-bg-color);
    }

    &:checked + .ffe-checkbox::after {
        border-color: var(--ffe-v-checkbox-marker-color);
        height: 11px;
    }

    &[aria-invalid='true'] + .ffe-checkbox::before {
        border-color: var(--ffe-g-error-color);
    }
}
