// Field Success Message
//
// Markup:
// <div class="ffe-field-success-message">Dette gikk jo riktig så godt</div>
//
// Styleguide ffe-form.field-success-message

.ffe-field-success-message:extend(.ffe-field-info-message) {
    color: @ffe-green-shamrock;

    &[aria-hidden='true'] {
        display: none;
    }

    &::before:extend(.ffe-field-info-message::before) {
        content: url('data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIGhlaWdodD0iMTIiIHdpZHRoPSIxMiIgeD0iOTAwIiB5PSI2MDAiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj48cGF0aCBkPSJNMTc2LjU2IDBjLTQuNDAzIDAtOC4zMDcgMi40NjYtMTAuMjg4IDUuODkyTDc1LjcyNyAxNjIuMjI4bC00Mi42MS01OS43N2MtMi40NjItMi45NDUtNS44ODYtNC44OS05Ljc4OS00Ljg5aC03LjM0MmMtNC40MDMgMC04LjMwNyAyLjQ2LTEwLjI4OSA2LjM2OC0xLjk0MSAzLjk0OC0xLjQ2IDguODQgMSAxMi4yNjdMNjEuNSAxOTIuMTY2YzMuNDIgNC44OSA5LjMwNiA3LjgzNCAxNS4xOSA3LjgzNCA2Ljg0NSAwIDEyLjcwOC0zLjQyNiAxNi4xMy05LjMxN0wxOTMuNjQ3IDE3LjE5NmMyLjQ2Mi0zLjQ2NyAyLjQ2Ni03LjgzNy4wNDQtMTEuMzAzQzE5MS43NSAxLjk0NSAxODcuODA1IDAgMTgzLjQwMiAwaC02Ljg0MnoiLz48L3N2Zz4=');
        background-color: @ffe-green-shamrock;
    }
}
