// Field Error Message
//
// Markup:
// <div class="ffe-field-error-message">Noe er feil her</div>
//
// Styleguide ffe-form.field-error-message

.ffe-field-error-message:extend(.ffe-field-info-message) {
    color: @ffe-black;

    &[aria-hidden='true'] {
        display: none;
    }

    &::before:extend(.ffe-field-info-message::before) {
        content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23fff%22%20height%3D%2212%22%20width%3D%2212%22%20x%3D%221650%22%20y%3D%221200%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20d%3D%22M99.882.64a16.562%2016.562%200%200%200-16.294%2016.772v93.863a16.562%2016.562%200%201%200%2033.102%200V17.412A16.562%2016.562%200%200%200%2099.882.64zm.257%20162.054c-9.145%200-16.55%207.405-16.55%2016.55%200%209.147%207.405%2016.589%2016.55%2016.589%209.146%200%2016.551-7.442%2016.551-16.588s-7.405-16.551-16.55-16.551z%22/%3E%3C/svg%3E');
        background-color: @ffe-orange-fire;
    }
}
