// Field Info Message
//
// Markup:
// <div class="ffe-field-info-message">Jo, nå skal du høre</div>
//
// Styleguide ffe-form.field-info-message

.ffe-field-info-message {
    color: @ffe-blue-royal;
    margin: 5px 0 10px;
    display: block;
    .ffe-fontsize-body-text;

    &[aria-hidden='true'] {
        display: none;
    }

    &::before {
        content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23fff%22%20height%3D%2212%22%20width%3D%2212%22%20x%3D%22750%22%20y%3D%221050%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20d%3D%22M96.19%20199.99h7.846c7.154%200%2011.308-4.398%2011.308-11.805V85.195c0-7.407-4.154-11.805-11.308-11.805H96.19c-7.384%200-11.769%204.398-11.769%2011.805v103C84.648%20195.6%2088.801%20200%2096.186%20200zM116.5%2011.805C116.5%204.398%20112.35%200%20105.19%200H94.808C87.65%200%2083.5%204.398%2083.5%2011.805V26.85c0%207.407%203.923%2011.342%2011.308%2011.342h10.385c7.384%200%2011.308-3.935%2011.308-11.342V11.805z%22/%3E%3C/svg%3E');
        color: @ffe-white;
        background-color: @ffe-blue-royal;
        border-radius: 50%;
        vertical-align: middle;
        padding: 2px;
        width: 18px;
        height: 18px;
        display: inline-block;
        line-height: 16px;
        margin-right: 5px;
        text-align: center;
        font-family: arial, sans-serif;
    }
}
