.ffe-field-success-message:extend(.ffe-field-info-message) {
    color: @ffe-green-shamrock;

    &[aria-hidden="true"] {
        display: none;
    }

    &::before:extend(.ffe-field-info-message::before) {
        content: '\2713';
        background-color: @ffe-green-shamrock;
    }
}
