.ffe-field-message {
    font-family: var(--ffe-g-font);
    color: var(--ffe-color-foreground-default);
    margin: var(--ffe-spacing-2xs) 0 var(--ffe-spacing-xs);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--ffe-spacing-xs);
    font-size: var(--ffe-fontsize-body-text);
    overflow-wrap: anywhere;

    &[aria-hidden='true'] {
        display: none;
    }

    &__icon {
        place-self: center;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: inline-flex;
        color: var(--ffe-color-foreground-on-fill-default);
        align-items: center;
        justify-content: center;
    }

    .ffe-icons {
        color: var(--ffe-color-foreground-on-fill-default);
    }
}

.ffe-field-message--success .ffe-field-message__icon {
    background-color: var(--ffe-color-fill-feedback-success);
    .ffe-icons {
        color: var(--ffe-color-foreground-on-fill-default);
    }
}

.ffe-field-message--info .ffe-field-message__icon {
    background-color: var(--ffe-color-fill-feedback-info);
    .ffe-icons {
        color: var(--ffe-color-foreground-on-fill-default);
    }
}

.ffe-field-message--error .ffe-field-message__icon {
    background: var(--ffe-color-fill-feedback-critical);
    .ffe-icons {
        color: var(--ffe-color-background-default);
    }
}
