.ffe-field-message {
    font-family: var(--ffe-g-font);
    color: var(--ffe-v-input-color);
    margin: @ffe-spacing-2xs 0 @ffe-spacing-xs;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: @ffe-spacing-2xs;
    font-size: var(--ffe-v-message-font-size);
    line-height: var(--ffe-v-message-line-heigth);
    overflow-wrap: anywhere;

    &[aria-hidden='true'] {
        display: none;
    }

    &__icon {
        place-self: center;
        background-color: var(--ffe-v-info-message-icon-color);
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .ffe-icons {
        color: var(--ffe-v-info-message-icon-fill);
    }
}

.ffe-field-message--success .ffe-field-message__icon {
    background-color: var(--ffe-v-success-message-icon-color);
    .ffe-icons {
        color: var(--ffe-v-success-message-icon-fill);
    }
}

.ffe-field-message--error .ffe-field-message__icon {
    background-color: var(--ffe-v-error-message-icon-color);
    .ffe-icons {
        color: var(--ffe-v-error-message-icon-fill);
    }
}
