// Field Success Message
//
// Markup:
// <div class="ffe-field-success-message">Dette gikk jo riktig så godt</div>
//
// Styleguide ffe-form.field-success-message

.ffe-field-success-message:extend(.ffe-field-info-message) {
    color: @ffe-green-shamrock;

    &[aria-hidden='true'] {
        display: none;
    }

    &::before:extend(.ffe-field-info-message::before) {
        content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23fff%22%20height%3D%2212%22%20width%3D%2212%22%20x%3D%22900%22%20y%3D%22600%22%20viewBox%3D%220%200%20200%20200%22%3E%3Cpath%20d%3D%22M176.56%200c-4.403%200-8.307%202.466-10.288%205.892L75.727%20162.228l-42.61-59.77c-2.462-2.945-5.886-4.89-9.789-4.89h-7.342c-4.403%200-8.307%202.46-10.289%206.368-1.941%203.948-1.46%208.84%201%2012.267L61.5%20192.166c3.42%204.89%209.306%207.834%2015.19%207.834%206.845%200%2012.708-3.426%2016.13-9.317L193.647%2017.196c2.462-3.467%202.466-7.837.044-11.303C191.75%201.945%20187.805%200%20183.402%200h-6.842z%22/%3E%3C/svg%3E');
        background-color: @ffe-green-shamrock;
    }
}
