// Field Error Message
//
// Markup:
// <div class="ffe-field-error-message">Noe er feil her</div>
//
// Styleguide ffe-form.field-error-message

.ffe-field-error-message:extend(.ffe-field-info-message) {
    color: @ffe-black;

    &[aria-hidden='true'] {
        display: none;
    }

    &::before:extend(.ffe-field-info-message::before) {
        content: url('data:image/svg+xml;charset=utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIGhlaWdodD0iMTIiIHdpZHRoPSIxMiIgeD0iMTY1MCIgeT0iMTIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiPjxwYXRoIGQ9Ik05OS44ODIuNjRhMTYuNTYyIDE2LjU2MiAwIDAgMC0xNi4yOTQgMTYuNzcydjkzLjg2M2ExNi41NjIgMTYuNTYyIDAgMSAwIDMzLjEwMiAwVjE3LjQxMkExNi41NjIgMTYuNTYyIDAgMCAwIDk5Ljg4Mi42NHptLjI1NyAxNjIuMDU0Yy05LjE0NSAwLTE2LjU1IDcuNDA1LTE2LjU1IDE2LjU1IDAgOS4xNDcgNy40MDUgMTYuNTg5IDE2LjU1IDE2LjU4OSA5LjE0NiAwIDE2LjU1MS03LjQ0MiAxNi41NTEtMTYuNTg4cy03LjQwNS0xNi41NTEtMTYuNTUtMTYuNTUxeiIvPjwvc3ZnPg==');
        background-color: @ffe-orange-fire;
    }
}
