.ffe-form-label {
    overflow-wrap: anywhere;
    padding-bottom: var(--ffe-spacing-2xs);
    display: inline-block;
    position: relative;
    font-family: var(--ffe-g-font-strong);
    font-variant-numeric: tabular-nums;
    font-size: var(--ffe-fontsize-h6);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: var(--ffe-color-foreground-default);

    .ffe-tooltip--open .ffe-tooltip__text {
        margin-bottom: 0;
    }

    &--block {
        display: block;
    }

    .ffe-input-group:has(.ffe-tooltip) & {
        max-width: calc(100% - 42px);
    }
}
