.ffe-input-group {
    border: 0;
    position: relative;
    padding: 0 0 calc(1lh + var(--ffe-spacing-xs));

    > * {
        margin-top: 0;
        margin-bottom: var(--ffe-spacing-xs);
    }

    .ffe-form-label {
        margin-bottom: 0;
    }

    .ffe-field-message--error {
        margin-top: 0;
    }

    &__description {
        margin-bottom: var(--ffe-spacing-xs);
    }

    &--message {
        padding-bottom: 0;
    }

    &--no-extra-margin {
        padding-bottom: 0;

        .ffe-field-message--error {
            margin-bottom: var(--ffe-spacing-xs);
            height: initial;
        }
    }

    &--on-colored-bg {
        .ffe-input-group__description {
            color: var(--ffe-v-text-on-colored-bg-color);
        }
    }
}
