.ffe-input-field {
    display: block;
    height: 2.8125rem;
    padding: 0 var(--ffe-spacing-sm);
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    background-color: var(--ffe-v-input-bg-color);
    color: var(--ffe-v-input-color);
    border-radius: var(--ffe-g-border-radius);
    border: 2px solid var(--ffe-g-border-color);
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    width: 100%;
    font-size: var(--ffe-fontsize-form-input);

    &[type='date'] {
        display: flex;
    }

    &::-webkit-date-and-time-value {
        text-align: left;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-color: var(--ffe-g-primary-color);
        }
    }

    &:focus,
    &:active {
        border-color: var(--ffe-v-input-bg-color);
        box-shadow: 0 0 0 2px var(--ffe-g-primary-color);
        outline: none;
    }

    &--inline {
        display: inline-block;
        width: auto;
    }

    &--text-right-align {
        text-align: right;
    }

    &--condensed {
        height: 2.25rem;
    }

    &--text-like.ffe-input-field {
        border: none;
        border-bottom: 2px solid var(--ffe-g-border-color);
        border-radius: 4px 4px 0 0;
        box-shadow: none;
        text-align: center;
        padding: 0;
        display: inline-block;
        height: 2em;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
        background-color: transparent;

        &:focus {
            box-shadow: none;
            border-color: var(--ffe-g-primary-color);
        }

        &[aria-invalid='true'] {
            border-bottom: 2px solid;
            border-color: var(--ffe-g-error-color);
            border-left-style: none;
            border-right-style: none;
            border-top-style: none;
        }
    }

    &::-ms-clear {
        display: none;
    }

    &::placeholder {
        color: var(--ffe-v-input-placeholder-color);
        opacity: 1;
    }
}
.ffe-input-field--invalid,
:where(input).ffe-input-field[aria-invalid='true'] {
    border-color: var(--ffe-g-error-color);
    border-style: solid;

    &:focus {
        border-color: var(--ffe-v-input-bg-color);
        box-shadow: 0 0 0 2px var(--ffe-g-error-color);
    }
}
