.ffe-radio-switch {
    padding: 6px var(--ffe-spacing-sm);
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--ffe-spacing-xs);
    position: relative;
    background-color: var(--ffe-v-input-bg-color);
    border: 2px solid var(--ffe-g-border-color);
    border-radius: 22px;
    display: inline-grid;
    place-items: center;
    min-width: 100px;
    text-align: left;
    color: var(--ffe-v-radio-button-label-color);
    font-family: var(--ffe-g-font-strong);
    font-variant-numeric: tabular-nums;
    cursor: pointer;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: var(--ffe-spacing-2xs);
    margin-top: var(--ffe-spacing-sm);
    line-height: 1.5;
    overflow-wrap: anywhere;

    &::before {
        content: '';
        left: 12px;
        top: 8px;
        background-color: var(--ffe-v-input-bg-color);
        border: 2px solid var(--ffe-g-border-color);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        pointer-events: none;
    }

    &.ffe-radio-button--invalid {
        border-color: var(--ffe-farge-baer);
        .native & {
            @media (prefers-color-scheme: dark) {
                border-color: var(--ffe-farge-baer);
            }
        }
    }

    @media (min-width: @breakpoint-sm) {
        margin-bottom: 0;
    }

    & + input + .ffe-radio-switch {
        margin-left: var(--ffe-spacing-xs);
    }

    &--condensed {
        height: 38px;
    }
}

.ffe-radio-input {
    &:checked + .ffe-radio-switch {
        &:not(.ffe-radio-button--invalid) {
            border-color: var(--ffe-g-secondary-color);
        }

        background-color: var(--ffe-g-secondary-color);
        color: var(--ffe-v-input-bg-color);
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover + .ffe-radio-switch {
            border-color: var(--ffe-g-secondary-color);
        }
    }

    &:focus-visible + .ffe-radio-switch {
        box-shadow:
            0 0 0 3px var(--ffe-v-input-bg-color),
            0 0 0 5px var(--ffe-v-checkbox-focus-outline-color);
    }

    &:checked + .ffe-radio-switch::before {
        border: 5px solid var(--ffe-v-input-bg-color);
        background-color: var(--ffe-v-checkbox-selected-color);
    }
}
