.ffe-radio-switch {
    --outer-circle-color: var(--ffe-color-border-primary-default);
    --inner-circle-color: var(--ffe-color-fill-primary-pressed);
    --circle-background: var(--ffe-color-surface-primary-default);
    color: var(--ffe-color-foreground-default);

    padding: var(--ffe-spacing-xs) var(--ffe-spacing-md) var(--ffe-spacing-xs)
        var(--ffe-spacing-xs);
    grid-template-columns: auto 1fr;
    grid-column-gap: var(--ffe-spacing-xs);
    position: relative;
    border: var(--ffe-g-border-width) solid var(--outer-circle-color);
    border-radius: 48px;
    display: inline-grid;
    place-items: center;
    min-width: 100px;
    text-align: left;
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    cursor: pointer;
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    margin-bottom: var(--ffe-spacing-2xs);
    margin-top: var(--ffe-spacing-sm);
    line-height: 1.5;
    overflow-wrap: anywhere;

    &::before {
        content: '';
        left: 12px;
        top: 8px;
        background-color: var(--inner-circle-color);
        border: var(--ffe-g-border-width) solid var(--outer-circle-color);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        pointer-events: none;
    }

    @media (min-width: @breakpoint-sm) {
        margin-bottom: 0;
    }

    & + input + .ffe-radio-switch {
        margin-left: var(--ffe-spacing-xs);
    }

    &--condensed {
        height: 38px;
    }
}

.ffe-radio-input {
    &:where(:checked, :focus, :active, :hover) + .ffe-radio-switch::before {
        outline: none;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover + .ffe-radio-switch {
            --circle-background: var(--ffe-color-surface-primary-default-hover);
        }
    }

    &:checked + .ffe-radio-switch {
        --outer-circle-color: var(--ffe-color-fill-primary-selected);
        --inner-circle-color: var(--ffe-color-fill-primary-pressed);
        background-color: var(--ffe-color-fill-primary-pressed);
        color: var(--ffe-color-foreground-on-fill-default);

        &::before {
            border: 5px solid var(--ffe-color-surface-primary-default);
            background-color: var(--ffe-color-fill-primary-selected);
        }
    }

    &:focus + .ffe-radio-switch {
        --outer-circle-color: var(--ffe-color-border-interactive-focus);
        outline: none;
        box-shadow: 0 0 0 2px var(--ffe-color-border-interactive-focus);
    }

    &:disabled + .ffe-radio-switch {
        cursor: not-allowed;
        --outer-circle-color: var(--ffe-color-border-primary-subtle);
        --circle-background: var(--ffe-color-surface-primary-default);
        color: var(--ffe-color-foreground-subtle);
    }

    &[aria-invalid='true'] + .ffe-radio-switch {
        --outer-circle-color: var(--ffe-color-border-feedback-critical);
    }
}
