.ffe-radio-button {
    --line-height: 1.15rem;

    line-height: var(--line-height);
    overflow-wrap: anywhere;
    hyphens: auto;
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    display: grid;
    align-items: center;
    position: relative;
    color: var(--ffe-g-text-color);
    cursor: pointer;
    margin: 0 0 @ffe-spacing-xs 0;
    transition: width @ffe-transition-duration @ffe-ease-in-out-back;
    text-align: left;
    padding-left: @ffe-spacing-lg;
    padding-top: 1px;
    -webkit-tap-highlight-color: fade(@ffe-farge-vann, 15%);
    grid-template-columns: auto 1fr;
    grid-template-rows: var(--line-height) 1fr;
    grid-column-gap: @ffe-spacing-sm;

    &--inline,
    &--with-tooltip {
        display: inline-grid;
        margin-right: @ffe-spacing-md;
    }

    &--with-tooltip {
        margin-bottom: 0;
    }

    &__tooltip-icon {
        display: inline-block;
        vertical-align: top;
        width: 25px;
        position: absolute;
        right: 0;
        margin-top: @ffe-spacing-xs;

        & .ffe-tooltip__icon {
            margin: 0;
        }
    }

    &__tooltip-text.ffe-tooltip__text {
        &:extend(.ffe-small-text);

        margin-left: @ffe-spacing-lg;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__tooltip-text.ffe-tooltip__text--active {
        margin-top: @ffe-spacing-2xs;
    }

    &::before,
    &::after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        pointer-events: none;
        left: 0;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &::before {
        background-color: @ffe-farge-hvit;
        border: 10px solid @ffe-farge-hvit;
        transition: all @ffe-transition-duration @ffe-ease;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: @ffe-farge-svart;
                border-color: @ffe-farge-svart;
            }
        }
    }

    &::after {
        border: 2px solid var(--ffe-g-border-color);
        transition: all @ffe-transition-duration @ffe-ease;
    }

    [aria-invalid='true'] &::after {
        border-color: var(--ffe-g-error-color);
    }
}

.ffe-radio-input {
    &:checked + .ffe-radio-button::before,
    &:hover + .ffe-radio-button::before,
    &:focus + .ffe-radio-button::before,
    &:active + .ffe-radio-button::before {
        outline: none;
    }

    &:checked + .ffe-radio-button::after,
    &:hover + .ffe-radio-button::after {
        border-color: var(--ffe-g-primary-color);
    }

    &:checked + .ffe-radio-button::before {
        background-color: var(--ffe-g-primary-color);
        border: 5px solid @ffe-farge-hvit;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: @ffe-farge-vann-30;
                border-color: @ffe-farge-svart;
            }
        }
    }

    &:focus + .ffe-radio-button::after {
        box-shadow: 0 0 0 3px @ffe-farge-hvit,
            0 0 0 5px var(--ffe-g-primary-color);

        .native & {
            @media (prefers-color-scheme: dark) {
                box-shadow: 0 0 0 3px @ffe-farge-svart,
                    0 0 0 5px @ffe-farge-hvit;
            }
        }
    }

    &:focus:not(:focus-visible) + .ffe-radio-button::after {
        box-shadow: none;
    }

    [aria-invalid='true'] &:hover + .ffe-radio-button::after,
    [aria-invalid='true'] &:checked + .ffe-radio-button::after {
        border-color: var(--ffe-g-error-color);
    }
}

.ffe-radio-input__content {
    grid-column: 2/3;
    grid-row: 1/-1;
}
