// Radio block
//
// Markup:
// <fieldset class="ffe-fieldset ffe-input-group">
//     <legend class="ffe-form-label">Hvem eier bilen du skal forsikre?</legend>
//     <div class="ffe-radio-block">
//         <input type="radio" class="ffe-radio-input" id="radio-block-1" name="owner" value="you"
//             aria-invalid="false">
//         <div class="ffe-radio-block__content">
//             <label class="ffe-radio-block__header" for="radio-block-1">Du</label>
//             <div class="ffe-radio-block__wrapper ffe-radio-block__wrapper--empty"></div>
//         </div>
//     </div>
//     <div class="ffe-radio-block">
//         <input type="radio" class="ffe-radio-input" id="radio-block-2" name="owner" value="partner"
//             aria-invalid="false">
//         <div class="ffe-radio-block__content">
//             <label class="ffe-radio-block__header" for="radio-block-2">Ektefelle, samboer eller registrert partner</label>
//         </div>
//     </div>
//     <div class="ffe-radio-block">
//         <input type="radio" class="ffe-radio-input" id="radio-block-3" name="owner" value="leasing-company"
//             aria-invalid="false">
//         <div class="ffe-radio-block__content">
//             <label class="ffe-radio-block__header" for="radio-block-3">Leasingselskap</label>
//         </div>
//     </div>
// </fieldset>
//
// Styleguide ffe-form.radio-block

.ffe-radio-block {
    margin-top: @ffe-spacing-md;
    width: 100%;
    transition: width @ffe-transition-duration @ffe-ease-in-out-back;

    &__content {
        width: 100%;
        position: relative;
        border: 2px solid @ffe-grey-silver;
        border-radius: 5px;
        display: inline-block;
        margin-right: @ffe-spacing-xs;
        color: @ffe-black;
        background-color: @ffe-white;
        cursor: pointer;
        transition: border-color @ffe-transition-duration @ffe-ease;

        .native & {
            @media (prefers-color-scheme: dark) {
                border: 2px solid @ffe-grey-darkmode;
                color: @ffe-grey-cloud-darkmode;
                background: @ffe-grey-charcoal-darkmode;
            }
        }

        &::before {
            .ffe-sb1-radioblob();

            left: 20px;
            top: 10px;
            z-index: 1;
        }

        .native &::before {
            @media (prefers-color-scheme: dark) {
                background: none;
                border-color: @ffe-white-darkmode;
            }
        }
    }

    &__header {
        display: block;
        padding: @ffe-spacing-xs @ffe-spacing-3xl @ffe-spacing-xs;
        cursor: pointer;
        border-bottom: thin solid @ffe-grey-silver;
        transition: background-color @ffe-transition-duration @ffe-ease,
            border-color @ffe-transition-duration @ffe-ease;

        .native & {
            @media (prefers-color-scheme: dark) {
                border-bottom: thin solid @ffe-grey-darkmode;
            }
        }
    }

    &__wrapper {
        padding: @ffe-spacing-sm @ffe-spacing-sm @ffe-spacing-lg;
        cursor: auto;

        &--empty {
            padding: 0;
        }

        &[aria-hidden='true'] {
            display: none;
        }
    }
}

// Weakness: Requires specific dom structure to work. Rewrite?
.ffe-radio-input {
    &,
    + .ffe-radio-block__content[role='presentation'],
    > .ffe-radio-block__header {
        border-bottom: none;
    }

    &:checked + .ffe-radio-block__content {
        border: 2px solid @ffe-blue-royal;

        > .ffe-radio-block__header {
            border-bottom: thin solid @ffe-blue-royal;
            background-color: @ffe-blue-royal;
            color: @ffe-white;
        }
    }

    .native &:checked + .ffe-radio-block__content {
        @media (prefers-color-scheme: dark) {
            border: 2px solid @ffe-grey-darkmode;

            > .ffe-radio-block__header {
                border-bottom: thin solid @ffe-grey-darkmode;
                background-color: @ffe-grey-darkmode;
                color: @ffe-white;
            }
        }
    }

    &:checked + .ffe-radio-block__content::before {
        .ffe-sb1-radioblob-active();

        .native & {
            @media (prefers-color-scheme: dark) {
                border: 5px solid @ffe-white-darkmode;
                background: @ffe-blue-azure;
            }
        }
    }

    &:focus + .ffe-radio-block__content {
        box-shadow: 0 0 0 1px @ffe-white, 0 0 0 4px @ffe-blue-focus;
    }
}

@media (min-width: @breakpoint-sm) {
    .ffe-radio-block__wrapper {
        padding-left: @ffe-spacing-3xl;
    }
}
