@import (reference) '@sb1/ffe-core/less/breakpoints';

.ffe-radio-block {
    --outer-circle-color: var(--ffe-color-border-primary-default);
    --inner-circle-color: var(--ffe-color-fill-primary-pressed);
    --block-background: var(--ffe-color-surface-primary-default);

    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    margin-top: var(--ffe-spacing-md);
    width: 100%;
    transition: width var(--ffe-transition-duration) var(--ffe-ease-in-out-back);
    overflow-wrap: anywhere;

    &__content,
    &__header {
        cursor: pointer;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
    }

    &__content {
        width: 100%;
        display: inline-grid;
        grid-template-columns: auto 1fr;
        position: relative;
        border: 2px solid var(--outer-circle-color);
        border-radius: var(--ffe-radius-md);
        margin-right: var(--ffe-spacing-xs);
        color: var(--ffe-color-foreground-default);
        background-color: var(--block-background);

        &::before {
            place-self: center;
            grid-column: 1 e('/') 2;
            grid-row: 1 e('/') 2;
            content: '';
            left: 20px;
            z-index: 1;
            background-color: transparent;
            border: 2px solid var(--outer-circle-color);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            pointer-events: none;
        }
    }

    &__header {
        grid-column: 2 e('/') 3;
        grid-row: 1 e('/') 2;
        display: block;
        padding: var(--ffe-spacing-xs) var(--ffe-spacing-3xl)
            var(--ffe-spacing-xs);
        color: var(--ffe-color-foreground-default);
        background-color: transparent;
        border-radius: var(--ffe-radius-md) var(--ffe-radius-md) 0 0;
    }

    &__wrapper {
        grid-column: 2 e('/') 3;
        grid-row: 2 e('/') 3;
        padding: var(--ffe-spacing-sm) var(--ffe-spacing-sm)
            var(--ffe-spacing-lg);
        cursor: auto;
        color: var(--ffe-color-foreground-default);

        &--empty {
            padding: 0;
        }

        &[aria-hidden='true'] {
            display: none;
        }

        @media (min-width: @breakpoint-sm) {
            padding-left: var(--ffe-spacing-3xl);
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover .ffe-radio-block__content {
            --block-background: var(--ffe-color-surface-primary-default-hover);
            --outer-circle-color: var(--ffe-color-border-primary-hover);
        }
    }

    &:active .ffe-radio-block__content {
        --block-background: var(--ffe-color-surface-primary-default-pressed);
        --outer-circle-color: var(--ffe-color-border-primary-pressed);
    }
}

.ffe-radio-input {
    &:checked + .ffe-radio-block__content {
        --outer-circle-color: var(--ffe-color-border-interactive-focus);

        &::before {
            background-color: var(--ffe-color-fill-primary-pressed);
            border: 5px solid var(--block-background);
        }

        .ffe-radio-block__header {
            background-color: var(--ffe-color-fill-primary-selected);
            color: var(--ffe-color-foreground-on-fill-default);
        }
    }

    &:focus + .ffe-radio-block__content {
        --outer-circle-color: var(--ffe-color-border-interactive-focus);
        outline: none;
        box-shadow: 0 0 0 2px var(--ffe-color-border-interactive-focus);
    }

    &:disabled + .ffe-radio-block__content {
        --outer-circle-color: var(--ffe-color-border-primary-subtle);
        --block-background: var(--ffe-color-surface-primary-default);

        cursor: not-allowed;
        color: var(--ffe-color-foreground-subtle);

        .ffe-radio-block__header {
            color: var(--ffe-color-foreground-subtle);
        }

        .ffe-radio-block__wrapper {
            color: var(--ffe-color-foreground-subtle);
        }
    }

    &[aria-invalid='true'] + .ffe-radio-block__content {
        --outer-circle-color: var(--ffe-color-border-feedback-critical);
    }
}
