@import (reference) '@sb1/ffe-core/less/breakpoints';

.ffe-radio-block {
    --outer-border-color: var(--ffe-color-border-primary-default);
    --block-background: var(--ffe-color-surface-primary-default);

    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    margin-top: var(--ffe-spacing-md);
    width: 100%;
    transition: width var(--ffe-transition-duration) var(--ffe-ease);
    overflow-wrap: anywhere;

    &__content,
    &__header {
        cursor: pointer;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
    }

    &__content {
        width: 100%;
        display: inline-grid;
        grid-template-columns: auto 1fr;
        position: relative;
        margin-right: var(--ffe-spacing-xs);
        color: var(--ffe-color-foreground-default);
        background-color: var(--block-background);
        border: var(--ffe-g-border-width) solid var(--outer-border-color);
        border-radius: var(--ffe-g-border-radius);
        overflow: hidden;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
        outline: var(--ffe-g-outline-width) solid transparent;
        outline-offset: var(--ffe-g-outline-offset);

        &::before {
            place-self: center;
            grid-column: 1 e('/') 2;
            grid-row: 1 e('/') 2;
            content: '';
            left: var(--ffe-spacing-sm);
            z-index: 1;
            background-color: var(--ffe-color-surface-primary-default);
            border: var(--ffe-g-border-width) solid var(--outer-border-color);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            pointer-events: none;
        }
    }

    &__header {
        grid-column: 2 e('/') 3;
        grid-row: 1 e('/') 2;
        display: block;
        padding: var(--ffe-spacing-xs) var(--ffe-spacing-2xl)
            var(--ffe-spacing-xs);
        color: var(--ffe-color-foreground-default);
        background-color: transparent;
    }

    &__wrapper {
        grid-column: 2 e('/') 3;
        grid-row: 2 e('/') 3;
        padding: 12px var(--ffe-spacing-sm);
        border-top: var(--ffe-g-border-width) solid var(--outer-border-color);
        cursor: auto;
        color: var(--ffe-color-foreground-default);
        transition: all var(--ffe-transition-duration) var(--ffe-ease);

        &[aria-hidden='true'] {
            display: none;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            --outer-border-color: var(--ffe-color-border-primary-default-hover);

            .ffe-radio-block__header {
                background-color: var(
                    --ffe-color-surface-primary-default-hover
                );
            }

            .ffe-radio-block__content {
                box-shadow: var(--ffe-g-border-focus-box-shadow)
                    var(--outer-border-color);
            }

            .ffe-radio-block__wrapper {
                box-shadow: inset 0 1px 0 0 var(--outer-border-color);
            }
        }
    }

    &:active {
        .ffe-radio-block__header {
            background-color: var(--ffe-color-surface-primary-default-pressed);
        }
    }

    &:active .ffe-radio-block__content {
        --outer-border-color: var(--ffe-color-border-primary-default-pressed);
    }
}

.ffe-radio-input {
    &:checked + .ffe-radio-block__content {
        --outer-border-color: var(--ffe-color-border-interactive-selected);

        box-shadow: var(--ffe-g-border-focus-box-shadow)
            var(--outer-border-color);

        &::before {
            background-color: var(--ffe-color-fill-primary-selected-default);
            border: 4px solid var(--block-background);
            box-shadow: var(--ffe-g-border-focus-box-shadow)
                var(--ffe-color-border-interactive-selected);
        }

        .ffe-radio-block__wrapper {
            box-shadow: inset 0 1px 0 0 var(--outer-border-color);
        }
    }

    &:focus + .ffe-radio-block__content {
        --outer-border-color: var(--ffe-color-border-interactive-selected);

        box-shadow: var(--ffe-g-border-focus-box-shadow)
            var(--ffe-color-border-interactive-selected);
    }

    &:focus + .ffe-radio-block__content .ffe-radio-block__wrapper {
        box-shadow: inset 0 1px 0 0 var(--outer-border-color);
    }

    &:focus-visible + .ffe-radio-block__content {
        outline-color: var(--ffe-color-border-interactive-focus);
    }

    &:disabled + .ffe-radio-block__content {
        --outer-border-color: var(--ffe-color-border-primary-subtle);
        --block-background: var(--ffe-color-surface-primary-default);

        cursor: not-allowed;
        color: var(--ffe-color-foreground-subtle);

        .ffe-radio-block__header {
            color: var(--ffe-color-foreground-subtle);
        }

        .ffe-radio-block__wrapper {
            color: var(--ffe-color-foreground-subtle);
        }
    }

    &[aria-invalid='true'] + .ffe-radio-block__content {
        --outer-border-color: var(--ffe-color-border-feedback-critical);

        box-shadow: var(--ffe-g-border-focus-box-shadow)
            var(--outer-border-color);

        .ffe-radio-block__wrapper {
            box-shadow: inset 0 1px 0 0 var(--outer-border-color);
        }

        .ffe-radio-block__header {
            background-color: var(--ffe-color-component-form-input-fill-error);
            color: var(--ffe-color-component-form-input-foreground-error);
        }
    }
}

.ffe-radio-block:has(.ffe-radio-input:checked) {
    &:hover {
        .ffe-radio-block__content .ffe-radio-block__header {
            background-color: var(--ffe-color-surface-primary-default-hover);
        }
        &:has(.ffe-radio-input[aria-invalid='true']) .ffe-radio-block__header {
            background-color: var(--ffe-color-component-form-input-fill-error);
        }
    }

    &:active {
        --outer-border-color: var(--ffe-color-border-interactive-selected);
        .ffe-radio-block__content .ffe-radio-block__header {
            background-color: var(--ffe-color-surface-primary-default-pressed);
        }
    }
}
