/*
    Radioblob: Small design element on "radio button"-like elements
*/
.ffe-sb1-radioblob() {
    content: '';
    background-color: var(--ffe-farge-hvit);
    border: 2px solid var(--ffe-g-border-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    .native & {
        @media (prefers-color-scheme: dark) {
            background-color: var(--ffe-farge-svart) !important;
            border-color: var(--ffe-farge-graa) !important;
        }
    }
}

/*
    Radioblob: Active state of the blob
*/
.ffe-sb1-radioblob-active() {
    background-color: var(--ffe-g-primary-color);
    border: 5px solid var(--ffe-farge-hvit);
    .native & {
        @media (prefers-color-scheme: dark) {
            background-color: var(--ffe-farge-vann-70) !important;
            border-color: var(--ffe-farge-svart) !important;
        }
    }
}
