// Textarea
//
// Markup:
// <div>
//     <label class="ffe-form-label" for="textarea-example">Beskriv skaden</label>
//     <textarea class="ffe-textarea" id="textarea-example" rows="8">Dette er et tekstfelt for lengre tekster.</textarea>
// </div>
//
// Styleguide ffe-form.textarea

.ffe-textarea {
    display: block;
    width: 100%;
    padding: @ffe-spacing-sm;
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    border-radius: var(--ffe-g-border-radius);
    border: 2px solid var(--ffe-g-border-color);
    background-color: var(--ffe-v-input-bg-color);
    color: var(--ffe-v-input-color);
    transition: all @ffe-transition-duration @ffe-ease;
    font-size: var(--ffe-fontsize-form-input);

    .native & {
        @media (prefers-color-scheme: dark) {
            box-shadow: none;
        }
    }

    &:hover {
        border-color: var(--ffe-g-primary-color);
    }

    &:focus,
    &:active {
        border-color: var(--ffe-v-input-bg-color);
        box-shadow: 0 0 0 2px var(--ffe-g-primary-color);
        outline: none;
    }

    &::placeholder {
        color: var(--ffe-v-input-placeholder-color);
        opacity: 1;
    }
}
