.ffe-textarea {
    display: block;
    width: 100%;
    padding: 12px var(--ffe-spacing-sm);
    font-family: var(--ffe-g-font);
    font-variant-numeric: tabular-nums;
    border-radius: var(--ffe-g-border-radius);
    border: var(--ffe-g-border-width) solid
        var(--ffe-color-border-primary-default);
    background-color: var(--ffe-color-surface-primary-default);
    color: var(--ffe-color-foreground-default);
    transition:
        color var(--ffe-transition-duration) var(--ffe-ease),
        border var(--ffe-transition-duration) var(--ffe-ease),
        box-shadow var(--ffe-transition-duration) var(--ffe-ease),
        background-color var(--ffe-transition-duration) var(--ffe-ease),
        outline var(--ffe-transition-duration) var(--ffe-ease);
    font-size: var(--ffe-fontsize-form-input);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-color: var(--ffe-color-border-primary-default-hover);
            box-shadow: var(--ffe-g-border-focus-box-shadow)
                var(--ffe-color-border-primary-default-hover);
        }
    }

    &:focus,
    &:focus-within {
        border: var(--ffe-g-border-width) solid
            var(--ffe-color-component-form-input-border-active);
        box-shadow: var(--ffe-g-border-focus-box-shadow)
            var(--ffe-color-component-form-input-border-active);
        outline: var(--ffe-g-outline-width) solid
            var(--ffe-color-border-interactive-focus);
        outline-offset: var(--ffe-g-outline-offset);
    }

    &::placeholder {
        color: var(--ffe-color-foreground-subtle);
        opacity: 1;
    }
}

.ffe-textarea--invalid,
:where(textarea).ffe-textarea[aria-invalid='true'] {
    color: var(--ffe-color-foreground-feedback-critical);
    border: var(--ffe-g-border-width) solid
        var(--ffe-color-border-feedback-critical);
    box-shadow: var(--ffe-g-border-focus-box-shadow)
        var(--ffe-color-border-feedback-critical);
    background-color: var(--ffe-color-surface-feedback-critical);

    @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus {
            background-color: var(--ffe-color-surface-primary-default);
        }
    }
}
