:root,
:host {
    --ffe-v-input-color: var(--ffe-farge-svart);
    --ffe-v-input-bg-color: var(--ffe-farge-hvit);
    --ffe-v-input-placeholder-color: var(--ffe-farge-moerkgraa);
    --ffe-v-info-message-icon-color: var(--ffe-g-secondary-color);
    --ffe-v-info-message-icon-fill: var(--ffe-farge-hvit);
    --ffe-v-success-message-icon-color: var(--ffe-farge-skog);
    --ffe-v-success-message-icon-fill: var(--ffe-farge-hvit);
    --ffe-v-error-message-icon-color: var(--ffe-g-error-color);
    --ffe-v-error-message-icon-fill: var(--ffe-farge-hvit);
    --ffe-v-checkbox-color: var(--ffe-g-border-color);
    --ffe-v-checkbox-selected-color: var(--ffe-g-primary-color);
    --ffe-v-checkbox-marker-color: var(--ffe-g-primary-color);
    --ffe-v-checkbox-focus-outline-color: var(--ffe-g-primary-color);
    --ffe-v-radio-button-label-color: var(--ffe-g-primary-color);
    --ffe-v-tooltip-icon-color: var(--ffe-g-primary-color);
    --ffe-v-tooltip-border-color: var(--ffe-g-border-color);

    @media (prefers-color-scheme: dark) {
        .native {
            --ffe-v-input-color: var(--ffe-farge-hvit);
            --ffe-v-input-bg-color: var(--ffe-farge-svart);
            --ffe-v-input-placeholder-color: var(--ffe-farge-graa);
            --ffe-v-info-message-icon-color: var(--ffe-farge-vann-70);
            --ffe-v-info-message-icon-fill: var(--ffe-farge-fjell);
            --ffe-v-success-message-icon-color: var(--ffe-farge-skog-70);
            --ffe-v-success-message-icon-fill: var(--ffe-farge-fjell);
            --ffe-v-error-message-icon-fill: var(--ffe-farge-fjell);
            --ffe-v-checkbox-selected-color: var(--ffe-farge-vann-70);
            --ffe-v-checkbox-marker-color: var(--ffe-farge-vann-30);
            --ffe-v-checkbox-focus-outline-color: var(--ffe-farge-hvit);
            --ffe-v-radio-button-label-color: var(--ffe-farge-hvit);
            --ffe-v-tooltip-icon-color: var(--ffe-farge-vann-70);
            --ffe-v-tooltip-border-color: var(--ffe-farge-graa);
        }
    }
}
