.ffe-tooltip {
    display: inline;

    &__icon {
        background: var(--ffe-color-surface-primary-default);
        border-radius: 50%;
        border: 2px solid var(--ffe-color-border-interactive-default);
        color: var(--ffe-color-foreground-default);
        cursor: help;
        height: 1.5625rem;
        aspect-ratio: 1;
        margin: 0;
        padding: 0;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
        display: inline-grid;
        place-items: center;
        font-family: sans-serif;
        line-height: 1;
        font-size: var(--ffe-fontsize-button);

        > span {
            margin-top: 2px;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border-color: var(--ffe-color-border-interactive-hover);
                background: var(--ffe-color-surface-primary-default-hover);
            }
        }

        &:focus-visible {
            box-shadow: 0 0 0 2px var(--ffe-color-border-interactive-focus);
            border-color: var(--ffe-color-border-interactive-focus);
            outline: none;
        }

        &:active,
        .ffe-tooltip--open & {
            border-color: var(--ffe-color-border-interactive-selected);
            background: var(--ffe-color-surface-primary-default-active);
        }
    }

    &__text {
        will-change: height;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
        overflow-wrap: anywhere;
        color: var(--ffe-color-foreground-default);
    }

    &--open &__text {
        margin: var(--ffe-spacing-2xs) 0;
        padding: var(--ffe-spacing-2xs) 0;
        height: auto;
        overflow: visible;
        visibility: visible;
    }

    &--on-colored-bg {
        .ffe-tooltip__icon {
            background: var(--ffe-color-surface-on-colored-bg);
            border-color: var(--ffe-color-border-on-colored-bg);
            color: var(--ffe-color-foreground-on-colored-bg);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border-color: var(--ffe-color-border-on-colored-bg-hover);
                    background: var(--ffe-color-surface-on-colored-bg-hover);
                }
            }

            &:focus-visible {
                box-shadow: 0 0 0 2px
                    var(--ffe-color-border-on-colored-bg-focus);
                border-color: var(--ffe-color-border-on-colored-bg-focus);
            }

            &:active,
            .ffe-tooltip--open & {
                border-color: var(--ffe-color-border-on-colored-bg-selected);
                background: var(--ffe-color-surface-on-colored-bg-active);
            }
        }

        .ffe-tooltip__text {
            color: var(--ffe-color-foreground-on-colored-bg);
        }
    }
}
