.ffe-tooltip {
    display: inline;
    &__icon {
        background: var(--ffe-v-input-bg-color);
        border-radius: 50%;
        border: 2px solid var(--ffe-v-tooltip-border-color);
        color: var(--ffe-v-tooltip-icon-color);
        cursor: help;
        height: 1.2rem;
        aspect-ratio: 1;
        margin: 0 0 @ffe-spacing-2xs @ffe-spacing-sm;
        padding: 0;
        transition: border-color @ffe-transition-duration @ffe-ease;
        display: grid;
        place-items: center;
        font-family: sans-serif;
        line-height: 1;
        font-size: var(--ffe-fontsize-button);

        > span {
            margin-top: 2px;
        }

        &:hover {
            border-color: var(--ffe-v-checkbox-selected-color);
            color: var(--ffe-v-tooltip-icon-color);
        }

        &:focus {
            box-shadow: 0 0 0 3px var(--ffe-v-input-bg-color),
                0 0 0 5px var(--ffe-v-checkbox-focus-outline-color);
            outline: none;
        }

        &:active,
        .ffe-tooltip--open & {
            border-color: var(--ffe-v-checkbox-selected-color);
            color: var(--ffe-v-tooltip-icon-color);
        }
    }

    &__text {
        will-change: height;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: height @ffe-transition-duration @ffe-ease;
        overflow-wrap: anywhere;
    }

    &--open &__text {
        margin-bottom: @ffe-spacing-xs;
        padding-bottom: 0;
        height: auto;
        overflow: visible;
        visibility: visible;
    }
}
