.ffe-input-group {
    > .ffe-form-label {
        color: var(--ffe-color-foreground-default) !important;
    }
}
.ffe-datepicker {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    width: fit-content;
    border: var(--ffe-g-border-width) solid
        var(--ffe-color-border-primary-default);
    border-radius: var(--ffe-g-border-radius);
    transition: all var(--ffe-transition-duration) var(--ffe-ease);

    &--full-width {
        width: 100%;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-color: var(--ffe-color-border-primary-hover);
            box-shadow: var(--ffe-g-border-focus-box-shadow)
                var(--ffe-color-border-primary-hover);
        }
    }

    &__button {
        background: transparent;
        border: none;
        grid-column: 2 e('/') 3;
        grid-row: 1 e('/') -1;
        outline: none;
        border-radius: 0 var(--ffe-g-border-radius) var(--ffe-g-border-radius) 0;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
        width: 56px;
        cursor: pointer;
        isolation: isolate;
    }

    .ffe-input-field:focus {
        border: none;
    }

    &:focus-within {
        outline: none;
        box-shadow: var(--ffe-g-border-focus-box-shadow)
            var(--ffe-color-border-interactive-focus);
        border-color: var(--ffe-color-border-interactive-focus);
    }

    &__icon.ffe-icons {
        vertical-align: middle;
        color: var(--ffe-color-foreground-default);
        transition: color var(--ffe-transition-duration) var(--ffe-ease);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--ffe-color-foreground-interactive-link-hover);
            }
        }
    }

    .ffe-dateinput {
        position: relative;
        grid-column: 1 e('/') 3;
        grid-row: 1 e('/') -1;
        min-width: 210px;
        color: var(--ffe-color-foreground-default);

        &--full-width {
            display: block;
        }

        &.ffe-input-field {
            display: flex;
            align-items: center;
            border: none;
        }

        &__field {
            padding-block: var(--ffe-spacing-2xs);
            color: var(--ffe-color-foreground-default);
            background-color: transparent;

            &-year {
                min-width: 4ch;
            }

            &:focus {
                background-color: var(--ffe-color-surface-secondary-default);
                outline: none;
            }

            &::-ms-clear {
                display: none;
            }
        }

        &--message {
            padding-bottom: 0;
        }
    }

    &--invalid {
        border: var(--ffe-g-border-width) solid
            var(--ffe-color-border-feedback-critical);
        box-shadow: var(--ffe-g-border-focus-box-shadow)
            var(--ffe-color-border-feedback-critical);
        background-color: var(--ffe-color-surface-feedback-critical);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border: var(--ffe-g-border-width) solid
                    var(--ffe-color-border-feedback-critical);
                box-shadow: var(--ffe-g-border-focus-box-shadow)
                    var(--ffe-color-border-feedback-critical);
                background-color: var(--ffe-color-surface-primary-default);
            }
            &:focus-within:hover {
                border-color: var(--ffe-color-border-feedback-critical);
            }
        }

        &:focus-within {
            outline: none;
            box-shadow: var(--ffe-g-border-focus-box-shadow)
                var(--ffe-color-border-feedback-critical);
        }

        .ffe-input-field {
            &:focus-within {
                border-color: var(--ffe-color-border-feedback-critical);
                box-shadow: var(--ffe-g-border-focus-box-shadow)
                    var(--ffe-color-border-feedback-critical);
                background-color: var(--ffe-color-surface-primary-default);
            }
        }

        .ffe-dateinput,
        .ffe-dateinput__field {
            color: var(--ffe-color-foreground-feedback-critical);
        }

        .ffe-input-field:has(~ .ffe-datepicker__button:hover) {
            background-color: var(--ffe-color-surface-primary-default);
        }
    }
}
