.ffe-dateinput {
    position: relative;
    display: inline-block;

    &:hover {
        color: @ffe-blue-azure;
    }

    &__field {
        min-width: 160px;
        z-index: 1;

        &::-ms-clear {
            display: none;
        }
    }

    &__icon {
        position: absolute;
        right: 12px;
        top: 7px;
        width: 26px;
        height: 26px;
        fill: @ffe-blue-azure;
        z-index: -1;
    }
}
