:root,
:host {
    --ffe-v-datepicker-bg-color: var(--ffe-farge-hvit);
    --ffe-v-datepicker-border-hover-color: var(--ffe-g-primary-color);
    --ffe-v-datepicker-icon-color: var(--ffe-g-primary-color);
    --ffe-v-datepicker-icon-color-hover: var(--ffe-g-secondary-color);
    --ffe-v-datepicker-title-color: var(--ffe-farge-svart);
    --ffe-v-datepicker-weekday-color: var(--ffe-farge-varmgraa);
    --ffe-v-datepicker-weekday-border-color: var(--ffe-farge-lysgraa);
    --ffe-v-datepicker-date-color: var(--ffe-g-text-color);
    --ffe-v-datepicker-date-color-today: var(--ffe-farge-varmgraa);
    --ffe-v-datepicker-date-color-hover: var(--ffe-farge-vann);
    --ffe-v-datepicker-date-color-disabled: var(--ffe-farge-varmgraa);

    @media (prefers-color-scheme: dark) {
        .native {
            --ffe-v-datepicker-bg-color: var(--ffe-farge-svart);
            --ffe-v-datepicker-border-hover-color: var(--ffe-g-primary-color);
            --ffe-v-datepicker-icon-color: var(--ffe-g-primary-color);
            --ffe-v-datepicker-icon-color-hover: var(--ffe-farge-vann-30);
            --ffe-v-datepicker-title-color: var(--ffe-farge-vann-70);
            --ffe-v-datepicker-weekday-color: var(--ffe-farge-graa);
            --ffe-v-datepicker-weekday-border-color: var(--ffe-farge-varmgraa);
            --ffe-v-datepicker-date-color: var(--ffe-farge-hvit);
            --ffe-v-datepicker-date-color-today: var(--ffe-farge-graa);
            --ffe-v-datepicker-date-color-hover: var(--ffe-farge-vann-70);
            --ffe-v-datepicker-date-color-disabled: var(--ffe-farge-graa);
        }
    }
}
