body {
    background-image: linear-gradient(
            45deg,
            #444 25%,
            transparent 25%,
            transparent 75%,
            #444 75%
        ),
        linear-gradient(45deg, #444 25%, #333 25%, #333 75%, #444 75%);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    padding: 20px 10px;
}

.sb1ds-kss__page--main {
    background-color: white;
    padding: 10px;
    margin: -20px 10px 0;
}

.sb1ds-kss__section-header,
.sb1ds-kss__modifier-header,
.sb1ds-kss__markup-header {
    display: inline-block;
    background-color: white;
    margin: 0;
    padding: 5px;
}

.sb1ds-kss__section {
    background-color: rgba(255, 255, 255, 0.5);
}

.sb1ds-kss__section--main {
    margin: 30px 0 20px;
}

.sb1ds-kss__section--modifier {
    margin: 30px 0 20px;
}

.sb1ds-kss__section--markup {
    margin: 30px 0 20px;
}

.sb1ds-kss__root-nav-link-container {
    background-color: white;
    margin: 0 0 10px;
}

.sb1ds-kss__markup-preview {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px 10px;
}

.sb1ds-kss__html-source {
    background-color: white;
    margin: 20px 0 0;
    padding: 10px 20px;
    overflow-x: auto;
}

.sb1ds-kss__spinner {
    display: inline-block;
    background-color: white;
    animation: sb1dskssspin 3s linear infinite;
    border: 5px dashed #f3bbaa;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
}

@keyframes sb1dskssspin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
