@import "../less/ffe.less";
@base-url: "../";

.example-color-palette {
    padding: 0;
}

.color-patch {
    display: inline-block;
    width: 230px;
    border-radius: 4px;
    margin-right: 8px;

    &__patch-descr {
        .ffe-small-text();
        padding: 15px;
    }

    &__color-box {
        height: 80px;

        &--ffe-blue-royal {
            background-color: @ffe-blue-royal;
        }
        &--ffe-blue-cobalt {
            background-color: @ffe-blue-cobalt;
        }
        &--ffe-blue-deep-sky {
            background-color: @ffe-blue-deep-sky;
        }
        &--ffe-blue-azure {
            background-color: @ffe-blue-azure;
        }
        &--ffe-blue-sky {
            background-color: @ffe-blue-sky;
        }
        &--ffe-blue-pale {
            background-color: @ffe-blue-pale;
        }
        &--ffe-blue-ice {
            background-color: @ffe-blue-ice;
        }
        &--ffe-blue-focus {
            background-color: @ffe-blue-focus;
        }
        &--ffe-green {
            background-color: @ffe-green;
        }
        &--ffe-green-emerald {
            background-color: @ffe-green-emerald;
        }
        &--ffe-green-shamrock {
            background-color: @ffe-green-shamrock;
        }
        &--ffe-green-mint {
            background-color: @ffe-green-mint;
        }
        &--ffe-sand {
            background-color: @ffe-sand;
        }
        &--ffe-sand-ivory {
            background-color: @ffe-sand-ivory;
        }
        &--ffe-black {
            background-color: @ffe-black;
        }
        &--ffe-grey-charcoal {
            background-color: @ffe-grey-charcoal;
        }
        &--ffe-grey {
            background-color: @ffe-grey;
        }
        &--ffe-grey-silver {
            background-color: @ffe-grey-silver;
        }
        &--ffe-grey-cloud {
            background-color: @ffe-grey-cloud;
        }
        &--ffe-white {
            background-color: @ffe-white;
        }
        &--ffe-purple {
            background-color: @ffe-purple;
        }
        &--ffe-purple-magenta {
            background-color: @ffe-purple-magenta;
        }
        &--ffe-orange {
            background-color: @ffe-orange;
        }
        &--ffe-orange-fire {
            background-color: @ffe-orange-fire;
        }
        &--ffe-orange-salmon {
            background-color: @ffe-orange-salmon;
        }
        &--ffe-red {
            background-color: @ffe-red;
        }
    }
}
