/* Museo Sans */
@font-face {
  font-family: "MuseoSans-500";
  src: url(@base-url/fonts/museoSans_500.otf);
}

@font-face {
  font-family: "MuseoSans-300";
  src: url(@base-url/fonts/museoSans-300.otf);
}

/* Museo Sans Rounded */
@font-face {
  font-family: "MuseoSansRounded-700";
  src: url(@base-url/fonts/museoSansRounded-700.otf);
}

@font-face {
  font-family: "MuseoSansRounded-500";
  src: url(@base-url/fonts/museoSansRounded-500.otf);
}

@font-face {
  font-family: "MuseoSansRounded-300";
  src: url(@base-url/fonts/museoSansRounded-300.otf);
}