.ffe-icons {
    color: var(--ffe-v-icons-default-color);
    mask-repeat: no-repeat;
    background-color: currentColor;
    display: inline-block;

    &--sm {
        height: var(--ffe-v-icons-size-sm);
        width: var(--ffe-v-icons-size-sm);
    }

    &--md {
        height: var(--ffe-v-icons-size-md);
        width: var(--ffe-v-icons-size-md);
    }

    &--lg {
        height: var(--ffe-v-icons-size-lg);
        width: var(--ffe-v-icons-size-lg);
    }

    &--xl {
        height: var(--ffe-v-icons-size-xl);
        width: var(--ffe-v-icons-size-xl);
    }
}
