// Context message
//
// Markup:
// <div class="ffe-context-message ffe-context-message{{modifier_class}}">
//     <div class="ffe-context-message-content">
//         <div>
//             <div class="ffe-body-text">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
//             </div>
//         </div>
//     </div>
// </div>
//
// --compact   - Compact message
// --info      - Info message
// --tips       - Handy tips
// --success   - Success message
// --error     - Error message
//
// Styleguide ffe-context-message.context-message.1

// Context message with icon
//
// Markup:
// <div class="ffe-context-message ffe-context-message{{modifier_class}}">
//     <div class="ffe-context-message-content">
//         <div class="ffe-context-message-content__icon">
//             <svg focusable="false" class="ffe-context-message-content__icon-svg" viewBox="0 0 200 200" height="150" width="150">
//                 <path d="m100-0.0003388c-35.47,0-65.5,28.32-65.5,61.88,0,21.22,7.235,31.9,14.91,43.13,3.558,5.222,7.221,10.57,10.67,17.57,4.448,9.222,5.775,19.97,6.22,25.42v0.1389c0.4419,5.52,4.948,9.806,10.46,9.861h0.1042,46.28c5.56,0,10.23-4.306,10.56-9.861v-0.1389c0.3336-5.444,1.661-16.31,6.22-25.42,3.447-7,7.109-12.35,10.67-17.57,7.7-11.22,14.9-21.9,14.9-43.13,0-33.55-29.9-61.87-65.5-61.87zm0,13.13c28.02,0,52.47,22.75,52.47,48.75,0,17.22-5.31,25.02-12.65,35.8-3.558,5.222-7.679,11.32-11.57,19.1-5.004,10-6.804,21.24-7.471,28.13h-15.12l-0.0348-55.69,14.94-15.42c2.113-2.111,2.008-5.465-0.1042-7.465l-0.4517-0.4167c-2.113-2.111-5.435-2.007-7.436,0.1042l-12.4,12.92-12.54-12.91c-2-2.11-5.36-2.11-7.47-0.11l-0.4517,0.4167c-2.113,2-2.106,5.354-0.1042,7.465l14.87,15.35,0.03475,55.76h-15.22c-0.67-6.9-2.58-18.1-7.47-28.1-3.89-7.8-7.9-13.8-11.57-19.13-7.34-10.77-12.65-18.57-12.65-35.8,0-26,24.56-48.75,52.47-48.75zm-30.47,153.2c-3.002,0-5.316,2.458-5.316,5.347v2.431c0,3,2.425,5.347,5.316,5.347h62.16c3.002,0,5.351-2.458,5.351-5.347v-2.431c0-3-2.46-5.347-5.351-5.347h-62.16zm8.131,20.56c-3.002,0-5.351,2.458-5.351,5.347v2.431c0,3,2.46,5.347,5.351,5.347h45.9c3.002,0,5.351-2.458,5.351-5.347v-2.431c0-3-2.46-5.347-5.351-5.347h-45.9z"></path>
//             </svg>
//         </div>
//         <div>
//             <div class="ffe-body-text">
//                 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
//             </div>
//         </div>
//     </div>
// </div>
//
// --compact   - Compact message
// --info      - Info message
// --tips       - Handy tips
// --success   - Success message
// --error     - Error message
//
// Styleguide ffe-context-message.context-message.

.ffe-context-message-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: @ffe-spacing-sm;
    text-align: left;
    .ffe-body-text {
        .native & {
            @media (prefers-color-scheme: dark) {
                color: @ffe-farge-svart;
            }
        }
        .ffe-link-text:not(:focus) {
            color: @ffe-farge-fjell;
            border-color: @ffe-farge-fjell;
        }
    }

    &__header {
        &:extend(.ffe-strong-text);

        color: @ffe-farge-svart;
        margin-bottom: @ffe-spacing-2xs;
    }

    &__icon {
        align-items: center;
        align-self: center;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        border: 2px solid;
        border-radius: 50%;
        margin-right: @ffe-spacing-sm;
        height: 2em;
        width: 2em;

        @media (min-width: @breakpoint-sm) {
            align-self: flex-start;
            margin-bottom: 0;
            height: 4em;
            width: 4em;
            .native & {
                @media (prefers-color-scheme: dark) {
                    background-color: @ffe-farge-svart;
                }
            }
        }
    }

    &__icon-svg {
        height: 1em;
        width: 1em;
        fill: @ffe-farge-hvit;

        @media (min-width: @breakpoint-sm) {
            height: 2em;
            width: 2em;
        }
    }

    &__close-button {
        flex: 0 0 auto;
        cursor: pointer;
        color: @ffe-farge-moerkgraa;
        fill: @ffe-farge-moerkgraa;
        border: 2px solid transparent;
        box-sizing: border-box;
        padding-top: @ffe-spacing-xs;
        outline: none;
        background-color: transparent;
        align-self: start;
        height: 3rem;
        width: 3rem;

        &:hover {
            fill: @ffe-farge-svart;
        }
        &:focus {
            border: 2px solid @ffe-farge-vann;
            border-radius: 5px;
        }
    }

    &__close-button-svg {
        height: 1rem;
        width: 1rem;
    }

    @media (min-width: @breakpoint-sm) {
        flex-direction: row;
    }
}

.ffe-context-message {
    transition: height @ffe-transition-duration @ffe-ease-in-out-back;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &--compact {
        .ffe-context-message-content {
            flex-direction: row;
            padding: @ffe-spacing-xs @ffe-spacing-sm;
        }

        .ffe-context-message-content__icon {
            align-self: flex-start;
            margin-bottom: 0;
            margin-right: @ffe-spacing-sm;
            border-radius: 50%;
            height: 2em;
            width: 2em;
            border: none;
        }

        .ffe-context-message-content__icon-svg {
            height: 1rem;
            width: 1rem;
        }
    }

    &--info {
        background-color: @ffe-farge-frost-30;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: @ffe-farge-vann-30;
            }
        }

        .ffe-context-message-content__icon {
            background-color: @ffe-farge-vann;
            border-color: @ffe-farge-vann;
        }

        .ffe-context-message-content__icon-svg {
            fill: @ffe-farge-hvit;
        }

        @media (min-width: @breakpoint-sm) {
            .ffe-context-message-content__icon {
                background-color: @ffe-farge-hvit;
                border-color: @ffe-farge-vann;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        background-color: @ffe-farge-svart;
                        border-color: @ffe-farge-vann-70;
                    }
                }
            }
            .ffe-context-message-content__icon-svg {
                fill: @ffe-farge-vann;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        fill: @ffe-farge-vann-70;
                    }
                }
            }
        }
    }

    &--info&--coloredbg {
        background-color: @ffe-farge-hvit;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: @ffe-farge-vann-30;
            }
        }
    }

    &--info&--compact {
        .ffe-context-message-content__icon {
            background-color: @ffe-farge-vann;
        }
        .ffe-context-message-content__icon-svg {
            fill: @ffe-farge-hvit;
        }
    }

    &--tips {
        background-color: @ffe-farge-sand;
        .ffe-context-message-content__icon {
            background-color: @ffe-farge-sol;
            border-color: @ffe-farge-sol;
        }

        @media (min-width: @breakpoint-sm) {
            .ffe-context-message-content__icon {
                background-color: @ffe-farge-hvit;
                border-color: @ffe-farge-sol;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        background-color: @ffe-farge-svart;
                    }
                }
            }
            .ffe-context-message-content__icon-svg {
                fill: @ffe-farge-sol;
            }
        }
    }
    &--tips&--coloredbg {
        background-color: @ffe-farge-hvit;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: @ffe-farge-sand;
            }
        }
    }

    &--tips&--compact {
        .ffe-context-message-content__icon {
            background-color: @ffe-farge-sol;
        }
        .ffe-context-message-content__icon-svg {
            fill: @ffe-farge-hvit;
        }
    }

    &--success {
        background-color: @ffe-farge-nordlys-30;
        .ffe-context-message-content__icon {
            background-color: @ffe-farge-nordlys-wcag;
            border-color: @ffe-farge-nordlys-wcag;
        }

        @media (min-width: @breakpoint-sm) {
            .ffe-context-message-content__icon {
                background-color: @ffe-farge-hvit;
                border-color: @ffe-farge-nordlys-wcag;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        background-color: @ffe-farge-svart;
                        border-color: @ffe-farge-nordlys;
                    }
                }
            }
            .ffe-context-message-content__icon-svg {
                fill: @ffe-farge-nordlys-wcag;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        fill: @ffe-farge-nordlys;
                    }
                }
            }
        }
    }

    &--success&--coloredbg {
        background-color: @ffe-farge-hvit;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: @ffe-farge-nordlys-30;
            }
        }
    }

    &--success&--compact {
        .ffe-context-message-content__icon {
            background-color: @ffe-farge-nordlys-wcag;
        }
        .ffe-context-message-content__icon-svg {
            fill: @ffe-farge-hvit;
        }
    }

    &--error {
        background-color: @ffe-farge-baer-30;
        .ffe-context-message-content__icon {
            background-color: @ffe-farge-baer;
            border-color: @ffe-farge-baer;
        }
        .ffe-context-message-content__icon-svg {
            fill: @ffe-farge-hvit;
        }

        @media (min-width: @breakpoint-sm) {
            .ffe-context-message-content__icon {
                background-color: @ffe-farge-hvit;
                border-color: @ffe-farge-baer;
                .native & {
                    @media (prefers-color-scheme: dark) {
                        background-color: @ffe-farge-svart;
                    }
                }
            }
            .ffe-context-message-content__icon-svg {
                fill: @ffe-farge-baer;
            }
        }
    }

    &--error&--coloredbg {
        background-color: @ffe-farge-hvit;
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: @ffe-farge-baer-30;
            }
        }
    }

    &--error&--compact {
        .ffe-context-message-content__icon {
            background-color: @ffe-farge-baer;
        }
        .ffe-context-message-content__icon-svg {
            fill: @ffe-farge-hvit;
        }
    }
}
