.ffe-searchable-dropdown {
    position: relative;
    @button-width: 40px;

    .ffe-input-field {
        padding-right: calc(@button-width + 3px);
    }

    &__list {
        display: none;
        background: var(--ffe-v-searchable-dropdown-list-background-color);
        position: absolute;
        width: 100%;
        z-index: 100000;
        border-radius: 2px;
        height: 0;
        overflow: hidden;
        font-family: var(--ffe-g-font);
        font-size: 1rem;

        &--open {
            display: block;
            height: auto;
            border: 1px solid var(--ffe-g-border-color);
        }

        &--post-list-element {
            border-top: 1px solid var(--ffe-g-border-color);
        }
    }

    &__no-match {
        padding: @ffe-spacing @ffe-spacing-sm;

        & + .ffe-searchable-dropdown__list-item-container {
            border-top: 1px solid var(--ffe-g-border-color);
        }

        .ffe-body-paragraph {
            margin: 0;
        }
    }

    &__list-item-container:not(:last-child) {
        border-bottom: 1px solid var(--ffe-g-border-color);
    }

    &__list-item-body {
        padding: @ffe-spacing @ffe-spacing-sm;
        cursor: pointer;

        &-details {
            .ffe-micro-text {
                color: var(--ffe-v-searchable-dropdown-micro-text-color);
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover,
            &--highlighted:hover {
                background: var(
                    --ffe-v-searchable-dropdown-highlighted-background-color
                );
                color: var(--ffe-v-searchable-dropdown-highlighted-text-color);

                .ffe-searchable-dropdown__list-item-body-details {
                    .ffe-micro-text {
                        color: var(
                            --ffe-v-searchable-dropdown-highlighted-micro-text-color
                        );
                    }
                }
            }
        }

        &--highlighted {
            background: var(
                --ffe-v-searchable-dropdown-highlighted-background-color
            );
            color: var(--ffe-v-searchable-dropdown-highlighted-text-color);

            .ffe-searchable-dropdown__list-item-body-details {
                .ffe-micro-text {
                    color: var(
                        --ffe-v-searchable-dropdown-highlighted-micro-text-color
                    );
                }
            }
        }
    }

    &__list-item-body-details {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        position: absolute;
        background: transparent;
        height: 100%;
        top: 0;
        right: 0;
        border: 2px solid transparent;
        width: @button-width;
        padding: 0;
        box-shadow: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: all @ffe-transition-duration @ffe-ease;
        color: var(--ffe-g-primary-color);

        > .ffe-icons {
            color: var(--ffe-g-primary-color);
        }
        &--hidden {
            display: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border-color: var(--ffe-g-primary-color);
                > .ffe-icons {
                    color: var(--ffe-v-searchable-dropdown-icon-hover-color);
                }
            }
        }

        &:focus {
            border: 2px solid var(--ffe-g-primary-color);
        }

        @media (hover: hover) and (pointer: fine) {
            .ffe-input-field:focus ~ &:hover {
                border-color: transparent;
                box-shadow: 0 0 0 2px var(--ffe-g-primary-color);
            }
        }

        &-icon-animate {
            transform: rotateZ(180deg);
            transition:
                color @ffe-transition-duration @ffe-ease,
                transform @ffe-transition-duration @ffe-ease-in-out-back;
        }

        &--flip {
            .ffe-searchable-dropdown__button-icon-animate {
                transform: rotateZ(0deg);
            }
        }
    }
}
