.ffe-searchable-dropdown-multiselect {
    display: flex;
    border-radius: var(--ffe-g-border-radius);
    transition: all var(--ffe-transition-duration) var(--ffe-ease);

    &:has(.ffe-searchable-dropdown-multiselect__input-container .ffe-searchable-dropdown-multiselect__input-field:focus-visible) {
        border-color: var(--ffe-v-input-bg-color);
        box-shadow: 0 0 0 2px var(--ffe-g-primary-color);
        outline: 0;

        .ffe-searchable-dropdown-multiselect__input-container,
        .ffe-searchable-dropdown-multiselect__button {
            border-color: transparent;
            outline: 0;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            .ffe-searchable-dropdown-multiselect__input-container {
                border-color: var(--ffe-g-primary-color);

                + .ffe-searchable-dropdown-multiselect__button {
                    border-color: var(--ffe-g-primary-color);
                }
            }
        }
    }

    &__input-container {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--ffe-spacing-xs);
        position: relative;
        width: 100%;
        min-height: 2.8125rem;
        padding: var(--ffe-spacing-xs);
        font-family: var(--ffe-g-font);
        font-variant-numeric: tabular-nums;
        background-color: var(--ffe-v-searchable-dropdown-multiselect-background-color);
        color: var(--ffe-v-searchable-dropdown-multiselect-text-color);
        border-radius: var(--ffe-g-border-radius) 0 0 var(--ffe-g-border-radius);
        border: 2px solid var(--ffe-g-border-color);
        border-right: none;
        transition: all var(--ffe-transition-duration) var(--ffe-ease);
        font-size: var(--ffe-fontsize-form-input);
    }

    &__input-field {
        border: none;
        flex: 1;
        margin: 0 0 0 var(--ffe-spacing-xs);
        min-width: 10ch;
        padding: 0;
        width: 100%;
        background-color: transparent;
        color: var(--ffe-v-searchable-dropdown-multiselect-text-color);

        &:focus-visible,
        &:active {
            outline: none;
        }
    }

    &__button {
        background: transparent;
        height: auto;
        border: 2px solid var(--ffe-g-border-color);
        border-left: none;
        width: fit-content;
        padding: 0 var(--ffe-spacing-xs);
        box-shadow: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 var(--ffe-g-border-radius) var(--ffe-g-border-radius) 0;
        transition: border var(--ffe-transition-duration) var(--ffe-ease), border-left 0s;
        color: var(--ffe-g-primary-color);

        &:focus-visible {
            border: 2px solid var(--ffe-g-primary-color);
        }

        &-icon {
            transition: color var(--ffe-transition-duration) var(--ffe-ease),
            transform var(--ffe-transition-duration) var(--ffe-ease);
        }

        &--flip {
            .ffe-searchable-dropdown__button-icon {
                transform: rotateZ(180deg);
            }
        }
    }

    &__list-item-container[aria-selected='true'] {
        background-color: var(--ffe-v-searchable-dropdown-multiselect-background-color-highlighted);
    }

    &__list-item-container:not(:last-child) {
        border-bottom: 1px solid var(--ffe-g-border-color);
    }

    &__list--post-list-element {
        border-top: 1px solid var(--ffe-g-border-color);
        color: var(--ffe-g-text-color);
    }

    &__list-item-body {
        display: grid;
        grid-column-gap: var(--ffe-spacing-sm);
        grid-template-columns: 1fr var(--check-icon-width);
        align-items: center;
        padding: var(--ffe-spacing-sm);
        cursor: pointer;

        &--condensed {
            padding-block: var(--ffe-spacing-xs);
        }

        &-details {
            width: 100%;
            display: flex;
            justify-content: space-between;

        }

        @media (hover: hover) and (pointer: fine) {
            &:hover, &:focus-visible, &:active {
                .ffe-searchable-dropdown-multiselect__check-icon {
                    color: var(--ffe-v-searchable-dropdown-highlighted-text-color);
                }
            }
        }

        &:focus-visible, &:active {
            .ffe-searchable-dropdown-multiselect__check-icon {
                color: var(--ffe-v-searchable-dropdown-highlighted-text-color);
            }
        }

        &-content {
            width: 100%;
            line-height: 150%;
            color: var(--ffe-v-searchable-dropdown-multiselect-text-color);
        }

        .ffe-small-text {
            color: var(--ffe-v-searchable-dropdown-multiselect-small-text-color);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover,
            &--highlighted:hover {
                background: var(--ffe-v-searchable-dropdown-multiselect-background-color-hover);
                color: var(--ffe-v-searchable-dropdown-multiselect-highlighted-text-color);
                --ffe-v-input-color: var(--ffe-v-searchable-dropdown-highlighted-text-color);

                .ffe-searchable-dropdown-multiselect__list-item-body-content {
                    background: var(--ffe-v-searchable-dropdown-multiselect-background-color-hover);
                    color: var(--ffe-v-searchable-dropdown-multiselect-highlighted-text-color);
                    --ffe-v-input-color: var(--ffe-v-searchable-dropdown-highlighted-text-color);
                }

                .ffe-searchable-dropdown-multiselect__list-item-body-details {
                    .ffe-small-text {
                        color: var(--ffe-v-searchable-dropdown-multiselect-highlighted-small-text-color);
                    }
                }
            }
        }

        &--highlighted {
            background: var(--ffe-v-searchable-dropdown-multiselect-background-color-hover);
            color: var(--ffe-v-searchable-dropdown-multiselect-highlighted-text-color);

            .ffe-searchable-dropdown-multiselect__list-item-body-content {
                background: var(--ffe-v-searchable-dropdown-multiselect-background-color-hover);
                color: var(--ffe-v-searchable-dropdown-multiselect-highlighted-text-color);
            }

            .ffe-searchable-dropdown-multiselect__list-item-body-details {
                .ffe-small-text {
                    color: var(--ffe-v-searchable-dropdown-multiselect-highlighted-small-text-color);
                }
            }

            .ffe-searchable-dropdown-multiselect__check-icon {
                color: var(--ffe-v-searchable-dropdown-highlighted-text-color);
            }
        }
    }
}

