.ffe-searchable-dropdown {
    --button-width: 40px;
    --border-width: 2px;
    --border-color: var(--ffe-g-border-color);
    --border-color-hover-and-focus: var(--ffe-g-primary-color);

    height: 2.8125rem;
    display: grid;
    grid-template-columns: 1fr var(--button-width);
    grid-template-rows: auto 0;
    position: relative;
    background-color: var(--ffe-v-input-bg-color);
    border-radius: var(--ffe-g-border-radius);

    :where(.ffe-searchable-dropdown__button) {
        all: unset;
    }

    &__input,
    &__button {
        border: var(--border-width) solid var(--border-color);
        transition: border-color var(--ffe-transition-duration) var(--ffe-ease);
        @media (hover: hover) and (pointer: fine) {
            &:hover {
                --border-color: var(--border-color-hover-and-focus);
            }
        }
    }

    &__input {
        display: grid;
        border-radius: var(--ffe-g-border-radius) 0 0 var(--ffe-g-border-radius);
        padding: 0 var(--ffe-spacing-sm);

        border-right: none;

        @media (hover: hover) and (pointer: fine) {
            &:hover + .ffe-searchable-dropdown__button {
                --border-color: var(--border-color-hover-and-focus);
            }
        }

        &:focus-within {
            --border-color: var(--border-color-hover-and-focus);
            & + .ffe-searchable-dropdown__button {
                --border-color: var(--border-color-hover-and-focus);
            }
        }
    }

    &__button {
        cursor: pointer;
        display: grid;
        place-items: center;
        border-left: none;
        border-radius: 0 var(--ffe-g-border-radius) var(--ffe-g-border-radius) 0;

        .ffe-icons {
            color: var(--ffe-g-primary-color);
            display: block;
        }
        &--hidden {
            display: none;
        }

        &:focus-visible {
            --border-color: var(--border-color-hover-and-focus);
            border-left: var(--border-width) solid var(--border-color);
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                --border-color: var(--border-color-hover-and-focus);
                border-left: var(--border-width) solid var(--border-color);
            }
        }

        &-icon {
            transition:
                color var(--ffe-transition-duration) var(--ffe-ease),
                transform var(--ffe-transition-duration)
                    var(--ffe-ease-in-out-back);
        }

        &--flip {
            .ffe-searchable-dropdown__button-icon {
                transform: rotateZ(180deg);
            }
        }
    }

    input {
        all: unset;
        font-family: var(--ffe-g-font);
        font-variant-numeric: tabular-nums;
        color: var(--ffe-v-input-color);
        font-size: var(--ffe-fontsize-form-input);
    }

    &__list-container {
        position: relative;
        grid-area: 2 e('/') 1 e('/') span 1 e('/') span 2;
    }

    &__list {
        display: none;
        background: var(--ffe-v-searchable-dropdown-list-background-color);
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        z-index: 1;
        border-radius: 2px;
        overflow: hidden;
        font-family: var(--ffe-g-font);
        font-size: 1rem;

        &--open {
            display: block;
            height: auto;
            border: 1px solid var(--ffe-g-border-color);
        }

        &--post-list-element {
            border-top: 1px solid var(--ffe-g-border-color);
        }
    }

    &__no-match {
        padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm);

        & + .ffe-searchable-dropdown__list-item-container {
            border-top: 1px solid var(--ffe-g-border-color);
        }

        .ffe-body-paragraph {
            margin: 0;
        }
    }

    &__list-item-container:not(:last-child) {
        border-bottom: 1px solid var(--ffe-g-border-color);
    }

    &__list-item-body {
        padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm);
        cursor: pointer;

        &-details {
            .ffe-micro-text {
                color: var(--ffe-v-searchable-dropdown-micro-text-color);
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover,
            &--highlighted:hover {
                background: var(
                    --ffe-v-searchable-dropdown-highlighted-background-color
                );
                color: var(--ffe-v-searchable-dropdown-highlighted-text-color);

                .ffe-searchable-dropdown__list-item-body-details {
                    .ffe-micro-text {
                        color: var(
                            --ffe-v-searchable-dropdown-highlighted-micro-text-color
                        );
                    }
                }
            }
        }

        &--highlighted {
            background: var(
                --ffe-v-searchable-dropdown-highlighted-background-color
            );
            color: var(--ffe-v-searchable-dropdown-highlighted-text-color);

            .ffe-searchable-dropdown__list-item-body-details {
                .ffe-micro-text {
                    color: var(
                        --ffe-v-searchable-dropdown-highlighted-micro-text-color
                    );
                }
            }
        }
    }

    &__list-item-body-details {
        display: flex;
        justify-content: space-between;
    }
}
