:root,
:host {
    --check-icon-width: 24px;
    //Searchabledropdown
    --ffe-v-searchable-dropdown-list-background-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-icon-hover-color: var(--ffe-farge-fjell);
    --ffe-v-searchable-dropdown-micro-text-color: var(--ffe-g-text-color);
    --ffe-v-searchable-dropdown-highlighted-background-color: var(--ffe-g-primary-color);
    --ffe-v-searchable-dropdown-highlighted-text-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-highlighted-micro-text-color: var(--ffe-farge-lysgraa);
    //Multiselect
    --ffe-v-searchable-dropdown-multiselect-text-color: var(--ffe-farge-svart);
    --ffe-v-searchable-dropdown-multiselect-highlighted-text-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-multiselect-small-text-color: var(--ffe-farge-moerkgraa);
    --ffe-v-searchable-dropdown-multiselect-highlighted-small-text-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-multiselect-background-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-multiselect-background-color-hover: var(--ffe-farge-vann);
    --ffe-v-searchable-dropdown-multiselect-background-color-highlighted: var(--ffe-farge-frost-30);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            //Searchabledropdown
            --ffe-v-searchable-dropdown-list-background-color: var(--ffe-farge-svart);
            --ffe-v-searchable-dropdown-icon-hover-color: var(--ffe-farge-vann-30);
            --ffe-v-searchable-dropdown-micro-text-color: var(--ffe-farge-graa);
            --ffe-v-searchable-dropdown-highlighted-background-color: var(--ffe-farge-vann-70);
            --ffe-v-searchable-dropdown-highlighted-text-color: var(--ffe-farge-hvit);
            //Multiselect
            --ffe-v-searchable-dropdown-multiselect-text-color: var(--ffe-farge-hvit);
            --ffe-v-searchable-dropdown-multiselect-highlighted-text-color: var(--ffe-farge-sort);
            --ffe-v-searchable-dropdown-multiselect-small-text-color: var(--ffe-farge-graa);
            --ffe-v-searchable-dropdown-multiselect-highlighted-small-text-color: var(--ffe-farge-svart);
            --ffe-v-searchable-dropdown-multiselect-background-color: var(--ffe-farge-svart);
            --ffe-v-searchable-dropdown-multiselect-background-color-hover: var(--ffe-farge-vann-70);
            --ffe-v-searchable-dropdown-multiselect-background-color-highlighted: var(--ffe-farge-natt);
        }
    }
}
