:root,
:host {
    //Searchabledropdown
    --ffe-v-searchable-dropdown-list-background-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-icon-hover-color: var(--ffe-farge-fjell);
    --ffe-v-searchable-dropdown-detail-text-color: var(--ffe-farge-moerkgraa);
    --ffe-v-searchable-dropdown-detail-text-highlighted: var(
        --ffe-farge-lysgraa
    );
    --ffe-v-searchable-dropdown-highlighted-background-color: var(
        --ffe-g-primary-color
    );
    --ffe-v-searchable-dropdown-highlighted-text-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-background-selected: var(--ffe-farge-frost-30);
    --ffe-v-searchable-dropdown-selected-icon-color: var(--ffe-farge-vann);
    --ffe-v-searchable-dropdown-selected-icon-color-highlighted: var(
        --ffe-farge-hvit
    );
    --ffe-v-searchable-dropdown-text-color: var(--ffe-farge-svart);
    --ffe-v-searchable-dropdown-text-color-highlighted: var(--ffe-farge-hvit);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            //Searchabledropdown
            --ffe-v-searchable-dropdown-list-background-color: var(
                --ffe-farge-svart
            );
            --ffe-v-searchable-dropdown-icon-hover-color: var(
                --ffe-farge-vann-30
            );
            --ffe-v-searchable-dropdown-detail-text-color: var(
                --ffe-farge-graa
            );
            --ffe-v-searchable-dropdown-detail-text-highlighted: var(
                --ffe-farge-svart
            );
            --ffe-v-searchable-dropdown-highlighted-background-color: var(
                --ffe-farge-vann-70
            );
            --ffe-v-searchable-dropdown-highlighted-text-color: var(
                --ffe-farge-hvit
            );
            --ffe-v-searchable-dropdown-background-selected: var(
                --ffe-farge-natt
            );
            --ffe-v-searchable-dropdown-selected-icon-color: var(
                --ffe-farge-vann-30
            );
            --ffe-v-searchable-dropdown-selected-icon-color-highlighted: var(
                --ffe-farge-svart
            );
            --ffe-v-searchable-dropdown-text-color: var(--ffe-farge-hvit);
            --ffe-v-searchable-dropdown-text-color-highlighted: var(
                --ffe-farge-svart
            );
        }
    }
}
