:root,
:host {
    --ffe-v-searchable-dropdown-list-background-color: var(--ffe-farge-hvit);
    --ffe-v-searchable-dropdown-icon-hover-color: var(--ffe-farge-fjell);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            --ffe-v-searchable-dropdown-list-background-color: var(
                --ffe-farge-svart
            );
            --ffe-v-searchable-dropdown-icon-hover-color: var(
                --ffe-farge-vann-30
            );
        }
    }
}
