// System message
//
// --error      - Error message
// --info       - Generic info
// --news       - News
// --success    - Success message
//
// Styleguide ffe-system-message

.ffe-system-message-wrapper {
    color: var(--ffe-farge-svart);
    transition: height @ffe-transition-duration @ffe-ease-in-out-back;
    overflow: hidden;
    border-radius: @ffe-spacing-xs;

    &:not(&--news) {
        .ffe-link-text {
            border-bottom: 1px solid var(--ffe-v-system-message-link-color);
            color: var(--ffe-v-system-message-link-color);

            &:hover {
                border-bottom-color: var(
                    --ffe-v-system-message-link-color-hover
                );
                color: var(--ffe-v-system-message-link-color-hover);
            }

            &:visited {
                border-bottom-color: var(
                    --ffe-v-system-message-link-color-visited
                );
                color: var(--ffe-v-system-message-link-color-visited);
            }

            &:focus {
                border-color: var(
                    --ffe-v-system-message-link-color-focus
                ) !important;
                background-color: var(--ffe-v-system-message-link-color);
                box-shadow: 0 0 0 2px var(--ffe-v-system-message-link-color);
                color: var(--ffe-v-system-message-link-color-focus) !important;
            }
        }
    }

    &--error&--coloredbg {
        background-color: var(--ffe-v-system-message-variant-bg-color);

        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-v-system-message-error-bg-color);
            }
        }
    }

    &--error {
        background-color: var(--ffe-v-system-message-error-bg-color);

        .ffe-system-message__icon {
            background: var(--ffe-v-system-message-error-icon-bg-color);

            > .ffe-icons {
                color: var(--ffe-farge-hvit);
            }
        }
    }

    &--info&--coloredbg {
        background-color: var(--ffe-v-system-message-variant-bg-color);

        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-v-system-message-info-bg-color);
            }
        }
    }

    &--info {
        background-color: var(--ffe-v-system-message-info-bg-color);

        .ffe-system-message__icon {
            background: var(--ffe-v-system-message-info-icon-bg-color);

            > .ffe-icons {
                color: var(--ffe-farge-hvit);
            }
        }
    }

    &--news&--coloredbg {
        background-color: var(--ffe-v-system-message-variant-bg-color);
        color: var(--ffe-farge-svart);

        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-v-system-message-news-bg-color);
                color: var(--ffe-farge-hvit);
            }
        }

        .ffe-system-message__icon {
            background: var(--ffe-v-system-message-news-icon-color);

            > .ffe-icons {
                color: var(--ffe-farge-hvit);
            }

            .native & {
                @media (prefers-color-scheme: dark) {
                    background: var(--ffe-farge-hvit);

                    > .ffe-icons {
                        color: var(--ffe-v-system-message-news-icon-color);
                    }
                }
            }
        }
    }

    &--news {
        background-color: var(--ffe-v-system-message-news-bg-color);
        color: var(--ffe-farge-hvit);

        .ffe-system-message__icon {
            background: var(--ffe-farge-hvit);

            > .ffe-icons {
                color: var(--ffe-v-system-message-news-icon-color);
            }
        }
    }

    &--success&--coloredbg {
        background-color: var(--ffe-v-system-message-variant-bg-color);

        .native & {
            @media (prefers-color-scheme: dark) {
                background: var(--ffe-v-system-message-success-bg-color);
            }
        }
    }

    &--success {
        background-color: var(--ffe-v-system-message-success-bg-color);

        .ffe-system-message__icon {
            background: var(--ffe-v-system-message-news-icon-bg-color);

            > .ffe-icons {
                color: var(--ffe-farge-hvit);
            }
        }
    }
}

.ffe-system-message {
    margin: 0 auto;
    max-width: @app-width;
    align-items: center;
    padding: @ffe-spacing-xs @app-margin;
    font-family: var(--ffe-g-font);
    text-align: left;
    display: flex;

    &__icon {
        flex: 0 0 auto;
        background: var(--ffe-farge-hvit);
        border-radius: 50%;
        display: inline-flex;
        height: 2rem;
        width: 2rem;
        margin-right: @ffe-spacing-sm;
        align-items: center;
        justify-content: center;
    }

    &__content {
        margin: 0;
        padding: 0;
        font-size: 0.875rem;
        flex: 1 1 auto;
        word-break: break-all;
        hyphens: auto;

        @media (min-width: 600px) {
            font-size: 1rem;
        }
    }

    &__close {
        flex: 0 0 auto;
        appearance: none;
        background: transparent;
        border: 2px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-start;
        width: 3rem;
        height: 3rem;
        padding-top: @ffe-spacing-xs;
        box-sizing: border-box;
        color: var(--ffe-v-system-message-close-button-color);

        > .ffe-icons {
            color: var(--ffe-v-system-message-close-button-color);

            &:hover {
                color: var(--ffe-v-system-message-close-button-color-hover);
            }
        }

        &:focus {
            border: 2px solid
                var(--ffe-v-system-message-close-button-border-color-focus);
        }

        .ffe-system-message-wrapper--news & {
            color: var(--ffe-farge-hvit);

            &:hover {
                color: var(--ffe-farge-lysvarmgraa);
            }

            &:focus {
                border: 2px solid var(--ffe-farge-hvit);
            }
        }
    }
}
