@import "../node_modules/ffe-core/less/ffe.less";
@import "../node_modules/ffe-form/less/form.less";
@import "../node_modules/ffe-spinner/less/spinner.less";
@font-url: "../node_modules/ffe-core/fonts";

body {
  margin: 2.5%;
  font-family: "MuseoSansRounded-500", arial, sans-serif;
}

.ffe-input-group {
  margin-bottom: 3em;
}

.local-example-dropdown--medium {
  width: auto;
  min-width: 175px;
}
