@import "../less/ffe.less";
@base-url: "../";

.content-container {
    width: 100%;
    margin: 60px auto;
    padding: 0 20px;
    max-width: 768px;
    text-align: center;

    &.-left {
        text-align: left;
    }

    &.-wrapped {
        margin: 0 auto;
    }

    &.-color-info {
      background-color: @sand-25;
      width: 100%;
      max-width: none;
      margin: 0 auto;
      padding: 60px 0;
    }

  @media screen and (min-width: @breakpoint-md) {
    padding: 0;
    width: 90%;
  }

}

.color-patch {
    display: inline-block;
    width: 222px;
    border: solid 1px @grey-light;
    border-radius: 4px;
    margin: 8px;

    .patch-descr {
        .small-text();
        padding: 15px;
    }

    .color-box {
        height: 170px;
    }

    .color-box.-blue-royal              { background-color: @blue-royal; }
    .color-box.-blue-flat               { background-color: @blue-flat; }
    .color-box.-blue-royal-light        { background-color: @blue-royal-light; }
    .color-box.-blue-royal-light-wcag   { background-color: @blue-royal-light-wcag; }
    .color-box.-blue-royal-light-50     { background-color: @blue-royal-light-50; }
    .color-box.-green-wcag              { background-color: @green-wcag; }
    .color-box.-sand                    { background-color: @sand; }
    .color-box.-sand-50                 { background-color: @sand-50; }
    .color-box.-sand-25                 { background-color: @sand-25; }
    .color-box.-black                   { background-color: @black; }
    .color-box.-grey-dark               { background-color: @grey-dark; }
    .color-box.-grey                    { background-color: @grey; }
    .color-box.-grey-light              { background-color: @grey-light; }
    .color-box.-grey-light-bg           { background-color: @grey-light-bg; }
    .color-box.-white                   { background-color: @white; }

    .color-box.-green                   { background-color: @green; }
    .color-box.-purple                  { background-color: @purple; }
    .color-box.-purple-wcag             { background-color: @purple-wcag; }
    .color-box.-orange                  { background-color: @orange; }
    .color-box.-orange-wcag             { background-color: @orange-wcag; }
    .color-box.-red                     { background-color: @red; }
}

.code-block {
    font-family: consolas, menlo, monaco, monospace;
    font-size: 16px;
    background-color: @grey-light-bg;
    border: solid 1px @grey-light;
    display: block;
    padding: 10px;
    white-space: pre;
    word-wrap: break-word;
}

.button-group {
  padding: 20px 0;

  > button {
    margin: 0 auto 10px auto;
  }

  &.-thin {
    padding: 0;
  }

  @media screen and (min-width: @breakpoint-sm) {
    > button {
      display: inline-block;
      margin: 0 0 10px 10px;
      width: auto;

      &:first-child {
        margin: 0 0 10px 0;
      }
    }
  }
}