@import "../node_modules/ffe-core/less/ffe.less";
@font-url: "../node_modules/ffe-core/fonts";

body {
  font-family: "MuseoSansRounded-500", arial, sans-serif;
}

.example-class {
    margin: 10px 0;
}

.button-in-expandable {
  border: none;
  color: #0071CD;
}
