@import "../less/ffe.less";
@base-url: "../";

.content-container {
    width: 100%;
    margin: 60px auto;
    padding: 0 20px;
    max-width: 768px;
    text-align: center;

    &.-sm {
        max-width: 550px;
    }

    &.-lg {
        max-width: 1280px;
    }

    &.-text-left {
        text-align: left;
    }

    &.-wrapped {
        margin: 0 auto;
    }

    &.-subtle {
      background-color: @sand-25;
      width: 100%;
      max-width: none;
      margin: 0 auto;
      padding: 60px 0;
    }

  @media screen and (min-width: @breakpoint-md) {
    padding: 0;
    width: 90%;
  }

}

.color-patch {
    display: inline-block;
    width: 244px;
    border-radius: 4px;
    margin-right: 8px;

    > .patch-descr {
        .small-text();
        padding: 15px;
    }

    > .color-box {
        height: 80px;
    }

    > .color-box.-blue-royal              { background-color: @blue-royal; }
    > .color-box.-blue-flat               { background-color: @blue-flat; }
    > .color-box.-blue-royal-light        { background-color: @blue-royal-light; }
    > .color-box.-blue-royal-light-wcag   { background-color: @blue-royal-light-wcag; }
    > .color-box.-blue-royal-light-50     { background-color: @blue-royal-light-50; }
    > .color-box.-green-wcag              { background-color: @green-wcag; }
    > .color-box.-sand                    { background-color: @sand; }
    > .color-box.-sand-50                 { background-color: @sand-50; }
    > .color-box.-sand-25                 { background-color: @sand-25; }
    > .color-box.-black                   { background-color: @black; }
    > .color-box.-grey-dark               { background-color: @grey-dark; }
    > .color-box.-grey                    { background-color: @grey; }
    > .color-box.-grey-light              { background-color: @grey-light; }
    > .color-box.-grey-light-bg           { background-color: @grey-light-bg; }
    > .color-box.-white                   { background-color: @white; }

    > .color-box.-green                   { background-color: @green; }
    > .color-box.-purple                  { background-color: @purple; }
    > .color-box.-purple-wcag             { background-color: @purple-wcag; }
    > .color-box.-orange                  { background-color: @orange; }
    > .color-box.-orange-wcag             { background-color: @orange-wcag; }
    > .color-box.-red                     { background-color: @red; }
}

.collapse-link {
    color: @blue-royal-light;
    cursor: pointer;
    font-family: "MuseoSansRounded-500", Arial, sans-serif;

    &:before {
        display: inline-block;
        content: '+';
        border: solid 2px @blue-royal-light;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        padding: 0 5px;
        color: @blue-royal-light;
        font-size: 28px;
        line-height: 23px;
        transition: transform 0.2s;
    }

    &.-open:before {
        transform: rotateZ(45deg);
    }
}

.collapse-link + .code-block {
    display: none;
}

.collapse-link.-open + .code-block {
    display: block;
    margin-top: 20px;
}

.code-block {
    font-family: consolas, menlo, monaco, monospace;
    font-size: 14px;
    background-color: @grey-light-bg;
    border-left: solid 10px lightgray;
    padding: 40px;
    white-space: pre;
    line-height: 1;
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
}

.button-group {
  padding: 20px 0;

  > button {
    margin: 0 auto 10px auto;
  }

  &.-thin {
    padding: 0;
  }

  @media screen and (min-width: @breakpoint-sm) {
    > button {
      display: inline-block;
      margin: 0 0 10px 10px;
      width: auto;

      &:first-child {
        margin: 0 0 10px 0;
      }
    }
  }
}

.form-label {
  &:extend(h4);
  display: block;
  margin-bottom: 1rem;
}

// Navigation
.navigation-bar {
    text-align: center;
    border-top: solid 1px @grey-light;
    border-bottom: solid 1px @grey-light;

    > .link {
        display: inline-block;
        font-size: 16px;
        margin: 0 50px;
        padding: 15px 0;
    }

    > .link > a {
        font-family: "MuseoSansRounded-500", arial, sans-serif;
        color: @blue-royal;;
    }

    > .link.-active {
        border-bottom: solid 4px @blue-royal;
        padding-bottom: 11px;
        font-family: "MuseoSans-500", arial, sans-serif;
    }
}

// Typography
.page-title {
    padding-top: 10px;
}

h1, h2, h3, h4, h5,
.h1,.h2,.h3,.h4,.h5,
.small-text, .micro-text, .lead-paragraph, .body-text {
    &.-spaced {
        margin-bottom: 40px;
    }
}