/* GAB: Use border-box: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 *   These fonts should work fine for the following browser versions:
 *
 *   Chrome	   Safari	Firefox	   Opera	IE	 Android	iOS
 *   3.5+	   3+	    3.5+	   10.1+	9+	 2.2+	    4.3+
 */
/* Museo Sans */
@font-face {
  font-family: 'MuseoSans-300';
  src: url('fonts/2FDE32_0_0.woff2') format('woff2'), url('fonts/2FDE32_0_0.woff') format('woff'), url('fonts/2FDE32_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'MuseoSans-500';
  src: url('fonts/2FDE32_1_0.woff2') format('woff2'), url('fonts/2FDE32_1_0.woff') format('woff'), url('fonts/2FDE32_1_0.ttf') format('truetype');
}
/* Museo Sans Rounded */
@font-face {
  font-family: 'MuseoSansRounded-300';
  src: url('fonts/2FDE32_2_0.woff2') format('woff2'), url('fonts/2FDE32_2_0.woff') format('woff'), url('fonts/2FDE32_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'MuseoSansRounded-500';
  src: url('fonts/2FDE32_3_0.woff2') format('woff2'), url('fonts/2FDE32_3_0.woff') format('woff'), url('fonts/2FDE32_3_0.ttf') format('truetype');
}
@font-face {
  font-family: 'MuseoSansRounded-700';
  src: url('fonts/2FDE32_4_0.woff2') format('woff2'), url('fonts/2FDE32_4_0.woff') format('woff'), url('fonts/2FDE32_4_0.ttf') format('truetype');
}
.icon-base,
.icon-chevron,
.icon-info-error {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .icon-base,
  .icon-chevron,
  .icon-info-error {
    height: 75px;
    width: 75px;
  }
}
@media screen and (min-width: 768px) {
  .icon-base,
  .icon-chevron,
  .icon-info-error {
    height: 90px;
    width: 90px;
  }
}
.icon-chevron {
  background: url("icons/chevron-royal.svg");
}
.icon-chevron--light-blue {
  background: url("icons/chevron-royal-light.svg");
}
.icon-chevron--white {
  background: url("icons/chevron-white.svg");
}
.icon-chevron--up {
  transform: rotate(180deg);
}
.icon-chevron--left {
  transform: rotate(90deg);
}
.icon-chevron--right {
  transform: rotate(-90deg);
}
.icon-info-error {
  background-image: url("icons/info-red.svg");
}
/*
    Radioblob: Small design element on "radio button"-like elements
*/
/*
    Radioblob: Active state of the blob
*/
/*
    Spinner: Commonly found on buttons and loading pages
*/
/*
    Shadow for buttons: Commonly found on elements supposed to be buttons
*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Mobile typography */
.h1,
h1 {
  color: #002776;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 28px;
  line-height: 36px;
}
.h2,
h2 {
  color: #002776;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 24px;
  line-height: 32px;
}
.h3,
h3 {
  color: #002776;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.h4,
h4,
.form-label,
.error-summary__title,
.responsive-table > caption {
  color: #002776;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
.h5,
h5 {
  color: #002776;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.small-text {
  color: #676767;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.micro-text {
  color: #676767;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5,
.form-label,
.error-summary__title,
.responsive-table > caption {
  margin-bottom: 10px;
}
.h1--error,
.h2--error,
.h3--error,
.h4--error,
.h5--error,
h1--error,
h2--error,
h3--error,
h4--error,
h5--error {
  color: #DA3D00;
}
.h1--with-border,
.h2--with-border,
.h3--with-border,
.h4--with-border,
.h5--with-border,
h1--with-border,
h2--with-border,
h3--with-border,
h4--with-border,
h5--with-border {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 10px;
}
.body-text,
body {
  color: #323232;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}
.body-paragraph,
p {
  margin-bottom: 1em;
}
.body-paragraph--text-left,
p--text-left {
  text-align: left;
}
.body-paragraph--text-center,
p--text-center {
  text-align: center;
}
.lead-paragraph {
  color: #002776;
  font-family: "MuseoSans-500", arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
}
.link-text,
a {
  color: #0075D2;
  text-decoration: none;
  word-wrap: break-word;
}
.link-text:hover,
a:hover {
  text-decoration: none;
  color: #005AA4;
}
.divider-line,
hr {
  border: none;
  border-bottom: solid 1px #D8D8D8;
}
.strong-text,
strong,
.responsive-table > thead > tr > th,
.responsive-table > tbody > tr > th,
.responsive-table > tfoot > tr > th,
.responsive-table > tbody > tr > [data-th]:before,
.responsive-table > tfoot > tr > td:before {
  font-weight: normal;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
}
.em-text,
em {
  font-style: italic;
}
.pre-text,
pre {
  font-family: consolas, menlo, monaco, monospace;
  text-align: left;
  background-color: #F0EAD7;
}
.inline-separator {
  margin: 0 4px 0 4px;
}
.number-list,
.bullet-list {
  text-align: left;
  margin: 0 0 20px 0;
}
.number-list > li,
.bullet-list > li {
  margin-top: 10px;
  margin-left: 15px;
}
.number-list {
  list-style-type: decimal;
}
.bullet-list {
  list-style-type: disc;
}
/* tablet/medium typography */
@media screen and (min-width: 480px) {
  .h1,
  h1 {
    font-size: 48px;
    line-height: 58px;
  }
  .h2,
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
  .h3,
  h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .h4,
  h4,
  .form-label,
  .error-summary__title,
  .responsive-table > caption {
    font-size: 20px;
    line-height: 28px;
  }
  .h5,
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  h1,
  h2,
  h3,
  h4,
  h5,
  .form-label,
  .error-summary__title,
  .responsive-table > caption {
    margin-bottom: 15px;
  }
  .lead-paragraph {
    font-size: 22px;
    line-height: 32px;
  }
  .body-text,
  body {
    font-size: 16px;
    line-height: 26px;
  }
  .small-text {
    font-size: 14px;
    line-height: 22px;
  }
  .micro-text {
    font-size: 12px;
    line-height: 20px;
  }
  .number-list,
  .bullet-list {
    margin-left: 20px;
  }
}
/* Desktop */
@media screen and (min-width: 768px) {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  h1,
  h2,
  h3,
  h4,
  h5,
  .form-label,
  .error-summary__title,
  .responsive-table > caption {
    margin-bottom: 20px;
  }
  .body-text,
  body {
    font-size: 18px;
    line-height: 28px;
  }
  .h1,
  h1 {
    font-size: 54px;
    line-height: 64px;
  }
  .h2,
  h2 {
    font-size: 32px;
    line-height: 44px;
  }
  .h3,
  h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .h4,
  h4,
  .form-label,
  .error-summary__title,
  .responsive-table > caption {
    font-size: 22px;
    line-height: 28px;
  }
  .h5,
  h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .lead-paragraph {
    font-size: 22px;
    line-height: 32px;
  }
  .small-text {
    font-size: 14px;
    line-height: 22px;
  }
  .micro-text {
    font-size: 12px;
    line-height: 20px;
  }
  .number-list > li,
  .bullet-list > li {
    margin-left: 30px;
  }
}
.h1--no-margin,
.h2--no-margin,
.h3--no-margin,
.h4--no-margin,
.h5--no-margin,
h1--no-margin,
h2--no-margin,
h3--no-margin,
h4--no-margin,
h5--no-margin {
  margin: 0;
}
/******* Layouts ********/
.section-wrapper {
  width: 100%;
  padding: 0 20px;
  margin: 0;
}
.section-wrapper:before,
.section-wrapper:after {
  display: table;
  content: "";
}
.section-wrapper:after {
  clear: both;
}
.section-wrapper--bg-sand {
  background-color: #F7F4EB;
  max-width: none;
}
.section-wrapper--bg-grey {
  background-color: #F1F1EF;
  max-width: none;
}
.content-container {
  width: 100%;
  margin: 20px auto 20px auto;
  max-width: 768px;
  text-align: center;
}
.content-container--sm {
  max-width: 480px;
}
.content-container--lg {
  max-width: 1280px;
}
.content-container--text-left {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .content-container {
    margin: 30px auto 30px auto;
  }
}
.content-container--no-space {
  margin: 0 auto;
}
.content-container[aria-hidden="true"] {
  display: none;
}
/* Buttons */
.primary-button,
.secondary-button,
.action-button,
.shortcut-button {
  font-family: 'MuseoSans-500', arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  padding: 0 30px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #005AA4;
  border: 2px solid transparent;
  display: block;
  line-height: 41px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  outline: none;
}
.primary-button:focus,
.secondary-button:focus,
.action-button:focus,
.shortcut-button:focus {
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
  background-color: #004c8b;
}
.primary-button:hover,
.secondary-button:hover,
.action-button:hover,
.shortcut-button:hover {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #004c8b;
}
.primary-button:active,
.secondary-button:active,
.action-button:active,
.shortcut-button:active {
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  background-color: #003e71;
}
.primary-button__label,
.secondary-button__label,
.action-button__label,
.shortcut-button__label {
  overflow: hidden;
  position: relative;
}
.primary-button__label-text,
.secondary-button__label-text,
.action-button__label-text,
.shortcut-button__label-text {
  position: relative;
  bottom: 0;
  transition: bottom 0.2s;
}
.primary-button__label-spinner,
.secondary-button__label-spinner,
.action-button__label-spinner,
.shortcut-button__label-spinner {
  content: ' ';
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;
  border: 3px solid #FFFFFF;
  border-top-color: transparent;
  border-radius: 50%;
  visibility: visible;
  animation: spindindust 1s linear infinite;
  opacity: 0;
  color: transparent;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 11px);
  transition: all 0.2s;
}
@keyframes spindindust {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.primary-button__label-spinner[aria-hidden="false"],
.secondary-button__label-spinner[aria-hidden="false"],
.action-button__label-spinner[aria-hidden="false"],
.shortcut-button__label-spinner[aria-hidden="false"] {
  opacity: 1;
  bottom: 0;
}
.primary-button--loading,
.secondary-button--loading,
.action-button--loading,
.shortcut-button--loading {
  pointer-events: none;
  background-color: #00599f;
}
.primary-button__label-text--loading,
.secondary-button__label-text--loading,
.action-button__label-text--loading,
.shortcut-button__label-text--loading {
  bottom: 50px;
}
@media screen and (min-width: 480px) {
  .primary-button,
  .secondary-button,
  .action-button,
  .shortcut-button {
    display: inline-block;
    width: auto;
  }
}
.secondary-button,
.shortcut-button {
  color: #0075D2;
  background-color: #FFFFFF;
  border: solid 2px #D8D8D8;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
}
.secondary-button:hover,
.secondary-button:focus,
.secondary-button:active,
.shortcut-button:hover,
.shortcut-button:focus,
.shortcut-button:active {
  border-color: #0075D2;
  background-color: #FFFFFF;
}
.secondary-button--loading,
.shortcut-button--loading {
  background-color: #002776;
}
.shortcut-button {
  padding-right: 35px;
}
.shortcut-button__icon-chevron {
  width: 16px;
  height: 16px;
  position: relative;
  left: 15px;
  bottom: 2px;
  transition: left 0.1s;
}
.shortcut-button:hover .shortcut-button__icon-chevron,
.shortcut-button:active .shortcut-button__icon-chevron,
.shortcut-button:focus .shortcut-button__icon-chevron {
  left: 20px;
}
.action-button {
  background-color: #008A00;
}
.action-button:focus,
.action-button:hover {
  background-color: #007100;
}
.action-button:active,
.action-button--loading {
  background-color: #005700;
}
/* Inputs*/
.input-field {
  display: inline-block;
  height: 45px;
  padding: 0 13px;
  font-family: MuseoSans-300, arial, sans-serif;
  font-size: 18px;
  border-radius: 4px;
  border: 2px solid #D8D8D8;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 1px 2px 0 #F1F1EF inset;
}
.input-field:hover {
  border-color: #0075D2;
}
.input-field:focus,
.input-field:active {
  border-color: #0075D2;
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
  outline: none;
}
.input-field--small {
  width: 95px;
}
.input-field--medium {
  width: 130px;
}
.input-field--large {
  width: 160px;
}
.select-box {
  padding: 0 32px 0 10px;
  height: 44px;
  border: 2px solid #D8D8D8;
  box-shadow: 0 1px 1px 0 #F1F1EF;
  background-image: url('icons/chevron-royal-light.svg');
  background-color: #FFFFFF;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 94% 50%;
  line-height: 20px;
  font-size: 18px;
  border-radius: 4px;
  font-family: MuseoSans-300, arial, sans-serif;
  min-width: 175px;
  transition: all 0.15s ease-in-out;
}
.select-box:hover {
  border-color: #0075D2;
}
.select-box:focus,
.select-box:active {
  border-color: #0075D2;
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
  outline: none;
}
.select-box::-ms-expand {
  display: none;
}
.check-box {
  display: block;
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  transition: width 0.15s ease-in-out;
  text-align: left;
}
.check-box--inline {
  display: inline-block;
  margin-right: 20px;
}
.check-box:before {
  border: solid 2px #ADADAD;
  border-radius: 2px;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  position: relative;
  top: 3px;
  transition: all 0.2s;
  width: 20px;
  background-color: white;
}
.check-box:after {
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  content: '';
  display: block;
  height: 11px;
  width: 6px;
  left: 4px;
  top: 14px;
  position: absolute;
}
.hidden-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.hidden-checkbox:checked + label:before,
.hidden-checkbox:hover + label:before,
.hidden-checkbox:focus + label:before,
.hidden-checkbox:active + label:before {
  outline: none;
}
.hidden-checkbox:hover + label:before {
  border-color: #0075D2;
}
.hidden-checkbox:active + label:before,
.hidden-checkbox:focus + label:before {
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
}
.hidden-checkbox:checked + label:before {
  border-color: #0075D2;
  background-color: #FFFFFF;
}
.hidden-checkbox:focus + label:before {
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
}
.hidden-checkbox:checked + label:after {
  animation: checkmark 0.4s;
  border-color: #0075D2;
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 6px;
  }
  50% {
    height: 11px;
    width: 6px;
  }
}
.radio-input {
  position: absolute;
  opacity: 0;
}
.radio-button {
  display: block;
  position: relative;
  color: #323232;
  background-color: #FFFFFF;
  cursor: pointer;
  margin: 10px 0;
  transition: width 0.15s ease-in-out;
  text-align: left;
  padding-left: 30px;
}
.radio-button--inline {
  display: inline-block;
  margin-right: 20px;
}
.radio-button:before {
  content: '';
  background-color: #FFFFFF;
  border: 2px solid #ADADAD;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 3px;
}
.radio-button:after {
  content: '';
  border: 2px solid transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 3px;
  pointer-events: none;
}
.radio-input:checked + .radio-button:before,
.radio-input:hover + .radio-button:before,
.radio-input:focus + .radio-button:before,
.radio-input:active + .radio-button:before {
  outline: none;
}
.radio-input:hover + .radio-button:before {
  border-color: #0075D2;
}
.radio-input:active + .radio-button:before,
.radio-input:focus + .radio-button:before {
  border-color: rgba(68, 192, 255, 0.5);
}
.radio-input:checked + .radio-button:before {
  background-color: #0075D2;
  border: 5px solid #FFFFFF;
}
.radio-input:checked + .radio-button:after {
  border-color: #0075D2;
}
.radio-input:focus + .radio-button:before {
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
}
.radio-switch {
  padding: 6px 20px 6px 50px;
  position: relative;
  border: 2px solid #D8D8D8;
  border-radius: 22px;
  display: inline-block;
  min-width: 100px;
  text-align: left;
  color: #0075D2;
  font-family: "MuseoSansRounded-700", arial, sans-serif;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
}
.radio-switch:before {
  content: '';
  background-color: #FFFFFF;
  border: 2px solid #ADADAD;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 10px;
}
.radio-input:checked + .radio-switch {
  border-color: #005AA4;
  background-color: #FFFFFF;
  color: #005AA4;
}
.radio-input:hover + .radio-switch {
  border-color: #0075D2;
}
.radio-input:focus + .radio-switch {
  border-color: #005AA4;
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
}
.radio-input:checked + .radio-switch:before {
  background-color: #FFFFFF;
  border: 7px solid #0075D2;
}
.radio-block {
  margin-top: 20px;
  max-width: 600px;
  min-width: 260px;
  transition: width 0.3s ease-in-out;
}
.radio-block__content {
  width: 100%;
  position: relative;
  border: 2px solid #D8D8D8;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  color: #323232;
  background-color: white;
  cursor: pointer;
}
.radio-block__content:before {
  content: '';
  background-color: #FFFFFF;
  border: 2px solid #ADADAD;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 10px;
  z-index: 1;
}
.radio-block__header {
  display: block;
  padding: 0 60px;
  line-height: 40px;
  cursor: pointer;
}
.radio-block__wrapper {
  padding: 20px 20px 30px 20px;
  cursor: auto;
}
.radio-block__wrapper--empty {
  padding: 0;
}
.radio-block__wrapper[aria-hidden="true"] {
  display: none;
}
.radio-input + .radio-block__content > .radio-block__header {
  border-bottom: thin solid #D8D8D8;
}
.radio-input + .radio-block__content[role="presentation"] > .radio-block__header {
  border-bottom: none;
}
.radio-input:checked + .radio-block__content {
  border: 2px solid #002776;
}
.radio-input:checked + .radio-block__content > .radio-block__header {
  border-bottom: none;
  background-color: #002776;
  color: white;
}
.radio-input:checked + .radio-block__content:before {
  background-color: #FFFFFF;
  border: 7px solid #0075D2;
}
.radio-input:focus + .radio-block__content {
  box-shadow: 0 0 0 2px rgba(68, 192, 255, 0.5);
}
@media screen and (min-width: 480px) {
  .radio-block__wrapper {
    padding-left: 60px;
  }
}
/* Form Layout */
.input-group {
  position: relative;
}
.input-group [aria-invalid="true"] {
  border-color: #DA3D00;
  color: #DA3D00;
  border-style: solid;
}
.button-group {
  padding: 40px 0;
}
.button-group button {
  margin: 0 auto 10px auto;
}
.button-group--thin {
  padding: 0;
}
@media screen and (min-width: 480px) {
  .button-group button {
    display: inline-block;
    margin: 0 0 10px 10px;
    width: auto;
  }
  .button-group button:first-child {
    margin: 0 0 10px 0;
  }
}
.form-label {
  margin: 0;
  padding: 8px 0;
  display: block;
  position: relative;
  max-width: 85%;
}
.form-label--inline {
  max-width: 100%;
}
/* Validation */
.info-message {
  font-size: 16px;
  color: #002776;
  margin: 5px 0 10px;
  display: block;
}
.info-message[aria-hidden="true"] {
  display: none;
}
.info-message:before {
  content: 'i';
  color: #FFFFFF;
  background-color: #002776;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-block;
  line-height: 19px;
  margin-right: 5px;
  text-align: center;
}
.info-message--error {
  color: #DA3D00;
}
.info-message--error:before {
  content: '!';
  background-color: #DA3D00;
}
.info-message--success {
  color: #008A00;
}
.info-message--success:before {
  content: '\2713';
  background-color: #008A00;
}
.error-summary {
  color: #DA3D00;
  border-top: 2px solid #D8D8D8;
  border-bottom: 2px solid #D8D8D8;
  padding: 20px 0;
  text-align: left;
}
.error-summary[aria-hidden="true"] {
  display: none;
}
.error-summary__title {
  padding-left: 5px;
  margin-bottom: 10px;
  color: #DA3D00;
}
.error-summary__icon {
  height: 30px;
  width: 30px;
}
.error-summary__list {
  font-size: 16px;
  line-height: 2;
  list-style: disc;
  margin-top: 10px;
}
.error-summary__list-item {
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .error-summary {
    border: 2px solid #D8D8D8;
    padding: 30px 60px;
    max-width: 620px;
    margin: auto;
  }
  .error-summary__title {
    font-size: 20px;
    line-height: 26px;
    padding-left: 5px;
  }
  .error-summary__icon {
    height: 50px;
    width: 50px;
  }
}
/* Other*/
.loading-spinner {
  display: inline-block;
  vertical-align: middle;
}
.loading-spinner:before {
  content: ' ';
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 3px solid #008ED2;
  border-top-color: transparent;
  border-radius: 50%;
  visibility: visible;
  animation: spindindust 1s linear infinite;
}
@keyframes spindindust {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner--large:before {
  border-width: 3px;
  height: 40px;
  width: 40px;
}
.responsive-table {
  margin: 20px 0;
  min-width: 100%;
  text-align: left;
}
.responsive-table > thead {
  display: none;
}
@media (min-width: 768px) {
  .responsive-table > thead {
    display: table-header-group;
  }
}
.responsive-table > tfoot {
  border-top: 2px solid #002776;
}
.responsive-table > thead > tr,
.responsive-table > tbody > tr,
.responsive-table > tfoot > tr {
  border-bottom: 1px solid #D8D8D8;
  display: block;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .responsive-table > thead > tr,
  .responsive-table > tbody > tr,
  .responsive-table > tfoot > tr {
    display: table-row;
  }
}
.responsive-table > tbody > tr > td,
.responsive-table > tfoot > tr > td {
  display: block;
}
.responsive-table__content {
  display: inline-block;
  vertical-align: top;
  max-width: calc(100% - 105px);
}
@media (min-width: 768px) {
  .responsive-table__content {
    display: block;
    max-width: none;
  }
}
.responsive-table > tbody > tr > [data-th]:before,
.responsive-table > tfoot > tr > td:before {
  content: attr(data-th);
  width: 100px;
  display: inline-block;
}
@media (min-width: 768px) {
  .responsive-table > tbody > tr > [data-th]:before,
  .responsive-table > tfoot > tr > td:before {
    display: none;
  }
}
.responsive-table--small-header > tbody > tr > [data-th]:before,
.responsive-table--small-header > tfoot > tr > td:before {
  width: 65px;
}
@media (min-width: 768px) {
  .responsive-table > thead > tr > th,
  .responsive-table > thead > tr > td,
  .responsive-table > tbody > tr > th,
  .responsive-table > tbody > tr > td,
  .responsive-table > tfoot > tr > th,
  .responsive-table > tfoot > tr > td {
    display: table-cell;
    padding: 10px;
  }
}
select,
textarea,
input:not([type="radio"]):not([type="checkbox"]) {
  appearance: none;
  /*
      Yes, we have a plugins for vendor prefixes.
      No, it doesn't work for appearance.

      https://github.com/postcss/autoprefixer/commit/ee40885a5dc50932d34d5e9a579fe27ef32d78bb
  */
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
.ffe-header {
  margin-bottom: 30px;
  transition: top 0.2s ease-in-out 0.6s;
  width: 100%;
  background: #FFFFFF;
  text-align: center;
}
.ffe-header__section-wrapper {
  width: 100%;
  margin: 0 auto;
  display: table;
  border-bottom: 1px solid #D8D8D8;
}
.ffe-header__branding-block {
  height: 50px;
  padding: 15px 0;
  margin-top: 10px;
}
.ffe-header__branding-block-logo {
  height: 20px;
}
.ffe-header__container--mobile {
  padding: 10px 20px;
  text-align: center;
}
.ffe-header__container--mobile img {
  height: 30px;
}
.ffe-header__container--desktop {
  display: none;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
}
.ffe-header__icon-burger {
  float: left;
  cursor: pointer;
}
.ffe-header__icon-user {
  float: right;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .ffe-header {
    margin-bottom: 110px;
  }
  .ffe-header__section-wrapper {
    border-bottom: 2px solid #D8D8D8;
  }
  .ffe-header__container--mobile {
    display: none;
  }
  .ffe-header__container--desktop {
    display: table;
    width: 100%;
    padding: 30px 20px;
    transition: padding 0.2s ease-in-out;
  }
  .ffe-header__component {
    display: table-cell;
    width: 33%;
    vertical-align: middle;
  }
  .ffe-header__component:first-child {
    text-align: left;
  }
  .ffe-header__component:last-child {
    text-align: right;
  }
  .ffe-header__logo {
    height: 40px;
    margin: 0;
    transition: all 0.2s ease-in-out;
  }
  .ffe-header__logo--sm {
    height: 26px;
    margin-top: 5px;
  }
  .ffe-header__heading {
    font-size: 22px;
    font-family: MuseoSans-500, arial, sans-serif;
    line-height: 30px;
    transition: font-size 0.2s ease-in-out;
    margin: 0;
  }
  .ffe-header__heading--sm {
    font-size: 18px;
  }
  .ffe-header__profile-type {
    font-size: 16px;
    font-family: MuseoSans-500, arial, sans-serif;
    margin-right: 8px;
  }
  .ffe-header__profile-name {
    font-size: 16px;
    margin-right: 8px;
    display: inline-block;
  }
  .ffe-header__profile-name:after {
    content: '\203A';
    font-size: 32px;
    vertical-align: sub;
    margin: 7px;
  }
  .ffe-header__branding-block {
    height: 60px;
    padding: 17px 0;
  }
  .ffe-header__branding-block-logo {
    height: 25px;
  }
  .ffe-header--thin {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .ffe-header--thin .ffe-header__component:last-child > * {
    display: none;
  }
  .ffe-header__section-wrapper--thin {
    padding: 5px 20px;
  }
}
