@import "../node_modules/ffe-core/less/ffe.less";
@import "../node_modules/ffe-tabs/less/tabs.less";
@font-url: "../node_modules/ffe-core/fonts";

body {
	font-family: "MuseoSansRounded-500", arial, sans-serif;
	background: @ffe-sand;
}

.ffe-body-text {
	max-width: 800px;
	margin: 0 auto;

	div {
		margin: 30px;
	}
}