.ffe-badge {
    display: inline-flex;
    padding: var(--ffe-spacing-2xs) var(--ffe-spacing-xs);
    background-color: var(--ffe-color-fill-feedback-critical);
    color: var(--ffe-color-foreground-inverse);
    border-radius: 50px;
    font-size: var(--ffe-fontsize-small-text);
    line-height: 1rem;

    &--no-children {
        height: 8px;
        width: 8px;
        padding: 0;
        position: absolute;
    }
}
