.sb1ds-color-palette {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: @breakpoint-md) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    &__item {
        @media (min-width: @breakpoint-md) {
            grid-column: span 4;

            .sb1ds-color-palette--neutral & {
                grid-column: span 3;
            }

            &:nth-child(1) {
                grid-column: span 6;
            }

            &:nth-child(2) {
                grid-column: span 6;
            }
        }
    }

    &__color {
        display: flex;
        flex-direction: column;
        padding: @ffe-spacing-sm @ffe-spacing-md;

        &:first-child {
            min-height: 300px;
        }

        &--vann {
            background-color: @ffe-farge-vann;
            color: @ffe-farge-hvit;
        }

        &--vann-70 {
            background-color: @ffe-farge-vann-70;
            color: @ffe-farge-fjell;
        }

        &--vann-30 {
            background-color: @ffe-farge-vann-30;
            color: @ffe-farge-fjell;
        }

        &--fjell {
            background-color: @ffe-farge-fjell;
            color: @ffe-farge-hvit;
        }

        &--fjell-70 {
            background-color: @ffe-farge-fjell-70;
            color: @ffe-farge-hvit;
        }

        &--fjell-30 {
            background-color: @ffe-farge-fjell-30;
            color: @ffe-farge-fjell;
        }

        &--sand {
            background-color: @ffe-farge-sand;
            color: @ffe-farge-fjell;
        }

        &--sand-70 {
            background-color: @ffe-farge-sand-70;
            color: @ffe-farge-fjell;
        }

        &--sand-30 {
            background-color: @ffe-farge-sand-30;
            color: @ffe-farge-fjell;
        }

        &--frost {
            background-color: @ffe-farge-frost;
            color: @ffe-farge-fjell;
        }

        &--frost-70 {
            background-color: @ffe-farge-frost-70;
            color: @ffe-farge-fjell;
        }

        &--frost-30 {
            background-color: @ffe-farge-frost-30;
            color: @ffe-farge-fjell;
        }

        &--syrin {
            background-color: @ffe-farge-syrin;
            color: @ffe-farge-fjell;
        }

        &--syrin-70 {
            background-color: @ffe-farge-syrin-70;
            color: @ffe-farge-fjell;
        }

        &--syrin-30 {
            background-color: @ffe-farge-syrin-30;
            color: @ffe-farge-fjell;
        }

        &--myrull {
            background-color: @ffe-farge-myrull;
            color: @ffe-farge-lyng;
        }

        &--myrull-70 {
            background-color: @ffe-farge-myrull-70;
            color: @ffe-farge-lyng;
        }

        &--myrull-30 {
            background-color: @ffe-farge-myrull-30;
            color: @ffe-farge-lyng;
        }

        &--villblomst {
            background-color: @ffe-farge-villblomst;
            color: @ffe-farge-svart;
        }

        &--villblomst-70 {
            background-color: @ffe-farge-villblomst-70;
            color: @ffe-farge-svart;
        }

        &--villblomst-30 {
            background-color: @ffe-farge-villblomst-30;
            color: @ffe-farge-svart;
        }

        &--nordlys {
            background-color: @ffe-farge-nordlys;
            color: @ffe-farge-svart;
        }

        &--nordlys-70 {
            background-color: @ffe-farge-nordlys-70;
            color: @ffe-farge-svart;
        }

        &--nordlys-30 {
            background-color: @ffe-farge-nordlys-30;
            color: @ffe-farge-svart;
        }

        &--lyng {
            background-color: @ffe-farge-lyng;
            color: @ffe-farge-hvit;
        }

        &--lyng-70 {
            background-color: @ffe-farge-lyng-70;
            color: @ffe-farge-hvit;
        }

        &--lyng-30 {
            background-color: @ffe-farge-lyng-30;
            color: @ffe-farge-svart;
        }

        &--baer {
            background-color: @ffe-farge-baer;
            color: @ffe-farge-hvit;
        }

        &--baer-70 {
            background-color: @ffe-farge-baer-70;
            color: @ffe-farge-hvit;
        }

        &--baer-30 {
            background-color: @ffe-farge-baer-30;
            color: @ffe-farge-svart;
        }

        &--skog {
            background-color: @ffe-farge-skog;
            color: @ffe-farge-hvit;
        }

        &--skog-70 {
            background-color: @ffe-farge-skog-70;
            color: @ffe-farge-hvit;
        }

        &--skog-30 {
            background-color: @ffe-farge-skog-30;
            color: @ffe-farge-svart;
        }

        &--multe {
            background-color: @ffe-farge-multe;
            color: @ffe-farge-svart;
        }

        &--multe-70 {
            background-color: @ffe-farge-multe-70;
            color: @ffe-farge-svart;
        }

        &--multe-30 {
            background-color: @ffe-farge-multe-30;
            color: @ffe-farge-svart;
        }

        &--sol {
            background-color: @ffe-farge-sol;
            color: @ffe-farge-svart;
        }

        &--sol-70 {
            background-color: @ffe-farge-sol-70;
            color: @ffe-farge-svart;
        }

        &--sol-30 {
            background-color: @ffe-farge-sol-30;
            color: @ffe-farge-svart;
        }

        &--natt {
            background-color: @ffe-farge-natt;
            color: @ffe-farge-hvit;
        }

        &--svart {
            background-color: @ffe-farge-svart;
            color: @ffe-farge-hvit;
        }

        &--koksgraa {
            background-color: @ffe-farge-koksgraa;
            color: @ffe-farge-hvit;
        }

        &--moerkgraa {
            background-color: @ffe-farge-moerkgraa;
            color: @ffe-farge-hvit;
        }

        &--graa {
            background-color: @ffe-farge-graa;
            color: @ffe-farge-hvit;
        }

        &--lysgraa {
            background-color: @ffe-farge-lysgraa;
            color: @ffe-farge-svart;
        }

        &--moerkvarmgraa {
            background-color: @ffe-farge-moerkvarmgraa;
            color: @ffe-farge-hvit;
        }

        &--varmgraa {
            background-color: @ffe-farge-varmgraa;
            color: @ffe-farge-hvit;
        }

        &--lysvarmgraa {
            background-color: @ffe-farge-lysvarmgraa;
            color: @ffe-farge-svart;
        }

        &--hvit {
            background-color: @ffe-farge-hvit;
            color: @ffe-farge-svart;
        }

        &--black-darkmode {
            background-color: @ffe-black-darkmode;
            color: @ffe-farge-hvit;
        }

        &--white-darkmode {
            background-color: @ffe-white-darkmode;
            color: @ffe-farge-svart;
        }

        &--grey-charcoal-darkmode {
            background-color: @ffe-grey-charcoal-darkmode;
            color: @ffe-farge-hvit;
        }

        &--grey-darkmode {
            background-color: @ffe-grey-darkmode;
            color: @ffe-farge-hvit;
        }

        &--grey-silver-darkmode {
            background-color: @ffe-grey-silver-darkmode;
            color: @ffe-farge-hvit;
        }

        &--grey-cloud-darkmode {
            background-color: @ffe-grey-cloud-darkmode;
            color: @ffe-farge-svart;
        }

        &--blue-azure-darkmode {
            background-color: @ffe-blue-azure-darkmode;
            color: @ffe-farge-hvit;
        }

        &--red-darkmode {
            background-color: @ffe-red-darkmode;
            color: @ffe-farge-hvit;
        }
    }

    &__color-properties {
        margin: 0;
        padding: 0;
        display: inline-grid;
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
        font-size: 0.9rem;

        dt,
        dd {
            margin: 0;
            padding: 0;
        }
    }

    &__color-name {
        font-size: 1.5rem;
        margin: 0 0 @ffe-spacing-sm 0;
        padding: 0;
    }

    &__color-tint-name {
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }
}
