.sb1ds-spacing-example {
    display: inline-block;
    background: @ffe-blue-sky;
    font-size: 1px;
    line-height: 1px;
    width: @ffe-spacing;
    height: @ffe-spacing;
    margin-top: @ffe-spacing-xs;

    &--xs {
        width: @ffe-spacing-xs;
        height: @ffe-spacing-xs;
    }

    &--sm {
        width: @ffe-spacing-sm;
        height: @ffe-spacing-sm;
    }

    &--md {
        width: @ffe-spacing-md;
        height: @ffe-spacing-md;
    }

    &--lg {
        width: @ffe-spacing-lg;
        height: @ffe-spacing-lg;
    }

    &--xl {
        width: @ffe-spacing-xl;
        height: @ffe-spacing-xl;
    }

    &--2xl {
        width: @ffe-spacing-2xl;
        height: @ffe-spacing-2xl;
    }

    &--3xl {
        width: @ffe-spacing-3xl;
        height: @ffe-spacing-3xl;
    }

    &--4xl {
        width: @ffe-spacing-4xl;
        height: @ffe-spacing-4xl;
    }

    &--5xl {
        width: @ffe-spacing-5xl;
        height: @ffe-spacing-5xl;
    }
}
