@import (reference) '@sb1/ffe-core/less/breakpoints';

.ffe-wave-section {
    position: relative;

    &__content {
        background-color: var(--ffe-color-background-default);
    }

    &__wave {
        &--bottom,
        &--top {
            min-height: 12px;
            background-color: var(--ffe-color-background-default);
            clip-path: polygon(
                100% 0%,
                100% 26.199%,
                100% 26.199%,
                99.057% 23.323%,
                98.353% 21.146%,
                97.849% 19.561%,
                97.508% 18.462%,
                97.291% 17.743%,
                97.16% 17.299%,
                97.079% 17.022%,
                97.007% 16.808%,
                96.909% 16.551%,
                96.746% 16.143%,
                96.746% 16.143%,
                94.132% 10.413%,
                91.677% 6.481%,
                89.357% 4.161%,
                87.146% 3.27%,
                85.023% 3.624%,
                82.961% 5.038%,
                80.939% 7.328%,
                78.931% 10.309%,
                76.913% 13.798%,
                74.862% 17.61%,
                74.862% 17.61%,
                70.72% 26.065%,
                66.398% 35.894%,
                61.961% 46.564%,
                57.473% 57.541%,
                52.999% 68.293%,
                48.603% 78.285%,
                44.35% 86.986%,
                40.303% 93.86%,
                36.527% 98.376%,
                33.087% 100%,
                33.087% 100%,
                30.162% 99.177%,
                27.129% 96.747%,
                23.998% 92.766%,
                20.775% 87.289%,
                17.471% 80.375%,
                14.092% 72.078%,
                10.648% 62.456%,
                7.145% 51.564%,
                3.593% 39.46%,
                0% 26.199%,
                0% 0%,
                100% 0%
            );

            @media (min-width: @breakpoint-sm) {
                min-height: 30px;
            }
        }

        &--top {
            rotate: 180deg;
        }
    }

    &--subtle {
        .ffe-wave-section__content,
        .ffe-wave-section__wave--bottom,
        .ffe-wave-section__wave--top {
            background-color: var(--ffe-color-background-subtle);
        }
    }
}
