.ffe-chart-donut {
    display: grid;
    width: fit-content;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-items: center;
    position: relative;
    text-align: left;

    &--first {
        stroke: var(--ffe-v-chart-donut-first-color);
    }

    &--last {
        stroke: var(--ffe-v-chart-donut-last-color);
    }

    &__circle,
    &__description {
        grid-column: 1/1;
        grid-row: 1/1;
    }

    &__circle {
        width: 12.5rem;
        aspect-ratio: 1;
    }

    &__description {
        z-index: 1;
    }

    &__name {
        color: var(--ffe-v-chart-donut-text-color);
        text-align: center;
    }

    &__fractions {
        display: grid;
        grid-template-columns: auto 1px auto;
        grid-template-rows: auto auto;
        grid-column-gap: var(--ffe-spacing-xs);
        &::after {
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            background: var(--ffe-v-chart-donut-text-color);
            height: 1lh;
            content: '';
        }
    }

    &__fraction {
        display: grid;
        place-items: center;
    }

    .ffe-chart-donut__amount {
        color: var(--ffe-v-chart-donut-text-color);
    }

    &__fraction:first-of-type {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    &__fraction:last-of-type {
        grid-column: 3/4;
        grid-row: 1/3;
    }
}
