:root,
:host {
    --ffe-v-chart-donut-first-color: var(--ffe-farge-vann);
    --ffe-v-chart-donut-last-color: var(--ffe-farge-fjell);
    --ffe-v-chart-donut-text-color: var(--ffe-farge-koksgraa);

    @media (prefers-color-scheme: dark) {
        .native {
            --ffe-v-chart-donut-first-color: var(--ffe-farge-vann-30);
            --ffe-v-chart-donut-last-color: var(--ffe-farge-vann-70);
            --ffe-v-chart-donut-text-color: var(--ffe-farge-lysgraa);
        }
    }
}
