@fonts-url: './fonts';

@font-face {
    font-family: 'MuseoSans-300';
    src: url('@{fonts-url}/2FDE32_0_0.woff2') format('woff2'),
        url('@{fonts-url}/2FDE32_0_0.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSans-500';
    src: url('@{fonts-url}/2FDE32_1_0.woff2') format('woff2'),
        url('@{fonts-url}/2FDE32_1_0.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSansRounded-300';
    src: url('@{fonts-url}/2FDE32_2_0.woff2') format('woff2'),
        url('@{fonts-url}/2FDE32_2_0.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSansRounded-500';
    src: url('@{fonts-url}/2FDE32_3_0.woff2') format('woff2'),
        url('@{fonts-url}/2FDE32_3_0.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSansRounded-700';
    src: url('@{fonts-url}/2FDE32_4_0.woff2') format('woff2'),
        url('@{fonts-url}/2FDE32_4_0.woff') format('woff');
}
