@fonts-url: './fonts';

@font-face {
    font-family: 'SpareBank1-medium';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Medium-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Medium-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-regular';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Regular-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Regular-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-title-medium';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Title-Medium-Web.woff2')
            format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Title-Medium-Web.woff') format('woff');
}
