@fonts-url: './fonts';

@font-face {
    font-family: 'SpareBank1-medium';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Medium-Web.woff2') format('woff2');
}

@font-face {
    font-family: 'SpareBank1-regular';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Regular-Web.woff2') format('woff2');
}

@font-face {
    font-family: 'SpareBank1-italic';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-It-Web.woff2') format('woff2');
}

@font-face {
    font-family: 'SpareBank1-title-medium';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Title-Medium-Web.woff2')
        format('woff2');
}
