@fonts-url: './fonts';

@font-face {
    font-family: 'SpareBank1-black';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Black-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Black-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-black-italic';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-BlackIt-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-BlackIt-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-bold';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Bold-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Bold-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-bold-italic';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-BoldIt-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-BoldIt-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-italic';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-It-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-It-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-light';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Light-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Light-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-light-italic';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-LightIt-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-LightIt-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-medium';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Medium-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Medium-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-medium-italic';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-MediumIt-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-MediumIt-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-regular';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Regular-Web.woff2') format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Regular-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-title-light';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Title-Light-Web.woff2')
            format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Title-Light-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-title-medium';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Title-Medium-Web.woff2')
            format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Title-Medium-Web.woff') format('woff');
}

@font-face {
    font-family: 'SpareBank1-title-regular';
    font-display: fallback;
    src: data-uri('@{fonts-url}/SpareBank1-Title-Regular-Web.woff2')
            format('woff2'),
        data-uri('@{fonts-url}/SpareBank1-Title-Regular-Web.woff')
            format('woff');
}
