.legend-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;

    &__first {
        background-color: var(--ffe-color-foreground-feedback-info)
    }

    &__second {
        background-color: var(--ffe-color-fill-feedback-info-subtle);
    }
}