@import '@sb1/ffe-core/css/spacing.css';
@import '@sb1/ffe-core/css/colors.css';

.ffe-docs-content-container--colored {
    padding: var(--ffe-spacing-sm);
}

.ffe-docs-content-container {
    background: var(--ffe-farge-hvit);
    &--dark-mode {
        background: var(--ffe-farge-svart);
    }
    &--colored {
        background: var(--ffe-farge-fjell);
    }
}
