.ffe-docs-content-container {
    padding: var(--ffe-spacing-sm);
    background: var(--ffe-color-background-default);
}

.ffe-button-display-group {
    display: flex;
    gap: var(--ffe-spacing-xs);
    align-items: flex-end;

    &--center {
        justify-content: center;
    }
}
