// Mixins
.create-column(@size, @total, @current: 0) when (@current <= @total) {
    .ffe-grid__col--@{size}-@{current} {
        display: block;
        grid-column: auto / span (@current);

        & when (@current = 0) {
            display: none;
        }
    }

    .create-column(@size, @total, @current + 1);
}

.create-column-offset(@size, @total, @current: 1) when (@current <= @total) {
    .ffe-grid__col--@{size}-offset-@{current} {
        grid-column-start: ((@current) + 1);
    }

    .create-column-offset(@size, @total, @current + 1);
}

.ffe-grid__row {
    padding-right: @ffe-spacing-sm;
    padding-left: @ffe-spacing-sm;
}

.ffe-grid__row,
.ffe-grid__row-wrapper {
    display: grid;
    gap: @ffe-spacing-sm;
    margin: 0 auto;
    max-width: @app-width;
    grid-template-columns: repeat(12, 1fr);

    .ffe-grid--gap-none & {
        gap: 0;
        padding: 0;
    }

    .ffe-grid--gap-2xs & {
        gap: @ffe-spacing-2xs;
        padding-right: @ffe-spacing-2xs;
        padding-left: @ffe-spacing-2xs;
    }

    .ffe-grid--gap-xs & {
        gap: @ffe-spacing-xs;
        padding-right: @ffe-spacing-xs;
        padding-left: @ffe-spacing-xs;
    }

    .ffe-grid--gap-sm & {
        gap: @ffe-spacing-sm;
        padding-right: @ffe-spacing-sm;
        padding-left: @ffe-spacing-sm;
    }

    .ffe-grid--gap-md & {
        gap: @ffe-spacing-md;
        padding-right: @ffe-spacing-md;
        padding-left: @ffe-spacing-md;
    }

    .ffe-grid--gap-lg & {
        gap: @ffe-spacing-lg;
        padding-right: @ffe-spacing-lg;
        padding-left: @ffe-spacing-lg;
    }

    &--padding-2xs {
        padding-top: @ffe-spacing-2xs;
        padding-bottom: @ffe-spacing-2xs;
    }

    &--padding-xs {
        padding-top: @ffe-spacing-xs;
        padding-bottom: @ffe-spacing-xs;
    }

    &--padding-sm {
        padding-top: @ffe-spacing-sm;
        padding-bottom: @ffe-spacing-sm;
    }

    &--padding-md {
        padding-top: @ffe-spacing-md;
        padding-bottom: @ffe-spacing-md;
    }

    &--padding-lg {
        padding-top: @ffe-spacing-lg;
        padding-bottom: @ffe-spacing-lg;
    }

    &--padding-xl {
        padding-top: @ffe-spacing-xl;
        padding-bottom: @ffe-spacing-xl;
    }

    &--padding-2xl {
        padding-top: @ffe-spacing-2xl;
        padding-bottom: @ffe-spacing-2xl;
    }

    &--padding-3xl {
        padding-top: @ffe-spacing-3xl;
        padding-bottom: @ffe-spacing-3xl;
    }

    &--padding-4xl {
        padding-top: @ffe-spacing-4xl;
        padding-bottom: @ffe-spacing-4xl;
    }

    &--padding-5xl {
        padding-top: @ffe-spacing-5xl;
        padding-bottom: @ffe-spacing-5xl;
    }

    &--margin-2xs {
        margin: @ffe-spacing-2xs auto;
    }

    &--margin-xs {
        margin: @ffe-spacing-xs auto;
    }

    &--margin-sm {
        margin: @ffe-spacing-sm auto;
    }

    &--margin-md {
        margin: @ffe-spacing-md auto;
    }

    &--margin-lg {
        margin: @ffe-spacing-lg auto;
    }

    &--margin-xl {
        margin: @ffe-spacing-xl auto;
    }

    &--margin-2xl {
        margin: @ffe-spacing-2xl auto;
    }

    &--margin-3xl {
        margin: @ffe-spacing-3xl auto;
    }

    &--margin-4xl {
        margin: @ffe-spacing-4xl auto;
    }

    &--margin-5xl {
        margin: @ffe-spacing-5xl auto;
    }

    &--bg-frost-30 {
        background-color: var(--ffe-farge-frost-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-sand {
        background-color: var(--ffe-farge-sand);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-sand-70 {
        background-color: var(--ffe-farge-sand-70);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-sand-30 {
        background-color: var(--ffe-farge-sand-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }
    &--bg-syrin-70 {
        background-color: var(--ffe-farge-syrin-70);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }
    &--bg-syrin-30 {
        background-color: var(--ffe-farge-syrin-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-vann {
        background-color: var(--ffe-farge-vann);
        color: var(--ffe-farge-hvit);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }
    &--bg-vann-30 {
        background-color: var(--ffe-farge-vann-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-fjell {
        background-color: var(--ffe-farge-fjell);
        color: var(--ffe-farge-hvit);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-hvit {
        background-color: var(--ffe-farge-hvit);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-dark-svart {
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-dark-natt {
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-natt);
            }
        }
    }

    &--bg-dark-koksgraa {
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-koksgraa);
            }
        }
    }
}

[class*='ffe-grid__row--bg-'] {
    display: block;
    max-width: none;
}

.ffe-grid__col {
    grid-column: auto / span 12;

    &--bg-frost-30 {
        background-color: var(--ffe-farge-frost-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-sand {
        background-color: var(--ffe-farge-sand);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-sand-70 {
        background-color: var(--ffe-farge-sand-70);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-sand-30 {
        background-color: var(--ffe-farge-sand-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }
    &--bg-syrin-70 {
        background-color: var(--ffe-farge-syrin-70);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }
    &--bg-syrin-30 {
        background-color: var(--ffe-farge-syrin-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-vann {
        background-color: var(--ffe-farge-vann);
        color: var(--ffe-farge-hvit);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }
    &--bg-vann-30 {
        background-color: var(--ffe-farge-vann-30);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }
    &--bg-fjell {
        background-color: var(--ffe-farge-fjell);
        color: var(--ffe-farge-hvit);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-hvit {
        background-color: var(--ffe-farge-hvit);
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-dark-svart {
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-svart);
            }
        }
    }

    &--bg-dark-natt {
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-natt);
            }
        }
    }

    &--bg-dark-koksgraa {
        .native & {
            @media (prefers-color-scheme: dark) {
                background-color: var(--ffe-farge-koksgraa);
            }
        }
    }

    &--center-text {
        text-align: center;
    }
}

.create-column(sm, 12);
.create-column-offset(sm, 12);

@media (min-width: @breakpoint-md) {
    .create-column(md, 12);
    .create-column-offset(md, 12);
}

@media (min-width: @breakpoint-lg) {
    .create-column(lg, 12);
    .create-column-offset(lg, 12);
}

@media (min-width: @breakpoint-xl) {
    .create-column(xl, 12);
    .create-column-offset(xl, 12);
}

.ffe-grid__col--center {
    display: flex;
    place-items: center;
    place-content: center;
}
