:root,
:host {
    /** Tips */
    --ffe-v-messages-tips-bg-color: var(--ffe-farge-sol-30);
    --ffe-v-messages-tips-icon-bg-color: var(--ffe-farge-sol);
    --ffe-v-messages-tips-icon-color: var(--ffe-farge-sol-30);
    --ffe-v-messages-tips-variant-bg-color: var(--ffe-farge-hvit);
    --ffe-v-messages-tips-icon-variant-bg-color: var(--ffe-farge-sol);

    /** Info */
    --ffe-v-messages-info-bg-color: var(--ffe-farge-vann-30);
    --ffe-v-messages-info-icon-bg-color: var(--ffe-farge-vann);
    --ffe-v-messages-info-icon-color: var(--ffe-farge-vann-30);
    --ffe-v-messages-info-variant-bg-color: var(--ffe-farge-hvit);
    --ffe-v-messages-info-icon-variant-bg-color: var(--ffe-farge-fjell);

    /** Success */
    --ffe-v-messages-success-bg-color: var(--ffe-farge-skog-30);
    --ffe-v-messages-success-icon-bg-color: var(--ffe-farge-skog);
    --ffe-v-messages-success-icon-color: var(--ffe-farge-skog-30);
    --ffe-v-messages-success-variant-bg-color: var(--ffe-farge-hvit);
    --ffe-v-messages-success-icon-variant-bg-color: var(--ffe-farge-skog);

    /** Error */
    --ffe-v-messages-error-bg-color: var(--ffe-farge-baer-30);
    --ffe-v-messages-error-icon-bg-color: var(--ffe-farge-baer);
    --ffe-v-messages-error-icon-color: var(--ffe-farge-baer-30);
    --ffe-v-messages-error-variant-bg-color: var(--ffe-farge-hvit);
    --ffe-v-messages-error-icon-variant-bg-color: var(--ffe-farge-baer);

    /** News */
    --ffe-v-messages-news-bg-color: var(--ffe-farge-lysgraa);
    --ffe-v-messages-news-icon-bg-color: var(--ffe-farge-koksgraa);
    --ffe-v-messages-news-icon-color: var(--ffe-farge-lysgraa);
    --ffe-v-messages-news-variant-bg-color: var(--ffe-farge-hvit);
    --ffe-v-messages-news-icon-variant-bg-color: var(--ffe-farge-koksgraa);

    /** Close button */
    --ffe-v-messages-close-button-color: var(--ffe-farge-moerkgraa);
    --ffe-v-messages-close-button-color-hover: var(--ffe-farge-svart);
    --ffe-v-messages-close-button-border-color-focus: var(--ffe-farge-vann);

    /** Text */
    --ffe-v-messages-text-color: var(--ffe-farge-svart);

    /** Link colors */
    --ffe-v-messages-link-color: var(--ffe-farge-vann);
    --ffe-v-messages-link-color-hover: var(--ffe-farge-fjell);
    --ffe-v-messages-link-color-visited: var(--ffe-farge-lyng);
    --ffe-v-messages-link-color-focus: var(--ffe-farge-hvit);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            --ffe-v-messages-tips-icon-variant-bg-color: var(--ffe-farge-sol);
            --ffe-v-messages-info-icon-variant-bg-color: var(--ffe-farge-vann);
            --ffe-v-messages-success-icon-variant-bg-color: var(
                --ffe-farge-skog
            );
            --ffe-v-messages-error-icon-variant-bg-color: var(--ffe-farge-baer);
            --ffe-v-messages-news-icon-variant-bg-color: var(
                --ffe-farge-koksgraa
            );
        }
    }
}
