.ffe-message {
    /** Info */
    --ffe-v-messages-background-color-info: var(--ffe-color-surface-feedback-info);
    --ffe-v-messages-text-color-info: var(--ffe-color-foreground-feedback-info);
    --ffe-v-messages-border-color-info: var(--ffe-color-border-feedback-info);
    --ffe-v-messages-icon-background-color-info: var(--ffe-color-fill-feedback-info);
    --ffe-v-messages-icon-color-info: var(--ffe-color-foreground-on-fill-default);
    --ffe-v-messages-close-button-color-info: var(--ffe-color-foreground-feedback-info);

    /** Tips */
    --ffe-v-messages-background-color-tip: var(--ffe-color-surface-feedback-tip);
    --ffe-v-messages-text-color-tip: var(--ffe-color-foreground-feedback-tip);
    --ffe-v-messages-border-color-tip: var(--ffe-color-border-feedback-tip);
    --ffe-v-messages-icon-background-color-tip: var(--ffe-color-fill-feedback-tip);
    --ffe-v-messages-icon-color-tip: var(--ffe-color-foreground-on-fill-default);
    --ffe-v-messages-close-button-color-tip: var(--ffe-color-foreground-feedback-tip);

    /** Success */
    --ffe-v-messages-background-color-success: var(--ffe-color-surface-feedback-success);
    --ffe-v-messages-text-color-success: var(--ffe-color-foreground-feedback-success);
    --ffe-v-messages-border-color-success: var(--ffe-color-border-feedback-success);
    --ffe-v-messages-icon-background-color-success: var(--ffe-color-fill-feedback-success);
    --ffe-v-messages-icon-color-success: var(--ffe-color-foreground-on-fill-default);
    --ffe-v-messages-close-button-color-success: var(--ffe-color-foreground-feedback-success);

    /** Warning */
    --ffe-v-messages-background-color-warning: var(--ffe-color-surface-feedback-warning);
    --ffe-v-messages-text-color-warning: var(--ffe-color-foreground-feedback-warning);
    --ffe-v-messages-border-color-warning: var(--ffe-color-border-feedback-warning);
    --ffe-v-messages-icon-background-color-warning: var(--ffe-color-fill-feedback-warning);
    --ffe-v-messages-icon-color-warning: var(--ffe-color-foreground-on-fill-default);
    --ffe-v-messages-close-button-color-warning: var(--ffe-color-foreground-feedback-warning);

    /** Error */
    --ffe-v-messages-background-color-error: var(--ffe-color-surface-feedback-critical);
    --ffe-v-messages-text-color-error: var(--ffe-color-foreground-feedback-critical);
    --ffe-v-messages-border-color-error: var(--ffe-color-border-feedback-critical);
    --ffe-v-messages-icon-background-color-error: var(--ffe-color-fill-feedback-critical);
    --ffe-v-messages-icon-color-error: var(--ffe-color-foreground-on-fill-default);
    --ffe-v-messages-close-button-color-error: var(--ffe-color-foreground-feedback-critical);
    --ffe-v-messages-link-color-error: var(--ffe-foreground-feedback-critical);

    /** Close button */
    --ffe-v-messages-close-button-border-color-focus: var(--ffe-color-border-interactive-focus);
}
