/* stylelint-disable selector-class-pattern */
@media (prefers-color-scheme: dark) {
    .regard-color-scheme-preference {
        color: var(--ffe-farge-hvit);
        background-color: var(--ffe-farge-svart);

        --default-link-color: var(--ffe-farge-vann-70);

        :where(a:not(h1, h2, h3, h4, h5, h6)) {
            color: var(--default-link-color);
            &:hover {
                --default-link-color: var(--ffe-farge-vann-30);
            }
            &:visited {
                --default-link-color: var(--ffe-farge-lyng-70);
            }
        }
    }
}
/* stylelint-enable selector-class-pattern */
