.sb1ds-darkmode-button {
    display: flex;
    align-items: center;
}

.sb1ds-darkmode-button__switch {
    visibility: hidden;
    display: none;
    height: 0;
    width: 0;
}

.sb1ds-darkmode-button__switch:checked + label {
    background: var(--ffe-farge-nordlys);
}

.sb1ds-darkmode-button__switch:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.sb1ds-darkmode-button__icon {
    height: 30px;
}

.sb1ds-darkmode-button__label {
    margin: 0 var(--ffe-spacing-xs);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: var(--ffe-farge-vann-70);
    float: right;
}
.sb1ds-darkmode-button__label::after {
    border-radius: 50%;
    position: absolute;
    content: '';
    background: #fff;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 4px;
    transition: ease-in-out 200ms;
}
