.sb1ex-hamburger-button {
    height: 44px;
    width: 44px;
    background: none;
    border: 2px solid transparent;
    border-radius: 2rem;
    cursor: pointer;
    margin-left: var(--ffe-spacing-xs);
    z-index: 11;
}
.sb1ex-hamburger-button:focus {
    outline: none;
    border-color: var(--ffe-farge-fjell);
}
.sb1ex-hamburger-button-icon {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    height: 25px;
    width: 25px;

    &::before,
    &::after {
        position: absolute;
        content: '';
        left: 0;
        transition: transform 0.2s cubic-bezier(0.46, -0.265, 0.48, 1.38);
    }

    &::before {
        bottom: 18px;
    }

    &::after {
        bottom: 2px;
    }
}

.sb1ex-hamburger-button-icon__bar,
.sb1ex-hamburger-button-icon::before,
.sb1ex-hamburger-button-icon::after {
    display: inline-block;
    background: var(--ffe-farge-vann);
    width: 25px;
    height: 4px;
    border-radius: 2px;
}

.sb1ex-hamburger-button:hover {
    & .sb1ex-hamburger-button-icon__bar,
    & .sb1ex-hamburger-button-icon::before,
    & .sb1ex-hamburger-button-icon::after {
        background: var(--ffe-farge-fjell);
    }
}

.sb1ex-hamburger-button-icon__bar {
    position: absolute;
    left: 0;
    bottom: 10px;
}

.sb1ex-hamburger-button--expanded {
    & .sb1ex-hamburger-button-icon__bar {
        width: 0;
        transform: translate(12px);
    }

    & .sb1ex-hamburger-button-icon {
        &::before {
            transform: translateY(8px) rotate(45deg);
        }
        &::after {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

@media (prefers-color-scheme: dark) {
    body.regard-color-scheme-preference {
        & .sb1ex-hamburger-button {
            &:focus {
                border-color: var(--ffe-farge-vann-30);
            }

            &:hover .sb1ex-hamburger-button-icon {
                &::before {
                    background: var(--ffe-farge-vann-30);
                }

                &::after {
                    background: var(--ffe-farge-vann-30);
                }

                & .sb1ex-hamburger-button-icon__bar {
                    background: var(--ffe-farge-vann-30);
                }
            }
        }

        & .sb1ex-hamburger-button-icon {
            &::before {
                background: var(--ffe-farge-vann-70);
            }

            &::after {
                background: var(--ffe-farge-vann-70);
            }

            & .sb1ex-hamburger-button-icon__bar {
                background: var(--ffe-farge-vann-70);
            }
        }
    }
}
