.sb1ex-live__preview,
.sb1ex-live__editor,
.sb1ex-live__error {
    margin: 0 auto;
}

.sb1ex-live__preview {
    padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm);

    @media (min-width: 1296px) {
        padding: var(--ffe-spacing-xs) 0;
    }
}

.sb1ex-live__editor {
    background-color: var(--ffe-farge-syrin-30);
}
.sb1ex-live__imports {
    background-color: var(--ffe-farge-koksgraa);
    color: var(--ffe-farge-lysvarmgraa);
    white-space: pre-wrap;
    font-family: 'SpareBank1-medium', arial, sans-serif;
    padding: var(--ffe-spacing-xs);
}

.sb1ex-live__error {
    background-color: var(--ffe-farge-baer);
    margin: 0;
    padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm);
}

.sb1ex-live__id {
    padding-top: var(--ffe-spacing-sm);
}
