.sb1ex-page {
    height: 100vh;
    overflow: auto;
    transition: background-color 0.2s;
    background-color: var(--sb1ex-page-bg);
}

.sb1ex-page__nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
    transform: translateY(-90px);
    z-index: -1;
    transition: all 0.2s ease;
    background-color: var(--ffe-farge-syrin-30);
}

.sb1ex-page__header,
.sb1ex-page__main-content,
.sb1ex-page__panels {
    @media (min-width: 1296px) {
        max-width: var(--app-width);
        margin: 0 auto;
    }
}

.sb1ex-page--with-nav-overlay {
    & .sb1ex-page__nav-overlay {
        height: 100vh;
        opacity: 1;
        transform: translateY(0);
        z-index: 10;
        overflow-y: auto;
    }

    & .sb1ex-page__main-content,
    & .sb1ex-page__panels {
        z-index: -1;
    }
}

@media (prefers-color-scheme: dark) {
    body.regard-color-scheme-preference {
        & .sb1ex-page__nav-overlay {
            background-color: var(--ffe-farge-svart);
        }
    }
}
