.sb1ex-editor-panels {
    color: var(--ffe-farge-svart);
    padding: var(--ffe-spacing-xs) var(--ffe-spacing-sm) var(--ffe-spacing-2xl);

    @media (min-width: 1296px) {
        padding: var(--ffe-spacing-xs) 0 var(--ffe-spacing-2xl);
    }
}

.sb1ex-editor-panels__expanded-content {
    padding-top: var(--ffe-spacing-sm);
    color: var(--ffe-farge-svart);
    animation: expand-panel 0.2s ease;
}

@keyframes expand-panel {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (prefers-color-scheme: dark) {
    body.regard-color-scheme-preference {
        & .sb1ex-editor-panels {
            color: var(--ffe-farge-hvit);
        }
    }
}
