.sb1ex-expanded__container {
    color: var(--ffe-farge-svart);
    padding: 0 16px 16px 16px;
}

.sb1ex-expanded__background {
    max-width: 500px;
    margin-bottom: 8px;
}

.sb1ex-expanded__background-preview {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
