
//TODO Flytt dette til ffe-tables
.ffe-responsive-table__cell--no-padding {
  padding: 0!important;
}
.ffe-responsive-table__cell--no-border {
  border: 0!important;
}

.ffe-responsive-table__content--text-right {
  text-align: right;
}

.ffe-responsive-table {
  &__row-expandable {
    cursor: pointer;
    &:hover {
      background-color: @ffe-blue-royal-light-20;
    }
    &--expanded {
      background-color: @ffe-blue-royal-light-20;
    }
  }

  &__expand-icon {
    width: 17px;
    height: inherit;
    vertical-align: middle;
    fill: @ffe-blue-royal;
    transition: transform .2s;
    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__row-expanded-content {
    transform: translateY(-2em);
    opacity: 0;
    padding: 0;
    &--expanded {
      transition: transform .2s, background-color .2s .2s;
      background-color: @ffe-grey-light-bg;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
