@icons-url: './icons';
@import './symbol.less';

@font-face {
    font-family: 'MaterialSymbolsRounded-300';
    font-style: normal;
    font-display: block;
    src: url('@{icons-url}/MaterialSymbolsRounded300.woff2') format('woff2');
}

@font-face {
    font-family: 'MaterialSymbolsRounded-500';
    font-style: normal;
    font-display: block;
    src: url('@{icons-url}/MaterialSymbolsRounded500.woff2') format('woff2');
}

// Filled symbols

@font-face {
    font-family: 'MaterialSymbolsRoundedFilled-300';
    font-style: normal;
    font-display: block;
    src: url('@{icons-url}/MaterialSymbolsRoundedFilled300.woff2')
        format('woff2');
}

@font-face {
    font-family: 'MaterialSymbolsRoundedFilled-500';
    font-style: normal;
    font-display: block;
    src: url('@{icons-url}/MaterialSymbolsRoundedFilled500.woff2')
        format('woff2');
}
