:root,
:host {
    --ffe-v-symbol-300-font: 'MaterialSymbolsRounded-300';
    --ffe-v-symbol-500-font: 'MaterialSymbolsRounded-500';

    // Filled symbols
    --ffe-v-symbol-filled-300-font: 'MaterialSymbolsRoundedFilled-300';
    --ffe-v-symbol-filled-500-font: 'MaterialSymbolsRoundedFilled-500';
}
