.ffe-chip {
    --border-width: 1px;
    --background-color: var(--ffe-color-fill-primary-invisible);
    --border-color: var(--ffe-color-border-primary-default);
    --text-color: var(--ffe-color-foreground-default);
    --border-radius: 24px;
    --text-offset: 12px;
    --icon-offset: var(--ffe-spacing-xs);
    --offset-y: calc(var(--ffe-spacing-2xs) - var(--border-width));
    --space-between: var(--ffe-spacing-2xs);

    all: unset;
    display: grid;
    place-items: center;
    grid-template-columns: var(--text-offset) 1fr var(--text-offset);
    grid-template-rows: var(--offset-y) auto var(--offset-y);
    border: var(--border-width) solid var(--border-color);
    background: var(--background-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    transition: all var(--ffe-transition-duration) var(--ffe-ease);
    outline: var(--ffe-g-outline-width) solid transparent;
    outline-offset: var(--ffe-g-outline-offset);
    cursor: pointer;

    .ffe-icons,
    &__label {
        color: inherit;
    }

    .ffe-icons {
        display: block;
    }

    &__label {
        margin: 0;
        grid-area: 2 e('/') 2 e('/') span 1 e('/') span 1;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            --background-color: var(--ffe-color-fill-primary-subtle-hover);
            --border-color: var(--ffe-color-border-primary-default-hover);
        }
    }

    &:focus-visible {
        outline-color: var(--ffe-color-border-interactive-focus);
    }

    &:active {
        --background-color: var(--ffe-color-fill-primary-subtle-pressed);
        --border-color: var(--ffe-color-border-primary-default-pressed);

        transform: scale(0.97);
    }

    &--selectable .ffe-icons {
        display: none;
    }

    &--selected {
        --background-color: var(--ffe-color-fill-primary-selected-default);
        --border-color: var(--ffe-color-border-interactive-selected);
        --text-color: var(--ffe-color-foreground-inverse);

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                --background-color: var(
                    --ffe-color-fill-primary-selected-hover
                );
            }
        }

        &:active {
            --background-color: var(--ffe-color-fill-primary-selected-pressed);

            transform: scale(0.97);
        }
    }
}

.ffe-chip--sm {
    --text-offset: 12px;
    --space-between: var(--ffe-spacing-2xs);
}

.ffe-chip--md {
    --icon-offset: 12px;
    --text-offset: var(--ffe-spacing-sm);
    --offset-y: calc(var(--ffe-spacing-xs) - var(--border-width));
    --space-between: var(--ffe-spacing-xs);
}

.ffe-chip--lg {
    --icon-offset: var(--ffe-spacing-sm);
    --text-offset: var(--ffe-spacing-md);
    --offset-y: calc(12px - var(--border-width));
    --space-between: var(--ffe-spacing-xs);
}

.ffe-chip--icon-right {
    grid-template-columns: var(--text-offset) 1fr var(--space-between) auto var(
            --icon-offset
        );

    .ffe-icons {
        grid-area: 2 e('/') 4 e('/') span 1 e('/') span 1;
    }

    .ffe-chip__label {
        grid-area: 2 e('/') 2 e('/') span 1 e('/') span 1;
    }
}

.ffe-chip--icon-left {
    grid-template-columns: var(--icon-offset) auto var(--space-between) 1fr var(
            --text-offset
        );

    .ffe-icons {
        grid-area: 2 e('/') 2 e('/') span 1 e('/') span 1;
    }

    .ffe-chip__label {
        grid-area: 2 e('/') 4 e('/') span 1 e('/') span 1;
    }
}
