:root,
:host {
    --ffe-v-chip-text-color: var(--ffe-farge-svart);
    --ffe-v-chip-background-color: var(--ffe-farge-frost-30);
    --ffe-v-chip-border-color: var(--ffe-farge-frost-70);
    --ffe-v-chip-text-color-color-hover: var(--ffe-farge-svart);
    --ffe-v-chip-background-color-hover: var(--ffe-farge-frost-70);
    --ffe-v-chip-border-color-hover: var(--ffe-farge-frost-70);
    --ffe-v-chip-text-color-active: var(--ffe-farge-svart);
    --ffe-v-chip-background-color-active: var(--ffe-farge-frost);
    --ffe-v-chip-border-color-active: var(--ffe-farge-frost);
    --ffe-v-chip-text-color-selected: var(--ffe-farge-hvit);
    --ffe-v-chip-background-color-selected: var(--ffe-farge-vann);
    --ffe-v-chip-border-color-selected: var(--ffe-farge-vann);
    --ffe-v-chip-text-color-selected-hover: var(--ffe-farge-hvit);
    --ffe-v-chip-background-color-selected-hover: var(--ffe-farge-fjell);
    --ffe-v-chip-border-color-selected-hover: var(--ffe-farge-fjell);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            --ffe-v-chip-text-color: var(--ffe-farge-hvit);
            --ffe-v-chip-background-color: var(--ffe-farge-moerkgraa);
            --ffe-v-chip-border-color: var(--ffe-farge-koksgraa);
            --ffe-v-chip-text-color-color-hover: var(--ffe-farge-hvit);
            --ffe-v-chip-background-color-hover: var(--ffe-farge-koksgraa);
            --ffe-v-chip-border-color-hover: var(--ffe-farge-koksgraa);
            --ffe-v-chip-text-color-active: var(--ffe-farge-hvit);
            --ffe-v-chip-background-color-active: var(--ffe-farge-vann);
            --ffe-v-chip-border-color-active: var(--ffe-farge-vann);
            --ffe-v-chip-text-color-selected: var(--ffe-farge-hvit);
            --ffe-v-chip-background-color-selected: var(--ffe-farge-vann);
            --ffe-v-chip-border-color-selected: var(--ffe-farge-vann);
            --ffe-v-chip-text-color-selected-hover: var(--ffe-farge-hvit);
            --ffe-v-chip-background-color-selected-hover: var(
                --ffe-farge-fjell
            );
            --ffe-v-chip-border-color-selected-hover: var(--ffe-farge-fjell);
        }
    }

    .ffe-chip--on-colored-bg {
        --ffe-v-chip-text-color: var(--ffe-farge-svart);
        --ffe-v-chip-background-color: var(--ffe-farge-hvit);
        --ffe-v-chip-border-color: var(--ffe-farge-vann-70);
        --ffe-v-chip-text-color-color-hover: var(--ffe-farge-svart);
        --ffe-v-chip-background-color-hover: var(--ffe-farge-vann-30);
        --ffe-v-chip-border-color-hover: var(--ffe-farge-vann-30);
        --ffe-v-chip-text-color-active: var(--ffe-farge-svart);
        --ffe-v-chip-background-color-active: var(--ffe-farge-vann-70);
        --ffe-v-chip-border-color-active: var(--ffe-farge-vann-70);
        --ffe-v-chip-text-color-selected: var(--ffe-farge-svart);
        --ffe-v-chip-background-color-selected: var(--ffe-farge-hvit);
        --ffe-v-chip-border-color-selected: var(--ffe-farge-hvit);
        --ffe-v-chip-text-color-selected-hover: var(--ffe-farge-svart);
        --ffe-v-chip-background-color-selected-hover: var(--ffe-farge-vann-30);
        --ffe-v-chip-border-color-selected-hover: var(--ffe-farge-vann-30);
    }
}
