.ffe-account-selector {
  @import 'account-suggestion';
  @import 'mixins';
  @import 'base-selector';
  @import '../node_modules/ffe-spinner/less/spinner.less';

  position: relative;
  display: block;

  &__details {
    font-size: 14px;
    padding: 10px 6px;
    color: @ffe-black;
    .ffe-clearfix;
    &--left {
      float: left;
    }
    &--right {
      float : right;
    }
  }

  &__dropdown-statusbar {
    @border : 1px solid @ffe-grey-silver;
    padding: 10px;
    background: #f1f0f0;
    color: @ffe-black;
    height: 60px;
    display: table;
    width: 100%;
    border-left: @border;
    border-right: @border;
    border-bottom: @border;
    border-radius: 2px;
  }

  &__statusbar-button {
    padding: 0 20px;
    font-size: 14px;
    line-height: 34px;
    background: @ffe-blue-azure;
  }

  &__selection-status {
    display: table-cell;
    width: 100%;
  }
}
