.account-selector {
  @import 'account-suggestion';
  @import 'mixins.less';
  @import 'base-selector';

  position: relative;
  display: block;

  .account-details {
    font-size: 14px;
    padding: 10px 6px;
    color: @ffe-black;
    .ffe-clearfix;
    &--left {
      float: left;
    }
    &--right {
      float : right;
    }
  }
}
