.base-selector {

  .input-field {
    width: 100%;
    &::-ms-clear {
      display: none;
    }
  }

  .arrow-icon {
    position: absolute;
    top: 16px;
    right: 10px;

    svg {
      width: 14px;
      height: 14px;
      fill: @ffe-blue-royal-light-wcag;
    }

    &--up {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .reset-button {
    position: absolute;
    right: 35px;
    top: 15px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: none;
    padding: 0;
    fill: @ffe-grey-dark;

    &-icon {
      width: 10px;
      height: 10px;
      margin: 0 4px;
    }
  }

  .container-suggestion {
    @border : 1px solid @ffe-grey-light;
    z-index : 100;
    position: absolute;
    left: 0;
    right: 0;
    border : @border;
    border-radius: 2px;
    &-list {
      left: 0;
      width: 100%;
      top: 45px;
      box-sizing: border-box;
      z-index: 100;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}
