.nfe-general-selector-suggestion {
	padding: 16px 16px 8px 21px;
	&:hover,
    &:focus,
    &--highlighted {
      cursor: pointer;
      background: @ffe-blue-royal-light-wcag;
      color: @ffe-white;

      .nfe-general-selector-suggestion__name,
      .nfe-general-selector-suggestion__details {
        color: @ffe-white;
      }
    }
	&__name {
		&:extend(.ffe-link-text);
		line-height: 1;
		font-size: 15px;
		display: block;
		padding-bottom: 6px;
	}
	&__details {
		color: @ffe-grey-dark;
		font-size: 12px;
		.ffe-clearfix;
	}
}