// stylelint-disable block-no-empty
@import 'theme.less';

.ffe-header {
    &:extend(.ffe-body-text);

    background: var(--ffe-v-background-color);
    text-align: center;
    z-index: 999;

    &__user-nav-list--visible,
    &__site-nav-list--visible {
        z-index: 100000;
    }

    &__border {
        border-bottom: 1px solid var(--ffe-v-header-border-bottom-color);
    }

    &__border:first-child {
        position: relative;
        z-index: 1000;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0 auto;
        padding: 0 @ffe-spacing-sm;
        max-width: 1280px;

        @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
            > .ffe-header__secondary-nav,
            > .ffe-header__logo,
            > .ffe-header__icon-button--user-nav,
            > .ffe-header__site-nav {
                /* \9 is a hack to have the value only apply to IE9 */
                display: block\9;
            }
        }
    }

    &__link {
        transition: all @ffe-transition-duration @ffe-ease;
        border: 2px solid transparent;

        &:link,
        &:visited,
        &:active {
            color: var(--ffe-v-link-color);
            text-decoration: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                color: var(--ffe-v-link-hover-color);

                .ffe-header__user-nav & {
                    background: var(
                        --ffe-v-usernav-link-hover-background-color
                    );
                }
            }
        }

        &--active:link,
        &--active:visited {
            position: relative;
            color: var(--ffe-v-primary-color);
        }

        &--active::after {
            content: '';
            display: inline-block;
            border-bottom: 2px solid var(--ffe-v-primary-color);
            position: absolute;
            width: 100%;
            bottom: -2px;
            left: 0;
        }

        &--active:focus::after {
            border-bottom: 0;
        }

        &:focus {
            border-radius: 1rem;
            box-shadow: 0 0 0 2px var(--ffe-v-link-focus-box-shadow-color);
            outline: none;

            .ffe-header__user-nav & {
                border-radius: 0;
                background-color: var(
                    --ffe-v-usernav-link-focus-background-color
                );
            }
        }

        &:focus:not(:focus-visible) {
            background-color: transparent;
            box-shadow: none;
            color: var(--ffe-v-primary-color);
        }

        &--disabled {
            color: var(--ffe-v-link-disabled-color);
            cursor: default;
        }

        .ffe-header__notification-bubble {
            margin-left: @ffe-spacing-2xs;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        text-align: left;
        list-style: none;
    }

    &__list-item {
        &--centered {
            text-align: center;
        }
    }

    &__logo {
        flex-grow: 1;
        margin: @ffe-spacing-xs 0;

        a {
            &:focus {
                box-shadow: 0 0 0 2px var(--ffe-v-link-focus-box-shadow-color);
                border-radius: 1rem;
                padding: @ffe-spacing-xs;
            }
        }
    }

    &__logo-svg {
        height: 30px;
        vertical-align: middle;
        border: none;
    }

    &__icon-button {
        &:extend(.ffe-inline-button);

        color: var(--ffe-v-primary-color);

        &:active:extend(.ffe-inline-button:active) {
        }

        &:focus:extend(.ffe-inline-button:focus) {
        }

        /* stylelint-disable declaration-block-no-duplicate-properties */
        &:extend(.ffe-inline-button--tertiary);

        @media (hover: hover) and (pointer: fine) {
            &:hover:extend(.ffe-inline-button--tertiary:hover) {
            }
        }

        /* stylelint-enable declaration-block-no-duplicate-properties */

        &::after {
            &:extend(.ffe-inline-button--tertiary::after);

            border: none;
        }

        &--user-nav {
            position: relative;
            overflow: inherit;

            .ffe-header__notification-bubble {
                position: absolute;
                left: 20px;
                bottom: 4px;
            }
        }
    }

    &__logout-button {
        &:extend(.ffe-button);
        &:extend(.ffe-button--secondary);

        margin: @ffe-spacing-xs 0;
        border-radius: 20px;
        padding: @ffe-spacing-2xs @ffe-spacing-sm;

        &::after:extend(.ffe-button::after) {
        }

        &:focus::after:extend(.ffe-button:focus::after) {
        }

        &:focus:not(:focus-visible)::after:extend(
                .ffe-button:focus:not(:focus-visible)::after
            ) {
        }

        &:focus:extend(.ffe-button:focus) {
        }

        &:focus:extend(.ffe-button--secondary:focus) {
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover:extend(.ffe-button--secondary:hover) {
            }
        }

        &:active:extend(.ffe-button:active) {
        }

        &:active:extend(.ffe-button--secondary:active) {
        }

        &--loading {
            &:extend(.ffe-button--loading);
        }

        &--loading &-label {
            &:extend(.ffe-button--loading .ffe-button__label);
        }

        &--loading &-spinner {
            &:extend(.ffe-button--loading .ffe-button__spinner);
        }
    }

    &__logout-button-spinner {
        &:extend(.ffe-button__spinner);

        padding: 4px 16px;

        &::after {
            &:extend(.ffe-button__spinner::after);

            animation-name: logout-button-loading-spin;
        }

        @keyframes logout-button-loading-spin {
            from {
                transform: none;
            }

            to {
                transform: rotate(360deg);
            }
        }
    }

    &__logout-button-label {
        &:extend(.ffe-button__label);
    }

    &__user-icon,
    &__user-chevron-icon,
    &__site-nav-icon {
        fill: var(--ffe-v-primary-color);
    }

    &__user-icon,
    &__site-nav-icon {
        vertical-align: middle;
    }

    &__user-chevron-icon {
        vertical-align: middle;
        margin-left: @ffe-spacing-2xs;
        transition: transform @ffe-transition-duration @ffe-ease-in-out-back;
    }

    &__user-chevron--expanded &__user-chevron-icon {
        transform: rotate(180deg);
    }

    &__user-nav-list {
        transition:
            transform @ffe-transition-duration @ffe-ease,
            opacity 0.1s;
        overflow: hidden;

        &:not(.ffe-header__user-nav-list--visible) {
            visibility: hidden;
            height: 1px;
            overflow: hidden;
            transform: translateY(-25px);
            opacity: 0;
        }

        .ffe-header__link {
            display: block;
            padding: @ffe-spacing-xs @ffe-spacing-xs;
        }
    }

    &__site-nav-hamburger {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        height: 25px;
        width: 25px;

        &__bar,
        &::before,
        &::after {
            display: inline-block;
            background: var(--ffe-v-primary-color);
            width: 25px;
            height: 4px;
            border-radius: 2px;
        }

        &__bar {
            position: absolute;
            left: 0;
            bottom: 10px;
            transition:
                transform @ffe-transition-duration @ffe-ease-in-out-back,
                width @ffe-transition-duration @ffe-ease-in-out-back;
        }

        &::before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 18px;
        }

        &::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: 2px;
        }

        &::before,
        &::after {
            transition: transform @ffe-transition-duration @ffe-ease-in-out-back;
        }

        &--expanded {
            /* stylelint-disable-next-line selector-class-pattern */
            .ffe-header__site-nav-hamburger__bar {
                width: 0;
                transform: translate(12px);
            }

            &::before {
                transform: translateY(8px) rotate(45deg);
            }

            &::after {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    &__secondary-nav {
        display: none;
        text-transform: uppercase;
    }

    &__notification-bubble {
        font-family: var(--ffe-v-font-strong);
        font-weight: normal;
        font-size: 0.75rem;
        display: inline-block;
        min-width: 19px;
        height: 19px;
        padding: 0 @ffe-spacing-2xs;
        line-height: 1.4rem;
        background: var(--ffe-v-notification-bubble-background-color);
        color: var(--ffe-v-notification-bubble-text-color);
        border-radius: 10px;
        text-align: center;
    }
}

@media (min-width: @breakpoint-md) {
    .ffe-header {
        &__icon-button--site-nav,
        &__user-icon {
            display: none;
        }

        &__logo {
            a {
                display: inline-block;
                height: 60px;
                line-height: 3.75rem;
                transition: box-shadow @ffe-transition-duration @ffe-ease;

                &:focus {
                    border-radius: 1rem;
                    padding: 0;
                }
            }
        }

        &__logo-svg {
            height: 40px;
        }

        &__site-nav {
            width: 100%;
            flex-basis: 100%;
            padding: @ffe-spacing-xs;

            .ffe-header__list-item {
                display: inline-block;
                margin: 0 @ffe-spacing-xs;
            }
        }

        &__site-nav-list {
            text-align: center;
        }

        &__secondary-nav {
            display: block;
            flex-basis: 30%;

            .ffe-header__list-item {
                display: inline-block;
                margin: 0 @ffe-spacing-sm 0 0;
            }
        }

        &__user-nav-toggle {
            flex-basis: 30%;
            text-align: right;
        }

        &__user-nav-list {
            position: absolute;
            right: 20px;
            top: -16px;
            min-width: 225px;
            background: var(--ffe-v-background-color);
            border: 2px solid var(--ffe-v-usernav-list-border-color);
        }

        &__logout-button {
            margin: @ffe-spacing-xs @ffe-spacing-xs;
        }

        &__icon-button--user-nav {
            .ffe-header__notification-bubble {
                left: -8px;
                bottom: 12px;
            }
        }
    }
}

@media (max-width: (@breakpoint-md - 1)) {
    .ffe-header {
        &__border {
            &:last-child {
                margin-top: -1px;
            }
        }

        &__user-name {
            display: none;
        }

        &__user-nav {
            margin-right: @ffe-spacing-sm;
        }

        &__user-nav-toggle {
            order: -1;
        }

        &__user-nav-list,
        &__site-nav-list {
            visibility: hidden;
            height: 1px;
            position: absolute;
            z-index: 999;
            right: 0;
            left: 0;
            top: 1px;
            padding: @ffe-spacing-sm 0;
            border-bottom: 1px solid var(--ffe-v-header-border-bottom-color);
            transform: translateY(-25px);
            transition: transform @ffe-transition-duration @ffe-ease;

            .ffe-header__list-item {
                padding: @ffe-spacing-xs @ffe-spacing-sm;
            }

            .ffe-header__link {
                display: block;
                padding: @ffe-spacing-2xs 0;
            }

            &--visible {
                visibility: visible;
                height: auto;
                width: 100%;
                transform: translateY(0);
                background-color: var(--ffe-v-background-color);
            }
        }
    }
}

@media print {
    .ffe-header {
        &__logo {
            text-align: left;
        }

        &__user-nav,
        &__user-icon,
        &__user-chevron,
        &__site-nav,
        &__site-nav-toggle,
        &__notification-bubble {
            display: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .native {
        .ffe-header {
            &__user-nav-list {
                .ffe-header__link {
                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            color: var(
                                --ffe-v-usernav-header-link-hover-focus-color
                            );
                        }
                    }

                    &:focus {
                        color: var(
                            --ffe-v-usernav-header-link-hover-focus-color
                        );
                        box-shadow: none;
                    }
                }
            }

            &__link {
                transition: all @ffe-transition-duration @ffe-ease;

                &:link,
                &:visited,
                &:active {
                    color: var(--ffe-v-link-color);
                }

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        color: var(--ffe-v-link-hover-color);
                    }
                }

                &--active:link,
                &--active:visited {
                    color: var(--ffe-v-primary-color);
                }

                &--active::after {
                    border-bottom: 2px solid var(--ffe-v-primary-color);
                }

                &--active:focus::after {
                    border-bottom: 0;
                }

                &:focus {
                    box-shadow: 0 0 0 2px
                        var(--ffe-v-link-focus-box-shadow-color);
                }

                &:focus:not(:focus-visible) {
                    box-shadow: none;
                    color: var(--ffe-v-primary-color);
                }
            }

            &__logout-button {
                &:focus::after:extend(.ffe-button:focus::after) {
                    box-shadow: 0 0 0 2px
                        var(--ffe-v-link-focus-box-shadow-color);
                }
            }
        }
    }
}

// stylelint-enable block-no-empty
