:root,
:host {
    --ffe-v-background-color: var(--ffe-farge-hvit);
    --ffe-v-primary-color: var(--ffe-farge-fjell);
    --ffe-v-header-border-bottom-color: var(--ffe-farge-lysgraa);
    --ffe-v-header-logo-color: var(--ffe-farge-fjell);
    --ffe-v-link-color: var(--ffe-farge-svart);
    --ffe-v-link-hover-color: var(--ffe-farge-vann);
    --ffe-v-link-focus-box-shadow-color: var(--ffe-farge-vann);
    --ffe-v-link-disabled-color: var(--ffe-farge-moerkgraa);
    --ffe-v-notification-bubble-background-color: var(--ffe-farge-skog);
    --ffe-v-notification-bubble-text-color: var(--ffe-farge-hvit);
    --ffe-v-font-strong: 'SpareBank1-medium', arial, sans-serif;

    /* User nav menu */
    --ffe-v-usernav-link-hover-background-color: var(--ffe-farge-frost-30);
    --ffe-v-usernav-link-focus-background-color: var(--ffe-farge-frost-30);
    --ffe-v-usernav-list-border-color: var(--ffe-farge-vann);
    --ffe-v-logout-button-label-color-text: var(--ffe-farge-vann);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            --ffe-v-background-color: var(--ffe-farge-svart);
            --ffe-v-primary-color: var(--ffe-farge-vann-70);
            --ffe-v-header-border-bottom-color: var(--ffe-farge-moerkgraa);
            --ffe-v-header-logo-color: var(--ffe-farge-hvit);
            --ffe-v-link-color: var(--ffe-farge-varmgraa);
            --ffe-v-link-hover-color: var(--ffe-farge-hvit);
            --ffe-v-link-focus-box-shadow-color: var(--ffe-farge-hvit);
            --ffe-v-notification-bubble-background-color: var(
                --ffe-farge-skog-30
            );
            --ffe-v-notification-bubble-text-color: var(--ffe-farge-svart);

            /* User nav menu */
            --ffe-v-usernav-link-hover-background-color: var(--ffe-farge-fjell);
            --ffe-v-usernav-list-border-color: var(--ffe-farge-vann-70);
            --ffe-v-usernav-header-link-hover-focus-color: var(
                --ffe-farge-svart
            );
            --ffe-v-logout-button-label-color-text: var(--ffe-farge-vann-30);
        }
    }
}
