.ffe-feedback {
    width: 100%;
    flex-grow: 1;
    padding: var(--ffe-spacing-md);
    background-color: var(--ffe-color-surface-primary-default);

    &--bg-primary {
        background-color: var(--ffe-color-surface-primary-default);
    }

    &--bg-secondary {
        background-color: var(--ffe-color-surface-secondary-default);
    }

    &--bg-tertiary {
        background-color: var(--ffe-color-surface-tertiary-default);
    }
}
