.ffe-feedback {
    &__thumb {
        border: none;
        background: none;
        cursor: pointer;
        fill: var(--ffe-farge-fjell);
        margin: 0 var(--ffe-spacing-xs);
        outline: none; // Remove focus outline

        @media (prefers-color-scheme: dark) {
            body.native & {
                fill: var(--ffe-farge-vann-70);
            }
        }

        .ffe-feedback__thumb-icon--fill {
            display: none;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                .ffe-feedback__thumb-icon--fill {
                    display: block;
                }
                .ffe-feedback__thumb-icon {
                    display: none;
                }
            }
        }

        &:focus {
            .ffe-feedback__thumb-icon--fill {
                display: block;
            }
            .ffe-feedback__thumb-icon {
                display: none;
            }
        }
    }
}
