:root,
:host {
    --ffe-v-feedback-background-color: transparent;
    --ffe-v-feedback-thumb-color: var(--ffe-farge-fjell);

    @media (prefers-color-scheme: dark) {
        .regard-color-scheme-preference {
            --ffe-v-feedback-thumb-color: var(--ffe-farge-vann-70);
        }
    }
}
