name: Sync Figma variables to tokens
on:
    workflow_dispatch:
        inputs:
            file_key:
                description: 'The file key of the Figma file to be updated'
                required: true

jobs:
    sync-figma-to-tokens:
        runs-on: ubuntu-latest
        permissions:
            # Need to be able to create new branches and commits
            contents: write
            pull-requests: write
        steps:
            - name: Install Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Clone repo
              uses: actions/checkout@v6

            - name: Install dependencies
              run: npm ci --ignore-scripts

            - name: Sync variables in Figma file to tokens
              run: npm run sync-figma-to-tokens -- --output packages/ffe-core/tokens
              env:
                  FILE_KEY: ${{ github.event.inputs.file_key }}
                  PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_ACTION_VARIABLES_SYNC_FIGMA_TOKEN }}

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@v5
              with:
                  commit-message: 'chore: Update tokens from Figma'
                  title: 'chore: Update tokens from Figma'
                  body: 'Update tokens from Figma from file: https://www.figma.com/file/${{ github.event.inputs.file_key }}'
                  branch: update-tokens
