name: Test CI

on:
    pull_request:
        branches: [develop]

jobs:
    test-ci:
        name: Build, test, and deploy preview of component-overview
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-node@v3
              with:
                  node-version: 18
            - run: npm install
            - run: npm run build
            - run: npm run lint
            - run: npm test -- --ci
            - name: Build component overview page
              run: make -e -C component-overview/ ghpages
              env:
                  GH_PUBLIC_URL: /
            - run: cp component-overview/staticwebapp.config.json component-overview/build/
            - name: Build and deploy preview
              uses: Azure/static-web-apps-deploy@v1
              with:
                  azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BLACK_BEACH_0D62D0D03 }}
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  action: 'upload'
                  app_location: 'component-overview/build'
                  api_location: ''
                  output_location: ''
                  skip_app_build: true
