name: Test CI

on:
    workflow_dispatch:

jobs:
    test-ci:
        name: Build, test, and deploy preview of components
        runs-on: ubuntu-latest
        if: github.event.repository.full_name == 'SpareBank1/designsystem'
        steps:
            - name: Checkout code
              uses: actions/checkout@v4.3.0
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 22
            - name: Install dependencies
              run: npm ci --ignore-scripts
            - name: Lint
              run: npm run lint
            - name: Build
              run: npm run build
            - name: Test
              run: npm test -- --ci
            - name: Build component overview page
              if: ${{ !github.event.pull_request.head.repo.fork }}
              run: npm run build-storybook
              env:
                  GH_PUBLIC_URL: /
            - name: Build and deploy preview
              if: ${{ !github.event.pull_request.head.repo.fork }}
              uses: Azure/static-web-apps-deploy@v1
              with:
                  azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BLACK_BEACH_0D62D0D03 }}
                  repo_token: ${{ secrets.GITHUB_TOKEN }}
                  action: 'upload'
                  app_location: './storybook-static'
                  api_location: ''
                  output_location: ''
                  skip_app_build: true
