name: 'npm build, lint, test'

on:
    pull_request:
        branches: [develop]

jobs:
    test-ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '16'
            - run: npm install
            - run: npm run build:all
            - run: npm run lint
            - run: npm test -- --ci
