name: 'CI testing'

on:
    pull_request:
        branches: [develop]

jobs:
    test-ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '18'
            - run: npm install
            - run: npm run build
            - run: npm run lint
            - run: npm test -- --ci
