.action-button {
    &:extend(.primary-button all);
    background-color: @green-wcag;

    &:focus,
    &:hover {
      background-color: darken(@green-wcag, 5%);
    }
    &:active,
    &_loading {
      background-color: darken(@green-wcag, 10%);
    }
}