.ffe-action-button {
    &:extend(.ffe-primary-button all);
    background-color: @ffe-green-wcag;

    &:focus,
    &:hover {
      background-color: darken(@ffe-green-wcag, 5%);
    }
    &:active,
    &--loading {
      background-color: darken(@ffe-green-wcag, 10%);
    }
}
