.button-group {
    padding: 40px 0;

    button {
        margin: 0 auto 10px auto;
    }

    &_thin {
        padding: 0;
    }

    @media screen and (min-width: @breakpoint-sm) {
        button {
            display: inline-block;
            margin: 0 0 10px 10px;
            width: auto;

            &:first-child {
                margin: 0 0 10px 0;
            }
        }
    }
}