.check-box {
    display: block;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    transition: width 0.15s ease-in-out;
    text-align: left;

    &--inline {
        display: inline-block;
        margin-right: 20px;
    }

    &:before {
        border: solid 2px @grey;
        border-radius: 2px;
        content: '';
        display: inline-block;
        height: 20px;
        margin-right: 15px;
        position: relative;
        top: 3px;
        transition: all 0.2s;
        width: 20px;
        background-color: white;
    }

    &:after {
        transform: scaleX(-1) rotate(180deg + -45deg);
        transform-origin: left top;

        border-right: 3px solid transparent;
        border-top: 3px solid transparent;

        content: '';
        display: block;
        height: 11px;
        width: 6px;
        left: 4px;
        top: 14px;
        position: absolute;
    }
}

.hidden-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked + label:before,
    &:hover + label:before,
    &:focus + label:before,
    &:active + label:before {
        outline: none;
    }

    &:hover + label:before {
        border-color: @blue-royal-light-wcag;
    }

    &:active + label:before,
    &:focus + label:before {
        border-color: @blue-royal-light-wcag;
        box-shadow: 0 0 0 2px @blue-focus;
    }

    &:checked + label:before {
        border-color: @blue-royal-light-wcag;
        background-color: @blue-royal-light-wcag;
    }

    &:focus + label:before {
        box-shadow: 0 0 0 2px @blue-focus;
    }

    &:checked + label:after {
        animation: checkmark 0.4s;
        border-color: white;
    }
}

@keyframes checkmark {
    0% { height: 0; width: 6px; }
    50% { height: 11px; width: 6px; }
}
