.ffe-error-summary {
    color: @ffe-orange-wcag;
    border-top: 2px solid @ffe-grey-light;
    border-bottom: 2px solid @ffe-grey-light;
    padding: 20px 0;
    text-align: left;

    &[aria-hidden="true"] {
        display: none;
    }

    &__title {
        &:extend(.ffe-h4);
        padding-left: 5px;
        margin-bottom: 10px;
        color: @ffe-orange-wcag;
    }

    &__icon {
        height: 30px;
        width: 30px;
    }

    &__list {
        font-size: 16px;
        line-height: 2;
        list-style: disc;
        margin-top: 10px;
    }

    &__list-item {
        margin-left: 30px;
    }
}


@media screen and (min-width: @breakpoint-md) {

    .ffe-error-summary {
        border: 2px solid @ffe-grey-light;
        padding: 30px 60px;
        max-width: 620px;
        margin: auto;

        &__title {
            font-size: 20px;
            line-height: 26px;
            padding-left: 5px;
        }

        &__icon {
            height: 50px;
            width: 50px;
        }

    }

}
