.input-group {
    position: relative;

    > p {
        margin-bottom: 20px;
    }

    > [aria-invalid="true"] {
        border-color: @orange-wcag;
        color: @orange-wcag;
        border-style: solid;
    }

}
