.loading-spinner {
    display: inline-block;
    vertical-align: middle;

    &:before {
      .sb1-spinner();
    }

    &.-large:before {
        border-width: 3px;
        height: 40px;
        width: 40px;
    }
}


