.ffe-primary-button {
    font-family: 'MuseoSans-500', arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0 30px;
    border-radius: 4px;
    color: @ffe-white;
    background-color: @ffe-blue-flat;
    border: 2px solid transparent;
    display: block;
    line-height: 41px;
    width: 100%;
    overflow: hidden;
    .ffe-shadow-buttons();
    transition: all 0.2s;
    outline: none;

    &:focus {
        box-shadow: 0 0 0 2px @ffe-blue-focus;
        background-color: darken(@ffe-blue-flat,5%);
    }

    &:hover {
        .ffe-shadow-buttons-hover();
        background-color: darken(@ffe-blue-flat,5%);
    }

    &:active {
        .ffe-shadow-buttons-active();
        background-color: darken(@ffe-blue-flat,10%);
    }

    &__label {
        overflow: hidden;
        position: relative;
    }

    &__label-text {
        position: relative;
        bottom: 0;
        transition: bottom 0.2s;
    }

    &__label-spinner {
        .ffe-sb1-spinner(@ffe-white,22px);
        opacity: 0;
        color: transparent;
        position: absolute;
        bottom: -40px;
        left: ~"calc(50% - 11px)";
        transition: all 0.2s;

        &[aria-hidden="false"] {
            opacity: 1;
            bottom: 0;
        }
    }

    &--loading {
        pointer-events: none;
        background-color: darken(@ffe-blue-royal-light-wcag, 10%);
    }

    &__label-text--loading {
        bottom: 50px;
    }
}

@media screen and (min-width: @breakpoint-sm) {
    .ffe-primary-button {
        display: inline-block;
        width: auto;
    }
}
