.radio-block {
    margin-top: 20px;
    max-width: 600px;
    min-width: 260px;
    transition: width 0.3s ease-in-out;

    .content {
        width: 100%;
        position: relative;
        border: 2px solid @grey-light;
        border-radius: 5px;
        display: inline-block;
        margin-right: 10px;
        color: @black;
        background-color: white;
        cursor: pointer;

        &:before {
            .sb1-radioblob();
            left: 20px;
            top: 10px;
        }

        > .header {
            display: block;
            padding: 0 60px;
            line-height: 40px;
            cursor: pointer;
        }

        > .wrapper {
            padding: 20px 20px 30px 20px;
            cursor: auto;
        }
    }

    .radio-input {
        & + .content > .wrapper {
            display: none;
        }

        & + .content.-visible  > .wrapper {
            display: block;
        }

        & + .content.-visible > .header {
            border-bottom: thin solid @grey-light;
        }

        &:checked + .content {
            border: 2px solid @blue-royal;

            > .header {
                background-color: @blue-royal;
                color: white;
            }

            > .wrapper {
                display: block;
            }
        }

        &:checked + .content:before {
            .sb1-radioblob-active();
        }

        &:focus + .content {
            box-shadow: 0 0 0 2px @blue-focus;
        }
    }
}

@media screen and (min-width: @breakpoint-sm) {

    .radio-block {

        .content {

            > .wrapper {
                padding-left: 60px;
            }
        }
    }
}
