.secondary-button {
    &:extend(.primary-button all);
    color: @blue-royal-light-wcag;
    background-color: @white;
    border: solid 2px @grey-light;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.05);

  &:hover, &:focus,&:active {
    border-color: @blue-royal-light-wcag;
    background-color: @white;
  }

  &.-loading {
    background-color: @blue-royal;
  }
}