.ffe-select-box {
    padding: 0 32px 0 10px;
    height: 44px;
    border: 2px solid @ffe-grey-light;
    box-shadow: 0 1px 1px 0 @ffe-grey-light-bg;
    background-image: url('@{icon-url}/chevron-royal-light.svg');
    background-color: @ffe-white;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 94% 50%;
    line-height: 20px;
    font-size: 18px;
    border-radius: 4px;
    font-family: MuseoSans-300,arial,sans-serif;
    min-width: 175px;
    transition: all 0.15s ease-in-out;


    &:hover {
      border-color: @ffe-blue-royal-light-wcag;
    }
    &:focus, &:active {
      border-color: @ffe-blue-royal-light-wcag;
      box-shadow: 0 0 0 2px @ffe-blue-focus;
      outline: none;
    }

    &::-ms-expand {
        display: none;
    }
}
