.ffe-tab-button {
  &:extend(.ffe-primary-button);
  color: @ffe-grey-dark;
  background-color: transparent;
  border: solid 2px @ffe-grey-light;
  border-radius: 100px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.05);
  font-size: 16px;
  text-transform: uppercase;

  &:hover, &:focus, &:active {
    color: @ffe-blue-royal;
    border-color: @ffe-blue-royal;
  }

  &:focus, &:active {
    box-shadow: 0 0 0 2px @ffe-blue-focus;
  }

  &--selected {
    color: @ffe-white;
    background-color: @ffe-blue-royal;
    border-color: @ffe-blue-royal;
  }

  &--selected:hover, &--selected:focus, &--selected:active {
    color: @ffe-white;
    border-color: @ffe-blue-royal;
  }
}