.ffe-tertiary-button {
    color: @ffe-blue-royal-light-wcag;
    background-color: transparent;
    font-size: 16px;
    border-bottom-width: 1px;
    border-style: none none solid none;
    border-color: @ffe-blue-royal-light-wcag;
    height: 26px;
    padding-left: 0px;
    padding-right: 0px;

    &:hover {
        color: @ffe-blue-flat;
        border-color: @ffe-blue-flat;
    }

    &:focus, &:active {
        border: solid 2px @ffe-blue-royal-light-50;
        border-radius: 6px;
        color: @ffe-blue-flat;
        padding-top: 0px;
        outline: none;
        padding-left: 1px;
        padding-right: 1px;
    }
}
