.sbanky-home-grid {
    height: 100%;
    padding: @ffe-spacing-2xl;
    min-height: 1000px;

    .content {
        padding: @ffe-spacing-md;
    }

    body.native & {
        @media (prefers-color-scheme: dark) {
            background-color: @ffe-farge-svart;
        }
    }
}

.sbanky-wave-wrapper {
    position: relative;
    z-index: -1;

    .sbanky-wave {
        position: absolute;
        width: 100%;
        padding-top: 310px;

        @media (min-width: @breakpoint-sm) {
            padding-top: 310px;
        }

        @media (min-width: @breakpoint-lg) {
            padding-top: 410px;
        }
    }

    &__thin {
        .sbanky-wave {
            padding-top: 160px;

            body.native & {
                padding-top: @ffe-spacing-4xl;
            }
        }
    }
}
